Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

fix: register missing util commands and fix CI test failures
  pkl/builtins/no_commit_to_branch.pkl
  src/cli/util/mod.rs
  src/cli/util/no_commit_to_branch.rs
  src/test_runner.rs
  test/dir.bats
Due: pkl-eval, cargo-fmt, dbg

style: apply clippy and fmt suggestions to no_commit_to_branch
  src/cli/util/no_commit_to_branch.rs
Due: cargo-fmt, dbg

feat: add regex pattern support for glob and exclude (#336)
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/configuration.md
  pkl/Config.pkl
  pkl/builtins/check_added_large_files.pkl
  pkl/builtins/no_commit_to_branch.pkl
  src/cli/util/mod.rs
  src/cli/util/no_commit_to_branch.rs
  src/config.rs
  src/glob.rs
  src/step.rs
  src/step_group.rs
  src/test_runner.rs
  test/dir.bats
  test/glob_dir_bug.bats
  test/regex_patterns.bats
Due: pkl-eval, cargo-fmt, dbg

ci: add build job and final noop step
  .github/workflows/ci.yml
Due: actionlint

chore: split CI runs into parallel jobs and add docs-sync mise task (#337)
  .github/workflows/ci.yml
  mise.toml
Due: actionlint

feat: automatically batch large file lists to prevent ARG_MAX errors
  Cargo.lock
  Cargo.toml
  src/env.rs
  src/step.rs
  test/auto_batch_large_files.bats
Due: cargo-fmt, dbg

chore: apply clippy suggestion for div_ceil
  src/step.rs
Due: cargo-fmt, dbg

fix: correct binary search logic in auto_batch_jobs_if_needed
  src/step.rs
Due: cargo-fmt, dbg

feat: automatically batch large file lists to prevent ARG_MAX errors (#338)
  Cargo.lock
  Cargo.toml
  src/env.rs
  src/step.rs
  test/auto_batch_large_files.bats
Due: cargo-fmt, dbg

Add ruff-check mapping and improve tool detection
  src/cli/migrate.rs
Due: cargo-fmt, dbg

Add migration command to convert pre-commit configs to hk.pkl
  src/cli/migrate.rs
  src/cli/mod.rs
  test/migrate_precommit.bats
Due: cargo-fmt, dbg

Enhance migrate precommit with comprehensive feature support
  src/cli/migrate.rs
  test/migrate_precommit.bats
Due: cargo-fmt, dbg

Add pre-commit-hooks builtins and remove --mise flag
  pkl/builtins/check_byte_order_marker.pkl
  pkl/builtins/fix_byte_order_marker.pkl
  src/cli/migrate.rs
  test/migrate_precommit.bats
Due: pkl-eval, cargo-fmt, dbg

Add Types.pkl module with Regex() helper
  docs/configuration.md
  pkl/Config.pkl
  pkl/Types.pkl
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
Due: pkl-eval, cargo-fmt, dbg

fix: restore BOM builtins that were incorrectly removed during rebase
  pkl/builtins/check_byte_order_marker.pkl
  pkl/builtins/fix_byte_order_marker.pkl
Due: pkl-eval

fix: collapse multi-line regex patterns to single line in migration
  src/cli/migrate/mod.rs
Due: cargo-fmt, dbg

feat: convert single literal path patterns to List()
  src/cli/migrate/mod.rs
Due: cargo-fmt, dbg

Use Regex() helper for regex patterns in migration
  src/cli/migrate/mod.rs
Due: cargo-fmt, dbg

fix: remove trailing whitespace from generated pkl comments and add pygrep support
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

feat: add vendoring support for Golang hooks
  mise.lock
  mise.toml
  src/cli/migrate/pre_commit.rs
  test/migrate_precommit.bats
Due: cargo-fmt, dbg

fix: improve regex-to-glob conversion logic
  src/cli/migrate/mod.rs
Due: cargo-fmt, dbg

Fix regex multiline preservation in migration
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

feat: preserve multi-line patterns in migration output
  src/cli/migrate/mod.rs
Due: cargo-fmt, dbg

test: use bufbuild/buf for golang vendoring test
  test/migrate_precommit.bats
Due: none

refactor: remove unnecessary pass_filenames comment
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

feat: include pre-commit hook args in migrated commands
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

fix: detect Python scripts with arguments in pre-commit migrator
  pkl/builtins/trailing_whitespace.pkl
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
  src/cli/util/trailing_whitespace.rs
Due: pkl-eval, cargo-fmt, dbg

fix: invert exit code for pygrep hooks converted to grep
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

fix: remove unused fields from migrate.rs structs
  src/cli/migrate.rs
Due: cargo-fmt, dbg

feat: add vendoring support for language: swift
  mise.toml
  src/cli/migrate/pre_commit.rs
  test/migrate_precommit.bats
Due: cargo-fmt, dbg

fix: match pre-commit behavior for merge conflict detection
  mise.lock
  src/cli/util/check_merge_conflict.rs
Due: cargo-fmt, dbg

feat: convert (?x) regex patterns to glob List() when possible
  src/cli/migrate/mod.rs
Due: cargo-fmt, dbg

feat: use grep -P for pygrep hooks in pre-commit migration
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

fix: skip directories in check-executables-have-shebangs
  src/cli/util/check_executables_have_shebangs.rs
Due: cargo-fmt, dbg

feat: add --hk-pkl-root flag for migration and use dynamic versioning
  src/cli/migrate.rs
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

Normalize language versions for mise commands
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

feat: add docker_image language support to pre-commit migration
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

Add warning and mise use instructions for language versions
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

refactor: improve migration code organization and handle duplicate hook IDs
  src/cli/migrate.rs
Due: cargo-fmt, dbg

feat: filter binary files by default in steps
  src/step.rs
Due: cargo-fmt, dbg
