Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

Notes added by 'git notes add'
  049bea44e820b82c6731c119d82c5b0e50d0ace2
Due: none

Notes added by 'git notes add'
  058d7e4f05b54ec6f94c741aa5b38342ebfd24ff
Due: none

Notes added by 'git notes add'
  04cd5e7523bb54c924f763af3a2f179708c86ed7
Due: none

fix(step): preserve condition compatibility with expr v2
  Cargo.lock
  Cargo.toml
  src/hook.rs
  src/step/execution.rs
  src/step/expr_env.rs
  src/step/mod.rs
  src/step/runner.rs
Due: cargo-fmt, dbg

fix(step): preserve condition compatibility with expr v2 (#1212)
  Cargo.lock
  Cargo.toml
  src/hook.rs
  src/step/execution.rs
  src/step/expr_env.rs
  src/step/mod.rs
  src/step/runner.rs
Due: cargo-fmt, dbg

chore: release v1.56.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

Notes added by 'git notes add'
  d02e09361124633ce80328df664819d7a6dc4ebf
Due: none

chore: release v1.56.0 (#1192)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

Notes added by 'git notes add'
  bad550709d9ce2e6f43a8d25880e1c7d6397f13f
Due: none

docs: fix mobile banner and homepage overflow
  docs/.vitepress/config.mts
  docs/.vitepress/theme/HomePage.vue
  docs/.vitepress/theme/banner.css
  docs/.vitepress/theme/banner.ts
Due: prettier

docs: harden mobile banner behavior
  docs/.vitepress/config.mts
  docs/.vitepress/theme/banner.css
  docs/.vitepress/theme/banner.ts
Due: prettier

docs: reserve space for banner dismiss control
  docs/.vitepress/theme/banner.css
Due: prettier

docs: bound banner reservation cache
  docs/.vitepress/config.mts
  docs/.vitepress/theme/banner.ts
Due: prettier

docs: validate banner cache metadata
  docs/.vitepress/config.mts
Due: none

docs: preserve responsive banner caches
  docs/.vitepress/config.mts
Due: none

docs: retain cached banner on fetch failure
  docs/.vitepress/theme/banner.ts
Due: prettier

docs: reuse refreshed banner content
  docs/.vitepress/theme/banner.ts
Due: prettier

docs: refresh cached banner in place
  docs/.vitepress/theme/banner.ts
Due: prettier

docs: handle banner expiry and small fonts
  docs/.vitepress/theme/banner.css
  docs/.vitepress/theme/banner.ts
Due: prettier

docs: fix mobile banner and homepage overflow (#1213)
  docs/.vitepress/config.mts
  docs/.vitepress/theme/HomePage.vue
  docs/.vitepress/theme/banner.css
  docs/.vitepress/theme/banner.ts
Due: prettier

chore(deps): remove clap sort
  Cargo.lock
  Cargo.toml
Due: none

fix(cli): opt into strict usage parsing
  Cargo.lock
  Cargo.toml
  src/cli/mod.rs
Due: cargo-fmt, dbg

refactor: remove clap derive imports
  src/cli/mcp.rs
  src/cli/mod.rs
  src/cli/test.rs
  src/hook_options.rs
Due: cargo-fmt, dbg

chore(deps): reconcile expr v2 lockfile
  Cargo.lock
Due: none

refactor(cli): complete usage-rs migration
  Cargo.lock
  Cargo.toml
  src/cli/agent.rs
  src/cli/builtins.rs
  src/cli/cache/mod.rs
  src/cli/check.rs
  src/cli/command_effects.rs
  src/cli/completion.rs
  src/cli/config.rs
  src/cli/fix.rs
  src/cli/init/mod.rs
  src/cli/install.rs
  src/cli/mod.rs
  src/cli/run/commit_msg.rs
  src/cli/run/mod.rs
  src/cli/run/pre_commit.rs
  src/cli/run/pre_push.rs
  src/cli/run/prepare_commit_msg.rs
  src/cli/test.rs
  src/cli/usage.rs
  src/cli/util/check_added_large_files.rs
  src/cli/util/check_conventional_commit.rs
  src/hook_options.rs
  src/structured_output.rs
Due: cargo-fmt, dbg

chore(deps): update usage review fixes
  Cargo.lock
  Cargo.toml
Due: none

fix(cli): preserve migrated argument behavior
  USAGE_6_MIGRATION.md
  src/cli/run/mod.rs
  src/cli/run/pre_commit.rs
  src/cli/test.rs
Due: cargo-fmt, dbg

fix(ci): align usage toolchain requirements
  Cargo.toml
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/config.md
  docs/cli/config/dump.md
  docs/cli/config/explain.md
  docs/cli/config/get.md
  docs/cli/config/sources.md
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/init.md
  docs/cli/install.md
  docs/cli/mcp.md
  docs/cli/migrate/pre-commit.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  docs/cli/test.md
  docs/cli/util/check-byte-order-marker.md
  docs/cli/util/check-conventional-commit.md
  docs/cli/util/end-of-file-fixer.md
  docs/cli/util/mixed-line-ending.md
  docs/cli/util/trailing-whitespace.md
  hk.usage.kdl
  mise-tasks/build-usage
  mise-tasks/render/usage
  mise.toml
  rust-toolchain.toml
Due: prettier

fix(cli): allow mode flags with positional files
  src/hook.rs
  src/hook_options.rs
  test/hook_fix_default.bats
Due: cargo-fmt, dbg

style: format toolchain metadata
  Cargo.toml
  rust-toolchain.toml
Due: none

chore(deps): refresh usage stack revision
  Cargo.lock
  Cargo.toml
  mise-tasks/build-usage
Due: none

chore(deps): refresh usage-rs stack
  Cargo.lock
  Cargo.toml
  mise-tasks/build-usage
Due: none

chore(deps): update usage-rs stack
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): refresh usage-rs stack
  Cargo.lock
  Cargo.toml
Due: none
