Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

feat(builtins): add renovate-deps checker Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  pkl/builtins/renovate_deps.pkl
  test/builtin_renovate_deps.bats
  test/builtin_tool_stubs/flint
Due: pkl-eval

feat(builtins): add lychee-extended checker Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  pkl/builtins/lychee_extended.pkl
  test/builtin_lychee_extended.bats
  test/builtin_tool_stubs/flint
  test/builtin_tool_stubs/lychee
Due: pkl-eval

test: use preferred Flint tool source Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/builtin_tool_stubs/flint
Due: none

fix: document Flint checker and use Packslip source Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  mise.toml
  pkl/builtins/renovate_deps.pkl
  test/builtin_tool_stubs/flint
Due: pkl-eval

test: link lychee builtin docs and remap PR links Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  mise.toml
  pkl/builtins/lychee_extended.pkl
  test/builtin_lychee_extended.bats
  test/builtin_tool_stubs/flint
Due: pkl-eval

test: use lychee short tool name Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/builtin_tool_stubs/lychee
Due: none

test: stub Renovate for dependency checker Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/builtin_tool_stubs/renovate
Due: none

test: use short Packslip Flint identifier Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/builtin_tool_stubs/flint
Due: none

test(step): relocate file type tests after upstream additions
  src/file_type.rs
Due: cargo-fmt, dbg

fix(cache): keep the full key hash in cache file names
  src/cache.rs
Due: cargo-fmt, dbg

test: verify lychee rejects broken links Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  mise.toml
  pkl/builtins/lychee_extended.pkl
  test/builtin_lychee_extended.bats
Due: pkl-eval

test: exercise Renovate checker changes Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  mise.toml
  pkl/builtins/renovate_deps.pkl
  pkl/builtins/test/helpers.pkl
  test/builtin_renovate_deps.bats
  test/builtin_tool_stubs/node
Due: pkl-eval

refactor(cache): add a lookup that writes nothing on a miss
  src/cache.rs
Due: cargo-fmt, dbg

fix(config): key config cache on env vars read by pkl
  docs/pkl_introduction.md
  src/config.rs
  test/cache_behavior.bats
Due: cargo-fmt, dbg

refactor(config): report the env vars a pkl evaluation reads
  src/config.rs
Due: cargo-fmt, dbg

test: assert lychee checker receives broken-link fixture Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  pkl/builtins/lychee_extended.pkl
Due: pkl-eval

refactor(config): hash config fresh files once per load
  src/cache.rs
  src/config.rs
Due: cargo-fmt, dbg

chore: align minimum mise with upstream main Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  mise.toml
Due: none

fix(cache): keep lookup traces unchanged for get_or_try_init
  src/cache.rs
  test/cache_behavior.bats
Due: cargo-fmt, dbg

refactor(cache): hash fresh files in place when building
  src/cache.rs
Due: cargo-fmt, dbg

refactor(config): name env reads and the config cache manager builder
  src/config.rs
Due: cargo-fmt, dbg

refactor(config): keep run_pklr for the uncached user config
  src/config.rs
Due: cargo-fmt, dbg

test(config): isolate env cache tests from the caller's environment
  src/config.rs
  test/cache_behavior.bats
Due: cargo-fmt, dbg

fix(renovate-deps): stage updated snapshot Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  pkl/builtins/renovate_deps.pkl
  test/builtin_renovate_deps.bats
  test/builtin_tool_stubs/renovate
Due: pkl-eval

test(renovate-deps): fake Renovate in checker tests Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/builtin_renovate_deps.bats
  test/builtin_tool_fake_bins/renovate
  test/builtin_tool_stubs/renovate
Due: none

test(builtins): use fake Renovate in catalog test Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/builtins_tests.bats
Due: none

docs: clarify builtin stubs and generated-file staging Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  docs/configuration.md
  docs/contributing.md
Due: none

docs: clarify fix staging behavior Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  docs/configuration.md
Due: none

docs(config): describe env cache re-evaluation as a cache miss
  docs/pkl_introduction.md
Due: none

fix(step): classify HTML-like templates and XML content as text (#1427)
  src/file_type.rs
Due: cargo-fmt, dbg

fix(config): key config cache on env vars read by pkl (#1450)
  docs/pkl_introduction.md
  src/cache.rs
  src/config.rs
  test/cache_behavior.bats
Due: cargo-fmt, dbg

test(renovate-deps): derive fake output from manifests Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/builtin_renovate_deps.bats
  test/builtin_tool_fake_bins/renovate
Due: none

fix(builtins): fix each file separately in yq builtin
  pkl/builtins/yq.pkl
Due: pkl-eval

fix(hook): stop staging files that another step is still fixing
  src/file_rw_locks.rs
  src/step/execution.rs
  test/stage_concurrent_fixers.bats
Due: cargo-fmt, dbg

fix(builtins): fix each file separately in yq builtin (#1452)
  pkl/builtins/yq.pkl
Due: pkl-eval

test(hook): synchronize race test and check every staged file
  test/stage_concurrent_fixers.bats
Due: none

perf(builtins): keep black's cache and batch jq and yq
  pkl/builtins/black.pkl
  pkl/builtins/jq.pkl
  pkl/builtins/yq.pkl
  test/builtins_tests.bats
Due: pkl-eval
