Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

docs(config): document group inherited options
  bin/generate_docs.rs
  docs/configuration.md
  docs/reference/examples/monorepo.md
  pkl/Config.pkl
Due: pkl-eval, cargo-fmt, dbg

docs(config): update monorepo group example
  docs/reference/examples/monorepo.md
Due: none

fix(pkl): bump pklr to 1.0.6
  Cargo.lock
Due: none

feat(config): inherit step settings from groups (#982)
  bin/generate_docs.rs
  docs/configuration.md
  docs/reference/examples/monorepo.md
  pkl/Config.pkl
  src/step_group.rs
  test/group_inheritance.bats
Due: pkl-eval, cargo-fmt, dbg

feat: update RuboCop builtin file filter (#969)
  pkl/builtins/rubocop.pkl
  test/builtin_tool_stubs/rubocop
Due: pkl-eval

fix(pkl): bump pklr to 1.0.6 (#983)
  Cargo.lock
Due: none

chore: release v1.48.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v1.48.0 (#980)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore(ci): bump pr-closer action
  .github/workflows/pr-closer.yml
Due: actionlint

chore(ci): bump pr-closer action (#989)
  .github/workflows/pr-closer.yml
Due: actionlint

fix(stash): preserve tail deletion after overlapping worktree hunk
  src/merge.rs
Due: cargo-fmt, dbg

fix(stash): preserve tail deletion after overlapping worktree hunk (#990)
  src/merge.rs
Due: cargo-fmt, dbg

docs: link to all sponsors
  README.md
Due: none

docs: link to all sponsors (#991)
  README.md
Due: none

docs: clarify contribution fit
  CONTRIBUTING.md
  docs/.vitepress/config.mts
  docs/contributing.md
Due: none

docs: make contributing guide canonical
  CONTRIBUTING.md
  docs/contributing.md
Due: none

docs: clarify contribution fit (#992)
  CONTRIBUTING.md
  docs/.vitepress/config.mts
  docs/contributing.md
Due: none

chore(ci): use shared coderabbit config
  .coderabbit.yaml
Due: prettier

chore(ci): use shared coderabbit config (#993)
  .coderabbit.yaml
Due: prettier

test(mise): create mise global config in temp HOME for uv shim resolution
  test/test_helper/common_setup.bash
  test/test_helper/xdg_config/mise/config.toml
Due: none

test(aube): allow contextlint low-download package in nogit test step
  test/test_helper/xdg_config/aube/config.toml
Due: none

chore(release): enable hardened runtime for macos binaries
  .github/workflows/release.yml
Due: actionlint

test(setup): fix ci-nogit failures from mise and aube upstream changes (#1002)
  test/test_helper/common_setup.bash
  test/test_helper/xdg_config/aube/config.toml
  test/test_helper/xdg_config/mise/config.toml
Due: none

test(builtins): update ryl tool stub to v0.20.0
  test/builtin_tool_stubs/ryl
Due: none

feat(builtins): use types = List("text") instead of glob = "**/*" for text-only hooks
  pkl/builtins/byte_order_marker.pkl
  pkl/builtins/check_executables_have_shebangs.pkl
  pkl/builtins/check_merge_conflict.pkl
  pkl/builtins/detect_private_key.pkl
  pkl/builtins/dprint.pkl
  pkl/builtins/fix_smart_quotes.pkl
  pkl/builtins/mixed_line_ending.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/trailing_whitespace.pkl
  pkl/builtins/typos.pkl
  pr.md
Due: pkl-eval

feat(builtins): add shellharden linter
  pkl/builtins/shellharden.pkl
  test/builtin_tool_stubs/shellharden
Due: pkl-eval

feat(builtins): add .config/ and pyproject.toml project indicators for ryl
  pkl/builtins/ryl.pkl
  pkl/builtins/ryl_markdown.pkl
Due: pkl-eval

feat(builtins): use `types = List("text")` instead of `glob = "**/*"` for text-only hooks (#997)
  pkl/builtins/byte_order_marker.pkl
  pkl/builtins/check_executables_have_shebangs.pkl
  pkl/builtins/check_merge_conflict.pkl
  pkl/builtins/detect_private_key.pkl
  pkl/builtins/dprint.pkl
  pkl/builtins/fix_smart_quotes.pkl
  pkl/builtins/mixed_line_ending.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/trailing_whitespace.pkl
  pkl/builtins/typos.pkl
  pr.md
Due: pkl-eval

fix(builtins): use pinact v4 CLI flags in pinact builtins
  pkl/builtins/pinact.pkl
  pkl/builtins/pinact_update.pkl
  test/builtin_tool_stubs/pinact
Due: pkl-eval

feat(builtins): add rubocop_server linter with --server mode
  pkl/builtins/rubocop_server.pkl
Due: pkl-eval

feat(builtins): add rubocop_server linter with --server mode (#995)
  pkl/builtins/rubocop_server.pkl
Due: pkl-eval

Enable Entire for Codex
  .codex/agents/entire-search.toml
  .codex/config.toml
  .codex/hooks.json
  .entire/.gitignore
  .entire/settings.json
Due: prettier

Format Entire search subagent config
  .codex/agents/entire-search.toml
Due: none

Enable Entire for Codex (#1010)
  .codex/agents/entire-search.toml
  .codex/config.toml
  .codex/hooks.json
  .entire/.gitignore
  .entire/settings.json
Due: prettier

fix(builtins): update betterleaks tests for aws composite rule
  pkl/builtins/betterleaks.pkl
  test/builtin_tool_stubs/betterleaks
Due: pkl-eval

feat(builtins): use types=shell for shfmt and shellcheck
  pkl/builtins/shellcheck.pkl
  pkl/builtins/shfmt.pkl
  src/step/filtering.rs
  src/test_runner.rs
Due: pkl-eval, cargo-fmt, dbg

chore(deps): exempt pklr from release age
  .github/renovate.json
Due: prettier

fix(builtins): update betterleaks tests for aws composite rule (#1006)
  pkl/builtins/betterleaks.pkl
  test/builtin_tool_stubs/betterleaks
Due: pkl-eval
