Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

fix(pre-push): require exactly 40 or 64 lowercase hexits for commit hashes in stdin validator
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

chore(pre-push): remove unused import DiffableStr from pre_push.rs
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

test(pre-push): add tests for stdin validation
  src/cli/run/pre_push.rs
  test/pre_push.bats
Due: cargo-fmt, dbg

Disable zizmor's self-repository audit instead of adopting `$/`
  .github/zizmor.yml
Due: none

chore(ci): run zizmor when its own config changes
  .github/workflows/zizmor.yml
Due: actionlint

fix(builtins): use --format files in rubocop check_list_files
  pkl/builtins/rubocop.pkl
  pkl/builtins/rubocop_server.pkl
Due: pkl-eval

feat(config): support HK_QUIET environment variable
  settings.toml
  src/cli/mod.rs
  src/env.rs
  test/quiet_silent.bats
Due: cargo-fmt, dbg

feat(config): support HK_SILENT environment variable
  settings.toml
  src/cli/mod.rs
  src/env.rs
  test/quiet_silent.bats
Due: cargo-fmt, dbg

Checkpoint: af6dee7c2e7f
  af/6dee7c2e7f/0/content_hash.txt
  af/6dee7c2e7f/0/full.jsonl
  af/6dee7c2e7f/0/metadata.json
  af/6dee7c2e7f/0/prompt.txt
  af/6dee7c2e7f/0/transcript.jsonl
  af/6dee7c2e7f/metadata.json
Due: prettier

Checkpoint: fca54631697a
  fc/a54631697a/0/content_hash.txt
  fc/a54631697a/0/full.jsonl
  fc/a54631697a/0/metadata.json
  fc/a54631697a/0/prompt.txt
  fc/a54631697a/0/transcript.jsonl
  fc/a54631697a/metadata.json
Due: prettier

docs: document escaping literal braces in step commands
  docs/configuration.md
Due: none

Checkpoint: 28f55aae09a7
  28/f55aae09a7/0/metadata.json
  28/f55aae09a7/metadata.json
Due: prettier

Checkpoint: 28f55aae09a7
  28/f55aae09a7/4/content_hash.txt
  28/f55aae09a7/4/full.jsonl
  28/f55aae09a7/4/metadata.json
  28/f55aae09a7/4/prompt.txt
  28/f55aae09a7/4/transcript.jsonl
  28/f55aae09a7/metadata.json
Due: prettier

Update checkpoint summary for 28f55aae09a7
  28/f55aae09a7/metadata.json
Due: prettier

Checkpoint: 28f55aae09a7
  28/f55aae09a7/1/metadata.json
  28/f55aae09a7/metadata.json
Due: prettier

Checkpoint: 28f55aae09a7
  28/f55aae09a7/2/metadata.json
  28/f55aae09a7/metadata.json
Due: prettier

Checkpoint: 28f55aae09a7
  28/f55aae09a7/3/metadata.json
  28/f55aae09a7/metadata.json
Due: prettier

feat(builtins): add destroyed_symlinks, forbid_submodules, and shebang checks
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/util.md
  docs/cli/util/check-shebang-scripts-are-executable.md
  docs/cli/util/destroyed-symlinks.md
  docs/cli/util/forbid-submodules.md
  docs/public/llms.txt
  hk.usage.kdl
  pkl/builtins/check_shebang_scripts_are_executable.pkl
  pkl/builtins/destroyed_symlinks.pkl
  pkl/builtins/forbid_submodules.pkl
  scripts/enrich-cli-docs.py
  src/cli/command_effects.rs
  src/cli/migrate/pre_commit.rs
  src/cli/util/check_shebang_scripts_are_executable.rs
  src/cli/util/destroyed_symlinks.rs
  src/cli/util/forbid_submodules.rs
  src/cli/util/mod.rs
  test/util_check_shebang_scripts_are_executable.bats
  test/util_destroyed_symlinks.bats
  test/util_forbid_submodules.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

feat(builtins): add destroyed_symlinks, forbid_submodules, and shebang checks (#1360)
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/util.md
  docs/cli/util/check-shebang-scripts-are-executable.md
  docs/cli/util/destroyed-symlinks.md
  docs/cli/util/forbid-submodules.md
  docs/public/llms.txt
  hk.usage.kdl
  pkl/builtins/check_shebang_scripts_are_executable.pkl
  pkl/builtins/destroyed_symlinks.pkl
  pkl/builtins/forbid_submodules.pkl
  scripts/enrich-cli-docs.py
  src/cli/command_effects.rs
  src/cli/migrate/pre_commit.rs
  src/cli/util/check_shebang_scripts_are_executable.rs
  src/cli/util/destroyed_symlinks.rs
  src/cli/util/forbid_submodules.rs
  src/cli/util/mod.rs
  test/util_check_shebang_scripts_are_executable.bats
  test/util_destroyed_symlinks.bats
  test/util_forbid_submodules.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

docs: document escaping literal braces in step commands (#1359)
  docs/configuration.md
Due: none

fix(builtins): run tflint in each module directory
  pkl/builtins/tf_lint.pkl
  test/builtin_tool_stubs/tflint
Due: pkl-eval

docs: write PR titles and descriptions for release notes
  AGENTS.md
Due: none

docs: write PR titles and descriptions for release notes (#1364)
  AGENTS.md
Due: none

chore(ci): use self-repository workflow references
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: actionlint

chore(ci): replace actionlint with zizmor
  hk.pkl
  mise.lock
  mise.toml
Due: pkl-eval

fix(builtins): run tflint in each module directory (#1361)
  pkl/builtins/tf_lint.pkl
  test/builtin_tool_stubs/tflint
Due: pkl-eval

ci: keep actionlint for builtin tests
  mise.lock
  mise.toml
Due: none

chore(ci): use self-repository workflow references (#1353)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  hk.pkl
Due: actionlint, pkl-eval

feat(builtins): add mado linter
  pkl/builtins/mado.pkl
  test/builtin_tool_stubs/mado
Due: pkl-eval

feat(builtins): add mado linter (#1349)
  pkl/builtins/mado.pkl
  test/builtin_tool_stubs/mado
Due: pkl-eval

chore(deps): update communique to v1.4.0
  mise.lock
Due: none

Checkpoint: 01M297TX717CJXHMY2MR50Z9E1
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

chore(deps): update communique to v1.4.0 (#1365)
  mise.lock
Due: none

feat(builtins): add terragrunt and kubeconform
  pkl/builtins/kubeconform.pkl
  pkl/builtins/terragrunt_hcl_fmt.pkl
  pkl/builtins/terragrunt_hcl_validate.pkl
  src/cli/migrate/pre_commit.rs
  test/builtin_tool_stubs/kubeconform
  test/builtin_tool_stubs/terragrunt
Due: pkl-eval, cargo-fmt, dbg

feat(builtins): add terragrunt and kubeconform (#1363)
  pkl/builtins/kubeconform.pkl
  pkl/builtins/terragrunt_hcl_fmt.pkl
  pkl/builtins/terragrunt_hcl_validate.pkl
  src/cli/migrate/pre_commit.rs
  test/builtin_tool_stubs/kubeconform
  test/builtin_tool_stubs/terragrunt
Due: pkl-eval, cargo-fmt, dbg

fix(builtins): update zizmor fixtures for hash pinning
  pkl/builtins/zizmor.pkl
  test/builtin_tool_stubs/zizmor
Due: pkl-eval

fix(builtins): make zizmor tests pass with hash pinning (#1366)
  pkl/builtins/zizmor.pkl
  test/builtin_tool_stubs/zizmor
Due: pkl-eval

feat(builtins): add terraform_docs and terraform_validate
  pkl/builtins/terraform_docs.pkl
  pkl/builtins/terraform_validate.pkl
  src/cli/migrate/pre_commit.rs
  test/builtin_tool_stubs/terraform
  test/builtin_tool_stubs/terraform-docs
  test/migrate_precommit.bats
Due: pkl-eval, cargo-fmt, dbg

feat(builtins): add terraform_docs and terraform_validate (#1362)
  pkl/builtins/terraform_docs.pkl
  pkl/builtins/terraform_validate.pkl
  src/cli/migrate/pre_commit.rs
  test/builtin_tool_stubs/terraform
  test/builtin_tool_stubs/terraform-docs
  test/migrate_precommit.bats
Due: pkl-eval, cargo-fmt, dbg

ci: clarify matrix job names
  .github/workflows/ci-impl.yml
Due: actionlint

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
