Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

docs: improve banner contrast and bump z-index above nav
  docs/.vitepress/theme/banner.css
Due: prettier

docs: add en.dev footer
  docs/.vitepress/theme/EndevFooter.vue
  docs/.vitepress/theme/Layout.vue
Due: none

docs: center banner text and drop noreferrer
  docs/.vitepress/theme/banner.css
  docs/.vitepress/theme/banner.ts
Due: prettier

docs: fix asymmetric banner padding so text is truly centered
  docs/.vitepress/theme/banner.css
Due: prettier

docs: drop cache: no-cache from banner fetch
  docs/.vitepress/theme/banner.ts
Due: prettier

docs: fix banner fallback color to match brand
  docs/.vitepress/theme/banner.css
Due: prettier

docs: keep --vp-layout-top-height in sync via ResizeObserver
  docs/.vitepress/theme/banner.ts
Due: prettier

docs: add cross-site announcement banner (#857)
  docs/.vitepress/theme/EndevFooter.vue
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/banner.css
  docs/.vitepress/theme/banner.ts
  docs/.vitepress/theme/index.ts
Due: prettier

fix(git): skip untracked scan when HK_STASH_UNTRACKED=false
  docs/environment_variables.md
  src/git.rs
  test/bare_repo_env_vars.bats
Due: cargo-fmt, dbg

fix(git): skip untracked scan when HK_STASH_UNTRACKED=false (#861)
  docs/environment_variables.md
  src/git.rs
  test/bare_repo_env_vars.bats
Due: cargo-fmt, dbg

docs: respect banner expires field
  docs/.vitepress/theme/banner.ts
Due: prettier

chore(deps): bump communique to 1.0.3
  mise.lock
Due: none

chore(deps): bump communique to 1.0.3 (#863)
  mise.lock
Due: none

docs: respect banner expires field (#862)
  docs/.vitepress/theme/banner.ts
Due: prettier

chore: release v1.44.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v1.44.1 (#856)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

fix(docs): stack banner message and link on mobile
  docs/.vitepress/theme/banner.css
Due: prettier

fix(docs): stack banner message and link on mobile (#865)
  docs/.vitepress/theme/banner.css
Due: prettier

fix(docs): pin banner close button to top-right corner on mobile
  docs/.vitepress/theme/banner.css
Due: prettier

fix(docs): pin banner close button to top-right corner on mobile (#867)
  docs/.vitepress/theme/banner.css
Due: prettier

chore(deps): bump communique 1.0.3 → 1.0.4
  mise.lock
Due: none

chore(deps): bump communique 1.0.3 → 1.0.4 (#868)
  mise.lock
Due: none

fix(hook): harden concurrent hook execution
  src/file_rw_locks.rs
  src/git.rs
  src/hook.rs
  src/step/execution.rs
  src/step_depends.rs
  src/step_group.rs
Due: cargo-fmt, dbg

docs(site): show release version and github stars
  docs/.vitepress/config.mts
  docs/.vitepress/stars.data.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
Due: prettier

docs(site): address release nav feedback
  docs/.vitepress/config.mts
  docs/.vitepress/stars.data.ts
  docs/.vitepress/theme/index.ts
Due: prettier

fix(ci): serialize docs lint step
  hk.pkl
Due: pkl-eval

fix(ci): suppress progress noise in non-interactive logs
  src/cli/mod.rs
  src/hook.rs
Due: cargo-fmt, dbg

fix(ci): serialize docs lint step (#874)
  hk.pkl
Due: pkl-eval

docs(site): show release version and github stars (#872)
  docs/.vitepress/config.mts
  docs/.vitepress/stars.data.ts
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
Due: prettier

chore(deps): bump communique to 1.1.2
  mise.lock
Due: none

chore: add pr-closer workflow
  .github/workflows/pr-closer.yml
Due: actionlint

chore: address pr-closer review feedback
  .github/workflows/pr-closer.yml
Due: actionlint

chore: filter stale PRs server-side in pr-closer
  .github/workflows/pr-closer.yml
Due: actionlint

chore(deps): bump communique to 1.1.2 (#875)
  mise.lock
Due: none

chore: add pr-closer workflow (#876)
  .github/workflows/pr-closer.yml
Due: actionlint

fix(config): include main pkl path in cache fresh files
  src/config.rs
Due: cargo-fmt, dbg

refactor(config): use IndexSet to avoid duplicate path in fresh_files
  src/config.rs
Due: cargo-fmt, dbg

fix(config): include main pkl path in cache fresh files (#879)
  src/config.rs
Due: cargo-fmt, dbg

fix(builtins): silence pklr deprecation warnings on Builtins.pkl load
  Cargo.lock
  Cargo.toml
  scripts/gen_builtins.py
Due: none
