Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

fix: use accurate skip reasons for configuration-based skips
  src/hook.rs
Due: cargo-fmt, dbg

hk: accept patch=true (alias of patch-file); docs updated; patch-file aliases git
  docs/configuration.md
  src/hook.rs
Due: cargo-fmt, dbg

feat: centralized skip configuration for steps and hooks (#268)
  pkl/UserConfig.pkl
  src/cli/config.rs
  src/config.rs
  src/git_cfg.rs
  src/hook.rs
  src/settings.rs
  test/skip_configuration.bats
Due: pkl-eval, cargo-fmt, dbg

docs: document stash boolean shorthand (true=>git, false=>none)
  docs/configuration.md
  src/git.rs
  src/hook.rs
Due: cargo-fmt, dbg

git: safe UTF-8 handling in pathspecs; partial stash only for shell git
  src/git.rs
Due: cargo-fmt, dbg

docs: document configuration unification and skip configuration features
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/config.md
  docs/cli/config/dump.md
  docs/cli/config/get.md
  docs/cli/config/show.md
  docs/cli/config/sources.md
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  docs/configuration.md
  docs/environment_variables.md
  hk.usage.kdl
  src/cli/config.rs
Due: cargo-fmt, dbg, prettier

git: honor partial stash subset; force shell git for per-path stash; avoid UTF-8 unwrap panics
  src/git.rs
Due: cargo-fmt, dbg

docs: document configuration unification and skip configuration features (#269)
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/config.md
  docs/cli/config/dump.md
  docs/cli/config/get.md
  docs/cli/config/show.md
  docs/cli/config/sources.md
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  docs/configuration.md
  docs/environment_variables.md
  hk.usage.kdl
  src/cli/config.rs
Due: cargo-fmt, dbg, prettier

hook: fix resolve_stash_method to honor env param and remove unreachable code
  src/hook.rs
Due: cargo-fmt, dbg

chore: mise.lock
  mise.lock
Due: none

chore: release v1.13.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

git: stash: filter untracked files from partial pathspec; fix stash robustness failures
  src/git.rs
Due: cargo-fmt, dbg

hook: pass file subset into stash; clippy: remove unused mut and unused field
  src/git.rs
  src/hook.rs
Due: cargo-fmt, dbg

fmt: cargo fmt after stash subset and clippy fixes
  src/git.rs
  src/hook.rs
Due: cargo-fmt, dbg

fix: pre-commit partial staging: honor env stash, alias patch-file, robust partial stash (#267)
  docs/configuration.md
  src/git.rs
  src/hook.rs
  test/pre_commit_partial_staged.bats
Due: cargo-fmt, dbg

chore: release v1.13.0 (#235)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix: correct pkl package artifact path in release workflow
  .github/workflows/release.yml
Due: actionlint

fix: correct pkl package artifact path in release workflow (#271)
  .github/workflows/release.yml
Due: actionlint

chore: release v1.13.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.13.1 (#270)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix: use simple directory path for pkl artifact upload
  .github/workflows/release.yml
Due: actionlint

fix: use simple directory path for pkl artifact upload (#272)
  .github/workflows/release.yml
Due: actionlint

chore: release v1.13.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.13.2 (#273)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

debug: add comprehensive debugging for pkl package failure
  .github/workflows/release.yml
Due: actionlint

debug: diagnose pkl package failure in release workflow (#274)
  .github/workflows/release.yml
Due: actionlint

chore: release v1.13.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.13.3 (#275)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix: explicitly install pkl and run package command directly
  .github/workflows/release.yml
Due: actionlint

fix: explicitly install pkl and run package command directly (#276)
  .github/workflows/release.yml
Due: actionlint

chore: release v1.13.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.13.4 (#277)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix: use glob pattern and fail on missing pkl artifacts
  .github/workflows/release.yml
Due: actionlint

fix: correct directory handling for pkl package output
  .github/workflows/release.yml
Due: actionlint

chore: fix pkl release building
  .github/workflows/release.yml
Due: actionlint

chore: fix pkl release building (#278)
  .github/workflows/release.yml
Due: actionlint

chore: release v1.13.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: enable cache for release-plz
  .github/workflows/release-plz.yml
Due: actionlint

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
