Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

chore: bump clx
  Cargo.lock
Due: none

chore: release v1.10.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.10.4 (#201)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: bump clx
  Cargo.lock
  hk.pkl
Due: pkl-eval

chore: release v1.10.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.10.5 (#202)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.10.6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.10.6 (#203)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix: show `--from-ref` instructions for missing profile warning
  pkl/Config.pkl
  src/config.rs
  src/git.rs
  src/hook.rs
Due: pkl-eval, cargo-fmt, dbg

wip
  test/profile_skip_summary.bats
Due: none

fix: show `--from-ref` instructions for missing profile warning (#204)
  pkl/Config.pkl
  src/config.rs
  src/git.rs
  src/hook.rs
  test/profile_skip_summary.bats
Due: pkl-eval, cargo-fmt, dbg

wip
  docs/configuration.md
Due: none

docs: document default_branch (#206)
  docs/configuration.md
Due: none

chore: release v1.10.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.10.7 (#205)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix: remove period from missin-profile message
  src/hook.rs
  test/profile_skip_summary.bats
Due: cargo-fmt, dbg

chore: release v1.10.8
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: add pkl linter in Builtins
  pkl/Builtins.pkl
Due: pkl-eval

chore: add pkl linter in Builtins (#210)
  pkl/Builtins.pkl
Due: pkl-eval

feat(config): support fail_fast in hk.pkl; env precedence; tri-state helper; docs+test
  docs/configuration.md
  pkl/Config.pkl
  src/config.rs
  src/env.rs
  src/settings.rs
  test/fail_fast_config.bats
Due: pkl-eval, cargo-fmt, dbg

feat: support fail_fast in hk.pkl (env > config) (#212)
  docs/configuration.md
  pkl/Config.pkl
  src/config.rs
  src/env.rs
  src/settings.rs
  test/fail_fast_config.bats
Due: pkl-eval, cargo-fmt, dbg

Add missing code block end marker
  docs/configuration.md
Due: none

docs: Add missing code block end marker (#213)
  docs/configuration.md
Due: none

style(test_runner): rustfmt wrap long execute_cmd call
  src/test_runner.rs
Due: cargo-fmt, dbg

feat(test): support before/after commands in hk test (#214)
  docs/configuration.md
  pkl/Config.pkl
  src/step_test.rs
  src/test_runner.rs
  test/hk_test_subcommand.bats
Due: pkl-eval, cargo-fmt, dbg

chore: release v1.11.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: set gh token
  .github/workflows/release-plz.yml
Due: actionlint

chore: set gh token (#215)
  .github/workflows/release-plz.yml
Due: actionlint

chore: support immutable releases
  .github/workflows/release.yml
Due: actionlint

chore: support immutable releases (#216)
  .github/workflows/release.yml
Due: actionlint

fix: add pre-commit task to mise.toml generation
  src/cli/init.rs
Due: cargo-fmt, dbg

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: actionlint

chore: Add Claude Code GitHub Workflow (#218)
  .github/workflows/claude.yml
Due: actionlint

fix: add pre-commit task to mise.toml generation (#217)
  src/cli/init.rs
Due: cargo-fmt, dbg

chore: lint
  .github/workflows/claude.yml
Due: actionlint

stash: prefer unstaged over fixer changes; stop deleting untracked in patch-file; add tests
  src/git.rs
  test/stash_current_behavior.bats
Due: cargo-fmt, dbg

tests: update stash behavior tests; fix patch-file to exclude untracked from diff; clippy clean
  src/git.rs
  test/stash_current_behavior.bats
Due: cargo-fmt, dbg

wip
  src/git.rs
Due: cargo-fmt, dbg
