Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

docs(ci): explain benchmark OIDC permission
  .github/workflows/cache-benchmark.yml
Due: actionlint

fix(ci): scope benchmark OIDC permissions
  .github/workflows/cache-benchmark.yml
Due: actionlint

fix(ci): gate benchmark server access
  .github/workflows/cache-benchmark.yml
Due: actionlint

feat(ci): add isolated warm cache benchmark
  .github/workflows/cache-benchmark.yml
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

fix(ci): correct rust toolchain pin annotations
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

fix(ci): gate warm server benchmark
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

fix(ci): preserve comparable cache inputs
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

fix(ci): restrict warm benchmark reruns
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

Notes added by 'git notes add'
  b64e7495eb922af741dd5aca15c89b7f0fee3208
Due: none

Notes added by 'git notes add'
  dcce4005859c055903752e771654e0cc1f63ac64
Due: none

chore(ci): use server cache for dispatched benchmarks (#1285)
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

Notes added by 'git notes add'
  0adbfba3bcc4fcf70f8ac6fe4190f0b4a69a09d6
Due: none

chore(ci): adopt mbx 0.7.0
  .github/actions/mbx/action.yml
Due: none

chore(ci): cache macOS native links in the benchmark
  .github/workflows/cache-benchmark.yml
Due: actionlint

chore: lock mbx 0.7.0
  mise.lock
Due: none

chore(ci): adopt mbx 0.7.0 (#1286)
  .github/actions/mbx/action.yml
  .github/workflows/cache-benchmark.yml
  mise.lock
Due: actionlint

Notes added by 'git notes add'
  58b6176ecefba7b4f6e1513a484ceab894020102
Due: none

ci: back mbx with the GitHub Actions cache alone
  .github/actions/mbx/action.yml
  .github/workflows/cache-benchmark.yml
  .github/workflows/ci-impl.yml
  .github/workflows/ci.yml
  .github/workflows/docs-impl.yml
  .github/workflows/docs.yml
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

ci: back mbx with the GitHub Actions cache alone (#1287)
  .github/actions/mbx/action.yml
  .github/workflows/cache-benchmark.yml
  .github/workflows/ci-impl.yml
  .github/workflows/ci.yml
  .github/workflows/docs-impl.yml
  .github/workflows/docs.yml
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

Notes added by 'git notes add'
  3f5204566c92b4d729985cf61f7265c1061ecb3f
Due: none

test: avoid login shell when committing in fixer tail deletion test
  test/fixer_tail_deletion_with_middle_unstaged.bats
Due: none

style: fix clippy lints for rust 1.98
  src/cli/migrate/mod.rs
  src/git.rs
  src/hook.rs
  src/step/execution.rs
  src/step/output.rs
  src/step/runner.rs
Due: cargo-fmt, dbg

feat(step): allow configured command failures
  docs/hooks.md
  pkl/Config.pkl
  src/error.rs
  src/hook.rs
  src/step/execution.rs
  src/step/expr_env.rs
  src/step/types.rs
  src/step_group.rs
  src/structured_output.rs
  test/allow_failure.bats
Due: pkl-eval, cargo-fmt, dbg

fix(step): release dependents on policy errors
  src/step_group.rs
  test/allow_failure.bats
Due: cargo-fmt, dbg

fix(step): validate env expression arguments
  src/step/expr_env.rs
Due: cargo-fmt, dbg

feat(step): allow configured command failures (#1291)
  docs/hooks.md
  pkl/Config.pkl
  src/error.rs
  src/hook.rs
  src/step/execution.rs
  src/step/expr_env.rs
  src/step/types.rs
  src/step_group.rs
  src/structured_output.rs
  test/allow_failure.bats
Due: pkl-eval, cargo-fmt, dbg

chore: release v1.57.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v1.57.0 (#1223)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

Notes added by 'git notes add'
  94f112f21cab3dd6dc5555ede83a54a23fa5db52
Due: none

fix(ci): target repository when publishing releases
  .github/workflows/release.yml
Due: actionlint

fix(ci): target repository when publishing releases (#1292)
  .github/workflows/release.yml
Due: actionlint

Notes added by 'git notes add'
  7608bd9275d769e89b9277da051307bd8aa85fe0
Due: none

chore(ci): bump mbx to 1.0.0
  .github/actions/mbx/action.yml
Due: none

fix(ci): seed fresh mbx benchmark caches
  .github/actions/mbx/action.yml
Due: none

chore(ci): pin rolling dispatch caches
  .github/actions/mbx/action.yml
Due: none

chore(ci): restore mbx remote cache
  .github/actions/mbx/action.yml
  .github/workflows/cache-benchmark.yml
  .github/workflows/ci-impl.yml
  .github/workflows/ci.yml
  .github/workflows/docs-impl.yml
  .github/workflows/docs.yml
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

fix(ci): align macOS benchmark cache links
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

chore(ci): bump mbx to 1.0.1
  .github/actions/mbx/action.yml
Due: none

fix(ci): trust maintainer benchmark dispatches
  .github/actions/mbx/action.yml
Due: none

chore(ci): bump mbx to 1.1.0
  .github/actions/mbx/action.yml
Due: none
