Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

docs: document {{workspace_files}}, {{workspace}}, and {{workspace_indicator}} usage in configuration\n\nContext: https://github.com/jdx/hk/discussions/164
  docs/configuration.md
Due: none

step_job: align workspace_dir with tera; fix root-level workspace indicator handling for workspace and workspace_files
  src/step_job.rs
Due: cargo-fmt, dbg

feat: add `{{workspace_files}}` (#177)
  docs/configuration.md
  src/step_job.rs
  src/tera.rs
  test/workspace_indicator.bats
Due: cargo-fmt, dbg

feat(test): step-defined tests (hk test), mapping schema, runner sandbox + {tmp}, builtin newlines test, docs + bats
  Cargo.lock
  Cargo.toml
  docs/cli/index.md
  docs/cli/test.md
  pkl/Config.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/prettier.pkl
  src/cli/mod.rs
  src/cli/test.rs
  src/main.rs
  src/step.rs
  src/step_test.rs
  src/test_runner.rs
  test/builtins_tests.bats
  test/hk_test_subcommand.bats
Due: pkl-eval, cargo-fmt, dbg

test(prettier): add builtin prettier test; ensure prettier available via mise tools
  pkl/builtins/prettier.pkl
Due: pkl-eval

refactor(test-runner): rely on Tera for {tmp} rendering; simplify hk tests to sandbox-relative paths; drop OneOrMany imports
  pkl/Config.pkl
  src/step_test.rs
  src/test_runner.rs
  test/hk_test_subcommand.bats
Due: pkl-eval, cargo-fmt, dbg

wip
  src/step_test.rs
  src/test_runner.rs
  test/hk_test_failure.bats
  test/hk_test_subcommand.bats
Due: cargo-fmt, dbg

wip
  src/cli/test.rs
  src/step_test.rs
  src/test_runner.rs
Due: cargo-fmt, dbg

test(prettier): stabilize builtin prettier test by avoiding triple-quoted literals
  mise.toml
  pkl/Config.pkl
  pkl/builtins/prettier.pkl
  src/cli/test.rs
  test/hk_test_env.bats
  test/hk_test_project_paths.bats
Due: pkl-eval, cargo-fmt, dbg

fix(builtins): rename static_check -> staticcheck to match Builtins export name
  pkl/builtins/staticcheck.pkl
  test/builtins_tests.bats
  test/check.bats
  test/hk_test_env.bats
  test/hk_test_failure.bats
  test/hk_test_project_paths.bats
  test/hk_test_subcommand.bats
Due: pkl-eval

fix(builtins): rename swift_lint -> swiftlint to match Builtins export name
  pkl/builtins/swiftlint.pkl
Due: pkl-eval

wip
  Cargo.lock
  Cargo.toml
  docs/configuration.md
  pkl/builtins/prettier.pkl
  src/cli/test.rs
  src/step_test.rs
  src/test_runner.rs
  test/builtins_tests.bats
Due: pkl-eval, cargo-fmt, dbg

feat: added `hk test` (#178)
  Cargo.lock
  Cargo.toml
  docs/cli/index.md
  docs/cli/test.md
  docs/configuration.md
  mise.toml
  pkl/Config.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/prettier.pkl
  pkl/builtins/staticcheck.pkl
  pkl/builtins/swiftlint.pkl
  src/cli/mod.rs
  src/cli/test.rs
  src/main.rs
  src/step.rs
  src/step_test.rs
  src/test_runner.rs
  test/builtins_tests.bats
  test/check.bats
  test/hk_test_env.bats
  test/hk_test_failure.bats
  test/hk_test_project_paths.bats
  test/hk_test_subcommand.bats
Due: pkl-eval, cargo-fmt, dbg

step: ensure NoFilesToProcess and ConditionFalse take precedence over ProfileNotEnabled; add bats tests for precedence
  src/hook.rs
  src/step.rs
  test/profile_skip_summary.bats
  test/skip_output.bats
  test/skip_reason_precedence.bats
  test/skip_reasons_config.bats
Due: cargo-fmt, dbg

fix: make NoFilesToProcess/ConditionFalse take precedence over ProfileNotEnabled (#179)
  src/hook.rs
  src/step.rs
  test/profile_skip_summary.bats
  test/skip_output.bats
  test/skip_reason_precedence.bats
  test/skip_reasons_config.bats
Due: cargo-fmt, dbg

wip
  docs/configuration.md
  docs/environment_variables.md
Due: none

wip
  docs/configuration.md
  hk.pkl
Due: pkl-eval

feat(step): per-step output summaries (stderr|stdout|combined|hide) (#180)
  docs/configuration.md
  docs/environment_variables.md
  hk.pkl
  pkl/Config.pkl
  pkl/builtins/cargo_check.pkl
  src/env.rs
  src/hook.rs
  src/step.rs
  test/output_summary.bats
Due: pkl-eval, cargo-fmt, dbg

docs: add demo
  README.md
  clx/src/progress.rs
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/test.md
  docs/index.md
  docs/public/hk-demo.gif
  hk.usage.kdl
  mise.lock
  mise.toml
  src/hook.rs
  src/step.rs
  tapes/hk-demo.tape
Due: cargo-fmt, dbg, prettier

docs: add demo (#181)
  src/progress.rs
Due: cargo-fmt, dbg

docs: add demo (#181)
  README.md
  clx/src/progress.rs
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/test.md
  docs/index.md
  docs/public/hk-demo.gif
  hk.usage.kdl
  mise.lock
  mise.toml
  src/hook.rs
  src/step.rs
  tapes/hk-demo.tape
Due: cargo-fmt, dbg, prettier

chore: release v1.9.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.9.0 (#163)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

test: make sandbox opt-in via {{tmp}}; clean fixtures on success; fix builtins to use {{tmp}}; docs: update examples
  docs/configuration.md
  pkl/builtins/newlines.pkl
  pkl/builtins/prettier.pkl
  src/cli/test.rs
  src/test_runner.rs
  test/hk_test_sandboxing.bats
Due: pkl-eval, cargo-fmt, dbg

test: update sandboxing tests for opt-in behavior and ignore step.dir; simplify assertions
  test/hk_test_sandboxing.bats
Due: none

test: safe fixture scan — avoid falling back to '/' on read_dir error; skip unreadable dirs
  src/test_runner.rs
Due: cargo-fmt, dbg

fix(test): make sandbox opt-in via {{tmp}}; clean fixtures on success; fix builtins to use {{tmp}}; docs: update examples (#182)
  docs/configuration.md
  pkl/builtins/newlines.pkl
  pkl/builtins/prettier.pkl
  src/cli/test.rs
  src/test_runner.rs
  test/hk_test_sandboxing.bats
Due: pkl-eval, cargo-fmt, dbg

chore: subtree
  mise-tasks/release-plz
  mise-tasks/subtree-sync
  mise.toml
Due: none

Squashed 'xx/' changes from afb8132..0dcd28f
  .github/workflows/test.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  src/process.rs
Due: actionlint, cargo-fmt, dbg

Squashed 'clx/' changes from e9f476e..6382d2a
  Cargo.lock
  Cargo.toml
  src/progress.rs
Due: cargo-fmt, dbg

Squashed 'ensembler/' changes from 25e12c4..45774c5
  Cargo.lock
  Cargo.toml
  LICENSE
  src/cmd.rs
  src/lib.rs
Due: cargo-fmt, dbg

chore: subtree
  Cargo.lock
Due: none

chore: subtree-sync (#184)
  Cargo.lock
  clx/Cargo.lock
  clx/Cargo.toml
  ensembler/Cargo.lock
  ensembler/Cargo.toml
  mise-tasks/release-plz
  mise-tasks/subtree-sync
  mise.toml
Due: none

chore: subtree-sync (#184)
  Cargo.lock
  Cargo.toml
Due: none

Squashed 'xx/' changes from afb8132..f5b5441
  .github/workflows/test.yml
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  src/process.rs
Due: actionlint, cargo-fmt, dbg

Squashed 'clx/' changes from e9f476e..26ccf93
  Cargo.lock
  Cargo.toml
  src/progress.rs
Due: cargo-fmt, dbg

chore: release v1.9.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.9.1 (#183)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier
