Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

fix: enable experimental settings in mise.toml for swift support (#342)
  mise.toml
Due: none

fix: correct airflow migration test to expect local imports
  test/migrate_precommit.bats
Due: none

fix: make final CI check always run and fail if dependencies fail
  .github/workflows/ci.yml
Due: actionlint

fix: correct airflow migration test to expect local imports (#343)
  test/migrate_precommit.bats
Due: none

fix: make final CI check always run and fail if dependencies fail (#344)
  .github/workflows/ci.yml
Due: actionlint

test: remove flaky ruby vendoring test
  test/migrate_precommit.bats
Due: none

fix: add ruff format to ruff builtin (#340)
  docs/builtins.md
  docs/public/python-project.pkl
  docs/reference/examples/python-project.md
  mise.toml
  pkl/Builtins.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/ruff_format.pkl
Due: pkl-eval

fix: update release-plz to automatically update version refs in docs (#339)
  mise-tasks/release-plz
Due: none

chore: release v1.17.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/migrate.md
  docs/cli/migrate/pre-commit.md
  docs/cli/util.md
  docs/cli/util/check-added-large-files.md
  docs/cli/util/check-byte-order-marker.md
  docs/cli/util/check-case-conflict.md
  docs/cli/util/check-executables-have-shebangs.md
  docs/cli/util/check-merge-conflict.md
  docs/cli/util/check-symlinks.md
  docs/cli/util/detect-private-key.md
  docs/cli/util/end-of-file-fixer.md
  docs/cli/util/fix-byte-order-marker.md
  docs/cli/util/mixed-line-ending.md
  docs/cli/util/no-commit-to-branch.md
  docs/cli/util/python-check-ast.md
  docs/cli/util/python-debug-statements.md
  docs/cli/util/trailing-whitespace.md
  hk.usage.kdl
Due: prettier

test: remove flaky ruby vendoring test (#345)
  test/migrate_precommit.bats
Due: none

chore: remove swift from mise tools and skip swift tests when unavailable
  mise.lock
  mise.toml
  test/migrate_precommit.bats
Due: none

chore: remove swift from mise tools and skip swift tests when unavailable (#346)
  mise.lock
  mise.toml
  test/migrate_precommit.bats
Due: none

fix: enable rename detection in git status
  src/git.rs
  test/staged_renamed_files.bats
Due: cargo-fmt, dbg

Fix unstaged rename detection for both libgit2 and shell git paths
  src/git.rs
  test/staged_renamed_files.bats
Due: cargo-fmt, dbg

Revert "Fix unstaged rename detection for both libgit2 and shell git paths"
  src/git.rs
  test/staged_renamed_files.bats
Due: cargo-fmt, dbg

fix: enable rename detection in git status (#347)
  src/git.rs
  test/staged_renamed_files.bats
Due: cargo-fmt, dbg

chore: release v1.17.0 (#320)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/migrate.md
  docs/cli/migrate/pre-commit.md
  docs/cli/util.md
  docs/cli/util/check-added-large-files.md
  docs/cli/util/check-byte-order-marker.md
  docs/cli/util/check-case-conflict.md
  docs/cli/util/check-executables-have-shebangs.md
  docs/cli/util/check-merge-conflict.md
  docs/cli/util/check-symlinks.md
  docs/cli/util/detect-private-key.md
  docs/cli/util/end-of-file-fixer.md
  docs/cli/util/fix-byte-order-marker.md
  docs/cli/util/mixed-line-ending.md
  docs/cli/util/no-commit-to-branch.md
  docs/cli/util/python-check-ast.md
  docs/cli/util/python-debug-statements.md
  docs/cli/util/trailing-whitespace.md
  hk.usage.kdl
Due: prettier

feat: add fix-smart-quotes util
  src/cli/util/fix_smart_quotes.rs
  src/cli/util/mod.rs
Due: cargo-fmt, dbg

fix: add Windows support by guarding Unix-specific file permission APIs
  src/cli/migrate/pre_commit.rs
  src/cli/util/check_executables_have_shebangs.rs
Due: cargo-fmt, dbg

feat: add fix-smart-quotes util (#348)
  src/cli/util/fix_smart_quotes.rs
  src/cli/util/mod.rs
Due: cargo-fmt, dbg

fix: add Windows support by guarding Unix-specific file permission APIs (#349)
  src/cli/migrate/pre_commit.rs
  src/cli/util/check_executables_have_shebangs.rs
Due: cargo-fmt, dbg

fix: handle missing files in update-version script
  mise-tasks/update-version.sh
Due: none

fix: handle missing files in update-version script (#350)
  mise-tasks/update-version.sh
Due: none

fix: handle missing files in update-version script
  docs/builtins.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  docs/reference/schema.md
  hk-example.pkl
  hk.pkl
  mise-tasks/update-version.sh
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg

fix: rewrite update-version script to avoid pipefail issues
  mise-tasks/update-version.sh
Due: none

fix: run render before update-version in release script
  mise-tasks/release-plz
Due: none

debug: add diagnostic output to update-version script
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/util.md
  docs/cli/util/fix-smart-quotes.md
  hk.usage.kdl
  mise-tasks/update-version.sh
Due: prettier

debug: add more file existence checks
  mise-tasks/update-version.sh
Due: none

fix: use [0-9] instead of \d in ripgrep pattern for better compatibility
  mise-tasks/update-version.sh
Due: none

debug: test rg pattern matching in CI environment
  mise-tasks/update-version.sh
Due: none

fix: explicitly specify search path for ripgrep in update-version script
  mise-tasks/update-version.sh
Due: none

chore: release v1.18.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  docs/reference/schema.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

chore: release v1.18.0 (#351)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  docs/reference/schema.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

fix: skip step jobs when file list is empty regardless of filter presence
  src/step.rs
  test/batch_false_empty_files.bats
  test/fail_fast_config.bats
Due: cargo-fmt, dbg

test: add reproduction test for race condition
  src/step.rs
  test/batch_false_empty_files.bats
Due: cargo-fmt, dbg

fix: prevent race condition when files are deleted between collection and execution (#353)
  src/step.rs
  test/batch_false_empty_files.bats
  test/fail_fast_config.bats
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
