Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

chore(release): harden completion syntax validation
  .github/workflows/release.yml
Due: actionlint

chore(release): publish native completions in packslip (#1336)
  .github/workflows/release.yml
Due: actionlint

chore(deps): bump mr-boxington to 1.8.3
  mise.lock
  mise.toml
Due: none

chore(deps): bump mr-boxington to 1.8.3 (#1339)
  mise.lock
  mise.toml
Due: none

Checkpoint: 01M1THX7DZ2NKY3073EFHRHNPZ
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

Finalize transcript for Checkpoint: 01M1THX7DZ2NKY3073EFHRHNPZ
  0/content_hash.txt
  0/full.jsonl
  0/prompt.txt
  0/transcript.jsonl
Due: none

docs: fix asset validation and duplicate cli usage
  docs/cli/index.md
  scripts/check-docs-links.py
  scripts/enrich-cli-docs.py
Due: none

Checkpoint: 01M1TJB52ZZ8DDPZKAN17MZQ9N
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

docs: clarify reference details and restore monorepo setup
  docs/cli/util/python-check-ast.md
  docs/environment_variables.md
  docs/glossary.md
  docs/hooks.md
  docs/public/llms.txt
  docs/reference/examples/monorepo.md
  scripts/enrich-cli-docs.py
  settings.toml
Due: none

Checkpoint: 01M1TK37HSR35H04GKNKXQCX3C
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

chore: remove pr.md stray draft accidentally committed in #997
  pr.md
Due: none

chore: remove pr.md stray draft accidentally committed in #997 (#1341)
  pr.md
Due: none

Checkpoint: 78c8be279a98
  78/c8be279a98/0/content_hash.txt
  78/c8be279a98/0/full.jsonl
  78/c8be279a98/0/metadata.json
  78/c8be279a98/0/prompt.txt
  78/c8be279a98/0/transcript.jsonl
  78/c8be279a98/metadata.json
Due: prettier

chore(deps): bump mbx to 1.9.0 for performance builds
  mise.lock
  mise.toml
Due: none

Checkpoint: 01M1W4J5TTM9ZPCKT79NES1M7M
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

Checkpoint: 01M1W4J5TTM9ZPCKT79NES1M7M
  1/content_hash.txt
  1/full.jsonl
  1/metadata.json
  1/prompt.txt
  1/transcript.jsonl
  metadata.json
Due: prettier

Finalize transcript for Checkpoint: 01M1W4J5TTM9ZPCKT79NES1M7M
  1/content_hash.txt
  1/full.jsonl
  1/prompt.txt
  1/transcript.jsonl
Due: none

docs: remove the mbx version from contributor instructions
  CONTRIBUTING.md
Due: none

Checkpoint: 01M1W4RPVM21DBV6MR0R7H9WFN
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

Checkpoint: 01M1W4RPVM21DBV6MR0R7H9WFN
  1/content_hash.txt
  1/full.jsonl
  1/metadata.json
  1/prompt.txt
  1/transcript.jsonl
  metadata.json
Due: prettier

Update checkpoint summary for 01M1W4RPVM21DBV6MR0R7H9WFN
  metadata.json
Due: prettier

Finalize transcript for Checkpoint: 01M1W4RPVM21DBV6MR0R7H9WFN
  1/content_hash.txt
  1/full.jsonl
  1/prompt.txt
  1/transcript.jsonl
Due: none

chore(deps): bump mbx to 1.9.0 for performance builds (#1342)
  CONTRIBUTING.md
  mise.lock
  mise.toml
Due: none

chore: cache perf source downloads and install only benchmark tools
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
Due: actionlint

Checkpoint: 01M1W7GSP73Y3PKMHFDBRXQ4XZ
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

Checkpoint: 01M1W7GSP73Y3PKMHFDBRXQ4XZ
  1/content_hash.txt
  1/full.jsonl
  1/metadata.json
  1/transcript.jsonl
  metadata.json
Due: prettier

Finalize transcript for Checkpoint: 01M1W7GSP73Y3PKMHFDBRXQ4XZ
  1/content_hash.txt
  1/full.jsonl
  1/prompt.txt
  1/transcript.jsonl
Due: none

chore: cache perf source downloads and install only benchmark tools (#1343)
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
Due: actionlint

chore: release v1.59.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/hooks.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/monorepo.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

Checkpoint: 2c0d44179541
  2c/0d44179541/0/content_hash.txt
  2c/0d44179541/0/full.jsonl
  2c/0d44179541/0/metadata.json
  2c/0d44179541/0/prompt.txt
  2c/0d44179541/0/transcript.jsonl
  2c/0d44179541/metadata.json
Due: prettier

Checkpoint: 01M1Z097WEFCFMM9E5KJVHK11K
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

chore(deps): use packslip for aube
  mise.lock
Due: none

Checkpoint: a99a55bb3cc8
  a9/9a55bb3cc8/0/content_hash.txt
  a9/9a55bb3cc8/0/full.jsonl
  a9/9a55bb3cc8/0/metadata.json
  a9/9a55bb3cc8/0/prompt.txt
  a9/9a55bb3cc8/0/transcript.jsonl
  a9/9a55bb3cc8/metadata.json
Due: prettier

Checkpoint: 01M1Z0PH6VBMVTDAHY9EGRNGTT
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

chore(deps): lock aube packslip assets
  mise.lock
Due: none

Finalize transcript for Checkpoint: 01M1Z0PH6VBMVTDAHY9EGRNGTT
  0/content_hash.txt
  0/full.jsonl
  0/prompt.txt
  0/transcript.jsonl
Due: none

Finalize transcript for Checkpoint: 01M1Z097WEFCFMM9E5KJVHK11K
  0/content_hash.txt
  0/full.jsonl
  0/prompt.txt
  0/transcript.jsonl
Due: none

fix(pre-push): warn instead of crashing on malformed lines from stdin
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg
