Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

Checkpoint: 01M2BVSBQRJTX6EGZYXVHVX17B
  3/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BVSBQRJTX6EGZYXVHVX17B
  1/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BVSBQRJTX6EGZYXVHVX17B
  4/content_hash.txt
  4/full.jsonl
  4/metadata.json
  4/prompt.txt
  4/transcript.jsonl
  metadata.json
Due: prettier

Checkpoint: 01M2BVSBQRJTX6EGZYXVHVX17B
  2/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BVSBQRJTX6EGZYXVHVX17B
  0/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BVSBQRJTX6EGZYXVHVX17B
  5/content_hash.txt
  5/full.jsonl
  5/metadata.json
  5/prompt.txt
  5/transcript.jsonl
  metadata.json
Due: prettier

Update checkpoint summary for 01M2AZH4ZK6V4BBEKCTX54K8QP
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BTW59CAQ8X9JRXVJFBFE7N
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BVSBQRJTX6EGZYXVHVX17B
  metadata.json
Due: prettier

Checkpoint: 01M2BWA7T8HVXGTXSFZPW8B02G
  2/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BWA7T8HVXGTXSFZPW8B02G
  3/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BWA7T8HVXGTXSFZPW8B02G
  0/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BWA7T8HVXGTXSFZPW8B02G
  1/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BWA7T8HVXGTXSFZPW8B02G
  4/content_hash.txt
  4/full.jsonl
  4/metadata.json
  4/prompt.txt
  4/transcript.jsonl
  metadata.json
Due: prettier

Checkpoint: 01M2BWA7T8HVXGTXSFZPW8B02G
  5/content_hash.txt
  5/full.jsonl
  5/metadata.json
  5/prompt.txt
  5/transcript.jsonl
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BWA7T8HVXGTXSFZPW8B02G
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BT3KA0N0JVT01S0Q4CWB49
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BESAK16DA83MXT0H31RAY0
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BTF9276MWMSRRXPQ41J8T6
  metadata.json
Due: prettier

fix(builtins): preserve variant behavior and metadata
  pkl/builtins/editorconfig-checker.pkl
  pkl/builtins/knip.pkl
  pkl/builtins/pinact.pkl
  pkl/builtins/pinact_update.pkl
Due: pkl-eval

feat(config)!: add shared top-level steps
  pkl/Config.pkl
  src/cli/init/generator.rs
  src/cli/install.rs
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
  src/config.rs
  src/hook.rs
  src/hook_options.rs
  test/migrate_precommit.bats
  test/top_level_steps.bats
Due: pkl-eval, cargo-fmt, dbg

fix(init): satisfy single-match lint
  src/cli/init/generator.rs
Due: cargo-fmt, dbg

test(init): expect concise top-level template
  test/init_creates_hk_pkl.bats
Due: none

test(config): exclude shared steps from settings
  test/config_completeness.bats
Due: none

fix(config): merge hkrc after implicit hooks
  src/config.rs
Due: cargo-fmt, dbg

fix(install): respect disabled global hooks
  src/cli/install.rs
  test/install_global.bats
Due: cargo-fmt, dbg

fix(config): materialize steps before scoping
  src/config.rs
  test/standalone_subdir.bats
  test/subprojects.bats
Due: cargo-fmt, dbg

perf(builtins): skip runtime for bare listing
  src/main.rs
Due: cargo-fmt, dbg

fix(config): ignore disabled subproject hooks
  src/config.rs
Due: cargo-fmt, dbg

test(config): pass subproject root offset
  src/config.rs
Due: cargo-fmt, dbg

fix(builtins): handle broken pipe in fast path
  src/main.rs
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
