Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

fix: guard Unix-specific permission test with #[cfg(unix)]
  src/cli/util/fix_smart_quotes.rs
Due: cargo-fmt, dbg

fix: skip settings tests on Windows CI
  .github/workflows/ci.yml
Due: actionlint

fix: simplify Windows CI to basic tests only
  .github/workflows/ci.yml
Due: actionlint

feat: add Pester e2e tests for Windows and fix review feedback
  .github/workflows/ci.yml
  e2e-win/check.Tests.ps1
  e2e-win/help.Tests.ps1
  e2e-win/init.Tests.ps1
  e2e-win/run.ps1
  e2e-win/validate.Tests.ps1
  e2e-win/version.Tests.ps1
  src/step/runner.rs
  src/step/shell.rs
Due: actionlint, cargo-fmt, dbg

fix: run only basic Pester tests that don't require pkl
  .github/workflows/ci.yml
Due: actionlint

fix: add .exe variants for all shells and fix Pester output capture
  e2e-win/help.Tests.ps1
  src/step/runner.rs
Due: cargo-fmt, dbg

feat: add Windows CI testing and improve Windows support (#648)
  .github/workflows/ci.yml
  e2e-win/check.Tests.ps1
  e2e-win/help.Tests.ps1
  e2e-win/init.Tests.ps1
  e2e-win/run.ps1
  e2e-win/validate.Tests.ps1
  e2e-win/version.Tests.ps1
  src/cli/util/check_symlinks.rs
  src/cli/util/fix_smart_quotes.rs
  src/step/runner.rs
  src/step/shell.rs
Due: actionlint, cargo-fmt, dbg

docs: clarify fix type is for CLI bugs only
  CLAUDE.md
Due: none

fix: use system CA certificates for HTTPS requests
  Cargo.toml
Due: none

fix: use system CA certificates for HTTPS requests (#650)
  Cargo.toml
Due: none

docs: clarify fix type is for CLI bugs only (#649)
  CLAUDE.md
Due: none

chore: release v1.34.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

chore: release v1.34.0 (#647)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

feat(install): add git worktree support
  src/cli/install.rs
  src/cli/uninstall.rs
  src/git_util.rs
  src/main.rs
  test/worktree.bats
Due: cargo-fmt, dbg

feat: add git worktree support (#651)
  src/cli/install.rs
  src/cli/uninstall.rs
  src/git_util.rs
  src/main.rs
  test/worktree.bats
Due: cargo-fmt, dbg

feat: add "did you mean?" suggestions for typos
  Cargo.lock
  src/cli/config.rs
  src/hook_options.rs
Due: cargo-fmt, dbg

feat: add "did you mean?" suggestions for typos (#654)
  Cargo.lock
  src/cli/config.rs
  src/hook_options.rs
Due: cargo-fmt, dbg

refactor: use xx utilities and drop unused dependencies
  Cargo.lock
  Cargo.toml
  src/config.rs
Due: cargo-fmt, dbg

chore: update xx submodule to v2.5.1
  Cargo.lock
Due: none

feat(stash): use haiku names for stash patch backups
  src/git.rs
  test/patch_backup.bats
Due: cargo-fmt, dbg

refactor: use xx utilities and drop unused dependencies (#653)
  Cargo.lock
  Cargo.toml
  src/config.rs
Due: cargo-fmt, dbg

feat(stash): use haiku names for stash patch backups (#655)
  src/git.rs
  test/patch_backup.bats
Due: cargo-fmt, dbg

feat(init): add auto-detection and interactive mode
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  build/generate_builtins.rs
  build/mod.rs
  mise-tasks/pkl/gen
  mise-tasks/render/_default
  pkl/builtins/actionlint.pkl
  pkl/builtins/biome.pkl
  pkl/builtins/black.pkl
  pkl/builtins/cargo_clippy.pkl
  pkl/builtins/cargo_fmt.pkl
  pkl/builtins/eslint.pkl
  pkl/builtins/go_fmt.pkl
  pkl/builtins/golangci_lint.pkl
  pkl/builtins/hadolint.pkl
  pkl/builtins/mypy.pkl
  pkl/builtins/prettier.pkl
  pkl/builtins/rubocop.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/ruff_format.pkl
  pkl/builtins/shellcheck.pkl
  pkl/builtins/shfmt.pkl
  pkl/builtins/standard_rb.pkl
  pkl/builtins/stylelint.pkl
  pkl/builtins/tsc.pkl
  pkl/builtins/zizmor.pkl
  scripts/reflect.pkl
  src/builtins.rs
  src/cli/builtins.rs
  src/cli/init.rs
  src/cli/init/detector.rs
  src/cli/init/generator.rs
  src/cli/init/mod.rs
  src/cli/init/picker.rs
  src/cli/mod.rs
  src/main.rs
  test/init_creates_hk_pkl.bats
Due: actionlint, pkl-eval, cargo-fmt, dbg

fix(init): address PR feedback
  build/generate_builtins.rs
  src/cli/init/mod.rs
  src/cli/init/picker.rs
Due: cargo-fmt, dbg

fix(deps): write builtins_meta.json atomically in pkl:gen
  mise-tasks/pkl/gen
Due: none

fix(pkl): make pkl:gen task work on Windows
  mise-tasks/pkl/gen.ps1
  scripts/gen_builtins.py
Due: none

feat(init): add auto-detection and interactive mode (#656)
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  build/generate_builtins.rs
  build/mod.rs
  mise-tasks/pkl/gen.ps1
  mise-tasks/render/_default
  pkl/builtins/actionlint.pkl
  pkl/builtins/biome.pkl
  pkl/builtins/black.pkl
  pkl/builtins/cargo_clippy.pkl
  pkl/builtins/cargo_fmt.pkl
  pkl/builtins/eslint.pkl
  pkl/builtins/go_fmt.pkl
  pkl/builtins/golangci_lint.pkl
  pkl/builtins/hadolint.pkl
  pkl/builtins/mypy.pkl
  pkl/builtins/prettier.pkl
  pkl/builtins/rubocop.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/ruff_format.pkl
  pkl/builtins/shellcheck.pkl
  pkl/builtins/shfmt.pkl
  pkl/builtins/standard_rb.pkl
  pkl/builtins/stylelint.pkl
  pkl/builtins/tsc.pkl
  pkl/builtins/zizmor.pkl
  scripts/gen_builtins.py
  scripts/reflect.pkl
  src/builtins.rs
  src/cli/builtins.rs
  src/cli/init.rs
  src/cli/init/detector.rs
  src/cli/init/generator.rs
  src/cli/init/mod.rs
  src/cli/init/picker.rs
  src/cli/mod.rs
  src/main.rs
  test/init_creates_hk_pkl.bats
Due: actionlint, pkl-eval, cargo-fmt, dbg

chore: release v1.35.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/init.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

chore: release v1.35.0 (#652)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/init.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

feat: add ty builtin
  pkl/builtins/ty.pkl
  test/builtin_tool_stubs/ty
Due: pkl-eval

chore: install ty tool stub from github
  test/builtin_tool_stubs/ty
Due: none

chore: bump ty version and use mise built-in registry
  test/builtin_tool_stubs/ty
Due: none

feat: add ty builtin (#566)
  pkl/builtins/ty.pkl
  test/builtin_tool_stubs/ty
Due: pkl-eval

fix(bultins): respect typos exclusions with --force-exclude
  pkl/builtins/typos.pkl
  test/builtin_tool_stubs/typos
Due: pkl-eval

feat: add --pr shortcut flag for checking PR-changed files
  src/hook_options.rs
Due: cargo-fmt, dbg

test: add bats tests for --pr flag
  test/pr_flag.bats
Due: none

fix: address PR review feedback for --pr flag
  src/hook_options.rs
Due: cargo-fmt, dbg

fix(bultins): respect typos exclusions with --force-exclude (#659)
  pkl/builtins/typos.pkl
  test/builtin_tool_stubs/typos
Due: pkl-eval

feat: add --pr shortcut flag for checking PR-changed files (#660)
  src/hook_options.rs
  test/pr_flag.bats
Due: cargo-fmt, dbg
