Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

chore: install ty tool stub from github
  test/builtin_tool_stubs/ty
Due: none

chore: skip release-plz workflow on forks
  .github/workflows/release-plz.yml
Due: actionlint

chore: skip release-plz workflow on forks (#575)
  .github/workflows/release-plz.yml
Due: actionlint

fix(rubocop): add `--force-exclusion` flag to respect RuboCop config excludes
  pkl/builtins/rubocop.pkl
Due: pkl-eval

chore: (re)sort entries in Builtins.pkl
  pkl/Builtins.pkl
Due: pkl-eval

fix this
  src/test_runner.rs
Due: cargo-fmt, dbg

chore: (re)sort entries in Builtins.pkl (#580)
  pkl/Builtins.pkl
Due: pkl-eval

chore: release v1.29.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

check-diff for some utils
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/mixed_line_ending.rs
  src/cli/util/trailing_whitespace.rs
  src/diff.rs
  src/main.rs
  src/test_runner.rs
  test/util_end_of_file_fixer.bats
  test/util_mixed_line_ending.bats
  test/util_trailing_whitespace.bats
Due: cargo-fmt, dbg

forgot pkl
  pkl/builtins/mixed_line_ending.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/trailing_whitespace.pkl
Due: pkl-eval

smart quotes
  pkl/builtins/fix_smart_quotes.pkl
  src/cli/util/fix_smart_quotes.rs
  test/util_fix_smart_quotes.bats
Due: pkl-eval, cargo-fmt, dbg

feat: Give `fix-smart-quotes` util `check_list_files` capabilities (#584)
  pkl/builtins/fix_smart_quotes.pkl
  src/cli/util/fix_smart_quotes.rs
  test/util_fix_smart_quotes.bats
Due: pkl-eval, cargo-fmt, dbg

reorder
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/mixed_line_ending.rs
  src/cli/util/trailing_whitespace.rs
Due: cargo-fmt, dbg

this maybe
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/mixed_line_ending.rs
  src/cli/util/trailing_whitespace.rs
Due: cargo-fmt, dbg

fix-smart-quotes
  pkl/builtins/fix_smart_quotes.pkl
  src/cli/util/fix_smart_quotes.rs
  test/util_fix_smart_quotes.bats
Due: pkl-eval, cargo-fmt, dbg

windows too
  src/cli/util/trailing_whitespace.rs
  test/util_trailing_whitespace.bats
Due: cargo-fmt, dbg

add support
  test/test_helper/common_setup.bash
Due: none

switch to mise-tasks
  mise-tasks/benchmark
  mise-tasks/build
  mise-tasks/ci
  mise-tasks/demo
  mise-tasks/dist
  mise-tasks/docs/_default
  mise-tasks/docs/build
  mise-tasks/docs/gen
  mise-tasks/hk
  mise-tasks/init
  mise-tasks/lint
  mise-tasks/lint-fix
  mise-tasks/msrv
  mise-tasks/postlint
  mise-tasks/pre-release
  mise-tasks/prelint
  mise-tasks/release
  mise-tasks/render/_default
  mise-tasks/render/usage
  mise-tasks/test/_default
  mise-tasks/test/bats/_default
  mise-tasks/test/bats/libgit2
  mise-tasks/test/bats/nogit
  mise-tasks/test/bats/nolibgit2
  mise-tasks/test/cargo
  mise-tasks/test/migrate/airflow
  mise-tasks/test/migrate/pillow
  mise.toml
Due: none

feat: Add `check_diff` to some `hk util`s (#583)
  pkl/builtins/mixed_line_ending.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/trailing_whitespace.pkl
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/mixed_line_ending.rs
  src/cli/util/trailing_whitespace.rs
  src/diff.rs
  src/main.rs
  src/test_runner.rs
  test/util_end_of_file_fixer.bats
  test/util_mixed_line_ending.bats
  test/util_trailing_whitespace.bats
Due: pkl-eval, cargo-fmt, dbg

test: Add support for tests in subdir of `test/` (#587)
  test/test_helper/common_setup.bash
Due: none

refactor: Move completely to `mise-tasks` tasks (#588)
  mise-tasks/benchmark
  mise-tasks/build
  mise-tasks/ci
  mise-tasks/demo
  mise-tasks/dist
  mise-tasks/docs/_default
  mise-tasks/docs/build
  mise-tasks/docs/gen
  mise-tasks/hk
  mise-tasks/init
  mise-tasks/lint
  mise-tasks/lint-fix
  mise-tasks/msrv
  mise-tasks/postlint
  mise-tasks/pre-release
  mise-tasks/prelint
  mise-tasks/release
  mise-tasks/render/_default
  mise-tasks/render/usage
  mise-tasks/test/_default
  mise-tasks/test/bats/_default
  mise-tasks/test/bats/libgit2
  mise-tasks/test/bats/nogit
  mise-tasks/test/bats/nolibgit2
  mise-tasks/test/cargo
  mise-tasks/test/migrate/airflow
  mise-tasks/test/migrate/pillow
  mise.toml
Due: none

fix it
  mise-tasks/test/bats/nogit
Due: none

dist
  .github/workflows/release.yml
  mise-tasks/dist
Due: actionlint

add
  mise-tasks/pkl/dist
Due: none

this too
  mise-tasks/pkl/package
Due: none

rm
  mise-tasks/package-pkl.sh
Due: none

fix: Unset `HK_LIBGIT2` in `nogit` bats tests (#589)
  mise-tasks/test/bats/nogit
Due: none

refactor: Make `pkl/` taskdir (#590)
  .github/workflows/release.yml
  mise-tasks/pkl/dist
  mise-tasks/pkl/package
Due: actionlint

pkl gen
  mise-tasks/pkl/gen
  pkl/Builtins.pkl
Due: pkl-eval

generate
  mise-tasks/pkl/gen
  pkl/.gitignore
  pkl/Builtins.pkl
Due: pkl-eval

gen
  mise-tasks/build
Due: none

this way
  mise-tasks/build
  mise-tasks/pkl/dist
  mise-tasks/pkl/package
Due: none

more gen
  mise-tasks/test/cargo
Due: none

swapsies
  src/cli/util/fix_smart_quotes.rs
Due: cargo-fmt, dbg

fix
  mise-tasks/test/bats/_default
Due: none

fix: test:bats arg handling (#592)
  mise-tasks/test/bats/_default
Due: none
