Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

feat: allow disabling libgit2
  .github/workflows/ci.yml
  src/env.rs
  src/git.rs
  src/step.rs
  test/dir.bats
  test/exclude.bats
  test/pre_push.bats
  test/tsc.bats
Due: actionlint, cargo-fmt, dbg

fix: allow setting body and tweaked default interval
  src/progress.rs
Due: cargo-fmt, dbg

chore: updated deps
  Cargo.lock
Due: none

chore: Release clx version 0.2.9
  Cargo.lock
  Cargo.toml
Due: none

chore: cargo fmt
  src/lib.rs
  src/progress.rs
Due: cargo-fmt, dbg

feat: warn status
  src/progress.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.10
  Cargo.lock
  Cargo.toml
Due: none

chore: fix example
  Cargo.lock
  examples/run.rs
Due: cargo-fmt, dbg

Include `.tfvars` files in Terraform builtin
  pkl/builtins/terraform.pkl
Due: pkl-eval

chore: box up ScriptFailed
  src/cmd.rs
  src/error.rs
Due: cargo-fmt, dbg

chore: ci
  .github/renovate.json
  .github/workflows/ci.yml
  mise.toml
Due: actionlint, prettier

chore: msrv
  Cargo.toml
Due: none

chore: ci (#2)
  .github/renovate.json
  .github/workflows/ci.yml
  Cargo.lock
  Cargo.toml
  mise.toml
Due: actionlint, prettier

chore: Release ensembler version 0.2.8
  Cargo.lock
  Cargo.toml
Due: none

fix: make hk work with `git commit -am`
  Cargo.lock
  mise.toml
  src/cli/install.rs
  src/env.rs
  src/git.rs
  src/step.rs
  src/step_scheduler.rs
  test/git.bats
Due: cargo-fmt, dbg

Update pre_push.bats
  test/pre_push.bats
Due: none

feat: new scheduler
  src/step.rs
  src/step_context.rs
  src/step_queue.rs
  src/step_scheduler.rs
Due: cargo-fmt, dbg

refactor: LinterStep -> Step
  src/config.rs
  src/step.rs
  src/step_job.rs
  src/step_queue.rs
Due: cargo-fmt, dbg

refactor: move hook to hook.rs
  src/config.rs
  src/env.rs
  src/git.rs
  src/hook.rs
  src/main.rs
  src/step_scheduler.rs
Due: cargo-fmt, dbg

fix: hanging on exit
  Cargo.lock
  src/progress.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.11
  Cargo.lock
  Cargo.toml
Due: none

feat: cancellations
  Cargo.lock
  Cargo.toml
  src/cmd.rs
Due: cargo-fmt, dbg

chore: Release ensembler version 0.2.9
  Cargo.lock
  Cargo.toml
Due: none

test: fix example
  examples/run.rs
Due: cargo-fmt, dbg

feat: allow adding files mid-run
  Cargo.lock
  hk.pkl
  pkl/Config.pkl
  pkl/builtins/cargo_check.pkl
  src/file_rw_locks.rs
  src/git.rs
  src/hook.rs
  src/hook_options.rs
  src/main.rs
  src/step.rs
  src/step_context.rs
  src/step_depends.rs
  src/step_group.rs
  src/step_job.rs
  src/step_locks.rs
  src/step_queue.rs
  src/step_response.rs
  src/step_scheduler.rs
Due: pkl-eval, cargo-fmt, dbg

feat: cond
  Cargo.lock
  Cargo.toml
  pkl/Config.pkl
  src/step.rs
  test/condition.bats
  test/depends.bats
Due: pkl-eval, cargo-fmt, dbg

fix: staging new files
  pkl/Config.pkl
  pkl/builtins/prettier.pkl
  src/file_rw_locks.rs
  src/git.rs
  src/hook.rs
  src/step.rs
  src/step_context.rs
  src/step_group.rs
  src/step_job.rs
  test/depends.bats
  test/test.bats
Due: pkl-eval, cargo-fmt, dbg

fix: prevent overflows
  src/progress.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.12
  Cargo.lock
  Cargo.toml
Due: none

fix: bug
  src/progress.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.13
  Cargo.lock
  Cargo.toml
Due: none

feat: show arrow on progress bar
  src/progress_bar.rs
Due: cargo-fmt, dbg

fix: set stage property on builtins
  pkl/Config.pkl
  src/git.rs
  src/hook.rs
  src/step.rs
  test/git.bats
Due: pkl-eval, cargo-fmt, dbg

fix: bug with flush
  src/progress.rs
Due: cargo-fmt, dbg

feat: added builtins command
  build.rs
  src/cli/builtins.rs
  src/cli/mod.rs
  test/builtins.bats
Due: cargo-fmt, dbg

fix patch applying with conflicts
  src/git.rs
  test/patch_apply.bats
Due: cargo-fmt, dbg

feat: add shell config
  docs/configuration.md
  pkl/Config.pkl
  pkl/builtins/newlines.pkl
  src/step.rs
Due: pkl-eval, cargo-fmt, dbg

chore: added semantic-pr-lint
  .github/workflows/semantic-pr-lint.yml
Due: actionlint
