Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

feat: implement systematic merge/precedence logic for settings
  build/generate_settings.rs
  src/settings.rs
  src/settings.rs.backup
Due: cargo-fmt, dbg

pre-commit: finalize restaged paths so HEAD includes Prettier fixes while preserving unstaged hunks
  src/git.rs
  src/hook.rs
Due: cargo-fmt, dbg

fix: replace ad-hoc Default logic with systematic merge
  src/settings.rs
Due: cargo-fmt, dbg

pre-commit: refresh index before selected-path stash detection; ensure step-staged paths finalized
  src/git.rs
Due: cargo-fmt, dbg

pre-commit: capture post-step index before stash apply to preserve Prettier-fixed blobs
  src/hook.rs
Due: cargo-fmt, dbg

stash: skip selected-path stash when no unstaged present; capture index before apply
  src/git.rs
Due: cargo-fmt, dbg

stash: always attempt selected-path stash; rely on patch fallback for partial hunks
  src/git.rs
Due: cargo-fmt, dbg

feat: replace OnceLock with ArcSwap for global settings reload
  Cargo.lock
  Cargo.toml
  src/hook.rs
  src/settings.rs
Due: cargo-fmt, dbg

index-restore: always restore saved entries after stash apply to keep Prettier-fixed blobs in index
  src/git.rs
Due: cargo-fmt, dbg

refactor: unify settings merge paths through single SettingsBuilder
  src/cli/mod.rs
  src/git_cfg.rs
  src/hook.rs
  src/main.rs
  src/settings.rs
Due: cargo-fmt, dbg

git: normalize paths to repo-relative in diff/ls-files detection and stash push
  src/git.rs
Due: cargo-fmt, dbg

stash(patch-file): normalize per-file patch paths to repo-relative before diff/checkout
  src/git.rs
Due: cargo-fmt, dbg

pre-commit: always restore saved index after stash apply to ensure Prettier-fixed blobs are committed
  src/hook.rs
Due: cargo-fmt, dbg

refactor: move build.rs to build/mod.rs and fix all warnings
  Cargo.toml
  build/generate_builtins.rs
  build/generate_settings.rs
  build/mod.rs
  src/env.rs
  src/settings.rs
Due: cargo-fmt, dbg

feat: add 'hk config explain' command to show value sources
  build/generate_settings.rs
  settings-schema.json
  settings.toml
  src/cli/config.rs
  src/settings.rs
Due: cargo-fmt, dbg, prettier

refactor: replace generated settings merge with dynamic SettingsMeta-driven approach
  build/generate_settings.rs
  src/settings.rs
Due: cargo-fmt, dbg

wip
  build/generate_builtins.rs
  build/generate_settings.rs
  docs/configuration.md
  settings-schema.json
  src/cli/config.rs
  src/cli/mod.rs
  src/config.rs
  src/config/generated.rs
  src/config/test_generated_merge.rs
  src/env.rs
  src/hook.rs
  src/settings.rs
  src/step_group.rs
Due: cargo-fmt, dbg, prettier

config: use SettingsMeta in CLI, fix jobs in explain; unify precedence order (defaults<project<user rc<git local<git global<env<cli)); update docs and usage; align ConfigSources output
  build/generate_settings.rs
  docs/cli/commands.json
  docs/cli/config.md
  docs/configuration.md
  hk.usage.kdl
  src/cli/config.rs
  src/settings.rs
Due: cargo-fmt, dbg, prettier

build(codegen): use codegen crate for merge/meta generation (Enums/Structs/Function); clippy clean
  build/generate_settings.rs
  hk.pkl
Due: pkl-eval, cargo-fmt, dbg

chore: fmt; include enabled/disabled_profiles in config dump/get/explain; fix settings.toml schema arrays; install actionlint locally
  build/generate_builtins.rs
  build/generate_settings.rs
  settings.toml
  src/cli/config.rs
  src/settings.rs
Due: cargo-fmt, dbg

build: remove dynamic settings-schema.json generation; keep static schema
  build/generate_settings.rs
Due: cargo-fmt, dbg

chore(schema): simplify static settings-schema.json (patternProperties, minimal required fields)
  settings-schema.json
Due: prettier

config: propagate hide_warnings/display_skip_reasons/warnings from .hkrc.pkl into Settings pkl map; fix hide_warnings test
  src/config.rs
Due: cargo-fmt, dbg

docs: Settings Reference metadata (type/default/sources); move Git/User/Introspection under Settings Reference; add precedence table
  build/generate_settings.rs
  docs/configuration.md
  settings.toml
Due: cargo-fmt, dbg

fix: resolve config_union_semantics test failures in CI
  test/config_union_semantics.bats
Due: none

test: only set git user config in tests if not already configured
  test/test_helper/common_setup.bash
Due: none

fix: ensure CLI --no-fail-fast flag properly overrides config at step level
  src/hook.rs
  src/step_group.rs
Due: cargo-fmt, dbg

Extract Pkl error handling into separate method
  src/config.rs
  test/pkl_config_errors.bats
Due: cargo-fmt, dbg

lint
  build/generate_settings.rs
Due: cargo-fmt, dbg

wip
  src/git.rs
Due: cargo-fmt, dbg

lint
  mise.lock
  mise.toml
Due: none

fix: ensure configuration.md always ends with exactly one newline
  build/generate_settings.rs
  docs/configuration.md
Due: cargo-fmt, dbg

style: cargo fmt; normalize git path handling; fix xx archive tests
  src/git.rs
Due: cargo-fmt, dbg

feat: centralized settings registry with codegen (#284)
  .gitignore
  .taplo.toml
  Cargo.lock
  Cargo.toml
  build.rs
  build/generate_builtins.rs
  build/generate_settings.rs
  build/mod.rs
  docs/cli/commands.json
  docs/cli/config.md
  docs/configuration.md
  hk.pkl
  hk.usage.kdl
  mise.lock
  mise.toml
  settings-schema.json
  settings.toml
  src/cli/config.rs
  src/cli/mod.rs
  src/cli/test.rs
  src/config.rs
  src/env.rs
  src/git_cfg.rs
  src/hook.rs
  src/main.rs
  src/settings.rs
  src/step.rs
  src/step_group.rs
  src/tests/config_unification.rs
  test/config_union_semantics.bats
  test/test_helper/common_setup.bash
Due: pkl-eval, cargo-fmt, dbg, prettier

chore: release v1.14.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/config.md
  docs/cli/config/explain.md
  docs/cli/config/show.md
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

pre-commit: relax selected-path unstaged detection; always attempt stash; normalize pathspecs; fix xx tests; merge main
  src/git.rs
Due: cargo-fmt, dbg

pre-commit: re-stage files after index restore; surface failing step output
  src/git.rs
  src/hook.rs
  src/step.rs
Due: cargo-fmt, dbg

chore: release v1.14.0 (#282)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/config.md
  docs/cli/config/explain.md
  docs/cli/config/show.md
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
