Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

chore: release v1.22.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  docs/reference/schema.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

fix(cli): check help description
  docs/cli/check.md
  docs/cli/commands.json
  hk.usage.kdl
  src/cli/check.rs
Due: cargo-fmt, dbg, prettier

chore: release v1.22.0 (#432)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  docs/reference/schema.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

feat(vacuum): new builtin
  docs/builtins.md
  pkl/Builtins.pkl
  pkl/builtins/vacuum.pkl
Due: pkl-eval

fix(cli): check help description (#439)
  docs/cli/check.md
  docs/cli/commands.json
  hk.usage.kdl
  src/cli/check.rs
Due: cargo-fmt, dbg, prettier

feat(vacuum): new builtin (#414)
  docs/builtins.md
  pkl/Builtins.pkl
  pkl/builtins/vacuum.pkl
Due: pkl-eval

remove this
  docs/configuration.md
Due: none

put this back
  docs/configuration.md
Due: none

delete the schema docs
  docs/reference/schema.md
Due: none

dead pointers
  docs/builtins.md
  docs/glossary.md
Due: none

edit the settings toml
  settings.toml
Due: none

better default
  settings.toml
Due: none

feat: add --stats flag to show file counts per step
  src/hook.rs
  src/hook_options.rs
  src/step.rs
Due: cargo-fmt, dbg

fix: alphabetically sort --stats flag in HookOptions
  src/hook_options.rs
Due: cargo-fmt, dbg

docs: update CLI documentation for --stats flag
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
Due: prettier

fix: make stats respect skip configuration and run commands
  src/hook.rs
Due: cargo-fmt, dbg

feat: add --stats flag to show file counts per step (#446)
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/hook.rs
  src/hook_options.rs
  src/step.rs
Due: cargo-fmt, dbg, prettier

backticks
  docs/configuration.md
Due: none

ok no default
  docs/configuration.md
  settings.toml
Due: none

remove schema check
  scripts/check-docs-sync.sh
Due: none

more removals
  scripts/check-docs-sync.sh
Due: none

docs: re-Remove "auto" stash value (#444)
  docs/configuration.md
  settings.toml
Due: none

del from sidebar
  docs/.vitepress/config.mts
Due: none

docs: Delete `schema.md` (#445)
  docs/.vitepress/config.mts
  docs/builtins.md
  docs/glossary.md
  docs/reference/schema.md
  scripts/check-docs-sync.sh
Due: none

add output file
  pkl/Config.pkl
Due: pkl-eval

rm newline
  pkl/Config.pkl
Due: pkl-eval

plumb stage
  build/generate_settings.rs
  docs/configuration.md
  pkl/Config.pkl
  pkl/UserConfig.pkl
  settings.toml
  src/cli/config.rs
  src/config.rs
  src/hook.rs
  src/hook_options.rs
  src/step.rs
  test/stage_setting.bats
Due: pkl-eval, cargo-fmt, dbg

this doesnt belong
  pkl/Config.pkl
Due: pkl-eval

nice little clenaup
  src/hook.rs
  src/hook_options.rs
Due: cargo-fmt, dbg

feat: Plumb `stage` through CLI and PKL (#442)
  build/generate_settings.rs
  docs/configuration.md
  pkl/Config.pkl
  pkl/UserConfig.pkl
  settings.toml
  src/cli/config.rs
  src/config.rs
  src/hook.rs
  src/hook_options.rs
  src/step.rs
  test/stage_setting.bats
Due: pkl-eval, cargo-fmt, dbg

feat: hook stage
  docs/configuration.md
  pkl/Config.pkl
  settings.toml
  src/hook.rs
  test/stage_setting.bats
Due: pkl-eval, cargo-fmt, dbg

docs: fix --fix description
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/hook_options.rs
Due: cargo-fmt, dbg, prettier

docs(stash): rephrase uncommitted -> unstaged
  docs/configuration.md
  docs/glossary.md
  settings.toml
Due: none

docs(stash): rephrase uncommitted -> unstaged (#451)
  docs/configuration.md
  docs/glossary.md
  settings.toml
Due: none

docs: fix --fix description (#450)
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/hook_options.rs
Due: cargo-fmt, dbg, prettier

chore: release v1.23.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/config/get.md
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

chore: release v1.23.0 (#443)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/config/get.md
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

doc: Fix from_ref docstring
  src/hook_options.rs
Due: cargo-fmt, dbg

Make hk work for stdin and in-hook tests
  src/test_runner.rs
  test/stdin.bats
Due: cargo-fmt, dbg

clippy
  src/test_runner.rs
Due: cargo-fmt, dbg
