Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

docs: publish llms.txt index
  docs/.vitepress/config.mts
  docs/.vitepress/llms.ts
  docs/.vitepress/sidebar.ts
  docs/package.json
  docs/public/llms.txt
  mise-tasks/render/llms
Due: prettier

fix(docs): preserve CLI placeholders in llms index
  docs/.vitepress/llms.ts
  docs/.vitepress/sidebar.ts
  docs/public/llms.txt
Due: prettier

docs: publish llms.txt index (#1272)
  docs/.vitepress/config.mts
  docs/.vitepress/llms.ts
  docs/.vitepress/sidebar.ts
  docs/package.json
  docs/public/llms.txt
  mise-tasks/render/llms
Due: prettier

chore(deps): bump usage to 6.4.1
  Cargo.lock
  mise-tasks/build-usage
Due: none

Notes added by 'git notes add'
  87d31e2938e15a0c6d2eec4bd443306dab5ca560
Due: none

chore(deps): bump tak and mbx
  mise.lock
  mise.toml
Due: none

ci: compare mbx with rust-cache on Linux
  .github/workflows/cache-benchmark.yml
Due: actionlint

ci: bump mbx action
  .github/actions/mbx/action.yml
Due: none

chore(deps): bump usage to 6.4.1 (#1273)
  Cargo.lock
  mise-tasks/build-usage
Due: none

ci: benchmark mbx against rust-cache on Linux (#1275)
  .github/workflows/cache-benchmark.yml
Due: actionlint

chore: remove pinned rust toolchain (#1235)
  rust-toolchain.toml
Due: none

Notes added by 'git notes add'
  a48e18710071c05ae4fa9fe51e62a10ecb7dea7e
Due: none

Notes added by 'git notes add'
  e33763ece70f336dc351ecbfe3dc2b39f651eb96
Due: none

chore(deps): bump tak and mbx (#1274)
  .github/actions/mbx/action.yml
  mise.lock
  mise.toml
Due: none

Notes added by 'git notes add'
  353df3e836dca4b960a33546b518cc1671a6edb5
Due: none

chore(deps): remove rust toolchain pins
  .github/workflows/cache-benchmark.yml
  rust-toolchain.toml
Due: actionlint

chore(deps): remove rust toolchain pins (#1276)
  .github/workflows/cache-benchmark.yml
Due: actionlint

Notes added by 'git notes add'
  1b4835e399f24cf728f71061d881af9f9f9ab102
Due: none

chore(ci): adopt mbx 0.5.3
  .github/actions/mbx/action.yml
Due: none

chore(ci): lock mbx 0.5.3
  mise.lock
Due: none

chore(ci): bump mbx to 0.5.4
  .github/actions/mbx/action.yml
  mise.lock
Due: none

chore(ci): adopt mbx 0.5.4 (#1279)
  .github/actions/mbx/action.yml
  mise.lock
Due: none

chore(ci): pin mr-boxington-action v1.0.1
  .github/actions/mbx/action.yml
Due: none

chore(ci): pin mr-boxington-action v1.0.1 (#1280)
  .github/actions/mbx/action.yml
Due: none

Notes added by 'git notes add'
  d3f4aacca09c961c8463f3d1f6084554f7f5894f
Due: none

Notes added by 'git notes add'
  27bb615768b85c9ac88e2abf8895219b44462871
Due: none

chore(ci): bump mr-boxington action
  .github/actions/mbx/action.yml
Due: none

chore(ci): expose native link cache control
  .github/actions/mbx/action.yml
Due: none

fix(stash): skip empty pathspec stashes
  src/git.rs
  test/stash_empty_pathspec.bats
Due: cargo-fmt, dbg

chore(ci): update mr-boxington action pin
  .github/actions/mbx/action.yml
Due: none

fix(stash): guard empty patches with untracked files
  src/git.rs
  test/stash_empty_pathspec.bats
Due: cargo-fmt, dbg

ci: allow cold cache jobs to finish
  .github/workflows/ci-impl.yml
Due: actionlint

fix(stash): skip empty pathspec stashes (#1283)
  src/git.rs
  test/stash_empty_pathspec.bats
Due: cargo-fmt, dbg

chore(ci): update mbx to 0.6.0
  .github/actions/mbx/action.yml
  mise.lock
Due: none

chore(ci): use default Rust for cache benchmark
  .github/workflows/cache-benchmark.yml
Due: actionlint

Notes added by 'git notes add'
  fc29ead1456ba7c1f62826c284126410a4014b00
Due: none

chore(ci): use default Rust for cache benchmark (#1284)
  .github/workflows/cache-benchmark.yml
Due: actionlint

chore(ci): bump mr-boxington action (#1282)
  .github/actions/mbx/action.yml
  .github/workflows/ci-impl.yml
  mise.lock
Due: actionlint

chore(ci): use server cache for dispatched benchmarks
  .github/workflows/cache-benchmark.yml
Due: actionlint

chore(ci): grant benchmark OIDC access
  .github/workflows/cache-benchmark.yml
Due: actionlint

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
