Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

feat: add interactive field to JSON timing report
  src/timings.rs
  test/timing_json.bats
Due: cargo-fmt, dbg

feat: add interactive field to JSON timing report (#143)
  src/timings.rs
  test/timing_json.bats
Due: cargo-fmt, dbg

feat: added report property to hooks
  docs/configuration.md
  docs/environment_variables.md
  pkl/Config.pkl
  src/hook.rs
  src/timings.rs
  test/timing_json.bats
Due: pkl-eval, cargo-fmt, dbg

wip
  src/hook.rs
  src/step.rs
  src/timings.rs
  test/dir.bats
Due: cargo-fmt, dbg

wip
  src/hook.rs
  src/step_group.rs
  src/timings.rs
Due: cargo-fmt, dbg

feat: added report property to hooks (#145)
  docs/configuration.md
  docs/environment_variables.md
  pkl/Config.pkl
  src/hook.rs
  src/step.rs
  src/step_group.rs
  src/timings.rs
  test/dir.bats
  test/timing_json.bats
Due: pkl-eval, cargo-fmt, dbg

feat: display skipped steps
  src/hook.rs
  src/step.rs
Due: cargo-fmt, dbg

wip
  mise.toml
  src/hook.rs
  src/step.rs
  test/fix_from_ref_to_ref.bats
  test/init_creates_hk_pkl.bats
  test/install_creates_git_hooks.bats
  test/run_pre_commit_all.bats
  test/skip_hook.bats
  test/skip_output.bats
  test/skip_steps.bats
  test/version.bats
Due: cargo-fmt, dbg

wip
  .github/workflows/ci.yml
  CONTRIBUTING.md
  mise.toml
  src/step.rs
  test/skip_missing_run_cmd.bats
Due: actionlint, cargo-fmt, dbg

wip
  mise.toml
Due: none

wip
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  mise.lock
  src/hook.rs
  src/hook_options.rs
  src/step.rs
  src/step_context.rs
  src/step_group.rs
  test/skip_step_flag.bats
Due: cargo-fmt, dbg, prettier

wip
  src/hook.rs
  src/step.rs
  src/step_group.rs
  src/step_job.rs
  test/depends_condition_false.bats
Due: cargo-fmt, dbg

chore: update cargo deps
  Cargo.lock
  Cargo.toml
Due: none

chore: update cargo deps (#148)
  Cargo.lock
  Cargo.toml
Due: none

chore: mise bump
  mise.lock
  test/dir.bats
Due: none

ci(mise): restructure tasks, add dev alias, and parallelize bats tests
  CONTRIBUTING.md
  mise.toml
Due: none

wip
  test/exclude.bats
Due: none

wip
  .github/workflows/ci.yml
Due: actionlint

wip
  test/dir.bats
  test/exclude.bats
Due: none

wip
  test/arg_escape.bats
Due: none

wip
  test/pre_push.bats
Due: none

chore: mise bump (#147)
  .github/workflows/ci.yml
  mise.lock
  test/arg_escape.bats
  test/dir.bats
  test/exclude.bats
  test/pre_push.bats
Due: actionlint

ci(mise): restructure tasks, add dev alias, and parallelize bats tests (#150)
  CONTRIBUTING.md
  mise.toml
Due: none

wip
  src/hook.rs
  src/step.rs
  src/step_context.rs
Due: cargo-fmt, dbg

wip
  src/hook.rs
  src/step.rs
Due: cargo-fmt, dbg

wip
  src/hook.rs
Due: cargo-fmt, dbg

feat: display message when steps are skipped (#146)
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/hook.rs
  src/hook_options.rs
  src/step.rs
  src/step_context.rs
  src/step_group.rs
  src/step_job.rs
  test/depends_condition_false.bats
  test/fix_from_ref_to_ref.bats
  test/init_creates_hk_pkl.bats
  test/install_creates_git_hooks.bats
  test/run_pre_commit_all.bats
  test/skip_hook.bats
  test/skip_missing_run_cmd.bats
  test/skip_output.bats
  test/skip_step_flag.bats
  test/skip_steps.bats
  test/version.bats
Due: cargo-fmt, dbg, prettier

chore: mise.lock
  mise.lock
Due: none

chore: release v1.6.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

feat: add configurable skip message visibility
  pkl/Config.pkl
  src/config.rs
  src/hook.rs
  src/settings.rs
  src/step.rs
  test/skip_reasons_config.bats
Due: pkl-eval, cargo-fmt, dbg

refactor: use list instead of map for skipReasons configuration
  pkl/Config.pkl
  src/config.rs
  src/hook.rs
  src/settings.rs
  test/skip_reasons_config.bats
Due: pkl-eval, cargo-fmt, dbg

style: use kebab-case for skip reason identifiers
  pkl/Config.pkl
  src/hook.rs
  src/settings.rs
  test/skip_reasons_config.bats
Due: pkl-eval, cargo-fmt, dbg

fix: make all skip messages configurable including no-files-to-process and condition-false
  pkl/Config.pkl
  src/hook.rs
  src/settings.rs
  src/step.rs
  test/skip_reasons_config.bats
Due: pkl-eval, cargo-fmt, dbg

refactor: rename skipReasons to display_skip_reasons with snake_case
  pkl/Config.pkl
  src/config.rs
  src/hook.rs
  src/settings.rs
  test/skip_reasons_config.bats
Due: pkl-eval, cargo-fmt, dbg

refactor: simplify skip handling by passing SkipReason directly to mark_skipped
  src/step.rs
  src/step_job.rs
Due: cargo-fmt, dbg

feat: add profile skip summary and reduce default skip messages
  pkl/Config.pkl
  src/hook.rs
  src/settings.rs
  src/step.rs
  test/depends_condition_false.bats
  test/profile_skip_summary.bats
  test/skip_output.bats
Due: pkl-eval, cargo-fmt, dbg

refactor: track all skip reasons for better extensibility
  src/hook.rs
  src/step.rs
Due: cargo-fmt, dbg
