Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

Revert "pre-commit: relax selected-path unstaged detection; always attempt stash; normalize pathspecs; fix xx tests; merge main"
  src/git.rs
Due: cargo-fmt, dbg

Revert "pre-commit: re-stage files after index restore; surface failing step output"
  src/git.rs
  src/hook.rs
  src/step.rs
Due: cargo-fmt, dbg

chore: reset git.rs and hook.rs to origin/main
  src/git.rs
  src/hook.rs
Due: cargo-fmt, dbg

feat(git): scaffold manual-unstash types and helpers (no behavior change)
  src/git.rs
Due: cargo-fmt, dbg

feat(git): manual unstash restore flow (read stash, restore worktree, restage fixer, drop stash); scaffolding helpers remain unused for now
  src/git.rs
Due: cargo-fmt, dbg

merge: implement hunk-based manual unstash; extract merge.rs; richer logging; adjust prettier restaging tests; remove dead code; fmt+clippy clean
  src/git.rs
  src/hook.rs
  src/main.rs
  src/merge.rs
  test/pre_commit_prettier_restaging.bats
Due: cargo-fmt, dbg

tests: use bats-assert assert_line/assert_output in prettier and partial-staged tests
  test/pre_commit_partial_staged.bats
  test/pre_commit_prettier_restaging.bats
Due: none

logging: add debug around exclude filtering; rustfmt
  src/hook.rs
Due: cargo-fmt, dbg

feat(docs): add custom VitePress theme with unique branding
  docs/.vitepress/theme/HomePage.vue
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
  docs/index.md
Due: prettier

fix: add missing trailing newlines to VitePress theme files
  docs/.vitepress/theme/HomePage.vue
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/index.ts
Due: prettier

feat(docs): add custom VitePress theme with unique branding (#287)
  docs/.vitepress/theme/HomePage.vue
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
  docs/index.md
Due: prettier

chore: release v1.15.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

git: manual-unstash merge base: use stash@{0}^1 (HEAD at stash time); drop fallback to current HEAD
  src/git.rs
  src/hook.rs
Due: cargo-fmt, dbg

merge: fix hunk advancement to avoid duplicating overlapping regions
  src/merge.rs
Due: cargo-fmt, dbg

unstash: treat no-unstaged-change paths as fixer in worktree; keep index fixer
  src/git.rs
Due: cargo-fmt, dbg

fix: handle fixes and unstaged hunks in the same file (#283)
  src/git.rs
  src/hook.rs
  src/main.rs
  src/merge.rs
  test/pre_commit_partial_staged.bats
  test/pre_commit_prettier_restaging.bats
Due: cargo-fmt, dbg

chore: release v1.15.0 (#286)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix: Skip any hunks that begin before the current position to avoid partial re-application
  src/merge.rs
Due: cargo-fmt, dbg

chore: release v1.15.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.15.1 (#292)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix: prettier bugs
  test/pre_commit_does_not_stash_staged_only_files.bats
  test/pre_commit_preserves_eof_newline.bats
  test/pre_commit_prettier_commits_fixer_changes.bats
Due: none

git: preserve EOF newline state during manual unstash; snapshot worktree pre-stash; re-stage from saved index
  src/git.rs
Due: cargo-fmt, dbg

tests: export HK_SUMMARY_TEXT in setup; remove ineffective per-run check
  test/pre_commit_does_not_stash_staged_only_files.bats
Due: none

git: skip stash when subset has no unstaged hunks; tests: fix HK_SUMMARY_TEXT scope and status assertion
  src/git.rs
  test/pre_commit_does_not_stash_staged_only_files.bats
Due: cargo-fmt, dbg

wip
  src/git.rs
Due: cargo-fmt, dbg

docs: remove references to alternative config formats
  CLAUDE.md
  docs/environment_variables.md
Due: none

chore: release v1.15.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

tests(prettier): relax quote expectations; restore default prettier flags
  src/git.rs
  src/merge.rs
  test/pre_commit_prettier_commits_fixer_changes.bats
Due: cargo-fmt, dbg

style: rustfmt
  src/git.rs
Due: cargo-fmt, dbg

fix: prettier bugs; stash/unstash robustness; preserve EOF newline (#293)
  src/git.rs
  src/merge.rs
  test/pre_commit_does_not_stash_staged_only_files.bats
  test/pre_commit_preserves_eof_newline.bats
  test/pre_commit_prettier_commits_fixer_changes.bats
Due: cargo-fmt, dbg

chore: release v1.15.2 (#294)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix: prevent duplicate _type fields in JSON cache for groups (#296)
  src/step.rs
  src/step_group.rs
  test/fix_duplicate_type_field.bats
Due: cargo-fmt, dbg

feat: enable persistent caching for bats tests
  test/cache_behavior.bats
  test/test_helper/cache_setup.bash
  test/test_helper/common_setup.bash
Due: none

feat: add environment variable controls for test caching
  test/README.md
  test/cache_env_vars.bats
  test/test_helper/cache_setup.bash
Due: none

fix: enable caching in debug builds for tests
  src/cache.rs
  test/README.md
  test/cache_behavior.bats
  test/test_helper/cache_setup.bash
Due: cargo-fmt, dbg

refactor: simplify cache control to use single HK_CACHE env var
  src/cache.rs
  src/env.rs
  test/README.md
  test/cache_behavior.bats
  test/cache_env_vars.bats
  test/test_helper/cache_setup.bash
  test/test_helper/common_setup.bash
Due: cargo-fmt, dbg

fix: prevent duplicate _type fields in JSON cache for groups (#296) (#297)
  src/cache.rs
  src/env.rs
  src/step.rs
  src/step_group.rs
  test/README.md
  test/cache_behavior.bats
  test/fix_duplicate_type_field.bats
  test/test_helper/cache_setup.bash
  test/test_helper/common_setup.bash
Due: cargo-fmt, dbg
