Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

feat(builtins): add sherif linter
  pkl/builtins/sherif.pkl
  test/builtin_tool_stubs/sherif
Due: pkl-eval

feat(builtins): add sherif linter (#1062)
  pkl/builtins/sherif.pkl
  test/builtin_tool_stubs/sherif
Due: pkl-eval

test(stash): cover index lock modes
  test/stash_index_lock_retry.bats
Due: none

fix(stash): wait for transient index locks (#1060)
  src/git.rs
  test/stash_index_lock_retry.bats
Due: cargo-fmt, dbg

fix(install): avoid duplicating config hook arguments
  src/cli/install.rs
  test/install_global.bats
  test/pre_push.bats
Due: cargo-fmt, dbg

fix(install): avoid duplicating config hook arguments (#1065)
  src/cli/install.rs
  test/install_global.bats
  test/pre_push.bats
Due: cargo-fmt, dbg

fix(step): respect linux argument size limit
  src/step/batching.rs
  src/step/execution.rs
  test/auto_batch_large_files.bats
Due: cargo-fmt, dbg

Checkpoint: 3b182dc85f88
  3b/182dc85f88/0/content_hash.txt
  3b/182dc85f88/0/full.jsonl
  3b/182dc85f88/0/metadata.json
  3b/182dc85f88/0/prompt.txt
  3b/182dc85f88/metadata.json
Due: prettier

Finalize transcript for Checkpoint: 3b182dc85f88
  3b/182dc85f88/0/content_hash.txt
  3b/182dc85f88/0/full.jsonl
  3b/182dc85f88/0/prompt.txt
Due: none

fix(step): validate single-file command size
  src/step/batching.rs
  test/auto_batch_large_files.bats
Due: cargo-fmt, dbg

Checkpoint: c11a6c023896
  c1/1a6c023896/0/content_hash.txt
  c1/1a6c023896/0/full.jsonl
  c1/1a6c023896/0/metadata.json
  c1/1a6c023896/0/prompt.txt
  c1/1a6c023896/metadata.json
Due: prettier

Finalize transcript for Checkpoint: c11a6c023896
  c1/1a6c023896/0/content_hash.txt
  c1/1a6c023896/0/full.jsonl
  c1/1a6c023896/0/prompt.txt
Due: none

fix(step): respect linux argument size limit (#1066)
  src/step/batching.rs
  src/step/execution.rs
  test/auto_batch_large_files.bats
Due: cargo-fmt, dbg

feat(step): add structured argv commands
  pkl/Config.pkl
  src/step/batching.rs
  src/step/mod.rs
  src/step/output.rs
  src/step/runner.rs
  src/step/types.rs
  src/tera.rs
  src/test_runner.rs
  test/structured_argv.bats
Due: pkl-eval, cargo-fmt, dbg

Checkpoint: 873669986124
  87/3669986124/0/content_hash.txt
  87/3669986124/0/full.jsonl
  87/3669986124/0/metadata.json
  87/3669986124/0/prompt.txt
  87/3669986124/metadata.json
Due: prettier

Finalize transcript for Checkpoint: 873669986124
  87/3669986124/0/content_hash.txt
  87/3669986124/0/full.jsonl
  87/3669986124/0/prompt.txt
Due: none

docs: document structured argv commands
  docs/configuration.md
Due: none

Checkpoint: 6fb965782017
  6f/b965782017/0/content_hash.txt
  6f/b965782017/0/full.jsonl
  6f/b965782017/0/metadata.json
  6f/b965782017/0/prompt.txt
  6f/b965782017/metadata.json
Due: prettier

Finalize transcript for Checkpoint: 6fb965782017
  6f/b965782017/0/content_hash.txt
  6f/b965782017/0/full.jsonl
  6f/b965782017/0/prompt.txt
Due: none

fix(step): validate structured argv arguments
  src/step/batching.rs
  src/step/types.rs
Due: cargo-fmt, dbg

refactor(builtins): use structured argv for file tools
  pkl/builtins/actionlint.pkl
  pkl/builtins/biome.pkl
  pkl/builtins/prettier.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/rustfmt.pkl
  pkl/builtins/shellcheck.pkl
Due: pkl-eval

Checkpoint: c11e2d60fb3d
  c1/1e2d60fb3d/0/content_hash.txt
  c1/1e2d60fb3d/0/full.jsonl
  c1/1e2d60fb3d/0/metadata.json
  c1/1e2d60fb3d/0/prompt.txt
  c1/1e2d60fb3d/metadata.json
Due: prettier

Checkpoint: b1fbbbbb557a
  b1/fbbbbb557a/0/content_hash.txt
  b1/fbbbbb557a/0/full.jsonl
  b1/fbbbbb557a/0/metadata.json
  b1/fbbbbb557a/0/prompt.txt
  b1/fbbbbb557a/metadata.json
Due: prettier

fix(step): treat blank argv executables as empty
  src/step/types.rs
Due: cargo-fmt, dbg

Checkpoint: 5b1a240e38c1
  5b/1a240e38c1/0/content_hash.txt
  5b/1a240e38c1/0/full.jsonl
  5b/1a240e38c1/0/metadata.json
  5b/1a240e38c1/0/prompt.txt
  5b/1a240e38c1/metadata.json
Due: prettier

feat(step): add structured argv commands (#1067)
  docs/configuration.md
  pkl/Config.pkl
  pkl/builtins/actionlint.pkl
  pkl/builtins/biome.pkl
  pkl/builtins/prettier.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/rustfmt.pkl
  pkl/builtins/shellcheck.pkl
  src/step/batching.rs
  src/step/mod.rs
  src/step/output.rs
  src/step/runner.rs
  src/step/types.rs
  src/tera.rs
  src/test_runner.rs
  test/structured_argv.bats
Due: pkl-eval, cargo-fmt, dbg

Finalize transcript for Checkpoint: 5b1a240e38c1
  5b/1a240e38c1/0/content_hash.txt
  5b/1a240e38c1/0/full.jsonl
Due: none

Checkpoint: 2ad768bbbb7b
  2a/d768bbbb7b/0/content_hash.txt
  2a/d768bbbb7b/0/full.jsonl
  2a/d768bbbb7b/0/metadata.json
  2a/d768bbbb7b/0/prompt.txt
  2a/d768bbbb7b/metadata.json
Due: prettier

test(step): make check list failure test deterministic
  test/check_list_files_empty_with_stderr.bats
Due: none

Finalize transcript for Checkpoint: 2ad768bbbb7b
  2a/d768bbbb7b/0/content_hash.txt
  2a/d768bbbb7b/0/full.jsonl
  2a/d768bbbb7b/0/prompt.txt
Due: none

test(step): make check list failure test deterministic (#1068)
  test/check_list_files_empty_with_stderr.bats
Due: none

chore: release v1.51.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

docs(config): document min_hk_version property
  Cargo.toml
  bin/generate_docs.rs
  pkl/Config.pkl
Due: pkl-eval, cargo-fmt, dbg

fix(config): correct swapped versions in min_hk_version error message
  src/version.rs
Due: cargo-fmt, dbg

chore: release v1.51.0 (#1047)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

fix(conventional-commit): reject empty and malformed scopes
  src/cli/util/check_conventional_commit.rs
Due: cargo-fmt, dbg

docs(config): document min_hk_version property (#1069)
  Cargo.toml
  bin/generate_docs.rs
  pkl/Config.pkl
Due: pkl-eval, cargo-fmt, dbg

fix(conventional-commit): reject empty and malformed scopes (#1071)
  src/cli/util/check_conventional_commit.rs
Due: cargo-fmt, dbg

fix(config): correct swapped versions in min_hk_version error message (#1070)
  src/version.rs
Due: cargo-fmt, dbg
