Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

feat(oxfmt): add oxfmt config to hk builtin config
  pkl/builtins/oxfmt.pkl
  test/builtin_tool_stubs/oxfmt
Due: pkl-eval

feat(builtins): add contextlint config to hk builtin config
  pkl/builtins/contextlint.pkl
  test/builtin_tool_stubs/contextlint
Due: pkl-eval

docs(builtins): use "Adapted from:" instead of "Adapted on:" in contextlint
  pkl/builtins/contextlint.pkl
Due: pkl-eval

feat(mdschema): add mdschema config to hk builtin config
  pkl/builtins/mdschema.pkl
  test/builtin_tool_stubs/mdschema
Due: pkl-eval

feat(betterleaks): add betterleaks config to hk builtin config
  pkl/builtins/betterleaks.pkl
  test/builtin_tool_stubs/betterleaks
Due: pkl-eval

feat(gitleaks): add gitleaks config to hk builtin config
  pkl/builtins/gitleaks.pkl
  test/builtin_tool_stubs/gitleaks
Due: pkl-eval

fix(step): apply batch splitting within workspace jobs
  src/step/job_builder.rs
Due: cargo-fmt, dbg

test(step): add test for workspace_indicator with batch=true
  test/workspace_indicator.bats
Due: none

feat(contextlint): add contextlint config to hk builtin config (#747)
  pkl/builtins/contextlint.pkl
  test/builtin_tool_stubs/contextlint
Due: pkl-eval

fix(step): compute batch chunk size from total files, not per-workspace
  src/step/job_builder.rs
Due: cargo-fmt, dbg

fix(util): strip carriage returns in trailing-whitespace --fix
  src/cli/util/trailing_whitespace.rs
Due: cargo-fmt, dbg

refactor(util): extract strip_trailing_whitespace helper
  src/cli/util/trailing_whitespace.rs
Due: cargo-fmt, dbg

fix(util): strip carriage returns in trailing-whitespace --fix (#758)
  src/cli/util/trailing_whitespace.rs
Due: cargo-fmt, dbg

fix(step): fix test to properly verify workspace batching
  test/workspace_indicator.bats
Due: none

fix(step): fix vacuous refute_output missing ws1/ prefix
  test/workspace_indicator.bats
Due: none

fix(stash): preserve binary files during stash/unstash cycle
  src/git.rs
  test/stash_binary_files.bats
Due: cargo-fmt, dbg

feat(config): support HK_PKL_CA_CERTIFICATES env var for corporate proxies
  src/config.rs
  src/env.rs
Due: cargo-fmt, dbg

fix(builtins): make nixfmt no-op on Windows (#741)
  pkl/builtins/nix_fmt.pkl
  src/step/output.rs
  src/step/runner.rs
  src/step/types.rs
  src/test_runner.rs
Due: pkl-eval, cargo-fmt, dbg

fix(hook): resolve commit message file path in git worktrees
  src/cli/run/commit_msg.rs
  src/cli/run/prepare_commit_msg.rs
  src/git_util.rs
Due: cargo-fmt, dbg

test(hook): add bats test for commit-msg in worktrees
  test/commit_msg.bats
Due: none

fix(step): apply batch splitting within workspace jobs (#757)
  src/step/job_builder.rs
  test/workspace_indicator.bats
Due: cargo-fmt, dbg

fix(hook): resolve commit message file path in git worktrees (#761)
  src/cli/run/commit_msg.rs
  src/cli/run/prepare_commit_msg.rs
  src/config.rs
  src/env.rs
  src/git_util.rs
  test/commit_msg.bats
Due: cargo-fmt, dbg

docs(config): add HK_PKL_CA_CERTIFICATES to settings.toml
  settings.toml
Due: none

refactor(config): skip env_only settings in code generation
  build/generate_settings.rs
Due: cargo-fmt, dbg

refactor(config): use var_path for HK_PKL_CA_CERTIFICATES and add env_only metadata
  build/settings_toml.rs
  settings-schema.json
  settings.toml
  src/config.rs
  src/env.rs
Due: cargo-fmt, dbg, prettier

fix(stash): preserve binary files during stash/unstash cycle (#759)
  src/git.rs
  test/stash_binary_files.bats
Due: cargo-fmt, dbg

feat(config): support HK_PKL_CA_CERTIFICATES env var for corporate proxies (#760)
  build/generate_settings.rs
  build/settings_toml.rs
  settings-schema.json
  settings.toml
  src/config.rs
  src/env.rs
Due: cargo-fmt, dbg, prettier

feat(just_format): init (#729)
  pkl/builtins/just_format.pkl
Due: pkl-eval

chore: release v1.39.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

chore: release v1.39.0 (#728)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

feat(builtins): add check_diff and tests for prettier
  pkl/builtins/prettier.pkl
Due: pkl-eval

add configs
  scripts/generate-examples.sh
  scripts/task_1.sh
Due: none

docs: add benchmarks page, why-hk comparisons, and reproducible benchmark suite
  benchmark/generate-project.sh
  benchmark/parallel/.pre-commit-config.yaml
  benchmark/parallel/hk.pkl
  benchmark/parallel/lefthook.yml
  benchmark/results/all-files.json
  benchmark/results/file-count.txt
  benchmark/results/no-changes.json
  benchmark/results/staged-changes.json
  benchmark/results/staged-count.txt
  benchmark/run.sh
  docs/.vitepress/config.mts
  docs/benchmarks.md
  docs/public/benchmark-data.json
  docs/public/benchmark.png
  docs/why-hk.md
  scripts/generate-examples.sh
Due: pkl-eval, prettier

docs: add benchmarks page and reproducible benchmark suite (#766)
  benchmark/generate-project.sh
  benchmark/parallel/.pre-commit-config.yaml
  benchmark/parallel/hk.pkl
  benchmark/parallel/lefthook.yml
  benchmark/results/all-files.json
  benchmark/results/file-count.txt
  benchmark/results/no-changes.json
  benchmark/results/staged-changes.json
  benchmark/results/staged-count.txt
  benchmark/run.sh
  docs/.vitepress/config.mts
  docs/benchmarks.md
  docs/public/benchmark-data.json
  docs/public/benchmark.png
  docs/why-hk.md
  scripts/task_1.sh
Due: pkl-eval, prettier

feat: add pklr as opt-in pkl backend
  Cargo.toml
  src/config.rs
  src/env.rs
Due: cargo-fmt, dbg

docs: document pklr backend, update pkl CLI requirement
  docs/configuration.md
  docs/getting_started.md
  docs/pkl_introduction.md
  test/pklr_backend.bats
Due: none

feat: add pklr as opt-in pkl backend (#768)
  Cargo.lock
  Cargo.toml
  docs/configuration.md
  docs/getting_started.md
  docs/pkl_introduction.md
  src/config.rs
  src/env.rs
  test/pklr_backend.bats
Due: cargo-fmt, dbg

fix: pass proxy and CA certificate settings to pklr backend
  Cargo.lock
  Cargo.toml
  src/config.rs
Due: cargo-fmt, dbg

chore: use pklr 0.2.1 from crates.io
  Cargo.lock
  Cargo.toml
Due: none

fix(pkl): add pklr backend parity for hkrc, no_proxy, and http_rewrite warning
  src/config.rs
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
