Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

fix: ensure Pester tests use local hk.exe binary not release version
  test/windows/hk.Tests.ps1
Due: none

perf: use debug builds in Windows CI for faster execution
  .github/workflows/ci-windows.yml
  test/windows/hk.Tests.ps1
Due: actionlint

chore: remove unnecessary windows-build-artifacts job from CI
  .github/workflows/ci-windows.yml
Due: actionlint

fix: disable mise wrapper for Pester tests to avoid argument passing issues
  .github/workflows/ci-windows.yml
Due: actionlint

fix: use local debug hk binary in Windows CI tests instead of mise wrapper
  .github/workflows/ci-windows.yml
Due: actionlint

wip
  .github/workflows/ci-windows.yml
  .github/workflows/ci.yml
Due: actionlint

fix: add mise shims to PATH in Windows CI for pkl availability
  .github/workflows/ci-windows.yml
Due: actionlint

wip
  .github/workflows/ci-windows.yml
Due: actionlint

fix: consolidate Windows CI and enable PKL through mise
  .github/workflows/ci-windows.yml
  .github/workflows/ci.yml
Due: actionlint

fix: correct Windows CI to use mise shims in PATH instead of mise x
  .github/workflows/ci.yml
Due: actionlint

fix: correct Windows CI to use mise shims in PATH instead of mise x
  src/config.rs
Due: cargo-fmt, dbg

refactor: break Windows Pester tests into modular files
  .github/workflows/ci.yml
  test/windows/BasicCommands.Tests.ps1
  test/windows/CmdCommands.Tests.ps1
  test/windows/Common.Tests.ps1
  test/windows/ConfigurationFormats.Tests.ps1
  test/windows/ErrorHandling.Tests.ps1
  test/windows/FileHandling.Tests.ps1
  test/windows/GitIntegration.Tests.ps1
  test/windows/HookInstallation.Tests.ps1
  test/windows/ParallelExecution.Tests.ps1
  test/windows/PowerShellCommands.Tests.ps1
  test/windows/RunAllTests.ps1
  test/windows/StepDependencies.Tests.ps1
  test/windows/hk.Tests.ps1.old
Due: actionlint

cleanup: remove old monolithic test file backup
  test/windows/hk.Tests.ps1.old
Due: none

fix: add trailing newlines to Windows test files
  test/windows/BasicCommands.Tests.ps1
  test/windows/CmdCommands.Tests.ps1
  test/windows/Common.Tests.ps1
  test/windows/ConfigurationFormats.Tests.ps1
  test/windows/ErrorHandling.Tests.ps1
  test/windows/FileHandling.Tests.ps1
  test/windows/GitIntegration.Tests.ps1
  test/windows/HookInstallation.Tests.ps1
  test/windows/ParallelExecution.Tests.ps1
  test/windows/PowerShellCommands.Tests.ps1
  test/windows/RunAllTests.ps1
  test/windows/StepDependencies.Tests.ps1
Due: none

fix: ensure Windows test failures properly fail CI
  .github/workflows/ci.yml
  test/windows/RunAllTests.ps1
Due: actionlint

fix: resolve Windows test setup issues in Pester tests
  test/windows/BasicCommands.Tests.ps1
  test/windows/CmdCommands.Tests.ps1
  test/windows/Common.Tests.ps1
  test/windows/ConfigurationFormats.Tests.ps1
  test/windows/ErrorHandling.Tests.ps1
  test/windows/FileHandling.Tests.ps1
  test/windows/GitIntegration.Tests.ps1
  test/windows/HookInstallation.Tests.ps1
  test/windows/ParallelExecution.Tests.ps1
  test/windows/PowerShellCommands.Tests.ps1
  test/windows/RunAllTests.ps1
  test/windows/StepDependencies.Tests.ps1
  test/windows/hk.pkl
Due: pkl-eval

fix: make pkl execution cross-platform compatible
  src/config.rs
Due: cargo-fmt, dbg

fix: properly handle 'mise x -- pkl' command on Windows
  src/config.rs
  test/windows/Common.Tests.ps1
Due: cargo-fmt, dbg

fix: ensure pkl is available in Windows test environment
  .github/workflows/ci.yml
  test/windows/Common.Tests.ps1
Due: actionlint

fix: use mise wrapper for pkl in Windows CI tests
  .github/workflows/ci.yml
  test/windows/Common.Tests.ps1
Due: actionlint

fix: avoid nested mise execution when parsing pkl config
  src/config.rs
Due: cargo-fmt, dbg

fix: exclude PowerShell files from newlines check
  hk.pkl
Due: pkl-eval

feat: implement comprehensive configuration unification
  pkl/UserConfig.pkl
  plans/new_config.md
  src/cli/config.rs
  src/cli/mod.rs
  src/config.rs
  src/env.rs
  src/git_cfg.rs
  src/hook.rs
  src/hook_options.rs
  src/main.rs
  src/settings.rs
  src/tests/config_unification.rs
  test/config_unification.bats
Due: pkl-eval, cargo-fmt, dbg

refactor: unify exclude configuration into single 'exclude' field
  pkl/UserConfig.pkl
  plans/new_config.md
  src/cli/config.rs
  src/config.rs
  src/env.rs
  src/git_cfg.rs
  src/hook.rs
  src/settings.rs
  src/tests/config_unification.rs
  test/config_unification.bats
Due: pkl-eval, cargo-fmt, dbg

fix: update config dump test to check for single 'exclude' field
  test/config_unification.bats
Due: none

fix: handle directory excludes properly and fix tests
  src/hook.rs
  test/config_unification.bats
Due: cargo-fmt, dbg

fix: properly union HK_EXCLUDE environment variable with other exclude sources
  src/settings.rs
  test/config_unification.bats
Due: cargo-fmt, dbg

fix: apply union semantics to HK_HIDE_WARNINGS environment variable
  src/settings.rs
Due: cargo-fmt, dbg

test: remove flaky stash flag test from config_unification.bats
  test/config_unification.bats
Due: none

hk: add failing partial-staged pre-commit tests and begin fix groundwork
  mise.lock
  src/git.rs
  src/hook.rs
  test/pre_commit_partial_staged.bats
Due: cargo-fmt, dbg

hk: tests for partial-staged; fix index restore; keep patch-file feature (TODO)
  src/git.rs
  test/pre_commit_partial_staged.bats
Due: cargo-fmt, dbg

fix: read git config from repository instead of only global/system
  src/git_cfg.rs
  test/gitconfig.bats
Due: cargo-fmt, dbg

feat: comprehensive configuration unification with proper precedence and union semantics (#266)
  pkl/UserConfig.pkl
  src/cli/config.rs
  src/cli/mod.rs
  src/config.rs
  src/env.rs
  src/git_cfg.rs
  src/hook.rs
  src/hook_options.rs
  src/main.rs
  src/settings.rs
  src/tests/config_unification.rs
  test/config_unification.bats
  test/gitconfig.bats
Due: pkl-eval, cargo-fmt, dbg

hk: fix partial-staged via stash=git; add patch-file path (skipped TODO), tests green
  src/git.rs
  test/pre_commit_partial_staged.bats
Due: cargo-fmt, dbg

feat: add centralized skip configuration for steps and hooks
  pkl/UserConfig.pkl
  src/cli/config.rs
  src/config.rs
  src/git_cfg.rs
  src/hook.rs
  src/settings.rs
  test/skip_configuration.bats
Due: pkl-eval, cargo-fmt, dbg

fix: add skip_steps and skip_hooks to ConfigGet::run
  src/cli/config.rs
  test/skip_configuration.bats
Due: cargo-fmt, dbg

hk: harden stash detection; implement patch-file via keep-index stash; tests pass
  src/git.rs
  test/pre_commit_partial_staged.bats
Due: cargo-fmt, dbg

fix: maintain backward compatible skip messages for CI tests
  src/hook.rs
Due: cargo-fmt, dbg

hk: remove unused patch-file code; clean clippy warnings
  src/git.rs
Due: cargo-fmt, dbg

hk: treat patch-file as alias of git; keep API; tests pass
  src/git.rs
Due: cargo-fmt, dbg
