Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

chore: regenerate docs for effect= annotations
  docs/cli/builtins.md
  docs/cli/cache/clear.md
  docs/cli/commands.json
  docs/cli/completion.md
  docs/cli/config.md
  docs/cli/config/dump.md
  docs/cli/config/explain.md
  docs/cli/config/get.md
  docs/cli/config/sources.md
  docs/cli/init.md
  docs/cli/install.md
  docs/cli/migrate.md
  docs/cli/migrate/pre-commit.md
  docs/cli/sponsors.md
  docs/cli/uninstall.md
  docs/cli/util.md
  docs/cli/util/check-added-large-files.md
  docs/cli/util/check-byte-order-marker.md
  docs/cli/util/check-case-conflict.md
  docs/cli/util/check-conventional-commit.md
  docs/cli/util/check-executables-have-shebangs.md
  docs/cli/util/check-merge-conflict.md
  docs/cli/util/check-symlinks.md
  docs/cli/util/detect-private-key.md
  docs/cli/util/end-of-file-fixer.md
  docs/cli/util/fix-byte-order-marker.md
  docs/cli/util/fix-smart-quotes.md
  docs/cli/util/mixed-line-ending.md
  docs/cli/util/no-commit-to-branch.md
  docs/cli/util/python-check-ast.md
  docs/cli/util/python-debug-statements.md
  docs/cli/util/trailing-whitespace.md
  docs/cli/validate.md
  docs/cli/version.md
  hk.usage.kdl
Due: prettier

refactor: use clap_usage::spec() instead of inlining it
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  hk.usage.kdl
  mise.lock
  src/cli/command_effects.rs
  src/cli/usage.rs
Due: cargo-fmt, dbg, prettier

test: cover apply(), not just the tables
  src/cli/command_effects.rs
Due: cargo-fmt, dbg

feat(check): add focused diagnostics for failed files
  pkl/Config.pkl
  src/step/execution.rs
  src/step/job_builder.rs
  src/step/output.rs
  src/step/runner.rs
  src/step/types.rs
  src/step_job.rs
  test/check_fix_suggestion.bats
Due: pkl-eval, cargo-fmt, dbg

fix(check): reapply batching to focused diagnostics
  src/step/execution.rs
  src/step_context.rs
  test/auto_batch_large_files.bats
Due: cargo-fmt, dbg

fix(check): preserve listing diagnostics on failure
  src/step/execution.rs
  test/check_fix_suggestion.bats
Due: cargo-fmt, dbg

docs(check): document focused file diagnostics
  docs/configuration.md
  docs/hooks.md
Due: none

fix(check): keep focused batch totals accurate
  src/step/execution.rs
Due: cargo-fmt, dbg

fix(check): preserve diagnostics on rebatch errors
  src/step/execution.rs
  test/auto_batch_large_files.bats
Due: cargo-fmt, dbg

feat(check): add focused diagnostics for failed files (#1123)
  docs/configuration.md
  docs/hooks.md
  pkl/Config.pkl
  src/step/execution.rs
  src/step/job_builder.rs
  src/step/output.rs
  src/step/runner.rs
  src/step/types.rs
  src/step_context.rs
  src/step_job.rs
  test/auto_batch_large_files.bats
  test/check_fix_suggestion.bats
Due: pkl-eval, cargo-fmt, dbg

chore(deps): update demand
  Cargo.lock
Due: none

chore(deps): update demand (#1124)
  Cargo.lock
Due: none

perf: track instruction counts, and gate pull requests on them
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
  mise.lock
  mise.toml
  tak.toml
Due: actionlint

chore(deps): use rust-aware cargo resolver
  Cargo.toml
Due: none

chore(deps): format cargo resolver setting
  Cargo.toml
Due: none

chore(deps): use rust-aware cargo resolver (#1127)
  Cargo.toml
Due: none

perf: split measuring from reporting, and drop the dead dispatch trigger
  .github/workflows/perf-pr.yml
Due: actionlint

perf: tell a failed comparison apart from a regression
  .github/workflows/perf-pr.yml
  mise.toml
  tak.toml
Due: actionlint

perf: track instruction counts, and gate pull requests on them (#1125)
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
  mise.lock
  mise.toml
  tak.toml
Due: actionlint

Notes added by 'git notes add'
  df3a8cd2851dd99e026c9dda05ef7cb1f56d7cf4
Due: none

docs(contributing): standardize AI disclosures
  AGENTS.md
Due: none

docs(contributing): standardize AI disclosures (#1128)
  AGENTS.md
Due: none

Notes added by 'git notes add'
  88b6f1db584b0f5c0c54e7834eae7b99053ad836
Due: none

Notes added by 'git notes add'
  2ccd0f189e8d35339284df46e79ff0335f774836
Due: none

Notes added by 'git notes add'
  935fc2ea23aa1f9f1d36427e7f942daf4f2d3413
Due: none

fix(deps): update ensembler to 1.1.3
  Cargo.lock
  Cargo.toml
Due: none

Notes added by 'git notes add'
  f170161449634e9f41cc1ca54265f0001ab857e7
Due: none

Notes added by 'git notes add'
  49f88fe24709b478e64a53b3330c187a5fbc8327
Due: none

Notes added by 'git notes add'
  73814ad17c3d38e254e67e03929a95938ade8394
Due: none

Notes added by 'git notes add'
  b107f9f3f6da2646f5d5ff4c5191915908eb1b56
Due: none

perf(release): add PGO and BOLT optimization pipeline
  .github/workflows/pgo-bolt-test.yml
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  Cross.toml
  benchmark/pgo/hk.pkl
  scripts/pgo-bolt.bash
  src/main.rs
  src/step/execution.rs
  src/step/job_builder.rs
  src/step_context.rs
  src/step_group.rs
  tak.toml
Due: actionlint, pkl-eval, cargo-fmt, dbg

chore(ci): remove temporary BOLT validation workflow
  .github/workflows/pgo-bolt-test.yml
  Cargo.toml
Due: actionlint

fix(release): isolate BOLT smoke tests
  .github/workflows/release.yml
  scripts/pgo-bolt.bash
Due: actionlint

perf(release): add PGO and BOLT optimization pipeline (#1136)
  .github/workflows/release.yml
  Cargo.lock
  Cargo.toml
  Cross.toml
  benchmark/pgo/hk.pkl
  scripts/pgo-bolt.bash
  src/main.rs
  src/step/execution.rs
  src/step/job_builder.rs
  src/step_context.rs
  src/step_group.rs
  tak.toml
Due: actionlint, pkl-eval, cargo-fmt, dbg

chore: release v1.54.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

Notes added by 'git notes add'
  3dbb55e6bb9ccde6043a4951ac0b7822aee08137
Due: none

chore: release v1.54.0 (#1114)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

Notes added by 'git notes add'
  75a084aafb00e5bc457a4e3a1305e7e67b892405
Due: none

fix(hook): suggest serialization for git index lock failures
  docs/configuration.md
  pkl/Config.pkl
  src/hook.rs
  src/step/output.rs
  src/step/runner.rs
  test/index_lock_hint.bats
Due: pkl-eval, cargo-fmt, dbg
