Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

feat: add comprehensive test helper functions for bats tests
  test/HELPERS.md
  test/check_improved.bats
  test/helper_demo.bats
  test/test_helper/assertions.bash
  test/test_helper/common_setup.bash
  test/test_helper/setup_helpers.bash
Due: none

refactor: adopt new test helpers and use single quotes for PKL blocks
  test/builtin_json_format.bats
  test/builtin_shellcheck.bats
  test/dir.bats
  test/git_status_ad_deleted.bats
  test/helper_demo.bats
  test/hk_test_failure.bats
  test/pre_commit_partial_staged.bats
  test/test_helper/setup_helpers.bash
  test/validate.bats
  test/version.bats
Due: none

feat: add top-level exclude property to hk.pkl
  pkl/Config.pkl
  src/config.rs
  src/hook.rs
  test/top_level_exclude.bats
Due: pkl-eval, cargo-fmt, dbg

feat: support String | List<String> for top-level exclude
  pkl/Config.pkl
  src/config.rs
  test/top_level_exclude.bats
Due: pkl-eval, cargo-fmt, dbg

refactor: use existing StringOrList pattern for top-level exclude
  src/config.rs
  src/hook.rs
Due: cargo-fmt, dbg

refactor: remove redundant --exclude-glob CLI option
  docs/configuration.md
  hk.usage.kdl
  settings.toml
  src/hook.rs
  src/hook_options.rs
  test/check.bats
Due: cargo-fmt, dbg

feat: implement proper PKL settings integration for exclude
  src/hook.rs
  src/settings.rs
Due: cargo-fmt, dbg

refactor: add iterator methods to StringOrList for cleaner code
  src/config.rs
  src/settings.rs
Due: cargo-fmt, dbg

refactor: use SettingsMeta for dynamic PKL field collection
  src/settings.rs
  src/step.rs
  src/step_group.rs
Due: cargo-fmt, dbg

fix: return errors instead of silently ignoring config failures in settings.rs
  src/settings.rs
Due: cargo-fmt, dbg

fix: propagate config errors from get_snapshot() with clear error messages
  src/settings.rs
Due: cargo-fmt, dbg

feat: add Settings::try_get() for graceful config error handling
  src/cli/config.rs
  src/cli/test.rs
  src/settings.rs
Due: cargo-fmt, dbg

feat: optimize Settings with Arc to avoid cloning + add config error tests
  src/cli/config.rs
  src/settings.rs
  test/config_error_handling.bats
Due: cargo-fmt, dbg

fix: remove hk.excludeGlob backward compatibility + fix env error handling
  src/settings.rs
  test/gitconfig.bats
Due: cargo-fmt, dbg

docs: add documentation for top-level exclude property
  docs/reference/schema.md
Due: none

fix: add top-level exclude property to hk.pkl (#299)
  docs/configuration.md
  docs/reference/schema.md
  hk.usage.kdl
  pkl/Config.pkl
  settings.toml
  src/cli/config.rs
  src/cli/test.rs
  src/config.rs
  src/hook.rs
  src/hook_options.rs
  src/settings.rs
  src/step.rs
  src/step_group.rs
  test/check.bats
  test/config_error_handling.bats
  test/gitconfig.bats
  test/top_level_exclude.bats
Due: pkl-eval, cargo-fmt, dbg

chore: release v1.15.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
Due: prettier

chore: release v1.15.3 (#295)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
Due: prettier

pre-commit: scope staging to step job files to avoid unrelated file commits; add lockfile regression test
  src/step.rs
  test/pre_commit_unstaged_lockfile_committed.bats
Due: cargo-fmt, dbg

test(pre-commit): add subdir commit scenario with mixed staged/unstaged across dirs
  test/pre_commit_subdir_mixed_staging.bats
Due: none

fix: scope staging to step job files to avoid unrelated file commits; add lockfile regression test (#300)
  src/step.rs
  test/pre_commit_subdir_mixed_staging.bats
  test/pre_commit_unstaged_lockfile_committed.bats
Due: cargo-fmt, dbg

chore: release v1.15.4
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.15.4 (#301)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

test(pre-commit): verify pnpm-lock.yaml not committed nor stashed when committing from subdir
  src/git.rs
  src/hook.rs
  test/pre_commit_guard_stash_lockfile.bats
  test/pre_commit_unstaged_lockfile_committed.bats
Due: cargo-fmt, dbg

git: pop_stash: use resolved stash_ref for cat-file reads; fmt
  src/git.rs
Due: cargo-fmt, dbg

fix: ensure stash cleanup (#302)
  src/git.rs
  src/hook.rs
  test/pre_commit_guard_stash_lockfile.bats
  test/pre_commit_unstaged_lockfile_committed.bats
Due: cargo-fmt, dbg

chore: release v1.15.5
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix: restore unstaged over fixer regression
  src/git.rs
  test/pre_commit_restores_unstaged_over_fixer_regression.bats
Due: cargo-fmt, dbg

fix: restore unstaged over fixer regression (#304)
  src/git.rs
  test/pre_commit_restores_unstaged_over_fixer_regression.bats
Due: cargo-fmt, dbg

chore: release v1.15.5 (#303)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix: issue with generated file staging
  src/step.rs
  test/stage_generated_files.bats
Due: cargo-fmt, dbg

fix: issue with generated file staging (#307)
  src/step.rs
  test/stage_generated_files.bats
Due: cargo-fmt, dbg

chore: release v1.15.6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.15.6 (#305)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

feat: add *_on_fail output_summary options
  pkl/Config.pkl
  src/hook.rs
  src/step.rs
  test/output_on_fail.bats
  test/stderr_realtime.bats
Due: pkl-eval, cargo-fmt, dbg

fix: properly handle output suppression in text vs non-text modes
  Cargo.lock
  src/step.rs
Due: cargo-fmt, dbg

fix: always show output in real-time, simplify output handling
  src/step.rs
  test/output_on_fail.bats
Due: cargo-fmt, dbg

test: guard against newline loss during fix
  src/git.rs
  test/fix_preserves_unstaged_newline.bats
Due: cargo-fmt, dbg

fix: preserve newlines and handle tail append correctly in git stash
  src/git.rs
  src/hook.rs
  test/fix_preserves_unstaged_newline.bats
Due: cargo-fmt, dbg
