Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

fix(util): resolve shebang modes from the whole index and skip non-regular worktree paths
  src/cli/util/git_exec_bit.rs
  test/util_check_shebang_scripts_are_executable.bats
Due: cargo-fmt, dbg

fix(step): run a custom shell directly on Windows and let its path be quoted
  docs/configuration.md
  docs/pirate/configuration.md
  e2e-win/shell.Tests.ps1
  pkl/Config.pkl
  src/step/mod.rs
  src/step/runner.rs
  src/step/shell.rs
  src/test_runner.rs
Due: pkl-eval, cargo-fmt, dbg

fix(step): batch Windows cmd shims against cmd.exe's command-line limit
  e2e-win/batching.Tests.ps1
  src/step/batching.rs
  src/step/command.rs
Due: cargo-fmt, dbg

fix(step): end the processes a fail-fast cancel leaves running on Windows
  Cargo.lock
  Cargo.toml
  e2e-win/cancel.Tests.ps1
  src/step/mod.rs
  src/step/process_tree.rs
  src/step_group.rs
Due: cargo-fmt, dbg

fix(builtins): collapse a nested if in the catalogue generator
  bin/generate_docs.rs
Due: cargo-fmt, dbg

docs(builtins): show regex excludes in the options line
  bin/generate_docs.rs
Due: cargo-fmt, dbg

fix(util): resolve shebang index modes from the repository top level
  src/cli/util/git_exec_bit.rs
  test/util_check_shebang_scripts_are_executable.bats
Due: cargo-fmt, dbg

feat(config): read more tools' output with the gcc diagnostic format
  src/diagnostics.rs
Due: cargo-fmt, dbg

fix(util): check files whose 8 KiB probe splits a multibyte char and keys in non-UTF-8 files (#1572)
  src/cli/util/detect_private_key.rs
  src/cli/util/text_files.rs
  test/util_end_of_file_fixer.bats
  test/util_trailing_whitespace.bats
Due: cargo-fmt, dbg

feat(builtins): report go_vet, golangci_lint, mypy and six more linters as diagnostics
  pkl/builtins/buildifier_lint.pkl
  pkl/builtins/cpp_lint.pkl
  pkl/builtins/go_vet.pkl
  pkl/builtins/golangci_lint.pkl
  pkl/builtins/ktlint.pkl
  pkl/builtins/mado.pkl
  pkl/builtins/mypy.pkl
  pkl/builtins/rumdl.pkl
  pkl/builtins/sorbet.pkl
  pkl/builtins/xmllint.pkl
  test/builtin_tool_stubs/cpplint
Due: pkl-eval

docs: bring the sea shanty contributing page up to date with the English page
  docs/pirate/contributing.md
Due: none

fix(util): canonicalize shebang check paths and keep the toplevel byte-exact
  src/cli/util/git_exec_bit.rs
  test/util_check_shebang_scripts_are_executable.bats
Due: cargo-fmt, dbg

perf(step): resolve workspace_indicator once per directory, saving ~120 ms per step in large monorepos (#1599)
  src/step/filtering.rs
  src/step/job_builder.rs
Due: cargo-fmt, dbg

docs: document what hk executes, global hook reach, and --safe limits in a security model page (#1575)
  SECURITY.md
  docs/.vitepress/sidebar.ts
  docs/pirate/security.md
  docs/public/llms.txt
  docs/security.md
Due: prettier

test: fix bats teardown and event-order flakes and surface CI retries (#1583)
  .github/workflows/ci-impl.yml
  scripts/ci_attempt_notice
  test/structured_output.bats
  test/test_helper/common_setup.bash
Due: actionlint

fix(init): explain why a hook is missing and print next steps after hk init (#1564)
  src/cli/init/mod.rs
  src/cli/install.rs
  src/config.rs
  src/hook_options.rs
  test/init_creates_hk_pkl.bats
Due: cargo-fmt, dbg

fix(stash): restore unstaged text over a staged binary file no step changed (#1580)
  src/git.rs
  test/stash_line_endings.bats
Due: cargo-fmt, dbg

fix(validate): reject dependency cycles, self-dependencies and invalid step globs at load time (#1567)
  scripts/validate-apple-pkl.py
  src/config.rs
  src/glob.rs
  test/validate.bats
Due: cargo-fmt, dbg

fix(step): say "command not found" when an argv step's tool is not installed (#1579)
  src/step/runner.rs
  test/structured_argv.bats
Due: cargo-fmt, dbg

test(depends): use a portable timeout helper so macOS runs the zero-job cases
  test/depends.bats
Due: none

fix(config): keep paths that start with a word and preprocessor lines in gcc diagnostics
  src/diagnostics.rs
Due: cargo-fmt, dbg

fix(test): make expect.diagnostics valid Apple Pkl and reject steps it cannot model
  AGENTS.md
  pkl/Config.pkl
  src/test_runner.rs
  test/hk_test_diagnostics.bats
Due: pkl-eval, cargo-fmt, dbg

fix(builtins): dedent the actionlint bad workflow fixture so the column assertion holds
  pkl/builtins/actionlint.pkl
Due: pkl-eval

fix(install): report disabled hooks and spell out what uninstall removes
  src/cli/install.rs
  test/install_skip_when_global.bats
Due: cargo-fmt, dbg

fix(stash): restore reverted files when checkout fails and back up their edit
  src/git.rs
  test/stash_restore_worktree_state.bats
Due: cargo-fmt, dbg

feat(test): match a relative expected diagnostic path against an absolute printed path
  pkl/Config.pkl
  src/step_test.rs
  src/test_runner.rs
Due: pkl-eval, cargo-fmt, dbg

fix(builtins): assert the buf_lint diagnostic's file path
  pkl/builtins/buf_lint.pkl
Due: pkl-eval

fix(stash): keep the sequencer and fail when merge state cannot be preserved
  src/git.rs
  test/stash_merge_state.bats
Due: cargo-fmt, dbg

docs: lead the why-hk locks paragraph with fixers running at once
  docs/pirate/why-hk.md
  docs/why-hk.md
Due: none

fix(stash): warn when dropping the stash of reverted files fails
  src/git.rs
Due: cargo-fmt, dbg

fix(test): match absolute diagnostic paths only inside the test sandbox
  src/step_test.rs
  src/test_runner.rs
Due: cargo-fmt, dbg

fix(test): apply path normalizations only where they are correct
  pkl/Config.pkl
  src/test_runner.rs
Due: pkl-eval, cargo-fmt, dbg

perf(stash): restore unstaged files no step changed with one git process (#1612)
  src/git.rs
  test/stash_restore_spawns.bats
Due: cargo-fmt, dbg

fix(test): resolve symlinks in the nearest existing ancestor of a diagnostic path
  src/test_runner.rs
Due: cargo-fmt, dbg

chore(security): check RustSec advisories in CI and document gh release verify (#1569)
  .github/workflows/cargo-deny.yml
  deny.toml
  docs/getting_started.md
  docs/pirate/getting_started.md
Due: actionlint

fix(builtins): remove the extra indent from the buf_lint bad proto fixture
  pkl/builtins/buf_lint.pkl
Due: pkl-eval

fix(builtins): remove the extra indent from the revive diagnostics fixture
  pkl/builtins/revive.pkl
Due: pkl-eval

fix(builtins): remove extra fixture indent from the go_vet and golangci_lint diagnostics tests
  pkl/builtins/go_vet.pkl
  pkl/builtins/golangci_lint.pkl
Due: pkl-eval

fix(step): add exec_ok for condition shell tests and stop exec panicking (#1610)
  docs/configuration.md
  docs/pirate/configuration.md
  docs/pirate/reference/examples/custom-linters.md
  docs/reference/examples/custom-linters.md
  pkl/Config.pkl
  src/step/expr_env.rs
  test/condition.bats
Due: pkl-eval, cargo-fmt, dbg
