Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

fix: initialize submodules and build hk in bats job
  .github/workflows/ci.yml
Due: actionlint

fix: prettier formatting for ci.yml
  .github/workflows/ci.yml
Due: actionlint

refactor: build hk separately for each OS to avoid cross-platform issues
  .github/workflows/ci.yml
Due: actionlint

feat: add rust-cache to build job for faster Rust dependency caching
  .github/workflows/ci.yml
Due: actionlint

refactor: use actions/upload-artifact and download-artifact for sharing build artifacts
  .github/workflows/ci.yml
Due: actionlint

fix: restore full bats test coverage with HK_LIBGIT2 variants and multi-OS support
  .github/workflows/ci.yml
Due: actionlint

optimize: remove test/bats/bin/ from artifacts since it's part of submodule
  .github/workflows/ci.yml
Due: actionlint

fix: remove invalid cache-key output from build job
  .github/workflows/ci.yml
Due: actionlint

perf: optimize CI by sharing built hk binary across bats workers
  .github/workflows/ci.yml
Due: actionlint

fix: resolve multiple CI issues with dependencies, paths, and cross-OS compatibility
  .github/workflows/ci.yml
Due: actionlint

optimize: only store test/bats/bin/ instead of entire test/bats/ directory
  .github/workflows/ci.yml
Due: actionlint

Enhance migrate precommit with comprehensive feature support
  src/cli/migrate.rs
  test/migrate_precommit.bats
Due: cargo-fmt, dbg

Add migration command to convert pre-commit configs to hk.pkl
  src/cli/migrate.rs
  src/cli/mod.rs
  test/migrate_precommit.bats
Due: cargo-fmt, dbg

Add ruff-check mapping and improve tool detection
  src/cli/migrate.rs
Due: cargo-fmt, dbg

feat: incorporate new builtins and add Apache Airflow migration test
  src/cli/migrate.rs
  test/migrate_precommit.bats
Due: cargo-fmt, dbg

Convert local hooks directly to executable hk steps
  src/cli/migrate.rs
  test/migrate_precommit.bats
Due: cargo-fmt, dbg

Add pre-commit-hooks builtins and remove --mise flag
  pkl/Builtins.pkl
  pkl/builtins/check_byte_order_marker.pkl
  pkl/builtins/fix_byte_order_marker.pkl
  src/cli/migrate.rs
  test/migrate_precommit.bats
Due: pkl-eval, cargo-fmt, dbg

fix: remove unused fields from migrate.rs structs
  src/cli/migrate.rs
Due: cargo-fmt, dbg

fix: resolve clippy warnings in migrate.rs
  src/cli/migrate.rs
Due: cargo-fmt, dbg

fix: restore BOM builtins that were incorrectly removed during rebase
  pkl/builtins/check_byte_order_marker.pkl
  pkl/builtins/fix_byte_order_marker.pkl
Due: pkl-eval

fix: add mise installation to bats job for submodule access
  .github/workflows/ci.yml
Due: actionlint

feat: add verbose output to bats test execution to show which tests are running
  .github/workflows/ci.yml
Due: actionlint

fix: use Pkl custom delimiter strings for regex patterns in migration
  src/cli/migrate.rs
Due: cargo-fmt, dbg

refactor: improve migration code organization and handle duplicate hook IDs
  src/cli/migrate.rs
Due: cargo-fmt, dbg

fix: properly handle null-delimited test file list in bats sharding
  .github/workflows/ci.yml
Due: actionlint

feat: improve bats test visibility with TAP formatter and test listing
  .github/workflows/ci.yml
Due: actionlint

fix: debug hanging bats tests with verbose output and sequential execution
  .github/workflows/ci.yml
Due: actionlint

feat: add --hk-pkl-root flag for migration and use dynamic versioning
  src/cli/migrate.rs
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

fix: added new builtins to Builtins.pkl
  pkl/Builtins.pkl
Due: pkl-eval

chore: release v1.17.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/util.md
  docs/cli/util/check-byte-order-marker.md
  docs/cli/util/check-case-conflict.md
  docs/cli/util/check-executables-have-shebangs.md
  docs/cli/util/check-merge-conflict.md
  docs/cli/util/check-symlinks.md
  docs/cli/util/fix-byte-order-marker.md
  docs/cli/util/mixed-line-ending.md
  docs/cli/util/trailing-whitespace.md
  hk.usage.kdl
Due: prettier

feat: auto-generate mise x prefix for additional_dependencies
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

fix: collapse multi-line regex patterns to single line in migration
  src/cli/migrate/mod.rs
Due: cargo-fmt, dbg

fix: simplify bats sharding to use direct for loop
  .github/workflows/ci.yml
Due: actionlint

debug: add verification step and better error handling to diagnose hangs
  .github/workflows/ci.yml
Due: actionlint

feat: convert simple alternation patterns to Pkl List() syntax
  src/cli/migrate/mod.rs
Due: cargo-fmt, dbg

feat: preserve multi-line patterns in migration output
  src/cli/migrate/mod.rs
Due: cargo-fmt, dbg

refactor: remove unnecessary pass_filenames comment
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

ci: mitigate hangs in bats by adding non-interactive git config and per-test timeouts
  .github/workflows/ci.yml
Due: actionlint

feat: convert (?x) regex patterns to glob List() when possible
  src/cli/migrate/mod.rs
Due: cargo-fmt, dbg

fix: improve regex-to-glob conversion logic
  src/cli/migrate/mod.rs
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
