Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

fix(stash): match the journal to hk's per-run stash messages
  src/git.rs
  src/stash_journal.rs
Due: cargo-fmt, dbg

test(stash): recover a killed hk's stash on Windows
  e2e-win/stash_journal.Tests.ps1
Due: none

test(stash): keep the Windows journal test's output outside the repository
  e2e-win/stash_journal.Tests.ps1
Due: none

feat(config): add diagnostic_severity and report buildifier lint findings as warnings
  pkl/Config.pkl
  pkl/builtins/buildifier_lint.pkl
  src/diagnostics.rs
  src/step/types.rs
  src/structured_output.rs
  src/test_runner.rs
Due: pkl-eval, cargo-fmt, dbg

test(stash): keep the Windows journal test's output in a temp directory
  e2e-win/stash_journal.Tests.ps1
Due: none

test(stash): run the Windows journal test outside TestDrive
  e2e-win/stash_journal.Tests.ps1
Due: none

docs(stash): document the pending-stash journal and recovery
  docs/hooks.md
  docs/pirate/hooks.md
Due: none

perf: use mimalloc as the global allocator (#1635)
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/main.rs
Due: cargo-fmt, dbg

fix(config): keep diagnostic_severity from downgrading syntax errors to warnings
  pkl/Config.pkl
  pkl/builtins/buildifier_lint.pkl
  src/diagnostics.rs
Due: pkl-eval, cargo-fmt, dbg

test(diagnostics): make the workspace diagnostic path test deterministic
  test/diagnostics.bats
Due: none

fix(stash): give every stash entry a pid-bearing message for crash recovery
  src/git.rs
  src/stash_journal.rs
  test/stash_intent_to_add.bats
  test/stash_interrupt_journal.bats
Due: cargo-fmt, dbg

fix(stash): restore hk's own stash entry by commit id so concurrent stashes are never touched (#1637)
  src/git.rs
  test/stash_by_commit_id.bats
Due: cargo-fmt, dbg

fix(stash): claim dead journals exclusively, fsync them, keep them after a failed stash
  docs/hooks.md
  docs/pirate/hooks.md
  src/git.rs
  src/stash_journal.rs
  test/stash_interrupt_journal.bats
Due: cargo-fmt, dbg

fix(step): keep diagnostics from every started job when another job fails
  src/step/execution.rs
  src/step_group.rs
  test/diagnostics.bats
Due: cargo-fmt, dbg

fix(stash): retry a journal rename that Windows briefly denies
  src/stash_journal.rs
Due: cargo-fmt, dbg

feat(mcp): let agents run checks on changed or unstaged files only (#1600)
  docs/agents.md
  docs/pirate/agents.md
  src/cli/mcp.rs
Due: cargo-fmt, dbg

security(install): refuse legacy hook installs that overwrite foreign hooks or symlinks (#1593)
  docs/cli/commands.json
  docs/cli/install.md
  docs/getting_started.md
  docs/pirate/cli/install.md
  docs/pirate/getting_started.md
  hk.usage.kdl
  src/cli/install.rs
  test/hook_args.bats
  test/hook_stdin.bats
  test/install_legacy_no_clobber.bats
Due: cargo-fmt, dbg, prettier

ci: skip full checks for docs-only pull requests (#1634)
  .github/workflows/ci.yml
Due: actionlint

fix(step): surface the original failure under fail-fast and never hide a hard job error behind an allowed one
  src/error.rs
  src/hook.rs
  src/step/execution.rs
  src/step_group.rs
  test/fail_fast_config.bats
Due: cargo-fmt, dbg

test(mcp): stop the running check when the scope helper times out
  test/test_helper/mcp_scope.py
Due: none

feat(builtins): report flake8 findings as diagnostics (#1624)
  pkl/builtins/flake8.pkl
  test/builtin_tool_stubs/flake8
Due: pkl-eval

fix(stash): serialize pending-stash journal operations with a lock file instead of claim files
  docs/hooks.md
  docs/pirate/hooks.md
  src/git.rs
  src/stash_journal.rs
  test/stash_interrupt_journal.bats
Due: cargo-fmt, dbg

test(step): assert the batched shim calls cover exactly the expected files
  e2e-win/batching.Tests.ps1
Due: none

docs(stash): say to leave the journal lock file in place
  docs/hooks.md
  docs/pirate/hooks.md
Due: none

fix(step): keep Ctrl-C a plain cancellation instead of a fail-fast abort
  src/step/execution.rs
  src/step_group.rs
  test/fail_fast_config.bats
Due: cargo-fmt, dbg

fix(mcp): cap step output in structured results and report pre-run failures (#1605)
  docs/agents.md
  docs/pirate/agents.md
  src/cli/mcp.rs
  src/cli/mod.rs
  src/cli/run/mod.rs
  src/structured_output.rs
  test/structured_output.bats
Due: cargo-fmt, dbg

fix(mcp): report a lingering pipe separately from the capture limit and use the repository's own empty tree
  src/cli/mcp.rs
Due: cargo-fmt, dbg

test(step): scope Ctrl-C test cleanup to its own sleeper process
  test/fail_fast_config.bats
Due: none

chore: remove redundant package.homepage from Cargo.toml (#1639)
  Cargo.toml
Due: none

fix(mcp): retry snapshots without --attr-source only when git lacks it
  src/cli/mcp.rs
Due: cargo-fmt, dbg

fix(step): report diagnostic paths relative to the repository root for steps that run in a subdirectory (#1638)
  pkl/Config.pkl
  src/diagnostics.rs
  src/hook.rs
  src/step/execution.rs
  src/step/runner.rs
  src/structured_output.rs
  test/diagnostics.bats
Due: pkl-eval, cargo-fmt, dbg

fix(config): honor subproject skip_steps and warn about ignored subproject settings (#1615)
  docs/configuration.md
  docs/pirate/configuration.md
  src/config.rs
  test/subprojects.bats
Due: cargo-fmt, dbg

fix(agent): stop a timed-out check's steps that run in their own process groups
  src/cli/agent/stop_hook.rs
  test/agent_generators.bats
Due: cargo-fmt, dbg

docs(settings): describe pkl rewrite and CA variables for the built-in evaluator (#1617)
  docs/environment_variables.md
  docs/pirate/environment_variables.md
  settings.toml
Due: none

fix(step): bound the wait for jobs after Ctrl-C and let a stalled mise env be cancelled
  src/mise_env.rs
  src/step/execution.rs
  src/step/runner.rs
  test/fail_fast_config.bats
Due: cargo-fmt, dbg

fix(step): run a custom shell directly on Windows and accept a quoted shell path (#1628)
  docs/configuration.md
  docs/pirate/configuration.md
  e2e-win/shell.Tests.ps1
  pkl/Config.pkl
  src/step/mod.rs
  src/step/runner.rs
  src/step/shell.rs
  src/test_runner.rs
Due: pkl-eval, cargo-fmt, dbg

test(agent): drop the Python dependency from the stop-hook process-group test
  src/cli/agent/stop_hook.rs
Due: cargo-fmt, dbg

fix(agent): only kill the check's real descendants and groups they fully own
  src/cli/agent/stop_hook.rs
Due: cargo-fmt, dbg

test(agent): start the stop-hook test's own-session step with perl where setsid is missing
  src/cli/agent/stop_hook.rs
  test/agent_generators.bats
Due: cargo-fmt, dbg

fix(stash): make the stash lock work in shared repositories and honor a zero Git timeout
  src/git.rs
  src/hook.rs
  src/settings.rs
  src/stash_lock.rs
  test/stash_cross_process_lock.bats
Due: cargo-fmt, dbg
