Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

feat(builtins): add renovate-deps checker (#1448)
  pkl/builtins/renovate_deps.pkl
  pkl/builtins/test/helpers.pkl
  test/builtin_renovate_deps.bats
  test/builtin_tool_fake_bins/renovate
  test/builtin_tool_stubs/flint
  test/builtin_tool_stubs/node
  test/builtin_tool_stubs/renovate
  test/builtins_tests.bats
Due: pkl-eval

fix(builtins): skip black's list script on Windows
  pkl/builtins/black.pkl
Due: pkl-eval

chore(benchmark): note which hk releases need the yq override
  benchmark/subjects/hk/hk.pkl
Due: pkl-eval

fix(step): resolve check_list_files paths in the step's dir
  pkl/builtins/black.pkl
  src/step/check_parsing.rs
  src/step/execution.rs
  src/step/output.rs
  test/builtins_tests.bats
Due: pkl-eval, cargo-fmt, dbg

chore(benchmark): publish the first results file and refresh llms.txt
  .github/workflows/benchmark-refresh.yml
  docs/public/llms.txt
Due: actionlint

fix(step): match check_list_files paths against job files in dir or root
  src/step/check_parsing.rs
Due: cargo-fmt, dbg

chore(benchmark): equal samples per tool, diagnostic narrowed runs, cache key on file counts
  benchmark/README.md
  benchmark/report.py
  benchmark/run.sh
  benchmark/setup.sh
  benchmark/tak.toml
  docs/benchmarks.md
Due: none

fix(benchmark): keep setup running when no NUM_* overrides are set
  benchmark/setup.sh
Due: none

perf(builtins): keep black's cache and batch jq and yq (#1454)
  pkl/builtins/black.pkl
  pkl/builtins/jq.pkl
  pkl/builtins/yq.pkl
  src/step/check_parsing.rs
  src/step/execution.rs
  src/step/output.rs
  test/builtins_tests.bats
Due: pkl-eval, cargo-fmt, dbg

fix(benchmark): never report from a previous run's verification or timings
  benchmark/run.sh
Due: none

fix(hook): lock files git status inspects during staging
  src/step/execution.rs
  test/stage_concurrent_fixers.bats
Due: cargo-fmt, dbg

test(hook): keep rewriting until the racing step has staged
  test/stage_concurrent_fixers.bats
Due: none

ci: install aube, communique and mr-boxington without GitHub API calls
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
  mise.lock
  mise.toml
Due: actionlint

fix(hook): stop staging files that another step is still fixing (#1453)
  src/file_rw_locks.rs
  src/step/execution.rs
  test/stage_concurrent_fixers.bats
Due: cargo-fmt, dbg

chore(benchmark): use tak 0.0.13 checks, exit codes and export metadata
  .github/workflows/benchmark-refresh.yml
  benchmark/README.md
  benchmark/lib/allow-fixes
  benchmark/mise.lock
  benchmark/mise.toml
  benchmark/report.py
  benchmark/run.sh
  benchmark/tak.toml
  benchmark/verify.py
  docs/.vitepress/benchmarks.data.ts
  docs/.vitepress/theme/BenchmarkResults.vue
  docs/benchmarks.md
Due: actionlint, prettier

perf(step): batch at least 4 files per process
  pkl/Config.pkl
  src/step/job_builder.rs
  test/timing_json.bats
Due: pkl-eval, cargo-fmt, dbg

feat(migrate): run unconverted pre-commit hooks through prek or pre-commit
  docs/cli/commands.json
  docs/cli/migrate/pre-commit.md
  docs/public/llms.txt
  docs/why-hk.md
  hk.usage.kdl
  scripts/enrich-cli-docs.py
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
  test/migrate_precommit.bats
Due: cargo-fmt, dbg, prettier

fix(migrate): keep default stages to file hooks and delegate always_run hooks
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

fix(config): accept a Regex for the top-level exclude setting
  pkl/Config.pkl
  settings.toml
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
  src/config.rs
  src/hook.rs
  src/hook_options.rs
  src/settings.rs
  test/hkrc.bats
  test/migrate_precommit.bats
  test/top_level_exclude.bats
Due: pkl-eval, cargo-fmt, dbg

test: expect Apple Pkl to reject the invalid top-level exclude regex fixture
  scripts/validate-apple-pkl.py
Due: none

fix(migrate): pass binaries to delegated hooks and respect default_stages
  src/cli/migrate/pre_commit.rs
  test/migrate_precommit.bats
Due: cargo-fmt, dbg

fix(config): match excludes against repo-relative paths for absolute file args
  src/cli/migrate/pre_commit.rs
  src/hook.rs
  test/migrate_precommit.bats
  test/top_level_exclude.bats
Due: cargo-fmt, dbg

fix(migrate): match pre-commit at stages that pass no files
  src/cli/migrate/pre_commit.rs
  test/migrate_precommit.bats
Due: cargo-fmt, dbg

perf(step): split batches evenly so none is left short
  src/step/job_builder.rs
Due: cargo-fmt, dbg

perf(step): fix directly unless a step opts into check_first
  docs/environment_variables.md
  docs/why-hk.md
  pkl/Config.pkl
  settings.toml
  src/step/types.rs
  src/step_group.rs
  src/step_job.rs
  test/builtins_tests.bats
Due: pkl-eval, cargo-fmt, dbg

perf(step): share batch jobs across workspaces without leaving one idle
  src/step/job_builder.rs
Due: cargo-fmt, dbg

docs(migrate): describe the --runner default accurately
  docs/cli/commands.json
  docs/cli/migrate/pre-commit.md
  hk.usage.kdl
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg, prettier

fix(config): normalize dot segments and keep migrated exclude regexes exact
  src/cli/migrate/mod.rs
  src/hook.rs
  test/migrate_precommit.bats
  test/top_level_exclude.bats
Due: cargo-fmt, dbg

fix(step): keep check-first where fixing or staging depends on it
  docs/environment_variables.md
  docs/why-hk.md
  pkl/Config.pkl
  settings.toml
  src/step/execution.rs
  src/step/job_builder.rs
  src/step/types.rs
  test/check_first_default.bats
Due: pkl-eval, cargo-fmt, dbg

perf(step): give leftover batch jobs to the workspace furthest below its share
  src/step/job_builder.rs
Due: cargo-fmt, dbg

fix(hook): resolve `..` in file arguments on disk before matching excludes
  src/hook.rs
  test/top_level_exclude.bats
Due: cargo-fmt, dbg

fix(hook): match top-level excludes against `/`-separated paths on Windows
  src/hook.rs
Due: cargo-fmt, dbg

fix(step): stage files a same-command check fixed
  settings.toml
  src/step/execution.rs
  test/check_first_default.bats
Due: cargo-fmt, dbg

docs(config): describe what HK_CHECK_FIRST=0 turns off
  docs/environment_variables.md
  settings.toml
Due: none

fix(step): stage only files a same-command check actually changed
  src/step/execution.rs
  test/check_first_default.bats
Due: cargo-fmt, dbg

feat(migrate): run unconverted pre-commit hooks through prek or pre-commit (#1459)
  docs/cli/commands.json
  docs/cli/migrate/pre-commit.md
  docs/public/llms.txt
  docs/why-hk.md
  hk.usage.kdl
  scripts/enrich-cli-docs.py
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
  test/migrate_precommit.bats
Due: cargo-fmt, dbg, prettier

perf(step): batch at least 4 files per process (#1458)
  pkl/Config.pkl
  src/step/job_builder.rs
  test/timing_json.bats
Due: pkl-eval, cargo-fmt, dbg

fix(step): compare same-command hashes by path, and only when staging
  src/step/execution.rs
Due: cargo-fmt, dbg

docs(config): list the steps that check first regardless of HK_CHECK_FIRST
  docs/environment_variables.md
Due: none

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
