Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

refactor(step): stage a same-command fixer's files like any fixer's
  src/step/execution.rs
  test/check_first_default.bats
Due: cargo-fmt, dbg

perf(step): fix directly unless a step opts into check_first (#1461)
  docs/environment_variables.md
  docs/why-hk.md
  pkl/Config.pkl
  settings.toml
  src/step/execution.rs
  src/step/job_builder.rs
  src/step/types.rs
  src/step_group.rs
  src/step_job.rs
  test/builtins_tests.bats
  test/check_first_default.bats
Due: pkl-eval, cargo-fmt, dbg

fix(config): accept a Regex for the top-level exclude setting (#1460)
  pkl/Config.pkl
  scripts/validate-apple-pkl.py
  settings.toml
  src/config.rs
  src/hook.rs
  src/hook_options.rs
  src/settings.rs
  test/hkrc.bats
  test/top_level_exclude.bats
Due: pkl-eval, cargo-fmt, dbg

feat(builtins): add lychee-extended checker (#1449)
  pkl/builtins/lychee_extended.pkl
  test/builtin_lychee_extended.bats
  test/builtin_tool_stubs/lychee
Due: pkl-eval

chore: release v2.2.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/hooks.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/monorepo.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v2.2.0 (#1436)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/hooks.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/monorepo.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore(benchmark): use pre-commit-hooks for competitors' whitespace fixers
  benchmark/.mise/locks/pipx-pre-commit-hooks/6.0.0/pyproject.toml
  benchmark/.mise/locks/pipx-pre-commit-hooks/6.0.0/uv.lock
  benchmark/mise.lock
  benchmark/mise.toml
  benchmark/setup.sh
  benchmark/subjects/lefthook-parallel/lefthook.yml
  benchmark/subjects/lefthook/lefthook.yml
  benchmark/subjects/pre-commit/.pre-commit-config.yaml
  benchmark/subjects/prek-parallel/.pre-commit-config.yaml
  benchmark/tak.toml
  docs/benchmarks.md
Due: prettier

chore(benchmark): keep tak defaults aligned
  benchmark/tak.toml
Due: none

docs(benchmark): explain why the whitespace check hooks may write
  benchmark/subjects/lefthook-parallel/lefthook.yml
  benchmark/subjects/lefthook/lefthook.yml
  benchmark/subjects/pre-commit/.pre-commit-config.yaml
  benchmark/subjects/prek-parallel/.pre-commit-config.yaml
Due: prettier

docs: refresh competitor benchmark for v2.2.0 (#1462)
  benchmark/results.json
Due: prettier

chore(benchmark): measure one configuration per tool
  benchmark/.pre-commit-config.yaml
  benchmark/README.md
  benchmark/report.py
  benchmark/setup.sh
  benchmark/subjects/lefthook-parallel/lefthook.yml
  benchmark/subjects/lefthook/lefthook.yml
  benchmark/subjects/pre-commit/.pre-commit-config.yaml
  benchmark/subjects/prek/.pre-commit-config.yaml
  benchmark/tak.toml
  docs/.vitepress/benchmarks.data.ts
  docs/.vitepress/theme/BenchmarkResults.vue
  docs/benchmarks.md
Due: prettier

docs(benchmarks): compare only configurations that are safe by design
  .github/workflows/benchmark-refresh.yml
  benchmark/README.md
  benchmark/report.py
  benchmark/setup.sh
  benchmark/subjects/lefthook-parallel/lefthook.yml
  benchmark/subjects/lefthook/lefthook.yml
  benchmark/subjects/prek-parallel/.pre-commit-config.yaml
  benchmark/tak.toml
  docs/.vitepress/benchmarks.data.ts
  docs/.vitepress/theme/BenchmarkResults.vue
  docs/benchmarks.md
Due: actionlint, prettier

chore(benchmark): run competitors' whitespace fixers from pre-commit-hooks and isolate black's cache (#1463)
  benchmark/.mise/locks/pipx-pre-commit-hooks/6.0.0/pyproject.toml
  benchmark/.mise/locks/pipx-pre-commit-hooks/6.0.0/uv.lock
  benchmark/mise.lock
  benchmark/mise.toml
  benchmark/setup.sh
  benchmark/subjects/lefthook-parallel/lefthook.yml
  benchmark/subjects/lefthook/lefthook.yml
  benchmark/subjects/pre-commit/.pre-commit-config.yaml
  benchmark/subjects/prek-parallel/.pre-commit-config.yaml
  benchmark/tak.toml
  docs/benchmarks.md
Due: prettier

perf(stage): fix and stage each step's files without waiting for other steps
  docs/environment_variables.md
  pkl/Config.pkl
  src/git.rs
  src/hook.rs
  src/step/execution.rs
  test/check_first_default.bats
Due: pkl-eval, cargo-fmt, dbg

docs(benchmark): exclude settings that can race, not only ones that failed
  benchmark/README.md
  benchmark/tak.toml
  docs/benchmarks.md
Due: none

perf(step): fix staged files directly after stashing, and apply jq/yq diffs
  docs/environment_variables.md
  pkl/Config.pkl
  pkl/builtins/jq.pkl
  pkl/builtins/yq.pkl
  src/hook.rs
  src/step/execution.rs
  test/builtins_tests.bats
  test/check_first_default.bats
Due: pkl-eval, cargo-fmt, dbg

chore(benchmark): stop rendering results from the old configuration
  .github/workflows/benchmark-refresh.yml
  benchmark/report.py
  docs/.vitepress/benchmarks.data.ts
  docs/.vitepress/theme/BenchmarkResults.vue
Due: actionlint, prettier

test(step): keep the listing-fixer config heredoc valid Pkl
  test/check_first_default.bats
Due: none

fix(step): treat files as unstaged unless hk actually stashed them
  src/git.rs
  src/hook.rs
  src/step/execution.rs
  test/check_first_default.bats
Due: cargo-fmt, dbg

fix(stash): narrow listing steps when a configured stash did not run
  pkl/Config.pkl
  src/git.rs
  src/hook.rs
  src/step/execution.rs
  test/check_first_default.bats
Due: pkl-eval, cargo-fmt, dbg

fix(stash): skip stashing before the first commit with the git CLI backend
  src/git.rs
  test/stash_no_initial_commit.bats
Due: cargo-fmt, dbg

fix(step): stage any number of files without hitting the argument limit
  src/git.rs
  test/stage_many_files.bats
Due: cargo-fmt, dbg

docs(benchmarks): compare only configurations that are safe by design (#1465)
  .github/workflows/benchmark-refresh.yml
  benchmark/README.md
  benchmark/report.py
  benchmark/results.json
  benchmark/setup.sh
  benchmark/subjects/lefthook-parallel/lefthook.yml
  benchmark/subjects/lefthook/lefthook.yml
  benchmark/subjects/prek-parallel/.pre-commit-config.yaml
  benchmark/tak.toml
  docs/.vitepress/benchmarks.data.ts
  docs/.vitepress/theme/BenchmarkResults.vue
  docs/benchmarks.md
Due: actionlint, prettier

docs(benchmark): record the modes the published v2.2.0 run used
  benchmark/results.json
Due: prettier

fix(stash): skip the stash before the first commit without libgit2
  src/git.rs
Due: cargo-fmt, dbg

docs(benchmark): describe when fixes run concurrently, and name CONFIG in setup.sh
  benchmark/README.md
  docs/benchmarks.md
Due: none

perf(step): stage each fixer's files as soon as it finishes (#1466)
  docs/environment_variables.md
  pkl/Config.pkl
  src/git.rs
  src/hook.rs
  src/step/execution.rs
  test/check_first_default.bats
  test/stage_many_files.bats
Due: pkl-eval, cargo-fmt, dbg

chore(benchmark): show each scenario's mode on the benchmarks page (#1467)
  .github/workflows/benchmark-refresh.yml
  benchmark/.pre-commit-config.yaml
  benchmark/README.md
  benchmark/report.py
  benchmark/results.json
  benchmark/subjects/lefthook/lefthook.yml
  benchmark/tak.toml
  docs/.vitepress/benchmarks.data.ts
  docs/.vitepress/theme/BenchmarkResults.vue
  docs/benchmarks.md
Due: actionlint, prettier

fix(builtins): keep jq and yq from emptying files they cannot parse
  pkl/builtins/jq.pkl
  pkl/builtins/yq.pkl
  test/builtins_tests.bats
Due: pkl-eval

fix(builtins): fail jq and yq fixes when a file in the batch cannot parse
  pkl/builtins/jq.pkl
  pkl/builtins/yq.pkl
  test/builtins_tests.bats
Due: pkl-eval

fix(builtins): rename jq fixes into place and stop on diff errors
  pkl/builtins/jq.pkl
  pkl/builtins/yq.pkl
  test/builtins_tests.bats
Due: pkl-eval

fix(builtins): leave already formatted files alone in jq's fix
  pkl/builtins/jq.pkl
  test/builtins_tests.bats
Due: pkl-eval

fix(stash): skip stashing before the first commit with the git CLI backend (#1469)
  src/git.rs
  test/stash_no_initial_commit.bats
Due: cargo-fmt, dbg

fix(builtins): apply jq and yq check_diff patches instead of rerunning the tool (#1468)
  pkl/builtins/jq.pkl
  pkl/builtins/yq.pkl
  test/builtins_tests.bats
  test/check_first_default.bats
Due: pkl-eval

perf(release): PGO-optimize the x86_64 musl and macOS arm64 binaries
  .github/workflows/release.yml
  Cross.toml
  scripts/pgo-bolt.bash
Due: actionlint

ci: accept pull request titles whose description starts with an acronym
  .github/workflows/conventional-commits.yml
  AGENTS.md
Due: actionlint

perf(release): PGO-optimize the x86_64 musl and macOS arm64 binaries (#1470)
  .github/workflows/release.yml
  Cross.toml
  scripts/pgo-bolt.bash
Due: actionlint
