Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

chore: benchmark
  .pre-commit-config.yaml
  docs/public/benchmark.png
  hk.pkl
  lefthook.yml
  mise-tasks/benchmark.sh
  src/main.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

fix: check_first logic
  .github/renovate.json
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release.yml
  Cargo.toml
  mise.lock
  mise.toml
  pkl/builtins/cargo_clippy.pkl
  pkl/hk.pkl
  src/cli/fix.rs
  src/cli/mod.rs
  src/cli/run/pre_commit.rs
  src/cli/run/pre_push.rs
  src/config.rs
  src/env.rs
  src/git.rs
  src/step.rs
  src/step_scheduler.rs
  test/test.bats
Due: actionlint, pkl-eval, cargo-fmt, dbg, prettier

fix: use real stashing
  src/env.rs
  src/git.rs
Due: cargo-fmt, dbg

feat: workspace_indicator
  hk-example.pkl
  mise.toml
  pkl/builtins/cargo_clippy.pkl
  src/cache.rs
  src/step.rs
  src/step_scheduler.rs
  src/tera.rs
Due: pkl-eval, cargo-fmt, dbg

feat: check/fix extra locks for codegen steps
  pkl/Config.pkl
  src/config.rs
  src/git.rs
  src/step.rs
  src/step_scheduler.rs
Due: pkl-eval, cargo-fmt, dbg

fix: make cli name customizable
  Cargo.lock
  src/multi_progress_report.rs
  src/progress_report.rs
Due: cargo-fmt, dbg

feat: always show elapsed time
  src/progress_report.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.1.4
  Cargo.lock
  Cargo.toml
Due: none

fix: return result information in error
  Cargo.lock
  src/cmd.rs
  src/error.rs
Due: cargo-fmt, dbg

chore: Release ensembler version 0.1.8
  Cargo.lock
  Cargo.toml
Due: none

fix: make pre-push hook function correctly
  Cargo.lock
  hk.pkl
  src/cli/install.rs
  src/cli/run/pre_push.rs
  src/git.rs
  src/main.rs
Due: pkl-eval, cargo-fmt, dbg

chore: remove `rustup up`
  .github/workflows/ci.yml
  .github/workflows/release.yml
  src/cli/run/pre_push.rs
  src/git.rs
Due: actionlint, cargo-fmt, dbg

feat: prepare-commit-msg
  hk.pkl
  src/cli/install.rs
  src/cli/run/mod.rs
  src/cli/run/pre_commit.rs
  src/cli/run/prepare_commit_msg.rs
Due: pkl-eval, cargo-fmt, dbg

foo
  hk.pkl
Due: pkl-eval

default commit message
  .vscode/settings.json
  hk.pkl
  pkl/Config.pkl
  src/cli/check.rs
  src/cli/fix.rs
  src/cli/run/pre_commit.rs
  src/cli/run/pre_push.rs
  src/cli/run/prepare_commit_msg.rs
  src/config.rs
  src/git.rs
  src/step_scheduler.rs
  test/pre_push.bats
  test/prepare_commit_msg.bats
  test/test.bats
  test/test_helper/common_setup.bash
Due: pkl-eval, cargo-fmt, dbg, prettier

fix: deadlock with multiple workspace_indicators
  bun.lock
  mise.toml
  package.json
  pkl/builtins/tsc.pkl
  test/tsc.bats
Due: pkl-eval, prettier

refactor: added queue
  Cargo.lock
  Cargo.toml
  src/main.rs
  src/step.rs
  src/step_context.rs
  src/step_depends.rs
  src/step_job.rs
  src/step_locks.rs
  src/step_queue.rs
  src/step_response.rs
  src/step_scheduler.rs
Due: cargo-fmt, dbg

fix: deadlock with multiple workspace_indicators
  .github/workflows/ci.yml
  Cargo.lock
  bun.lock
  mise.lock
  mise.toml
  package.json
  pkl/builtins/tsc.pkl
  test/tsc.bats
Due: actionlint, pkl-eval, prettier

feat: allow specifying any git hooks
  src/cli/install.rs
  src/cli/run/mod.rs
Due: cargo-fmt, dbg

feat: added new progress job struct
  Cargo.lock
  Cargo.toml
  examples/multi_progress_report.rs
  examples/progress.rs
  src/error.rs
  src/lib.rs
  src/progress.rs
Due: cargo-fmt, dbg

feat: added body prop
  Cargo.lock
  Cargo.toml
  src/progress.rs
Due: cargo-fmt, dbg

fix: indent with newlines
  Cargo.lock
  Cargo.toml
  src/progress.rs
Due: cargo-fmt, dbg

fix: newline width calculation
  src/progress.rs
Due: cargo-fmt, dbg

fix: immediately render on done
  src/progress.rs
Due: cargo-fmt, dbg

refactor
  src/progress.rs
Due: cargo-fmt, dbg

v2 api
  Cargo.lock
  examples/progress.rs
  src/lib.rs
  src/progress.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.0
  Cargo.lock
  Cargo.toml
Due: none

fix: clx v2
  src/cmd.rs
Due: cargo-fmt, dbg

chore: Release ensembler version 0.2.0
  Cargo.lock
  Cargo.toml
Due: none

fix: clx v2
  Cargo.lock
  Cargo.toml
Due: none

chore: Release ensembler version 0.2.1
  Cargo.lock
  Cargo.toml
Due: none

feat: clx v2
  Cargo.lock
  Cargo.toml
  src/step.rs
Due: cargo-fmt, dbg

added builder
  examples/progress.rs
  src/lib.rs
  src/progress.rs
Due: cargo-fmt, dbg

wip
  Cargo.toml
  examples/progress.rs
  src/progress.rs
Due: cargo-fmt, dbg

wip
  examples/progress.rs
  src/progress.rs
Due: cargo-fmt, dbg

wip
  src/progress.rs
Due: cargo-fmt, dbg

wip
  Cargo.lock
Due: none

chore: Release clx version 0.2.1
  Cargo.lock
  Cargo.toml
Due: none

clx v2
  examples/run.rs
  src/cmd.rs
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
