Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

use the helper
  test/pkl_config_errors.bats
Due: none

use the helpers as well
  test/pkl_config_errors.bats
Due: none

taplo-format
  .taplo.toml
  Cargo.toml
  cliff.toml
  hk.pkl
  mise.toml
Due: pkl-eval

test: Do some test gardening (#497)
  pkl/builtins/black.pkl
  pkl/builtins/check_added_large_files.pkl
  pkl/builtins/check_byte_order_marker.pkl
  pkl/builtins/check_case_conflict.pkl
  pkl/builtins/check_symlinks.pkl
  pkl/builtins/detect_private_key.pkl
  pkl/builtins/mise.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/no_commit_to_branch.pkl
  pkl/builtins/pkl.pkl
  pkl/builtins/pkl_format.pkl
  pkl/builtins/python_check_ast.pkl
  pkl/builtins/python_debug_statements.pkl
  pkl/builtins/trailing_whitespace.pkl
  test/builtins_tests.bats
Due: pkl-eval

refactor: Turn on `taplo-format` (#501)
  .taplo.toml
  Cargo.toml
  cliff.toml
  hk.pkl
  mise.toml
Due: pkl-eval

test: Clean up `test/pkl_config_errors.bats` (#500)
  test/pkl_config_errors.bats
Due: none

add exclude
  src/test_runner.rs
  test/hk_test_files_default.bats
Due: cargo-fmt, dbg

rm dead code
  bin/generate_docs.rs
Due: cargo-fmt, dbg

feat: Apply the step glob to the test files fallback (#498)
  pkl/builtins/ruff.pkl
  pkl/builtins/ruff_format.pkl
  src/test_runner.rs
  test/hk_test_files_default.bats
Due: pkl-eval, cargo-fmt, dbg

docs: Generate config docs from the pkl (#499)
  bin/generate_docs.rs
  docs/configuration.md
  pkl/Config.pkl
  scripts/reflect.pkl
Due: pkl-eval, cargo-fmt, dbg

fix(builtins): use stage = <JOB_FILES> for fix_smart_quotes builtin
  pkl/builtins/fix_smart_quotes.pkl
Due: pkl-eval

fix(builtins): use `stage = "<JOB_FILES>"` for fix_smart_quotes builtin (#503)
  pkl/builtins/fix_smart_quotes.pkl
Due: pkl-eval

support .locl.pkl
  docs/configuration.md
  src/config.rs
  test/localconfig.bats
Due: cargo-fmt, dbg

better test
  test/localconfig.bats
Due: none

feat: Support `hk.local.pkl` (#504)
  docs/configuration.md
  src/config.rs
  test/localconfig.bats
Due: cargo-fmt, dbg

fix: preserve file permissions in fix-smart-quotes util
  src/cli/util/fix_smart_quotes.rs
Due: cargo-fmt, dbg

fix: preserve file permissions in fix-smart-quotes util (#506)
  src/cli/util/fix_smart_quotes.rs
Due: cargo-fmt, dbg

uh oh
  foo.yml
  pkl/builtins/yq.pkl
  test/builtin_tool_stubs/yq
Due: pkl-eval

no foo
  foo.yml
Due: none

add yamllint test
  pkl/builtins/yamllint.pkl
  test/builtin_tool_stubs/yamllint
Due: pkl-eval

test: add yamllint tests (#509)
  pkl/builtins/yamllint.pkl
  test/builtin_tool_stubs/yamllint
Due: pkl-eval

feat(lychee): new builtin
  pkl/Builtins.pkl
  pkl/builtins/lychee.pkl
Due: pkl-eval

feat(lychee): new builtin (#510)
  pkl/Builtins.pkl
  pkl/builtins/lychee.pkl
Due: pkl-eval

feat: add yamlfmt config to hk builtin config
  pkl/Builtins.pkl
  pkl/builtins/yamlfmt.pkl
  test/builtin_tool_stubs/yamlfmt
Due: pkl-eval

feat: add yamlfmt config to hk builtin config (#505)
  pkl/Builtins.pkl
  pkl/builtins/yamlfmt.pkl
  test/builtin_tool_stubs/yamlfmt
Due: pkl-eval

feat(tombi): add tombi config to hk builtin config
  pkl/Builtins.pkl
  pkl/builtins/tombi.pkl
  pkl/builtins/tombi_format.pkl
  test/builtin_tool_stubs/tombi
Due: pkl-eval

feat(tombi): add tombi config to hk builtin config (#511)
  pkl/Builtins.pkl
  pkl/builtins/tombi.pkl
  pkl/builtins/tombi_format.pkl
  test/builtin_tool_stubs/tombi
Due: pkl-eval

add HK_PKKL_HTTP_REWRITE
  bin/hk
  settings.toml
  src/config.rs
  src/env.rs
  src/settings.rs
  test/hk_pkl_http_proxy.bats
Due: cargo-fmt, dbg

feat: add `HK_PKL_HTTP_REWRITE` envvar (#512)
  bin/hk
  settings.toml
  src/config.rs
  src/env.rs
  src/settings.rs
  test/hk_pkl_http_proxy.bats
Due: cargo-fmt, dbg

chore: release v1.27.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  pkl/Config.pkl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

chore: release v1.27.0 (#493)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  pkl/Config.pkl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

Simplify Config.pkl
  pkl/Config.pkl
  pkl/Types.pkl
  test/regex_patterns.bats
Due: pkl-eval

tests too
  pkl/Types.pkl
  test/config_pkl_imports.bats
  test/regex_patterns.bats
Due: pkl-eval

first one
  pkl/Config.pkl
Due: pkl-eval

more dead code
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
  test/migrate_precommit.bats
Due: cargo-fmt, dbg

fix that
  pkl/Config.pkl
Due: pkl-eval

refactor: Simplify Config.pkl (namely Regex stuff) and deprecate `Types.pkl` (#517)
  pkl/Config.pkl
  pkl/Types.pkl
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
  test/config_pkl_imports.bats
  test/migrate_precommit.bats
  test/regex_patterns.bats
Due: pkl-eval, cargo-fmt, dbg

fix(yq): implement proper format checking with diff
  pkl/builtins/yq.pkl
  test/builtin_tool_stubs/yq
Due: pkl-eval

fix(yq): use diff-based check instead of just validation
  pkl/builtins/yq.pkl
Due: pkl-eval

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
