Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

Pkl builtin
  pkl/Builtins.pkl
  pkl/builtins/pkl.pkl
Due: pkl-eval

Elixir builtins
  pkl/Builtins.pkl
  pkl/builtins/mix_compile.pkl
  pkl/builtins/mix_fmt.pkl
  pkl/builtins/mix_test.pkl
Due: pkl-eval

feat: Pkl Builtin (#127)
  pkl/Builtins.pkl
  pkl/builtins/pkl.pkl
Due: pkl-eval

feat: Elixir builtins (#128)
  pkl/Builtins.pkl
  pkl/builtins/mix_compile.pkl
  pkl/builtins/mix_fmt.pkl
  pkl/builtins/mix_test.pkl
Due: pkl-eval

chore: release v1.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: unsupported stage syntax in builtins
  pkl/builtins/biome.pkl
  pkl/builtins/bundle_audit.pkl
  pkl/builtins/clang_format.pkl
  pkl/builtins/deno.pkl
  pkl/builtins/eslint.pkl
  pkl/builtins/gomod_tidy.pkl
  pkl/builtins/markdown_lint.pkl
  pkl/builtins/ox_lint.pkl
  pkl/builtins/shellcheck.pkl
  pkl/builtins/shfmt.pkl
  pkl/builtins/sort_package_json.pkl
  pkl/builtins/standard_js.pkl
  pkl/builtins/stylelint.pkl
  pkl/builtins/terraform.pkl
  pkl/builtins/xo.pkl
Due: pkl-eval

fix: syntax
  pkl/builtins/shellcheck.pkl
Due: pkl-eval

fix: syntax
  pkl/builtins/shfmt.pkl
Due: pkl-eval

fix: unsupported stage syntax in builtins (#132)
  pkl/builtins/biome.pkl
  pkl/builtins/bundle_audit.pkl
  pkl/builtins/clang_format.pkl
  pkl/builtins/deno.pkl
  pkl/builtins/eslint.pkl
  pkl/builtins/gomod_tidy.pkl
  pkl/builtins/markdown_lint.pkl
  pkl/builtins/ox_lint.pkl
  pkl/builtins/shellcheck.pkl
  pkl/builtins/shfmt.pkl
  pkl/builtins/sort_package_json.pkl
  pkl/builtins/standard_js.pkl
  pkl/builtins/stylelint.pkl
  pkl/builtins/terraform.pkl
  pkl/builtins/xo.pkl
Due: pkl-eval

feat(stash): prefer unstaged contents on conflict; add test validating behavior; include mise.lock
  mise.lock
  src/git.rs
  test/stash_prefers_unstaged_over_fixes.bats
Due: cargo-fmt, dbg

chore(stash): add warnings and error propagation for stash apply/pop paths
  src/git.rs
Due: cargo-fmt, dbg

chore(stash): fix clippy collapsible_else_if in stash pop path
  src/git.rs
Due: cargo-fmt, dbg

feat(stash): prefer unstaged contents on conflict; add tests (#133)
  mise.lock
  src/git.rs
  test/stash_prefers_unstaged_over_fixes.bats
Due: cargo-fmt, dbg

chore: release v1.3.0 (#129)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

feat: timing JSON report and Bats test
  src/env.rs
  src/hook.rs
  src/step.rs
  test/timing_json.bats
Due: cargo-fmt, dbg

docs: add HK_TIMING_JSON and usage in check/fix/run docs
  docs/cli/check.md
  docs/cli/fix.md
  docs/cli/run.md
  docs/environment_variables.md
Due: none

docs: centralize timing report docs in environment_variables.md only
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  hk.usage.kdl
  src/hook.rs
  test/timing_json.bats
Due: cargo-fmt, dbg, prettier

wip
  src/hook.rs
Due: cargo-fmt, dbg

feat(timing): include step profiles in timing JSON; switch total to monotonic Instant; docs+tests
  docs/environment_variables.md
  src/hook.rs
  src/step.rs
  test/timing_json.bats
Due: cargo-fmt, dbg

wip
  src/hook.rs
  src/main.rs
  src/timings.rs
Due: cargo-fmt, dbg

wip
  src/hook.rs
  src/step.rs
  src/timings.rs
Due: cargo-fmt, dbg

feat: timing json report (#134)
  docs/cli/commands.json
  docs/cli/index.md
  docs/environment_variables.md
  hk.usage.kdl
  src/env.rs
  src/hook.rs
  src/main.rs
  src/step.rs
  src/timings.rs
  test/timing_json.bats
Due: cargo-fmt, dbg, prettier

wip
  mise-tasks/release-plz
  src/hook.rs
  src/step.rs
  src/timings.rs
Due: cargo-fmt, dbg

chore: render during release-plz
  mise-tasks/release-plz
Due: none

chore: add usage to mise.toml
  mise.lock
  mise.toml
Due: none

chore: release v1.4.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.4.0 (#135)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

feat: json5 support for prettier builtin
  pkl/builtins/prettier.pkl
Due: pkl-eval

feat: json5 support for prettier builtin (#136)
  pkl/builtins/prettier.pkl
Due: pkl-eval

fix: pkl builtin
  pkl/builtins/pkl.pkl
Due: pkl-eval

fix: elixir and pkl steps named properly
  pkl/builtins/mix_compile.pkl
  pkl/builtins/mix_test.pkl
Due: pkl-eval

fix: elixir steps named properly (#140)
  pkl/builtins/mix_compile.pkl
  pkl/builtins/mix_test.pkl
Due: pkl-eval

fix: pkl builtin (#138)
  pkl/builtins/pkl.pkl
Due: pkl-eval

feat: prettier *.yml
  pkl/builtins/prettier.pkl
Due: pkl-eval

feat: prettier *.md
  pkl/builtins/prettier.pkl
Due: pkl-eval

Prettier *.yml and *.md files (#141)
  pkl/builtins/prettier.pkl
Due: pkl-eval

fix: make glob, exclude, and stage relative to dir (#142)
  src/step.rs
  test/dir_glob_relative.bats
Due: cargo-fmt, dbg

chore: release v1.5.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.5.0 (#137)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier
