Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

chore: exclude aube-lock.yaml from prettier
  .prettierignore
Due: none

fix(builtins): avoid batching mise formatter (#1079)
  pkl/builtins/mise.pkl
Due: pkl-eval

feat(builtins): add rumdl formatter (#1080)
  pkl/builtins/rumdl.pkl
  pkl/builtins/rumdl_format.pkl
  test/builtin_tool_stubs/rumdl
Due: pkl-eval

fix(deps): make supportedArchitectures explicit for portable lockfile
  aube-lock.yaml
  docs/aube-lock.yaml
  docs/package.json
  package.json
Due: prettier

test(builtins): add tsc tool stub for the tsc builtin test
  test/builtin_tool_stubs/tsc
Due: none

test(builtins): pin tsc stub to 6.0.3 (TS7 changed exit code)
  test/builtin_tool_stubs/tsc
Due: none

test(builtins): prepend tool-stub dir so stubs beat ambient tools
  test/builtins_tests.bats
Due: none

chore(deps): remove unused typescript and dead typescript-eslint (#1095)
  .prettierignore
  aube-lock.yaml
  docs/aube-lock.yaml
  docs/eslint.config.mjs
  docs/package.json
  mise.lock
  package.json
  test/builtin_tool_stubs/tsc
  test/builtins_tests.bats
Due: prettier

chore: release v1.52.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v1.52.0 (#1072)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

fix(step): unblock dependents after failed dependency
  src/step_group.rs
  test/depends.bats
Due: cargo-fmt, dbg

fix(step): avoid unblocking dependents during fail-fast
  src/step_group.rs
  test/depends.bats
Due: cargo-fmt, dbg

test(depends): use portable bats timeout
  test/depends.bats
Due: none

fix(step): unblock dependents after failed dependency (#1099)
  src/step_group.rs
  test/depends.bats
Due: cargo-fmt, dbg

security(git): pass --end-of-options before untrusted revs
  src/git.rs
Due: cargo-fmt, dbg

security(git): pass --end-of-options before untrusted revs (#1101)
  src/git.rs
Due: cargo-fmt, dbg

perf(hook): skip final status outside debug logging
  src/hook.rs
  test/trace.bats
Due: cargo-fmt, dbg

perf(config): cache resolved config in-process
  src/hook.rs
  test/trace.bats
Due: cargo-fmt, dbg

perf(config): cache resolved config in-process
  src/config.rs
  test/trace.bats
Due: cargo-fmt, dbg

Update test/trace.bats
  test/trace.bats
Due: none

Do final git status if we are tracing
  src/hook.rs
  src/trace.rs
  test/trace.bats
Due: cargo-fmt, dbg

perf(hook): skip final status outside debug logging (#1102)
  src/hook.rs
  src/trace.rs
  test/trace.bats
Due: cargo-fmt, dbg

feat(builtins): add cargo-deny (#1081)
  pkl/builtins/cargo_deny.pkl
  test/builtin_tool_stubs/cargo-deny
Due: pkl-eval

fix(hook): don't stash when a hook has no steps to run
  src/git.rs
  src/hook.rs
  test/stash_no_steps_to_run.bats
Due: cargo-fmt, dbg

perf(config): cache resolved config in-process (#1104)
  src/config.rs
  test/trace.bats
Due: cargo-fmt, dbg

fix(hook): don't stash when a hook has no steps to run (#1106)
  src/git.rs
  src/hook.rs
  test/stash_no_steps_to_run.bats
Due: cargo-fmt, dbg

chore: release v1.53.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v1.53.0 (#1100)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v1.53.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

perf(util): optimize `mixed-line-ending` and `check-merge-conflict builtins` using `memchr` crate
  Cargo.lock
  Cargo.toml
  src/cli/util/check_merge_conflict.rs
  src/cli/util/mixed_line_ending.rs
Due: cargo-fmt, dbg

perf(util): optimize `mixed-line-ending` and `check-merge-conflict` using `memchr` crate (#1115)
  Cargo.lock
  Cargo.toml
  src/cli/util/check_merge_conflict.rs
  src/cli/util/mixed_line_ending.rs
Due: cargo-fmt, dbg

fix(builtins): oxlint does not error for unmatched patterns
  pkl/builtins/oxfmt.pkl
Due: pkl-eval

test(builtins): exclude hono from textlint trust policy
  test/builtin_tool_stubs/textlint
Due: none

test(builtins): exclude hono from textlint trust policy (#1120)
  test/builtin_tool_stubs/textlint
Due: none

fix(step): hide informational stderr from passing check_diff/check_list_files
  src/step/runner.rs
  test/output_summary_check_success.bats
Due: cargo-fmt, dbg

fix(builtins): pass --quiet to tombi-format
  pkl/builtins/tombi_format.pkl
Due: pkl-eval

fix(builtins): pass --quiet to tombi-format (#1117)
  pkl/builtins/tombi_format.pkl
Due: pkl-eval

fix(builtins): oxlint does not error for unmatched patterns (#1119)
  pkl/builtins/oxfmt.pkl
Due: pkl-eval

feat(usage): declare what each command does to the world
  Cargo.lock
  Cargo.toml
  mise.lock
  src/cli/command_effects.rs
  src/cli/mod.rs
  src/cli/usage.rs
Due: cargo-fmt, dbg

fix: keep UNCLASSIFIED out of non-test builds
  src/cli/command_effects.rs
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
