Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

fix(mcp): capture diffs while a merge conflict is open outside the root
  src/cli/mcp.rs
Due: cargo-fmt, dbg

fix(util): check protected branch, exec bits and case conflicts against git's own state (#1577)
  src/cli/util/check_case_conflict.rs
  src/cli/util/check_executables_have_shebangs.rs
  src/cli/util/check_shebang_scripts_are_executable.rs
  src/cli/util/git_exec_bit.rs
  src/cli/util/mod.rs
  src/cli/util/no_commit_to_branch.rs
  test/util_check_case_conflict.bats
  test/util_check_executables_have_shebangs.bats
  test/util_check_shebang_scripts_are_executable.bats
Due: cargo-fmt, dbg

fix(stash): keep a staged edit when its worktree copy was reverted to HEAD (#1602)
  src/git.rs
  test/stash_intent_to_add.bats
  test/stash_restore_worktree_state.bats
Due: cargo-fmt, dbg

fix(step): select files in directories whose names contain brackets or braces (#1592)
  src/config.rs
  src/glob.rs
  test/glob_dir_bug.bats
Due: cargo-fmt, dbg

perf(step): run read-only check-only steps side by side in fix hooks (#1586)
  docs/pirate/why-hk.md
  docs/why-hk.md
  scripts/validate-apple-pkl.py
  src/step_job.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

docs(builtins): show file selectors, script commands and options in the catalogue (#1562)
  bin/generate_docs.rs
Due: cargo-fmt, dbg

feat(test): assert normalized diagnostics in step tests (#1622)
  AGENTS.md
  pkl/Config.pkl
  pkl/builtins/test/helpers.pkl
  src/step_test.rs
  src/test_runner.rs
  test/hk_test_diagnostics.bats
Due: pkl-eval, cargo-fmt, dbg

fix(agent): make --safe refuse a hook report with unknown or destructive effect (#1573)
  docs/agents.md
  docs/pirate/agents.md
  pkl/Config.pkl
  src/hook.rs
  src/step/mod.rs
  test/command_effects.bats
Due: pkl-eval, cargo-fmt, dbg

fix(step): keep percent signs in file names literal under cmd.exe (#1568)
  e2e-win/check.Tests.ps1
  src/step/output.rs
  src/step/runner.rs
  src/step/shell.rs
  src/step/types.rs
  src/tera.rs
Due: cargo-fmt, dbg

fix(config): union user skip_steps, skip_hooks and hide_warnings with the project's, and warn when hk.local.pkl replaces hk.pkl (#1596)
  docs/configuration.md
  docs/environment_variables.md
  docs/pirate/configuration.md
  docs/pirate/environment_variables.md
  settings.toml
  src/config.rs
  test/user_config_unions.bats
Due: cargo-fmt, dbg

perf(config): evaluate only the builtins a config uses, cutting cold load from ~1.4 s to ~0.07 s (#1581)
  scripts/gen_builtins.py
Due: none

fix(step): end steps run through mise on cancel; spare only hk's own git
  src/step/process_tree.rs
Due: cargo-fmt, dbg

fix(check): fail on unknown --step names instead of passing after running no steps (#1603)
  docs/getting_started.md
  docs/pirate/getting_started.md
  src/hook.rs
  src/main.rs
  src/suggest.rs
  test/unknown_step_names.bats
Due: cargo-fmt, dbg

test(step): print hk's debug output when the batching case does not split
  e2e-win/batching.Tests.ps1
Due: none

fix(step): treat env -S shebangs with escapes GNU env rejects as untyped
  src/file_type.rs
Due: cargo-fmt, dbg

fix(mcp): hash worktree bytes the same way in both diff snapshots
  src/cli/mcp.rs
Due: cargo-fmt, dbg

fix(install): correct the --force-local message when a global install exists (#1616)
  src/cli/install.rs
  test/install_skip_when_global.bats
Due: cargo-fmt, dbg

test(step): count batched calls in one file each
  e2e-win/batching.Tests.ps1
Due: none

fix(step): keep backslashes in a quoted Windows shell value
  docs/configuration.md
  docs/pirate/configuration.md
  e2e-win/shell.Tests.ps1
  pkl/Config.pkl
  src/step/shell.rs
Due: pkl-eval, cargo-fmt, dbg

chore(benchmark): gate hook stashing and cold config loads in the perf check (#1608)
  benchmark/stash/.gitignore
  benchmark/stash/fixture.sh
  benchmark/stash/hk.pkl
  tak.toml
Due: pkl-eval

security(step): refuse check_diff patches that write inside .git (#1585)
  src/env.rs
  src/git.rs
  src/logger.rs
  src/main.rs
  src/step/diff.rs
  test/apply_check_diff.bats
  test/state_dir_permissions.bats
Due: cargo-fmt, dbg

fix(agent): explain failures from a stop-hook result that was cut off
  src/cli/agent/stop_hook.rs
Due: cargo-fmt, dbg

fix(config): do not read source lines under a finding as column-less diagnostics
  src/diagnostics.rs
Due: cargo-fmt, dbg

fix(stash): keep a merge or cherry-pick in progress when stashing the worktree (#1609)
  src/git.rs
  test/stash_merge_state.bats
Due: cargo-fmt, dbg

fix(step): split a Windows shell value like CommandLineToArgvW
  docs/configuration.md
  docs/pirate/configuration.md
  pkl/Config.pkl
  src/step/shell.rs
Due: pkl-eval, cargo-fmt, dbg

fix(config): honor top-level jobs, accept documented HK_STASH values, and fix the hk config crash (#1594)
  src/cli/config.rs
  src/config.rs
  src/env.rs
  src/hook.rs
  test/documented_settings.bats
  test/structured_output.bats
Due: cargo-fmt, dbg

fix(cli): print failures once, without Rust locations or a bogus fix hint (#1588)
  src/cli/util/check_conventional_commit.rs
  src/error_report.rs
  src/hook.rs
  src/main.rs
  src/step/runner.rs
  test/failure_output.bats
Due: cargo-fmt, dbg

perf(git): skip the untracked scan for runs that name their files, e.g. hk check FILE (#1587)
  src/git.rs
  src/hook.rs
  test/status_untracked_scan.bats
Due: cargo-fmt, dbg

fix(agent): keep partial check output when a background process holds the pipe
  src/cli/agent/stop_hook.rs
Due: cargo-fmt, dbg

fix(step): read a quoted Windows path with a trailing backslash literally
  src/step/shell.rs
Due: cargo-fmt, dbg

docs: add lefthook and husky with lint-staged migration guides (#1589)
  docs/.vitepress/sidebar.ts
  docs/migrate-husky.md
  docs/migrate-lefthook.md
  docs/pirate/migrate-husky.md
  docs/pirate/migrate-lefthook.md
  docs/public/llms.txt
Due: prettier

docs(config): explain where diagnostics come from and when a step needs diagnostic_format (#1619)
  docs/agents.md
  docs/ci.md
  docs/configuration.md
  docs/pirate/agents.md
  docs/pirate/ci.md
  docs/pirate/configuration.md
  pkl/Config.pkl
Due: pkl-eval

feat(validate): warn about misspelled properties, no-op depends, unmatchable globs and loose min_hk_version (#1590)
  docs/cli/commands.json
  docs/cli/validate.md
  docs/pirate/cli.json
  docs/pirate/cli/validate.md
  docs/pirate/pkl_introduction.md
  docs/pkl_introduction.md
  hk.usage.kdl
  scripts/validate-apple-pkl.py
  src/cli/validate.rs
  src/config.rs
  src/lint.rs
  src/main.rs
  src/version.rs
  test/validate.bats
Due: cargo-fmt, dbg, prettier

perf(stash): stop rescanning the worktree before stashing, saving ~80 ms on large repos (#1595)
  src/git.rs
Due: cargo-fmt, dbg

test(mcp): use a UTF-8 conflicted filename on macOS
  src/cli/mcp.rs
Due: cargo-fmt, dbg

fix(mcp): report git start failures and skip submodules in diff snapshots
  src/cli/mcp.rs
Due: cargo-fmt, dbg

ci: combine hosted Bats configurations
  .github/workflows/ci-impl.yml
Due: actionlint

fix(agent): kill the whole check process tree on Windows when the stop hook times out
  src/cli/agent/stop_hook.rs
Due: cargo-fmt, dbg

ci: skip full checks for docs-only pull requests
  .github/workflows/ci.yml
Due: actionlint

fix(pkl): hide mirror credentials in failed package download errors (#1620)
  src/config.rs
  test/hk_pkl_http_proxy.bats
Due: cargo-fmt, dbg
