Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

chore(deps): update mise lock for cargo backends
  mise.lock
Due: none

chore(deps): lock cargo backend downloads
  mise.lock
Due: none

fix(docs): add manifest trailing newline
  docs/public/site.webmanifest
Due: none

fix(config): read string settings from live git config
  src/settings.rs
Due: cargo-fmt, dbg

style(config): format mise tools
  mise.toml
Due: none

perf(config): share resolved config cache by content
  src/cache.rs
  src/config.rs
  test/cache_behavior.bats
Due: cargo-fmt, dbg

schedule releases for Monday morning
  .github/workflows/auto-merge-release.yml
Due: actionlint

fix(config): read string settings from live git config (#1042)
  src/settings.rs
Due: cargo-fmt, dbg

address release workflow review feedback
  .github/workflows/auto-merge-release.yml
Due: actionlint

docs: redesign logo as vector hook wordmark (#1041)
  docs/.vitepress/theme/HomePage.vue
  docs/public/android-chrome-192x192.png
  docs/public/android-chrome-512x512.png
  docs/public/apple-touch-icon.png
  docs/public/favicon-16x16.png
  docs/public/favicon-32x32.png
  docs/public/favicon.ico
  docs/public/logo-small.png
  docs/public/logo.png
  docs/public/logo.svg
  docs/public/site.webmanifest
Due: none

harden release PR lookup
  .github/workflows/auto-merge-release.yml
Due: actionlint

perf(config): share resolved config cache by content (#1044)
  src/cache.rs
  src/config.rs
  test/cache_behavior.bats
Due: cargo-fmt, dbg

fix(install): run installed pre-commit hooks staged
  src/cli/install.rs
  test/install_creates_git_hooks.bats
  test/install_global.bats
Due: cargo-fmt, dbg

chore: use release backends for cargo tools (#1040)
  mise.lock
  mise.toml
Due: none

schedule releases for Monday morning (#1045)
  .github/workflows/auto-merge-release.yml
Due: actionlint

fix(install): run installed pre-commit hooks staged (#1043)
  src/cli/install.rs
  test/install_creates_git_hooks.bats
  test/install_global.bats
Due: cargo-fmt, dbg

chore: release v1.50.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v1.50.0 (#1021)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

gate autorelease on fix and feat commits
  .github/workflows/auto-merge-release.yml
  .github/workflows/release-plz.yml
Due: actionlint

ci: run autorelease daily after seven days
  .github/workflows/auto-merge-release.yml
  .github/workflows/release-plz.yml
Due: actionlint

ci: move autorelease cadence gate to auto-merge
  .github/workflows/release-plz.yml
Due: actionlint

ci: fix auto-merge checkout permissions
  .github/workflows/auto-merge-release.yml
Due: actionlint

ci: harden release auto-merge guard
  .github/workflows/auto-merge-release.yml
Due: actionlint

ci: gate autorelease on fix and feat commits (#1046)
  .github/workflows/auto-merge-release.yml
Due: actionlint

fix(release): add macos x86 target
  .github/workflows/release.yml
Due: actionlint

fix(release): add actionlint for macos amd64
  .github/actionlint.yaml
Due: prettier

chore(release): skip ai reviews for release prs
  greptile.json
Due: prettier

chore(release): skip ai reviews for release prs (#1049)
  greptile.json
Due: prettier

feat(config): add disjunctive file selectors
  pkl/Config.pkl
  pkl/builtins/shellcheck.pkl
  pkl/builtins/shfmt.pkl
  src/config.rs
  src/step/batching.rs
  src/step/filtering.rs
  src/step/mod.rs
  src/step/runner.rs
  src/step/types.rs
  src/step_group.rs
  test/types.bats
  test/validation_errors.bats
Due: pkl-eval, cargo-fmt, dbg

fix(config): preserve match order and narrow shell types
  pkl/Config.pkl
  pkl/builtins/shellcheck.pkl
  pkl/builtins/shfmt.pkl
  pkl/builtins/test/helpers.pkl
  src/step/filtering.rs
  src/step/runner.rs
  test/types.bats
Due: pkl-eval, cargo-fmt, dbg

fix(config): preserve hkrc glob overrides
  src/config.rs
  test/builtins_tests.bats
  test/check_first_waits.bats
  test/hkrc.bats
Due: cargo-fmt, dbg

fix: make --quiet and --silent suppress progress output
  docs/cli/commands.json
  docs/cli/index.md
  docs/logging.md
  hk.usage.kdl
  settings.toml
  src/cli/init/mod.rs
  src/cli/install.rs
  src/cli/migrate/pre_commit.rs
  src/cli/mod.rs
  src/hook.rs
  test/quiet_silent.bats
Due: cargo-fmt, dbg, prettier

fix: keep failed-step summaries under --quiet
  docs/cli/commands.json
  docs/cli/index.md
  docs/logging.md
  hk.usage.kdl
  src/cli/mod.rs
  src/hook.rs
  test/quiet_silent.bats
Due: cargo-fmt, dbg, prettier

test: assert --stats --silent produces no output at all
  test/quiet_silent.bats
Due: none

fix: make --quiet and --silent suppress progress output (#1058)
  docs/cli/commands.json
  docs/cli/index.md
  docs/logging.md
  hk.usage.kdl
  settings.toml
  src/cli/init/mod.rs
  src/cli/install.rs
  src/cli/migrate/pre_commit.rs
  src/cli/mod.rs
  src/hook.rs
  test/quiet_silent.bats
Due: cargo-fmt, dbg, prettier

docs: align social links icons vertically center
  docs/.vitepress/theme/style.css
Due: prettier

docs: align social links icons vertically center (#1059)
  docs/.vitepress/theme/style.css
Due: prettier

feat(config): add disjunctive file selectors (#1055)
  pkl/Config.pkl
  pkl/builtins/shellcheck.pkl
  pkl/builtins/shfmt.pkl
  pkl/builtins/test/helpers.pkl
  src/config.rs
  src/step/batching.rs
  src/step/filtering.rs
  src/step/mod.rs
  src/step/runner.rs
  src/step/types.rs
  src/step_group.rs
  test/builtins_tests.bats
  test/check_first_waits.bats
  test/hkrc.bats
  test/types.bats
  test/validation_errors.bats
Due: pkl-eval, cargo-fmt, dbg

fix(stash): wait for transient index locks
  src/git.rs
  test/stash_index_lock_retry.bats
Due: cargo-fmt, dbg
