Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

feat: allow hiding warnings
  docs/environment_variables.md
  mise-tasks/release-plz
  src/env.rs
  src/hook.rs
  src/macros.rs
  src/main.rs
  test/hide_warnings.bats
  test/profile_skip_summary.bats
Due: cargo-fmt, dbg

feat: allow hiding warnings (#153)
  docs/environment_variables.md
  mise-tasks/release-plz
  src/env.rs
  src/hook.rs
  src/macros.rs
  src/main.rs
  test/hide_warnings.bats
  test/profile_skip_summary.bats
Due: cargo-fmt, dbg

fix: properly display aborted steps when fail-fast triggers
  src/step.rs
  src/step_context.rs
  src/step_group.rs
Due: cargo-fmt, dbg

fix: properly display aborted steps when fail-fast triggers (#154)
  src/step.rs
  src/step_context.rs
  src/step_group.rs
Due: cargo-fmt, dbg

feat: make stderr display in progress bars configurable
  ensembler/src/cmd.rs
  src/step.rs
Due: cargo-fmt, dbg

feat: make stderr display in progress bars configurable (#155)
  src/cmd.rs
Due: cargo-fmt, dbg

feat: make stderr display in progress bars configurable (#155)
  ensembler/src/cmd.rs
  src/step.rs
Due: cargo-fmt, dbg

chore: release v1.7.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.7.0 (#152)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: Release ensembler version 0.2.11
  Cargo.lock
  Cargo.toml
Due: none

chore: fix duplicate Builtins.pkl files
  pkl/Builtins.pkl
  pkl/builtins.pkl
Due: pkl-eval

fix: clx not stopping correctly
  clx/src/progress.rs
Due: cargo-fmt, dbg

fix: clx not stopping correctly (#158)
  clx/src/progress.rs
Due: cargo-fmt, dbg

fix: clx not stopping correctly (#158)
  src/progress.rs
Due: cargo-fmt, dbg

fix: clean up output for missing-profile warnings
  pkl/UserConfig.pkl
  src/config.rs
  src/hook.rs
  src/macros.rs
  src/settings.rs
  test/arg_escape.bats
  test/condition.bats
  test/hide_warnings.bats
  test/pre_push.bats
  test/prepare_commit_msg.bats
  test/profile_skip_summary.bats
Due: pkl-eval, cargo-fmt, dbg

fix: clean up output for missing-profile warnings (#157)
  pkl/UserConfig.pkl
  src/config.rs
  src/hook.rs
  src/macros.rs
  src/settings.rs
  test/arg_escape.bats
  test/condition.bats
  test/hide_warnings.bats
  test/pre_push.bats
  test/prepare_commit_msg.bats
  test/profile_skip_summary.bats
Due: pkl-eval, cargo-fmt, dbg

chore: release v1.7.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.7.1 (#156)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: add some trace logs to prevent flex tags
  clx/src/progress.rs
Due: cargo-fmt, dbg

chore: add some trace logs to prevent flex tags
  src/progress.rs
Due: cargo-fmt, dbg

feat: added support for process::cmd to read stdout/stderr by line
  mise.toml
  src/git.rs
  xx/Cargo.toml
  xx/src/process.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.16
  Cargo.lock
  Cargo.toml
Due: none

chore: cargo up
  Cargo.lock
Due: none

chore: Release xx version 2.2.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
Due: none

fix: bug with stashing unstaged files
  mise-tasks/release-plz
  src/git.rs
  src/step.rs
  test/cargo_fmt_does_not_stage_manifest.bats
Due: cargo-fmt, dbg

chore: clippy
  xx/src/process.rs
Due: cargo-fmt, dbg

fix: bug with stashing unstaged files (#160)
  mise-tasks/release-plz
  src/git.rs
  src/step.rs
  test/cargo_fmt_does_not_stage_manifest.bats
  xx/src/process.rs
Due: cargo-fmt, dbg

fix: bug with <clx:flex> tags appearing when they should not
  Cargo.toml
  clx/src/progress.rs
  xx/src/process.rs
Due: cargo-fmt, dbg

fix: bug with <clx:flex> tags appearing when they should not (#161)
  src/progress.rs
Due: cargo-fmt, dbg

fix: bug with <clx:flex> tags appearing when they should not (#161)
  Cargo.toml
  clx/src/progress.rs
  xx/src/process.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.17
  Cargo.lock
  Cargo.toml
Due: none

chore: pull subtrees
  Cargo.lock
Due: none

chore: release v1.8.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.8.0 (#159)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

feat: add `warning` config to hk.pkl
  docs/environment_variables.md
  pkl/Config.pkl
  pkl/UserConfig.pkl
  src/config.rs
  src/hook.rs
  src/macros.rs
  src/main.rs
  src/settings.rs
  test/hide_warnings.bats
  test/profile_skip_summary.bats
Due: pkl-eval, cargo-fmt, dbg

Update environment_variables.md
  docs/environment_variables.md
Due: none

Update config.rs
  src/config.rs
Due: cargo-fmt, dbg

feat: add `warning` config to hk.pkl (#162)
  docs/environment_variables.md
  pkl/Config.pkl
  pkl/UserConfig.pkl
  src/config.rs
  src/hook.rs
  src/macros.rs
  src/main.rs
  src/settings.rs
  test/hide_warnings.bats
  test/profile_skip_summary.bats
Due: pkl-eval, cargo-fmt, dbg

feat(templates): add {{workspace_files}} for workspace-relative file list
  src/step_job.rs
  src/tera.rs
  test/workspace_indicator.bats
Due: cargo-fmt, dbg
