Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

chore(ci): assert mise run render produces no diff
  .github/workflows/ci.yml
Due: actionlint

chore(ci): remove autofix.ci workflow (#923)
  .github/workflows/autofix.yml
Due: actionlint

fix(ci): use git diff HEAD so staged render diffs are shown on failure
  .github/workflows/ci.yml
Due: actionlint

chore(ci): assert mise run render produces no diff (#924)
  .github/workflows/ci.yml
Due: actionlint

chore(ci): add zizmor workflow for github actions security analysis
  .github/workflows/zizmor.yml
Due: actionlint

fix(ci): disable zizmor advanced-security so CI fails on findings
  .github/workflows/zizmor.yml
Due: actionlint

fix(ci): update claude-code-action version comment to v1.0.118 (ref-version-mismatch)
  .github/workflows/claude.yml
Due: actionlint

fix(ci): address zizmor findings (persist-credentials, scoped permissions, template-injection)
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/docs.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
Due: actionlint

fix(ci): suppress zizmor use-trusted-publishing info on cargo publish
  .github/workflows/release.yml
Due: actionlint

fix(ci): use double quotes in zizmor.yml paths to match prettier
  .github/workflows/zizmor.yml
Due: actionlint

chore(deps): commit mise.lock updates produced by newer mise on macos-arm64
  mise.lock
Due: none

fix(ci): restore push creds + Pages perm + rust-cache restore on Windows
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release-plz.yml
Due: actionlint

fix(ci): invoke pkl via `mise x` in gen_builtins.py for Windows
  scripts/gen_builtins.py
Due: none

fix(ci): add top-level permissions to claude.yml for zizmor
  .github/workflows/claude.yml
Due: actionlint

fix(ci): skip bash pkl:gen on Windows; revert gen_builtins.py change
  mise-tasks/pkl/gen
  scripts/gen_builtins.py
Due: none

chore(ci): add zizmor workflow for github actions security analysis (#925)
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/docs.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  .github/workflows/zizmor.yml
  mise-tasks/pkl/gen
  mise.lock
Due: actionlint

fix(stash): preserve staged deletions across pop_stash
  src/git.rs
  test/stash_staged_deletion.bats
Due: cargo-fmt, dbg

style(stash): simplify staged-deleted filter predicate
  src/git.rs
Due: cargo-fmt, dbg

fix(stash): move staged-deleted check inside loop to preserve `git rm --cached`
  src/git.rs
  test/stash_staged_deletion.bats
Due: cargo-fmt, dbg

fix(stash): preserve staged deletions across pop_stash (#927)
  src/git.rs
  test/stash_staged_deletion.bats
Due: cargo-fmt, dbg

fix(pre-push): correct inverted ref filter and handle new-branch pushes
  src/cli/run/pre_push.rs
  test/pre_push.bats
Due: cargo-fmt, dbg

fix(stash): preserve fixer tail-line deletions in three-way merge
  src/merge.rs
  test/fixer_tail_deletion_with_middle_unstaged.bats
Due: cargo-fmt, dbg

style(pre-push): apply cargo fmt
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

fix(pre-push): support sha-256 repos in zero-sha check
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

test(merge): tighten tail-deletion regression coverage
  src/merge.rs
  test/fixer_tail_deletion_with_middle_unstaged.bats
Due: cargo-fmt, dbg

fix(pre-push): preserve EMPTY_REF guard for deletions
  src/cli/run/pre_push.rs
  test/pre_push.bats
Due: cargo-fmt, dbg

fix(stash): preserve fixer tail-line deletions in three-way merge (#931)
  src/merge.rs
  test/fixer_tail_deletion_with_middle_unstaged.bats
Due: cargo-fmt, dbg

fix(pre-push): rebind default branch onto target remote
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

fix(hook): make EMPTY_REF guard hash-length agnostic
  src/cli/run/pre_push.rs
  src/git.rs
  src/hook.rs
Due: cargo-fmt, dbg

fix(pre-push): preserve multi-segment branch names in remote rebind
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

fix(pre-push): correct inverted ref filter and handle new-branch pushes (#932)
  src/cli/run/pre_push.rs
  src/git.rs
  src/hook.rs
  test/pre_push.bats
Due: cargo-fmt, dbg

feat(install): add --prefer-global flag to skip local install when global hooks exist
  docs/cli/commands.json
  docs/cli/install.md
  docs/mise_integration.md
  hk.usage.kdl
  src/cli/install.rs
  test/install_prefer_global.bats
Due: cargo-fmt, dbg, prettier

feat(install)!: skip local install by default when global hooks exist
  docs/cli/commands.json
  docs/cli/install.md
  docs/mise_integration.md
  hk.usage.kdl
  src/cli/install.rs
  test/install_prefer_global.bats
  test/install_skip_when_global.bats
Due: cargo-fmt, dbg, prettier

feat(install): skip local install when hk is configured globally (#934)
  docs/cli/commands.json
  docs/cli/install.md
  docs/mise_integration.md
  hk.usage.kdl
  src/cli/install.rs
  test/install_skip_when_global.bats
Due: cargo-fmt, dbg, prettier

chore(ci): close failing or conflicted PRs sooner
  .github/workflows/pr-closer.yml
Due: actionlint

chore(ci): close failing or conflicted PRs sooner (#936)
  .github/workflows/pr-closer.yml
Due: actionlint

chore: release v1.46.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

fix(install): use absolute commands for global hooks
  src/cli/install.rs
  test/install_global.bats
Due: cargo-fmt, dbg

fix(install): use absolute commands for global hooks (#939)
  src/cli/install.rs
  test/install_global.bats
Due: cargo-fmt, dbg

Fixed: HK_LOG_FILE not placing log file where specified.
  src/main.rs
Due: cargo-fmt, dbg
