Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

fix(agent): use safe mode in Codex examples
  src/cli/agent/codex-instructions.md
  test/snapshots/agent/instructions-codex.txt
Due: none

fix(mcp): preserve UTF-8 log pagination
  src/cli/mcp.rs
Due: cargo-fmt, dbg

fix(mcp): replace bridge placeholder on render
  mcp-ui/src/main.test.tsx
  mcp-ui/src/main.tsx
  src/cli/mcp_dashboard.html
Due: prettier

fix(mcp): fail runs with malformed results
  src/cli/mcp.rs
Due: cargo-fmt, dbg

docs(mcp): refresh dashboard screenshot
  docs/public/agent-dashboard.png
Due: none

feat(mcp): show live step activity
  mcp-ui/src/app.test.tsx
  mcp-ui/src/app.tsx
  mcp-ui/src/style.css
  mcp-ui/src/types.ts
  src/cli/mcp_dashboard.html
Due: prettier

feat(mcp): stream live step progress
  src/cli/mcp.rs
  src/hook.rs
  src/step_context.rs
  src/structured_output.rs
  test/structured_output.bats
Due: cargo-fmt, dbg

fix(mcp): label standard execution mode
  mcp-ui/src/app.test.tsx
  mcp-ui/src/app.tsx
  src/cli/mcp_dashboard.html
Due: prettier

test(agent): match canonical Codex MCP output
  test/snapshots/agent/mcp-codex.txt
Due: none

feat(mcp): compact successful run steps
  .github/workflows/ci.yml
  mcp-ui/src/app.test.tsx
  mcp-ui/src/app.tsx
  mcp-ui/src/style.css
  src/cli/mcp_dashboard.html
Due: actionlint, prettier

feat(mcp): add interactive hk dashboard
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  aube-lock.yaml
  docs/agents/mcp-dashboard.md
  docs/public/agent-dashboard.png
  mcp-ui/index.html
  mcp-ui/package.json
  mcp-ui/src/app.test.tsx
  mcp-ui/src/app.tsx
  mcp-ui/src/bridge.test.ts
  mcp-ui/src/bridge.ts
  mcp-ui/src/main.tsx
  mcp-ui/src/style.css
  mcp-ui/src/test-setup.ts
  mcp-ui/src/types.ts
  mcp-ui/src/vite-env.d.ts
  mcp-ui/tsconfig.json
  mcp-ui/vite.config.ts
  package.json
  pnpm-workspace.yaml
  scripts/build_mcp_ui
  scripts/check_mcp_ui_fresh
  scripts/create_mcp_demo
  src/cli/mcp.rs
  src/cli/mcp_dashboard.html
  test/fixtures/mcp-dashboard/demo.txt
  test/fixtures/mcp-dashboard/hk.pkl.template
Due: actionlint, cargo-fmt, dbg, prettier

fix(check): deduplicate diagnostic output
  src/structured_output.rs
  test/diagnostics.bats
Due: cargo-fmt, dbg

fix(check): capture diagnostics independently of display
  src/hook.rs
  src/step/execution.rs
  src/step/runner.rs
  test/diagnostics.bats
Due: cargo-fmt, dbg

fix(check): emit schema-valid SARIF consistently
  src/diagnostics.rs
  src/structured_output.rs
  test/diagnostics.bats
Due: cargo-fmt, dbg

fix(mcp): stop active runs before debug shutdown
  src/cli/mcp.rs
Due: cargo-fmt, dbg

fix(mcp): clear recovered refresh alerts
  mcp-ui/src/app.test.tsx
  mcp-ui/src/app.tsx
  src/cli/mcp_dashboard.html
Due: prettier

test(check): prevent cancellation test lock inversion
  test/diagnostics.bats
Due: none

fix(mcp): exclude debug shutdown from release router
  src/cli/mcp.rs
Due: cargo-fmt, dbg

feat(mcp): add debug server shutdown tool
  src/cli/mcp.rs
Due: cargo-fmt, dbg

docs(agent): show MCP dashboard
  docs/agents.md
Due: none

feat(check): add normalized diagnostics and SARIF (#1168)
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  pkl/Config.pkl
  src/diagnostics.rs
  src/hook.rs
  src/hook_options.rs
  src/main.rs
  src/step/execution.rs
  src/step/mod.rs
  src/step/runner.rs
  src/step/types.rs
  src/structured_output.rs
  test/diagnostics.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

feat(mcp): expose hk to coding agents (#1169)
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/mcp.md
  hk.usage.kdl
  src/cli/command_effects.rs
  src/cli/mcp.rs
  src/cli/mod.rs
  src/config.rs
  src/hook.rs
  src/step_context.rs
  src/structured_output.rs
  test/structured_output.bats
Due: cargo-fmt, dbg, prettier

feat(mcp): add interactive hk dashboard (#1170)
  .github/workflows/ci.yml
  .gitignore
  .prettierignore
  aube-lock.yaml
  docs/agents/mcp-dashboard.md
  docs/public/agent-dashboard.png
  mcp-ui/index.html
  mcp-ui/package.json
  mcp-ui/src/app.test.tsx
  mcp-ui/src/app.tsx
  mcp-ui/src/bridge.test.ts
  mcp-ui/src/bridge.ts
  mcp-ui/src/main.test.tsx
  mcp-ui/src/main.tsx
  mcp-ui/src/style.css
  mcp-ui/src/test-setup.ts
  mcp-ui/src/types.ts
  mcp-ui/src/vite-env.d.ts
  mcp-ui/tsconfig.json
  mcp-ui/vite.config.ts
  package.json
  pnpm-workspace.yaml
  scripts/build_mcp_ui
  scripts/check_mcp_ui_fresh
  scripts/create_mcp_demo
  src/cli/mcp.rs
  src/cli/mcp_dashboard.html
  test/fixtures/mcp-dashboard/demo.txt
  test/fixtures/mcp-dashboard/hk.pkl.template
Due: actionlint, cargo-fmt, dbg, prettier

feat(agent): generate coding-agent integrations (#1171)
  docs/.vitepress/config.mts
  docs/agents.md
  docs/cli/agent.md
  docs/cli/agent/hooks.md
  docs/cli/agent/instructions.md
  docs/cli/agent/mcp.md
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
  src/cli/agent.rs
  src/cli/agent/claude-code-hooks.json
  src/cli/agent/claude-code-instructions.md
  src/cli/agent/claude-code-mcp.txt
  src/cli/agent/claude-desktop-mcp.json
  src/cli/agent/codex-hooks.json
  src/cli/agent/codex-instructions.md
  src/cli/agent/codex-mcp.toml
  src/cli/agent/generic-instructions.md
  src/cli/agent/vscode-hooks.json
  src/cli/agent/vscode-mcp.json
  src/cli/command_effects.rs
  src/cli/init/generator.rs
  src/cli/mod.rs
  test/agent_generators.bats
  test/snapshots/agent/hooks-claude-code.txt
  test/snapshots/agent/hooks-codex.txt
  test/snapshots/agent/hooks-vscode.txt
  test/snapshots/agent/instructions-claude-code.txt
  test/snapshots/agent/instructions-codex.txt
  test/snapshots/agent/instructions-generic.txt
  test/snapshots/agent/mcp-claude-code.txt
  test/snapshots/agent/mcp-claude-desktop.txt
  test/snapshots/agent/mcp-codex.txt
  test/snapshots/agent/mcp-vscode.txt
Due: cargo-fmt, dbg, prettier

Notes added by 'git notes add'
  c9026dadf99c4dc82227c042a3e270b292b8ffec
Due: none

Notes added by 'git notes add'
  deb2cc4bb5667b46db83f9982d9e86cccd0b8ad1
Due: none

Notes added by 'git notes add'
  670360d521e9bf8bd2a3e5827b8352e04e69da7b
Due: none

Notes added by 'git notes add'
  59d2187211c42a27b48ff9de86936809a723ad46
Due: none

Notes added by 'git notes add'
  d7a6a2f1f387f91b074fb6992b2a9d223a3710e2
Due: none

test(init): decouple agent docs assertion from releases
  src/cli/init/generator.rs
Due: cargo-fmt, dbg

fix(docs): keep search modal above site navigation
  docs/.vitepress/theme/style.css
Due: prettier

test(init): decouple agent docs assertion from releases (#1187)
  src/cli/init/generator.rs
Due: cargo-fmt, dbg

Notes added by 'git notes add'
  76328d9573a823e975714ab0c868173414e5ec87
Due: none

fix(docs): keep search modal above site navigation (#1188)
  docs/.vitepress/theme/style.css
Due: prettier

chore: release v1.55.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

Notes added by 'git notes add'
  df9e6a06f8b34d68de217f16ebf9ba53048280e9
Due: none

chore: release v1.55.0 (#1158)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

Notes added by 'git notes add'
  291444625d5717d48e7ee5f009406988b026984f
Due: none

fix(config): allow steps to include binary files
  pkl/Config.pkl
  test/binary_file_cache.bats
Due: pkl-eval

fix(config): allow steps to include binary files (#1190)
  pkl/Config.pkl
  test/binary_file_cache.bats
Due: pkl-eval
