Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

ci: seed mbx cache for fork PRs
  .github/actions/mbx/action.yml
  .github/workflows/ci-impl.yml
Due: actionlint

chore(deps): use pklr 2
  Cargo.lock
  Cargo.toml
  pkl/Config.pkl
  pkl/builtins/check_added_large_files.pkl
  pkl/builtins/check_case_conflict.pkl
  pkl/builtins/check_executables_have_shebangs.pkl
  pkl/builtins/check_symlinks.pkl
  pkl/builtins/gitleaks.pkl
  pkl/builtins/go_vet.pkl
  pkl/builtins/gomod_tidy.pkl
  pkl/builtins/no_commit_to_branch.pkl
  pkl/builtins/prettier.pkl
  pkl/builtins/revive.pkl
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg

fix(init): satisfy single-match lint
  src/cli/init/generator.rs
Due: cargo-fmt, dbg

feat(config)!: add shared top-level steps
  docs/configuration.md
  pkl/Config.pkl
  src/cli/init/generator.rs
  src/cli/install.rs
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
  src/config.rs
  src/hook.rs
  src/hook_options.rs
  test/migrate_precommit.bats
  test/top_level_steps.bats
Due: pkl-eval, cargo-fmt, dbg

test(config): exclude shared steps from settings
  test/config_completeness.bats
Due: none

fix(config): merge hkrc after implicit hooks
  src/config.rs
Due: cargo-fmt, dbg

perf(builtins): skip runtime for bare listing
  src/main.rs
Due: cargo-fmt, dbg

fix(config): ignore disabled subproject hooks
  src/config.rs
Due: cargo-fmt, dbg

test(init): expect concise top-level template
  test/init_creates_hk_pkl.bats
Due: none

fix(install): respect disabled global hooks
  src/cli/install.rs
  test/install_global.bats
Due: cargo-fmt, dbg

test(hook): enable staging in index assertions
  test/fix_preserves_unstaged_newline.bats
  test/gomod_tidy_nested_module.bats
  test/group_inheritance.bats
  test/stage_generated_files.bats
  test/stage_job_files.bats
  test/stage_root_glob.bats
Due: none

feat(hook)!: make staging contextual
  docs/configuration.md
  docs/environment_variables.md
  docs/hooks.md
  pkl/Config.pkl
  settings.toml
  src/hook.rs
  src/step/execution.rs
  test/stage_default.bats
  test/stage_setting.bats
Due: pkl-eval, cargo-fmt, dbg

test(hook): use canonical builtin factory syntax
  test/stage_setting.bats
Due: none

test(hook): require explicit staging in filter tests
  test/dir_template.bats
  test/overstaging_prettier.bats
Due: none

test(hook): verify staging disable overrides
  test/stage_default.bats
  test/stage_setting.bats
Due: none

refactor(config)!: remove deprecated v1 interfaces
  build/embed_pkl_package.rs
  docs/.vitepress/config.mts
  docs/cli/commands.json
  docs/cli/config.md
  docs/cli/config/dump.md
  docs/cli/init.md
  docs/configuration.md
  docs/migration-v2.md
  docs/mise_integration.md
  hk.usage.kdl
  pkl/Config.pkl
  pkl/Types.pkl
  pkl/UserConfig.pkl
  pkl/builtins/check_byte_order_marker.pkl
  pkl/builtins/fix_byte_order_marker.pkl
  scripts/gen_builtins.py
  settings.toml
  src/cli/command_effects.rs
  src/cli/config.rs
  src/cli/mcp.rs
  src/cli/mod.rs
  src/config.rs
  src/main.rs
  src/output.rs
  src/settings.rs
  src/version.rs
  test/hide_warnings.bats
  test/hkrc.bats
  test/regex_patterns.bats
  test/skip_configuration.bats
  test/stage_setting.bats
  test/v2_migration_errors.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

perf(config): keep v1 tombstones out of usage
  docs/cli/commands.json
  hk.usage.kdl
  src/cli/command_effects.rs
  src/cli/mod.rs
  src/config.rs
  src/settings.rs
Due: cargo-fmt, dbg, prettier

docs: document configurable builtin migration
  docs/migration-v2.md
  src/config.rs
  test/v2_migration_errors.bats
Due: cargo-fmt, dbg

test(pkl): allow config with no imports
  test/config_pkl_imports.bats
Due: none

fix(config): preserve project environment precedence
  src/config.rs
  test/hkrc.bats
Due: cargo-fmt, dbg

ci: seed mbx cache for fork PRs (#1262)
  .github/actions/mbx/action.yml
  .github/workflows/ci-impl.yml
Due: actionlint

Notes added by 'git notes add'
  25196e7d548f36ce07def227b9a474ab924d53b4
Due: none

docs: disable code ligatures
  docs/.vitepress/theme/style.css
Due: prettier

docs: disable code ligatures (#1264)
  docs/.vitepress/theme/style.css
Due: prettier

Notes added by 'git notes add'
  67be8daeb3fc77c8c7d3db1ca820396788ad4a96
Due: none

ci: notarize the macOS release binary
  .github/workflows/release.yml
Due: actionlint

Notes added by 'git notes add'
  c2066beb4a0c5be924d75abcee2c641611f42f38
Due: none

chore(ci): compare mbx with rust-cache
  .github/workflows/cache-benchmark.yml
Due: actionlint

fix: sign for notarization and notarize the right binary
  .github/workflows/release.yml
Due: actionlint

chore(ci): benchmark Windows cache performance
  .github/workflows/cache-benchmark.yml
Due: actionlint

chore(ci): harden cache benchmarks
  .github/workflows/cache-benchmark.yml
Due: actionlint

fix(builtins): match root action metadata files in pinact glob
  pkl/builtins/pinact.pkl
Due: pkl-eval

fix(builtins): match root action metadata files in pinact_update glob
  pkl/builtins/pinact_update.pkl
Due: pkl-eval

fix(ci): vendor Windows native dependencies
  .github/workflows/cache-benchmark.yml
Due: actionlint

ci: notarize the macOS release binary (#1266)
  .github/workflows/release.yml
Due: actionlint

Notes added by 'git notes add'
  6427dcc3e519865455a33c31ec8da7f109f1206f
Due: none

refactor(config)!: remove pkl CLI fallback
  Cargo.lock
  Cargo.toml
  docs/configuration.md
  docs/environment_variables.md
  docs/migration-v2.md
  docs/pkl_introduction.md
  src/cache.rs
  src/config.rs
  src/env.rs
  test/pklr_backend.bats
  test/v2_migration_errors.bats
Due: cargo-fmt, dbg

chore(ci): compare mbx with rust-cache (#1267)
  .github/workflows/cache-benchmark.yml
Due: actionlint

Notes added by 'git notes add'
  408ca31336e6276fa3fa034c139de1d2205ee6a7
Due: none

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
