Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

chore: release v1.36.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

docs: add opengraph meta tags for social media previews
  docs/.vitepress/config.mts
Due: none

docs: add opengraph meta tags (#685)
  docs/.vitepress/config.mts
Due: none

fix it
  src/test_runner.rs
Due: cargo-fmt, dbg

chore: Use tmpdir for the tests (#677)
  pkl/builtins/actionlint.pkl
  pkl/builtins/test/helpers.pkl
  src/test_runner.rs
Due: pkl-eval, cargo-fmt, dbg

chore: release v1.36.0 (#657)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

fix(release): write release notes to file instead of capturing stdout
  mise-tasks/gen-release-notes
Due: none

fix(release): use mktemp for output file and redirect stdout
  mise-tasks/gen-release-notes
Due: none

fix(release): write release notes to file instead of capturing stdout (#688)
  mise-tasks/gen-release-notes
Due: none

fix(release): make release notes editorialization non-blocking
  .github/workflows/release.yml
  mise-tasks/gen-release-notes
Due: actionlint

fix(release): redirect diagnostic messages to stderr and fix fallback
  .github/workflows/release.yml
  mise-tasks/gen-release-notes
Due: actionlint

fix(release): make release notes editorialization non-blocking (#690)
  .github/workflows/release.yml
  mise-tasks/gen-release-notes
Due: actionlint

chore: release v1.36.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

fix(gomod_tidy): comment out broken check
  pkl/builtins/gomod_tidy.pkl
Due: pkl-eval

chore: replace gen-release-notes script with communique
  .github/workflows/release.yml
  communique.toml
  mise-tasks/gen-release-notes
  mise.toml
Due: actionlint

fix: correct taplo formatting order in mise.toml
  mise.toml
Due: none

chore: replace gen-release-notes script with communique (#700)
  .github/workflows/release.yml
  communique.toml
  mise-tasks/gen-release-notes
  mise.toml
Due: actionlint

chore: release v1.36.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  mise.lock
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

docs: document config file search paths
  docs/configuration.md
Due: none

docs: clarify ambiguity in load order precedence table
  docs/configuration.md
Due: none

docs: document config file search paths (#701)
  docs/configuration.md
Due: none

docs: require AI disclosure on GitHub comments
  CLAUDE.md
Due: none

docs: require AI disclosure on GitHub comments (#703)
  CLAUDE.md
Due: none

fix: use strip_suffix for .orig removal and fix prefix detection
  src/step/diff.rs
  src/step/mod.rs
Due: cargo-fmt, dbg

fix: address clippy warnings in strip_orig_suffix
  src/step/mod.rs
Due: cargo-fmt, dbg

chore: add autofix.ci workflow
  .github/workflows/autofix.yml
Due: actionlint

feat: parse Go-style diffs (#704)
  src/step/check_parsing.rs
  src/step/diff.rs
  src/step/mod.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

chore: add autofix.ci workflow (#705)
  .github/workflows/autofix.yml
  mise.lock
Due: actionlint

fix(builtins): strip extra trailing newlines in end-of-file-fixer
  src/cli/util/end_of_file_fixer.rs
  test/util_end_of_file_fixer.bats
Due: cargo-fmt, dbg

feat(hook): add env support to hooks
  pkl/Config.pkl
  src/hook.rs
  test/hook_env.bats
Due: pkl-eval, cargo-fmt, dbg

refactor: update doc comments and extract normalize_ending helper
  src/cli/util/end_of_file_fixer.rs
Due: cargo-fmt, dbg

feat(hook): add env support to hooks (#709)
  pkl/Config.pkl
  src/hook.rs
  test/hook_env.bats
Due: pkl-eval, cargo-fmt, dbg

fix(builtins): strip extra trailing newlines in end-of-file-fixer (#708)
  docs/cli/commands.json
  docs/cli/util/end-of-file-fixer.md
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk.usage.kdl
  src/cli/util/end_of_file_fixer.rs
  test/batch_false_empty_files.bats
  test/config_unification.bats
  test/pre_commit_subdir_mixed_staging.bats
  test/trace.bats
  test/util_end_of_file_fixer.bats
Due: cargo-fmt, dbg, prettier

chore: release v1.37.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

fix(config): deserialize hkrc as Config and discover from home dir :relieved:
  src/cli/mod.rs
  src/config.rs
  src/settings.rs
  test/hkrc.bats
Due: cargo-fmt, dbg

test(config): add failing tests for Config-format hkrc :bug:
  test/hkrc.bats
Due: none

test(config): add precedence tests for config loading hierarchy :fire:
  test/hkrc.bats
  test/localconfig.bats
Due: none

docs(config): add how-to guide for global hook preferences :sparkles:
  docs/configuration.md
Due: none

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
