Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

docs: keep a link to the sea shanty when scripting is off
  docs/.vitepress/theme/ShantyChip.vue
Due: none

docs: keep a link to the sea shanty when scripting is off (#1545)
  docs/.vitepress/theme/ShantyChip.vue
Due: none

docs: make sea shanty mode a pirate locale with a header switch
  docs/.vitepress/config.mts
  docs/.vitepress/pirate-pages.mjs
  docs/.vitepress/pirate.data.ts
  docs/.vitepress/pirate.ts
  docs/.vitepress/sidebar.ts
  docs/.vitepress/theme/HomePage.vue
  docs/.vitepress/theme/HomeShowreel.vue
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/ShantyChip.vue
  docs/.vitepress/theme/ShantyNotice.vue
  docs/.vitepress/theme/ShantyOverlay.vue
  docs/.vitepress/theme/ShantySwitch.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/shanty-home.css
  docs/.vitepress/theme/shanty-mode.css
  docs/.vitepress/theme/shanty-mode.ts
  docs/.vitepress/theme/showreel/test/shanty-mode.test.ts
  docs/.vitepress/theme/useShantyMode.ts
  docs/package.json
  docs/pirate/STYLE.md
  docs/pirate/index.md
  docs/pirate/why-hk.md
Due: prettier

docs: draw the pirate landing page as a sea chart in the crew's voice
  docs/.vitepress/theme/HomePage.vue
  docs/.vitepress/theme/HomeShowreel.vue
  docs/.vitepress/theme/ShantyChip.vue
  docs/.vitepress/theme/shanty-home.css
  docs/.vitepress/theme/showreel/test/shanty-home.test.ts
  docs/pirate/index.md
Due: prettier

docs: theme the whole site in sea shanty mode
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/ShantyNotice.vue
  docs/.vitepress/theme/ShantyOverlay.vue
  docs/.vitepress/theme/ShantySwitch.vue
  docs/.vitepress/theme/ShantyWaves.vue
  docs/.vitepress/theme/fonts/IMFell-OFL.txt
  docs/.vitepress/theme/fonts/IMFellEnglish-Italic.woff2
  docs/.vitepress/theme/fonts/IMFellEnglish-Regular.woff2
  docs/.vitepress/theme/fonts/IMFellEnglishSC-Regular.woff2
  docs/.vitepress/theme/fonts/LibreCaslonText-Italic.woff2
  docs/.vitepress/theme/fonts/LibreCaslonText-OFL.txt
  docs/.vitepress/theme/fonts/LibreCaslonText.woff2
  docs/.vitepress/theme/fonts/README.md
  docs/.vitepress/theme/shanty-mode.css
  docs/.vitepress/theme/shanty/anchor.svg
  docs/.vitepress/theme/shanty/bottle.svg
  docs/.vitepress/theme/shanty/chest-open.svg
  docs/.vitepress/theme/shanty/chest.svg
  docs/.vitepress/theme/shanty/compass-rose.svg
  docs/.vitepress/theme/shanty/flourish.svg
  docs/.vitepress/theme/shanty/grain-dark.svg
  docs/.vitepress/theme/shanty/grain-light.svg
  docs/.vitepress/theme/shanty/jolly-roger.svg
  docs/.vitepress/theme/shanty/knot.svg
  docs/.vitepress/theme/shanty/lighthouse.svg
  docs/.vitepress/theme/shanty/log.svg
  docs/.vitepress/theme/shanty/parrot.svg
  docs/.vitepress/theme/shanty/quill.svg
  docs/.vitepress/theme/shanty/rhumb-lines.svg
  docs/.vitepress/theme/shanty/rope.svg
  docs/.vitepress/theme/shanty/serpent.svg
  docs/.vitepress/theme/shanty/ship-small.svg
  docs/.vitepress/theme/shanty/stars.svg
  docs/.vitepress/theme/shanty/torn-bottom.svg
  docs/.vitepress/theme/shanty/torn.svg
  docs/.vitepress/theme/shanty/wave.svg
  docs/.vitepress/theme/shanty/x-mark.svg
  docs/.vitepress/theme/showreel/test/shanty-mode.test.ts
Due: prettier

docs: keep stale and orphaned pirate pages from breaking the build
  AGENTS.md
  docs/.vitepress/config.mts
  docs/.vitepress/pirate.ts
  docs/.vitepress/theme/ShantyVideo.vue
Due: prettier

test: cover the pirate page checks
  docs/.vitepress/pirate-pages.mjs
  docs/.vitepress/pirate-pages.test.mjs
  docs/package.json
Due: prettier

docs: send the pirate landing page's links to English pages that have no variant
  docs/.vitepress/theme/HomePage.vue
  docs/.vitepress/theme/HomeShowreel.vue
  docs/.vitepress/theme/shanty-mode.ts
Due: prettier

docs: let an opened address decide sea shanty mode for the visit
  docs/.vitepress/config.mts
  docs/.vitepress/pirate-pages.mjs
  docs/.vitepress/pirate-pages.test.mjs
  docs/.vitepress/theme/ShantyChip.vue
  docs/.vitepress/theme/ShantyNotice.vue
  docs/.vitepress/theme/ShantySwitch.vue
  docs/.vitepress/theme/shanty-mode.ts
  docs/.vitepress/theme/showreel/test/shanty-mode.test.ts
  docs/.vitepress/theme/useShantyMode.ts
  docs/pirate/cli/index.md
  mise-tasks/update-version.sh
Due: prettier

docs: polish sea shanty mode's outline, menus and typography
  docs/.vitepress/sidebar.ts
  docs/.vitepress/theme/HomePage.vue
  docs/.vitepress/theme/Layout.vue
  docs/.vitepress/theme/ShantySwitch.vue
  docs/.vitepress/theme/shanty-home.css
  docs/.vitepress/theme/shanty-mode.css
Due: prettier

docs: use the settled pirate words in the interface labels
  docs/.vitepress/pirate.ts
  docs/.vitepress/theme/ShantyNotice.vue
Due: prettier

chore: strip trailing whitespace from the sea shanty fonts' licences
  docs/.vitepress/theme/fonts/IMFell-OFL.txt
  docs/.vitepress/theme/fonts/LibreCaslonText-OFL.txt
Due: none

docs: match pages with or without .html when flipping back, and refocus the chip
  docs/.vitepress/pirate-pages.mjs
  docs/.vitepress/pirate-pages.test.mjs
  docs/.vitepress/theme/ShantyChip.vue
  docs/.vitepress/theme/shanty-mode.ts
  docs/.vitepress/theme/showreel/test/shanty-mode.test.ts
  docs/.vitepress/theme/useShantyMode.ts
Due: prettier

docs: say why the Back hook's redirect adds no history entry
  docs/.vitepress/theme/useShantyMode.ts
Due: prettier

docs: ignore only version-shaped values when hashing pirate pages' sources
  docs/.vitepress/pirate-pages.mjs
  docs/.vitepress/pirate-pages.test.mjs
Due: none

docs: say the pirate hk util page's read-only effect is for that call alone
  docs/pirate/cli/util.md
Due: none

docs: note that format-diff and sarif-diff take the effect of the command they run
  docs/pirate/cli/util.md
Due: none

docs: harden the pirate CLI generator and tighten its new words
  docs/.vitepress/pirate-cli.mjs
  docs/.vitepress/pirate-cli.test.mjs
  docs/.vitepress/pirate-pages.mjs
  docs/.vitepress/theme/ShantyNotice.vue
  docs/pirate/STYLE.md
  docs/pirate/cli.json
  docs/pirate/cli/check.md
  docs/pirate/cli/completion.md
  docs/pirate/cli/fix.md
  docs/pirate/cli/index.md
  docs/pirate/cli/install.md
  docs/pirate/cli/run.md
  docs/pirate/cli/run/commit-msg.md
  docs/pirate/cli/run/post-checkout.md
  docs/pirate/cli/run/post-commit.md
  docs/pirate/cli/run/post-merge.md
  docs/pirate/cli/run/post-rewrite.md
  docs/pirate/cli/run/pre-commit.md
  docs/pirate/cli/run/pre-push.md
  docs/pirate/cli/run/pre-rebase.md
  docs/pirate/cli/run/prepare-commit-msg.md
  docs/pirate/cli/test.md
Due: prettier

docs: agree the untranslated-lines note with its count
  docs/.vitepress/theme/ShantyNotice.vue
Due: none

ci: unblock the docs deploy and stop re-rendering unchanged videos
  .github/workflows/docs-impl.yml
  docs/.vitepress/check-social-images.mjs
Due: actionlint

docs: keep the English anchor on a translated h1, and catch orphaned pirate CLI pages
  docs/.vitepress/pirate-cli.mjs
  docs/.vitepress/pirate-cli.test.mjs
  docs/pirate/cli/index.md
Due: none

ci: save each video render on its own, and check the pirate fallback player
  .github/workflows/docs-impl.yml
  docs/.vitepress/check-social-images.mjs
Due: actionlint

ci: unblock the docs deploy and stop re-rendering unchanged videos (#1551)
  .github/workflows/docs-impl.yml
  docs/.vitepress/check-social-images.mjs
Due: actionlint

test(step): ignore the header job when checking for running jobs in a pty
  test/apply_check_diff.bats
Due: none

fix(docs): stop sidebar links showing through the logo when it bounces
  docs/.vitepress/theme/shanty-mode.css
  docs/.vitepress/theme/style.css
Due: prettier

fix(docs): keep the shanty title paper to the widths where it sits over the sidebar
  docs/.vitepress/theme/shanty-mode.css
Due: prettier

fix(docs): stop sidebar links showing through the logo when it bounces (#1554)
  docs/.vitepress/theme/shanty-mode.css
  docs/.vitepress/theme/style.css
Due: prettier

ci: limit each contributor to one open draft PR
  .github/workflows/draft-limit.yml
Due: actionlint

ci: limit each contributor to one open draft PR (#1555)
  .github/workflows/draft-limit.yml
Due: actionlint

fix(step): isolate formatter patches from concurrent commands and staging (#1392)
  scripts/validate-apple-pkl.py
  src/hook.rs
  src/step/execution.rs
  src/step/runner.rs
  src/step_job.rs
  src/step_locks.rs
  test/check_diff_isolation.bats
Due: cargo-fmt, dbg

fix(step): keep interactive steps in hk's process group
  Cargo.lock
  src/step/runner.rs
  test/interactive_process_group.bats
Due: cargo-fmt, dbg

fix(step): keep interactive steps in hk's process group (#1557)
  Cargo.lock
  src/step/runner.rs
  test/interactive_process_group.bats
Due: cargo-fmt, dbg

docs: restrict AI replies on Discussions and Issues
  AGENTS.md
  CONTRIBUTING.md
  docs/contributing.md
Due: none

docs: clarify that AI-assisted creation of Discussions and Issues is allowed
  AGENTS.md
  docs/contributing.md
Due: none

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
