Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

fix(step): match a symlinked job file under a symlinked dir
  src/step/check_parsing.rs
Due: cargo-fmt, dbg

ci: allow more time for hosted macOS Bats tests
  .github/workflows/ci-impl.yml
Due: actionlint

fix(builtins): let go_lines take an argv prefix (#1523)
  pkl/builtins/go_lines.pkl
  test/structured_argv.bats
Due: pkl-eval

chore(deps): bump mbx to 1.19.0
  .github/workflows/cache-benchmark.yml
  mise.lock
Due: actionlint

ci: cache mise tools in CI
  .github/workflows/ci-impl.yml
Due: actionlint

style(ci): format cache restore condition
  .github/workflows/ci-impl.yml
Due: actionlint

ci: align warm benchmark with mbx 1.19.0
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

chore(deps): bump mbx to 1.19.0 (#1525)
  .github/workflows/cache-benchmark.yml
  .github/workflows/warm-cache-benchmark.yml
  mise.lock
Due: actionlint

fix(step): apply go mod tidy and isort diffs and keep carriage returns in patches (#1513)
  pkl/builtins/isort.pkl
  src/step/check_parsing.rs
  src/step/diff.rs
  src/step/execution.rs
  src/step/mod.rs
  src/step/output.rs
  test/apply_check_diff.bats
Due: pkl-eval, cargo-fmt, dbg

fix(step): write patched files in place and refuse hard-linked ones
  src/step/diff.rs
Due: cargo-fmt, dbg

fix(step): roll back the file whose patched write failed too
  src/step/diff.rs
Due: cargo-fmt, dbg

feat(step): apply check_diff patches in hk instead of running git apply
  Cargo.lock
  Cargo.toml
  src/step/diff.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

fix(step): replace patched files instead of writing through hard links
  src/step/diff.rs
Due: cargo-fmt, dbg

fix(step): undo only what a failed patch write changed
  src/step/diff.rs
Due: cargo-fmt, dbg

fix(step): keep in-process patches inside the working directory
  src/step/diff.rs
  src/step/mod.rs
Due: cargo-fmt, dbg

fix(step): stop instead of fixing when a patch can't be rolled back
  src/step/diff.rs
  src/step/execution.rs
Due: cargo-fmt, dbg

fix(step): fail the rollback for a file hk can't read
  src/step/diff.rs
Due: cargo-fmt, dbg

fix(fix): recompute a read-locked patch if any of the job's files changed
  src/step/execution.rs
Due: cargo-fmt, dbg

ci: cache mise tools across CI jobs (#1526)
  .github/workflows/ci-impl.yml
Due: actionlint

ci: restore Bats tools on every runner
  .github/workflows/ci-impl.yml
Due: actionlint

ci: seed Bats tool cache before tests
  .github/workflows/ci-impl.yml
Due: actionlint

fix(step): refuse git rename and binary headers, and move deleted files aside
  src/step/diff.rs
  src/step/mod.rs
Due: cargo-fmt, dbg

ci: preserve mbx cache runner tags
  .github/workflows/ci-impl.yml
Due: actionlint

fix(step): never overwrite a newer file when restoring a deleted one
  src/step/diff.rs
Due: cargo-fmt, dbg

ci: avoid incomplete macOS Bats tool cache
  .github/workflows/ci-impl.yml
Due: actionlint

feat(step): apply check_diff patches in hk instead of running git apply (#1520)
  Cargo.lock
  Cargo.toml
  src/step/diff.rs
  src/step/execution.rs
  src/step/mod.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

perf(builtins): apply trailing_whitespace and newlines diffs instead of rerunning them
  docs/configuration.md
  pkl/builtins/newlines.pkl
  pkl/builtins/trailing_whitespace.pkl
Due: pkl-eval

ci: restore Bats mise tools on every runner (#1527)
  .github/workflows/ci-impl.yml
Due: actionlint

chore(benchmark): add unused imports so ruff check has defects to fix
  benchmark/lib/inject-defects.sh
  docs/benchmarks.md
Due: none

fix(step): quote diff header paths with tabs the way git does
  src/diff.rs
  src/step/check_parsing.rs
  src/step/mod.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

chore(benchmark): bump the results schema for the new workload
  benchmark/report.py
  docs/.vitepress/benchmarks.data.ts
  docs/.vitepress/theme/showreel/facts.ts
Due: prettier

fix(step): stop finished check_diff jobs leaving a spinner on screen
  src/step_job.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

fix(step): keep quoted header paths consistent in mixed and literal cases
  src/step/diff.rs
  src/step/mod.rs
Due: cargo-fmt, dbg

test: expand check_after_diff in Apple Pkl fixtures
  scripts/validate-apple-pkl.py
Due: none

chore(benchmark): add unused imports so ruff check has defects to fix (#1529)
  benchmark/lib/inject-defects.sh
  benchmark/report.py
  docs/.vitepress/benchmarks.data.ts
  docs/.vitepress/theme/showreel/facts.ts
  docs/benchmarks.md
Due: prettier

perf(builtins): apply trailing_whitespace and newlines diffs instead of rerunning them (#1528)
  docs/configuration.md
  pkl/builtins/newlines.pkl
  pkl/builtins/trailing_whitespace.pkl
  src/diff.rs
  src/step/check_parsing.rs
  src/step/diff.rs
  src/step/mod.rs
  test/apply_check_diff.bats
Due: pkl-eval, cargo-fmt, dbg

fix(step): stop finished check_diff jobs leaving a spinner on screen (#1530)
  src/step_job.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

fix(step): resolve created paths through symlinked dirs
  src/step/check_parsing.rs
  src/step/execution.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

fix(step): recheck all inputs and preserve fixer files
  src/step/check_parsing.rs
  src/step/execution.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg
