Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

fix(config): load scalar settings from pkl (#1307)
  src/config.rs
  test/config_unification.bats
  test/hkrc.bats
Due: cargo-fmt, dbg

style: format renovate post-update task
  mise.toml
Due: none

chore(ci): use runner-provided rust
  .github/workflows/ci-impl.yml
Due: actionlint

chore(ci): make cargo-check use stable cargo
  hk.pkl
  pkl/builtins/cargo_check.pkl
Due: pkl-eval

docs: update stable cargo fallback
  CONTRIBUTING.md
Due: none

chore(ci): use runner-provided rust (#1310)
  .github/workflows/ci-impl.yml
  CONTRIBUTING.md
  hk.pkl
  pkl/builtins/cargo_check.pkl
Due: actionlint, pkl-eval

chore: bump mr-boxington to 1.3.2
  mise.lock
  mise.toml
Due: none

fix(ci): generate pkl builtins for release binaries
  .github/workflows/release.yml
  Cross.toml
  build/embed_pkl_package.rs
  build/mod.rs
Due: actionlint, cargo-fmt, dbg

chore(ci): align mbx action with 1.3.2
  .github/actions/mbx/action.yml
Due: none

fix(builtins): use exact file indicators for droast detection
  pkl/builtins/droast.pkl
Due: pkl-eval

feat(builtins): add droast dockerfile linter
  pkl/builtins/droast.pkl
  test/builtin_tool_stubs/droast
Due: pkl-eval

chore(ci): use project-installed mbx
  .github/actions/mbx/action.yml
  .github/workflows/cache-benchmark.yml
  .github/workflows/ci-impl.yml
  .github/workflows/docs-impl.yml
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

chore(ci): use released mbx action
  .github/actions/mbx/action.yml
Due: none

chore(ci): update mbx to 1.3.2
  .github/actions/mbx/action.yml
  .github/workflows/cache-benchmark.yml
  .github/workflows/warm-cache-benchmark.yml
  mise.lock
  mise.toml
Due: actionlint

chore(ci): update mbx to 1.3.2 (#1309)
  .github/actions/mbx/action.yml
  .github/workflows/cache-benchmark.yml
  .github/workflows/ci-impl.yml
  .github/workflows/docs-impl.yml
  .github/workflows/warm-cache-benchmark.yml
  mise.lock
  mise.toml
Due: actionlint

fix(ci): generate pkl builtins for release binaries (#1299)
  .github/workflows/release.yml
  Cross.toml
  build/embed_pkl_package.rs
  build/mod.rs
Due: actionlint, cargo-fmt, dbg

chore(ci): update mbx to 1.4.0
  .github/workflows/cache-benchmark.yml
  .github/workflows/warm-cache-benchmark.yml
  AGENTS.md
  CONTRIBUTING.md
  mise.lock
  mise.toml
Due: actionlint

fix(ci): correct deploy-pages v5 pin
  .github/workflows/docs-impl.yml
Due: actionlint

chore(ci): update mbx to 1.4.0 (#1312)
  .github/workflows/cache-benchmark.yml
  .github/workflows/docs-impl.yml
  .github/workflows/warm-cache-benchmark.yml
  AGENTS.md
  CONTRIBUTING.md
  mise.lock
  mise.toml
Due: actionlint

chore(ci): retry JavaScript dependency installation
  .github/workflows/ci-impl.yml
Due: actionlint

chore(ci): retry JavaScript dependency installation (#1314)
  .github/workflows/ci-impl.yml
Due: actionlint

fix(config): scope a standalone-loaded subproject to its own directory
  src/config.rs
Due: cargo-fmt, dbg

fix(config): scope nested subprojects to the work tree root
  src/config.rs
  test/agent_scope.bats
  test/standalone_subdir.bats
Due: cargo-fmt, dbg

test: add droast to Dockerfile tests
  test/init_creates_hk_pkl.bats
Due: none

feat(builtins): add droast dockerfile linter (#1302)
  pkl/builtins/droast.pkl
  test/builtin_tool_stubs/droast
  test/init_creates_hk_pkl.bats
Due: pkl-eval

fix(config): scope a standalone-loaded subproject to its own directory (#1290)
  src/config.rs
  test/agent_scope.bats
  test/standalone_subdir.bats
Due: cargo-fmt, dbg

docs: clarify that --fix overrides HK_FIX=0
  docs/environment_variables.md
Due: none

docs: qualify check/fix descriptions and legacy hkrc precedence
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/configuration.md
  hk.usage.kdl
  src/cli/check.rs
  src/cli/fix.rs
Due: cargo-fmt, dbg, prettier

docs: note that hk uninstall --global skips the repo
  docs/cli/commands.json
  docs/cli/uninstall.md
  hk.usage.kdl
  src/cli/uninstall.rs
Due: cargo-fmt, dbg, prettier

docs: regenerate llms.txt for the updated descriptions
  docs/public/llms.txt
Due: none

docs: correct HK_CHECK, which is not honored
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/environment_variables.md
  hk.usage.kdl
  src/cli/check.rs
  src/cli/fix.rs
Due: cargo-fmt, dbg, prettier

perf(ci): reuse appliance-local mbx cache
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
  mise.lock
  mise.toml
Due: actionlint

fix(perf): build once through mbx
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
  mise.toml
Due: actionlint

fix(perf): scope cache to self-hosted jobs
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
Due: actionlint

fix(perf): isolate pull-request cache
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
Due: actionlint

fix(perf): isolate each pull-request cache
  .github/workflows/perf-pr.yml
Due: actionlint

docs: stop calling check mode read-only
  docs/environment_variables.md
  settings.toml
Due: none

fix(hook): honor the check and fix settings when selecting run type
  docs/cli/commands.json
  docs/cli/fix.md
  docs/environment_variables.md
  hk.usage.kdl
  settings.toml
  src/cli/fix.rs
  src/env.rs
  src/hook.rs
  test/check_fix_mode.bats
Due: cargo-fmt, dbg, prettier
