Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

clx v2
  Cargo.lock
Due: none

chore: Release ensembler version 0.2.2
  Cargo.lock
  Cargo.toml
Due: none

use message
  examples/run.rs
  src/cmd.rs
Due: cargo-fmt, dbg

chore: Release ensembler version 0.2.3
  Cargo.lock
  Cargo.toml
Due: none

wip
  src/progress.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.2
  Cargo.lock
  Cargo.toml
Due: none

wip
  .gitmodules
  Cargo.lock
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  hk-example.pkl
  hk.code-workspace
  hk.pkl
  pkl/builtins/actionlint.pkl
  src/cli/generate.rs
  src/cli/mod.rs
  src/logger.rs
  src/main.rs
  src/step.rs
  src/step_context.rs
  src/step_job.rs
  src/step_queue.rs
  src/step_scheduler.rs
  test/test.bats
Due: pkl-eval, cargo-fmt, dbg

wip
  src/step_scheduler.rs
Due: cargo-fmt, dbg

wip
  src/cmd.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.3
  Cargo.lock
  Cargo.toml
Due: none

chore: Release ensembler version 0.2.4
  Cargo.lock
  Cargo.toml
Due: none

wip
  Cargo.lock
Due: none

wip
  .gitmodules
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  hk-example.pkl
  hk.pkl
  src/cli/generate.rs
  src/step.rs
Due: pkl-eval, cargo-fmt, dbg

fix: use colors when tty
  src/progress.rs
Due: cargo-fmt, dbg

fix: prevent waiting endlessly
  src/progress.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.4
  Cargo.lock
  Cargo.toml
Due: none

wip
  Cargo.lock
  src/cmd.rs
  src/error.rs
Due: cargo-fmt, dbg

chore: Release ensembler version 0.2.5
  Cargo.lock
  Cargo.toml
Due: none

fix: added combined_output to result
  src/cmd.rs
  src/lib.rs
Due: cargo-fmt, dbg

chore: Release ensembler version 0.2.6
  Cargo.lock
  Cargo.toml
Due: none

fix: bug with flush
  src/progress.rs
Due: cargo-fmt, dbg

fix: remove newline when no output
  src/progress.rs
Due: cargo-fmt, dbg

tweak ui with pending
  src/progress.rs
Due: cargo-fmt, dbg

stdout
  examples/run.rs
  src/cmd.rs
Due: cargo-fmt, dbg

feat: progress bar
  src/lib.rs
  src/progress.rs
  src/progress_bar.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.5
  Cargo.lock
  Cargo.toml
Due: none

fix: bug
  src/progress_bar.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.6
  Cargo.lock
  Cargo.toml
Due: none

fix: ui
  examples/progress.rs
  src/error.rs
  src/lib.rs
  src/progress.rs
  src/progress_report.rs
  src/style.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.7
  Cargo.lock
  Cargo.toml
Due: none

fix: truncate
  examples/multi_progress_report.rs
  src/env.rs
  src/lib.rs
  src/multi_progress_report.rs
  src/progress.rs
  src/progress_report.rs
Due: cargo-fmt, dbg

fix: ellipsis
  src/progress.rs
Due: cargo-fmt, dbg

refactor
  src/progress.rs
Due: cargo-fmt, dbg

fix: typo
  src/progress.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.8
  Cargo.lock
  Cargo.toml
Due: none

fix: errexit trimming
  src/cmd.rs
Due: cargo-fmt, dbg

chore: Release ensembler version 0.2.7
  Cargo.lock
  Cargo.toml
Due: none
