Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

docs(perf): explain pull-request cache lifecycle
  .github/workflows/perf-pr.yml
Due: actionlint

fix(hook): honor the check and fix settings when selecting run type (#1318)
  docs/cli/commands.json
  docs/cli/fix.md
  docs/environment_variables.md
  hk.usage.kdl
  settings.toml
  src/cli/fix.rs
  src/env.rs
  src/hook.rs
  test/check_fix_mode.bats
Due: cargo-fmt, dbg, prettier

perf(ci): reuse appliance-local mbx cache (#1317)
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
  mise.lock
  mise.toml
Due: actionlint

chore(ci): update performance runner image
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
Due: actionlint

chore(ci): update performance runner image (#1320)
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
Due: actionlint

ci: stop exporting mbx cache tarballs
  .github/actions/mbx/action.yml
  .github/workflows/ci-impl.yml
Due: actionlint

ci: document trusted mbx install path
  .github/actions/mbx/action.yml
Due: none

ci: refresh local mbx wrapper
  .github/actions/mbx/action.yml
Due: none

ci: use the shared cache tag on Namespace runners
  .github/actionlint.yaml
  .github/workflows/ci-impl.yml
  .github/workflows/claude.yml
  .github/workflows/docs-impl.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
Due: actionlint, prettier

ci: mount mbx store on Namespace cache
  .github/actions/mbx/action.yml
  .github/workflows/ci-impl.yml
Due: actionlint

ci: bootstrap mise before local mbx setup
  .github/actions/mbx/action.yml
Due: none

ci: use mbx local cache on Namespace runners
  .github/actions/mbx/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: actionlint

ci: isolate Windows mise setup
  .github/actions/mbx/action.yml
Due: none

fix(ci): preserve existing mise environment
  .github/actions/mbx/action.yml
Due: none

ci: allow isolated release runners in actionlint
  .github/actionlint.yaml
Due: prettier

ci: use native mise paths on Windows
  .github/actions/mbx/action.yml
Due: none

ci: keep Windows installs on the system drive
  .github/actions/mbx/action.yml
Due: none

ci: keep release jobs off the shared cache
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
Due: actionlint

chore(ci): update mbx to 1.5.0
  .github/workflows/cache-benchmark.yml
  .github/workflows/warm-cache-benchmark.yml
  mise.lock
  mise.toml
Due: actionlint

ci: use remote cache on GitHub-hosted runners
  .github/actions/mbx/action.yml
  .github/workflows/cache-benchmark.yml
  .github/workflows/ci-impl.yml
  .github/workflows/ci.yml
  .github/workflows/docs-impl.yml
  .github/workflows/docs.yml
Due: actionlint

fix(ci): refresh transferred aube lock metadata
  mise.lock
Due: none

fix(ci): keep public cache reads credentialless
  .github/actions/mbx/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: actionlint

fix(ci): isolate jobs without shared cache mounts
  .github/workflows/ci-impl.yml
  .github/workflows/claude.yml
  .github/workflows/docs-impl.yml
Due: actionlint

fix(ci): isolate untrusted mbx caches
  .github/workflows/ci-impl.yml
  .github/workflows/ci.yml
  .github/workflows/docs-impl.yml
  .github/workflows/docs.yml
Due: actionlint

fix(ci): mount cache for msrv
  .github/workflows/ci-impl.yml
Due: actionlint

fix(ci): retain public cache reads
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: actionlint

fix(ci): run network tests on github runners
  .github/workflows/ci-impl.yml
Due: actionlint

ci: route mbx caching by runner provider (#1319)
  .github/actionlint.yaml
  .github/actions/mbx/action.yml
  .github/workflows/cache-benchmark.yml
  .github/workflows/ci-impl.yml
  .github/workflows/ci.yml
  .github/workflows/docs-impl.yml
  .github/workflows/docs.yml
  .github/workflows/warm-cache-benchmark.yml
  mise.lock
  mise.toml
Due: actionlint, prettier

ci: document remote cache seeding
  .github/workflows/cache-benchmark.yml
Due: actionlint

ci: clarify cache seed authorization
  .github/workflows/cache-benchmark.yml
Due: actionlint

fix(builtins): match root action metadata files in pinact glob
  pkl/builtins/pinact.pkl
  pkl/builtins/pinact_update.pkl
Due: pkl-eval

chore: bump mbx to 1.6.0
  .github/workflows/cache-benchmark.yml
  .github/workflows/warm-cache-benchmark.yml
  AGENTS.md
  CONTRIBUTING.md
  mise.lock
  mise.toml
Due: actionlint

chore: bump mbx to 1.6.0 (#1322)
  .github/workflows/cache-benchmark.yml
  .github/workflows/warm-cache-benchmark.yml
  AGENTS.md
  CONTRIBUTING.md
  mise.lock
  mise.toml
Due: actionlint

ci: measure cache setup end to end
  .github/workflows/cache-benchmark.yml
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

ci: benchmark unreleased mbx revisions
  .github/actions/mbx/action.yml
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

ci: allow trusted candidate benchmarks on branches
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

docs: add open graph share image
  docs/.vitepress/config.mts
  docs/public/og.png
Due: none

ci: exercise stale manifests with alternate Rust
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

ci: validate candidate benchmark revisions
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint
