Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

chore: release v1.13.5 (#279)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

ci: fix build-pkl upload path to use mise dist (docs/public/pkl)
  .github/workflows/release.yml
Due: actionlint

chore: release v1.13.6
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.13.6 (#280)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

ci: include all Pkl package files (zip, sha256, and raw) in artifact and release
  .github/workflows/release.yml
  docs/public/pkl/hk@0.0.1-SNAPSHOT.zip
Due: actionlint

ci: include all Pkl package files (zip, sha256, and raw) in artifact and release
  .github/workflows/release.yml
Due: actionlint

chore: release v1.13.7
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.13.7 (#281)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  docs/public/pkl/hk@0.0.1-SNAPSHOT.zip
  hk.usage.kdl
Due: prettier

chore: removed snapshot file
  docs/public/pkl/hk@0.0.1-SNAPSHOT.zip
Due: none

git: preserve step-restaged files when restoring index; add Bats reproducer
  src/git.rs
  test/pre_commit_prettier_restaging.bats
Due: cargo-fmt, dbg

feat: centralized settings registry with codegen
  Cargo.toml
  build.rs
  docs/config_reference.md
  settings.toml
  src/config/generated/cli_flags.rs
  src/config/generated/git_keys.rs
  src/config/generated/settings.rs
  src/config/test_generated_merge.rs
  test/config_union_semantics.bats
Due: cargo-fmt, dbg

style: fix formatting in git.rs
  src/git.rs
Due: cargo-fmt, dbg

refactor: split build.rs into modular build/ directory structure
  Cargo.lock
  Cargo.toml
  build.rs
  build/generate_builtins.rs
  build/generate_settings.rs
  src/config.rs
  src/config/generated.rs
  src/config/generated/cli_flags.rs
  src/config/generated/git_keys.rs
  src/config/generated/settings.rs
Due: cargo-fmt, dbg

fix: resolve clippy warnings in generated code
  build/generate_settings.rs
Due: cargo-fmt, dbg

refactor: remove documentation generation from build process
  build/generate_settings.rs
  docs/config_reference.md
Due: cargo-fmt, dbg

refactor: remove unused generated code and fix warnings
  build/generate_settings.rs
  src/config/generated.rs
Due: cargo-fmt, dbg

feat: use Option types for nullable settings
  build/generate_settings.rs
Due: cargo-fmt, dbg

refactor: simplify settings.toml and improve nullable handling
  build/generate_settings.rs
  settings.toml
Due: cargo-fmt, dbg

feat: add taplo integration and fix settings registry issues
  .taplo.toml
  build/generate_settings.rs
  hk.pkl
  settings-schema.json
  settings.toml
Due: pkl-eval, cargo-fmt, dbg, prettier

feat: improve settings.toml configuration
  build/generate_settings.rs
  settings.toml
Due: cargo-fmt, dbg

refactor: improve settings.toml readability and organization
  .taplo.toml
  settings.toml
Due: none

refactor: use codegen crate features to clean up generators
  .gitignore
  .taplo.toml
  build/generate_builtins.rs
  build/generate_settings.rs
  settings.toml
Due: cargo-fmt, dbg

wip
  src/git.rs
Due: cargo-fmt, dbg

pre-commit: robust partial-path stash handling; fallback to patch and must-succeed guard
  src/git.rs
Due: cargo-fmt, dbg

fix: add #[allow(dead_code)] to suppress build warnings and improve Pkl error messages
  build/generate_settings.rs
  src/config.rs
Due: cargo-fmt, dbg

test: add bats tests for improved Pkl error messages
  test/pkl_config_errors.bats
Due: none

feat: improve Pkl config error messages
  src/config.rs
  test/pkl_config_errors.bats
Due: cargo-fmt, dbg

revert: remove Pkl error improvements from this branch
  src/config.rs
  test/pkl_config_errors.bats
Due: cargo-fmt, dbg

fix: correct clap attribute generation for negation flags
  build.rs
  build/generate_builtins.rs
  build/generate_settings.rs
Due: cargo-fmt, dbg

pre-commit: must-succeed partial path stash; prefer patch-file for partial; drop index restore interference
  src/git.rs
  src/hook.rs
Due: cargo-fmt, dbg

feat: integrate generated settings structs into settings module
  src/config.rs
  src/settings.rs.backup
Due: cargo-fmt, dbg

Extract Pkl error handling into separate method
  src/config.rs
  test/pkl_config_errors.bats
Due: cargo-fmt, dbg

pre-commit: stronger unstaged detection; fix patch apply flags; avoid aggregating staged-only entries in unstaged set
  src/git.rs
Due: cargo-fmt, dbg

feat: implement dynamic SettingsMeta with codegen for git_cfg.rs
  build/generate_settings.rs
  settings-schema.json
  settings.toml
  src/git_cfg.rs
  src/settings.rs
Due: cargo-fmt, dbg, prettier

stash(patch-file): per-file patch with 3-way apply and backup fallback; reduce patch corruption
  src/git.rs
Due: cargo-fmt, dbg

stash: stop restaging after apply to preserve step-staged index only
  src/git.rs
Due: cargo-fmt, dbg

Unify Settings on generated types
  src/cli/config.rs
  src/cli/test.rs
  src/config/test_generated_merge.rs
  src/hook.rs
  src/settings.rs
  src/step.rs
  src/step_group.rs
  src/tests/config_unification.rs
Due: cargo-fmt, dbg

Implement SettingsBuilder and SettingsSnapshot with caching
  src/settings.rs
Due: cargo-fmt, dbg

stash: skip invoking git when selected paths have no unstaged changes
  src/git.rs
Due: cargo-fmt, dbg

stash: retain step-restaged paths in index; always attempt selected-path stash with fallback
  src/git.rs
Due: cargo-fmt, dbg
