Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

ci: run bats with limited parallelism, per-test timeouts, and macOS gtimeout fallback
  .github/workflows/ci.yml
Due: actionlint

feat: convert single literal path patterns to List()
  src/cli/migrate/mod.rs
Due: cargo-fmt, dbg

ci: print bats version and run smoke test before shard run
  .github/workflows/ci.yml
Due: actionlint

chore: add minimal bats-repro workflow to debug hangs locally with act
  .github/workflows/bats-repro.yml
Due: actionlint

chore: make bats-repro build hk and add to PATH before running test
  .github/workflows/bats-repro.yml
Due: actionlint

feat: add regex pattern support for glob and exclude
  Cargo.lock
  Cargo.toml
  pkl/Config.pkl
  src/config.rs
  src/glob.rs
  src/step.rs
  src/step_group.rs
  test/regex_patterns.bats
Due: pkl-eval, cargo-fmt, dbg

bats-repro: set TMPDIR/BATS_TMPDIR to runner temp and disable tempdir cleanup
  .github/workflows/bats-repro.yml
Due: actionlint

docs: add regex pattern documentation
  docs/configuration.md
Due: none

docs: simplify regex pattern examples
  docs/configuration.md
Due: none

bats-repro: wrap bats invocation with 'timeout 1s'
  .github/workflows/bats-repro.yml
Due: actionlint

test(bats): add optional tracing via BATS_DEBUG and print PATH/hk info
  test/test_helper/common_setup.bash
Due: none

test(bats): add debug tracing and hk/git diagnostics to arg_escape.bats
  test/arg_escape.bats
Due: none

ci: prepend target/debug to PATH in bats steps to ensure hk visibility immediately
  .github/workflows/bats-repro.yml
  .github/workflows/ci.yml
Due: actionlint

test(bats): wrap 'hk install' with 'run timeout 1s' and log status/output
  test/arg_escape.bats
Due: none

docs: add helper function pattern for Regex syntax
  docs/configuration.md
  pkl/Config.pkl
Due: pkl-eval

test(bats): add --no-verify to setup commit to bypass hooks in repro
  test/arg_escape.bats
Due: none

ci(repro): give bats 5s outer timeout; hk install still wrapped with 1s
  .github/workflows/bats-repro.yml
Due: actionlint

test(repro): enable HK_TRACE/GIT_TRACE; strace hk install if available; install strace in repro job
  .github/workflows/bats-repro.yml
  test/arg_escape.bats
Due: actionlint

test(repro): print tail of strace.log if present; upload strace logs as artifacts
  .github/workflows/bats-repro.yml
  test/arg_escape.bats
Due: actionlint

ci(repro): run 'mise install' to ensure pkl/prettier are present before hk install
  .github/workflows/bats-repro.yml
Due: actionlint

test(repro): log .git/hooks before/after; bump hk/git trace verbosity
  test/arg_escape.bats
Due: none

test(repro): add local mise.toml and run mise install in test repo before hk install
  test/arg_escape.bats
Due: none

ci(bats): run 'mise install' before bats; fix YAML indentation
  .github/workflows/ci.yml
Due: actionlint

test(repro): set HK_LOG=trace for hk install to maximize verbosity
  test/arg_escape.bats
Due: none

fix: apply regex patterns relative to dir setting
  Cargo.toml
  pkl/Config.pkl
  src/config.rs
  src/glob.rs
  src/step.rs
  src/step_group.rs
  test/regex_patterns.bats
Due: pkl-eval, cargo-fmt, dbg

docs: use Config.Regex() helper instead of new Mapping syntax
  docs/configuration.md
  test/regex_patterns.bats
Due: none

migrate(pre-commit): include top-level exclude as global hk exclude and serialize in hk.pkl
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

refactor: remove redundant Pkl converter for glob and exclude
  pkl/Config.pkl
Due: pkl-eval

migrate(pre-commit): move manual hooks into hooks["manual"] and exclude from default stages
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

fix: remove invalid check property from builtin test definitions
  pkl/builtins/check_added_large_files.pkl
  pkl/builtins/no_commit_to_branch.pkl
Due: pkl-eval

fix: support regex patterns in user config and fix glob scoping
  src/config.rs
  src/glob.rs
Due: cargo-fmt, dbg

test: add bats coverage for glob scoping and regex patterns
  test/regex_patterns.bats
Due: none

fix: improve glob/regex pattern matching with dir parameter
  src/glob.rs
  src/step.rs
  src/step_group.rs
  test/regex_patterns.bats
Due: cargo-fmt, dbg

docs: add missing builtin documentation
  docs/builtins.md
Due: none

fix: correct glob pattern path separator handling and simplify pattern matching
  src/glob.rs
  src/step.rs
  src/step_group.rs
  test/regex_patterns.bats
Due: cargo-fmt, dbg

fix: match glob patterns against relative paths when dir is set
  src/glob.rs
Due: cargo-fmt, dbg

chore: remove unused StringOrList::iter method
  src/config.rs
Due: cargo-fmt, dbg

fix: revert broken glob path stripping and add regression tests
  src/glob.rs
  test/glob_dir_bug.bats
Due: cargo-fmt, dbg

ci: split CI runs into parallel jobs and add docs-sync mise task
  .github/workflows/ci.yml
  mise.toml
Due: actionlint
