Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

comment
  pkl/Builtins.pkl
Due: pkl-eval

add black tests
  mise.lock
  mise.toml
  pkl/builtins/black.pkl
  test/builtin_tool_stubs/black
  test/builtins_tests.bats
  test/test_helper/common_setup.bash
Due: pkl-eval

tests
  pkl/builtins/black.pkl
  test/builtin_tool_stubs/black
Due: pkl-eval

refactor: Move `black` from mise config to tool stub, for testing, and test the builtin (#483)
  mise.lock
  mise.toml
  pkl/builtins/black.pkl
  test/builtin_tool_stubs/black
  test/builtins_tests.bats
  test/test_helper/common_setup.bash
Due: pkl-eval

feat: forward HTTP proxy env vars to pkl
  Cargo.lock
  Cargo.toml
  src/config.rs
Due: cargo-fmt, dbg

feat: forward HTTP proxy env vars to pkl (#486)
  Cargo.lock
  Cargo.toml
  src/config.rs
Due: cargo-fmt, dbg

stub ktlint
  mise.lock
  mise.toml
  pkl/builtins/ktlint.pkl
  test/builtin_tool_stubs/ktlint
Due: pkl-eval

add pkl format tests
    
  mise.lock
  mise.toml
  pkl/builtins/pkl_format.pkl
Due: pkl-eval

undo lock
  mise.lock
Due: none

another undo
  mise.toml
Due: none

test: Stub ktlint and add tests to builtin (#488)
  mise.lock
  mise.toml
  pkl/builtins/ktlint.pkl
  test/builtin_tool_stubs/ktlint
Due: pkl-eval

wtf
    
Due: none

test: Bump pkl, fix the builtin, and add tests (#489)
  mise.lock
  pkl/builtins/pkl_format.pkl
Due: pkl-eval

chore: updated mise lockfile
  mise.lock
Due: none

fix: add new mise builtin to Builtins.pkl
  pkl/Builtins.pkl
Due: pkl-eval

fix: add new mise builtin to Builtins.pkl (#492)
  pkl/Builtins.pkl
Due: pkl-eval

ruff testing
  mise.lock
  mise.toml
  pkl/builtins/ruff.pkl
  pkl/builtins/ruff_format.pkl
Due: pkl-eval

Update ruff
  test/builtin_tool_stubs/ruff
Due: none

chmod
  test/builtin_tool_stubs/ruff
Due: none

stupid git add
  test/builtin_tool_stubs/ruff
Due: none

files
  pkl/builtins/ruff.pkl
  pkl/builtins/ruff_format.pkl
Due: pkl-eval

use tool
  test/builtin_tool_stubs/ruff
Due: none

fix the tests
  mise.lock
  test/stdin.bats
Due: none

relock
  mise.lock
Due: none

test: Move `ruff` to tool stub and fix up tests (#487)
  mise.lock
  mise.toml
  pkl/builtins/ruff.pkl
  pkl/builtins/ruff_format.pkl
  test/builtin_tool_stubs/ruff
  test/stdin.bats
Due: pkl-eval

chore: release v1.26.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

garden the tests
  pkl/builtins/black.pkl
  pkl/builtins/check_added_large_files.pkl
  pkl/builtins/check_byte_order_marker.pkl
  pkl/builtins/check_case_conflict.pkl
  pkl/builtins/check_symlinks.pkl
  pkl/builtins/detect_private_key.pkl
  pkl/builtins/mise.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/no_commit_to_branch.pkl
  pkl/builtins/pkl.pkl
  pkl/builtins/pkl_format.pkl
  pkl/builtins/python_check_ast.pkl
  pkl/builtins/python_debug_statements.pkl
  pkl/builtins/trailing_whitespace.pkl
  test/builtins_tests.bats
Due: pkl-eval

glob the default. glob it
  pkl/builtins/ruff_format.pkl
  src/test_runner.rs
  test/hk_test_files_default.bats
Due: pkl-eval, cargo-fmt, dbg

this one too
  pkl/builtins/ruff.pkl
Due: pkl-eval

generate from pkl
  bin/generate_docs.rs
  docs/configuration.md
  pkl/Config.pkl
  scripts/reflect.pkl
Due: pkl-eval, cargo-fmt, dbg

undo
  scripts/reflect.pkl
Due: pkl-eval

typo
  bin/generate_docs.rs
Due: cargo-fmt, dbg

more typos
  scripts/reflect.pkl
Due: pkl-eval

put this back
  bin/generate_docs.rs
Due: cargo-fmt, dbg

fix links
  pkl/Config.pkl
Due: pkl-eval

wtf
  scripts/reflect.pkl
Due: pkl-eval
