Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

fix(migrate): reference canonical shared steps
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
  test/migrate_precommit.bats
Due: cargo-fmt, dbg

Update checkpoint summary for 01M2BSX49PG61Y2JZHRDAD75XC
  metadata.json
Due: prettier

fix(config): avoid rematerializing default hooks
  src/config.rs
Due: cargo-fmt, dbg

fix(config): preserve root hook semantics
  src/cli/init/generator.rs
  src/cli/init/mod.rs
  src/cli/init/picker.rs
  src/config.rs
  src/hook_options.rs
  test/top_level_steps.bats
Due: cargo-fmt, dbg

style: format Rust sources
  src/config.rs
  src/hook_options.rs
Due: cargo-fmt, dbg

Update checkpoint summary for 01M2BWA7T8HVXGTXSFZPW8B02G
  metadata.json
Due: prettier

fix(config): retain subproject hook defaults
  src/config.rs
Due: cargo-fmt, dbg

test(hook): use canonical builtin factory syntax
  test/stage_setting.bats
Due: none

test(hook): require explicit staging in filter tests
  test/dir_template.bats
  test/overstaging_prettier.bats
Due: none

feat(hook)!: make staging contextual
  pkl/Config.pkl
  settings.toml
  src/hook.rs
  src/step/execution.rs
  test/stage_default.bats
  test/stage_setting.bats
Due: pkl-eval, cargo-fmt, dbg

test(hook): verify staging disable overrides
  test/stage_default.bats
  test/stage_setting.bats
Due: none

fix(hook): keep staging default contextual
  docs/configuration.md
  src/config.rs
Due: cargo-fmt, dbg

test(hook): enable staging in index assertions
  test/fix_preserves_unstaged_newline.bats
  test/gomod_tidy_nested_module.bats
  test/group_inheritance.bats
  test/stage_generated_files.bats
  test/stage_job_files.bats
  test/stage_root_glob.bats
Due: none

Update checkpoint summary for 01M2BT3KA0N0JVT01S0Q4CWB49
  metadata.json
Due: prettier

Checkpoint: 01M2BWV042SJYAREXNWKMPY9SY
  2/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BWV042SJYAREXNWKMPY9SY
  3/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BWV042SJYAREXNWKMPY9SY
  1/metadata.json
  metadata.json
Due: prettier

fix(config): clarify contextual hook defaults
  docs/configuration.md
  src/config.rs
Due: cargo-fmt, dbg

Checkpoint: 01M2BWV042SJYAREXNWKMPY9SY
  0/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BWV042SJYAREXNWKMPY9SY
  4/content_hash.txt
  4/full.jsonl
  4/metadata.json
  4/prompt.txt
  4/transcript.jsonl
  metadata.json
Due: prettier

Checkpoint: 01M2BWV042SJYAREXNWKMPY9SY
  5/content_hash.txt
  5/full.jsonl
  5/metadata.json
  5/prompt.txt
  5/transcript.jsonl
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BWV042SJYAREXNWKMPY9SY
  metadata.json
Due: prettier

fix(config): preserve project environment precedence
  src/config.rs
  test/hkrc.bats
Due: cargo-fmt, dbg

refactor(config)!: remove deprecated v1 interfaces
  build/embed_pkl_package.rs
  docs/cli/commands.json
  docs/cli/init.md
  docs/migration-v2.md
  hk.usage.kdl
  pkl/Config.pkl
  pkl/Types.pkl
  pkl/UserConfig.pkl
  pkl/builtins/check_byte_order_marker.pkl
  pkl/builtins/fix_byte_order_marker.pkl
  scripts/gen_builtins.py
  src/cli/command_effects.rs
  src/cli/mcp.rs
  src/cli/mod.rs
  src/config.rs
  src/main.rs
  src/output.rs
  src/settings.rs
  src/version.rs
  test/hide_warnings.bats
  test/hkrc.bats
  test/regex_patterns.bats
  test/skip_configuration.bats
  test/stage_setting.bats
  test/v2_migration_errors.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

Update checkpoint summary for 01M2BESAK16DA83MXT0H31RAY0
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BTF9276MWMSRRXPQ41J8T6
  metadata.json
Due: prettier

test(config): remove obsolete hkrc coverage
  test/hkrc.bats
Due: none

docs: document configurable builtin migration
  docs/migration-v2.md
  src/config.rs
  test/v2_migration_errors.bats
Due: cargo-fmt, dbg

docs(cli): regenerate removed init alias
  hk.usage.kdl
Due: none

perf(config): keep v1 tombstones out of usage
  docs/cli/commands.json
  hk.usage.kdl
  src/cli/command_effects.rs
  src/cli/mod.rs
  src/config.rs
  src/settings.rs
Due: cargo-fmt, dbg, prettier

test(pkl): allow config with no imports
  test/config_pkl_imports.bats
Due: none

refactor(config)!: finish v1 migration tombstones
  docs/.vitepress/sidebar.ts
  docs/cli/commands.json
  docs/configuration.md
  docs/migration-v2.md
  hk.usage.kdl
  src/cli/command_effects.rs
  src/cli/mcp.rs
  src/cli/mod.rs
  src/config.rs
  test/hkrc.bats
  test/v2_migration_errors.bats
Due: cargo-fmt, dbg, prettier

fix(config): report legacy configs from hooks
  src/config.rs
  src/hook_options.rs
  test/v2_migration_errors.bats
Due: cargo-fmt, dbg

Update checkpoint summary for 01M2BVSBQRJTX6EGZYXVHVX17B
  metadata.json
Due: prettier

fix(config): preserve global hook defaults
  src/config.rs
  test/hkrc.bats
Due: cargo-fmt, dbg

Update checkpoint summary for 01M2BTW59CAQ8X9JRXVJFBFE7N
  metadata.json
Due: prettier

Update checkpoint summary for 01M2AZH4ZK6V4BBEKCTX54K8QP
  metadata.json
Due: prettier

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
