Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

chore: update clx submodule with OSC progress fixes
  Cargo.lock
  docs/configuration.md
  settings.toml
  src/cli/mod.rs
Due: cargo-fmt, dbg

fix(shfmt): use -s for check and fix
  pkl/builtins/shfmt.pkl
Due: pkl-eval

Fix migrate command failing on invalid existing config
  src/cli/mod.rs
Due: cargo-fmt, dbg

chore: update clx submodule to add OSC progress bars (#373)
  Cargo.lock
  docs/configuration.md
  settings.toml
  src/cli/mod.rs
Due: cargo-fmt, dbg

chore: release v1.19.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  docs/reference/schema.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

feat: add tofu (OpenTofu) builtin and update terraform glob patterns
  docs/builtins.md
  pkl/Builtins.pkl
  pkl/builtins/terraform.pkl
  pkl/builtins/tofu.pkl
Due: pkl-eval

feat: add tofu (OpenTofu) builtin for formatting (#380)
  docs/builtins.md
  pkl/Builtins.pkl
  pkl/builtins/terraform.pkl
  pkl/builtins/tofu.pkl
Due: pkl-eval

Make `hk install` only install if in the tree of a git repo.
  src/cli/install.rs
Due: cargo-fmt, dbg

PR feedback + lint - use xx:file::find_up
  src/cli/install.rs
Due: cargo-fmt, dbg

Actually run cargo fmt
  src/cli/install.rs
Due: cargo-fmt, dbg

feat: make `hk install` only install if in the tree of a git repo. (#382)
  src/cli/install.rs
Due: cargo-fmt, dbg

chore: release v1.20.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  docs/reference/schema.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

chore: release v1.20.0 (#371)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  docs/reference/schema.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

Try not to blow single argument string size
  src/step.rs
Due: cargo-fmt, dbg

feat(prettier): support Vue files
  pkl/builtins/prettier.pkl
Due: pkl-eval

Add Elixir builtins to docs
  docs/builtins.md
Due: none

Import elixir builtins
  pkl/Builtins.pkl
Due: pkl-eval

docs: Add Elixir builtins to docs (#389)
  docs/builtins.md
Due: none

feat(prettier): support Vue files (#388)
  pkl/builtins/prettier.pkl
Due: pkl-eval

Fix mix_test import
  pkl/Builtins.pkl
Due: pkl-eval

fix: Import elixir builtins (#390)
  pkl/Builtins.pkl
Due: pkl-eval

docs: fix link to Pkl language docs
  docs/reference/schema.md
Due: none

docs: glossary grammar fix
  docs/glossary.md
Due: none

docs: glossary grammar fix (#395)
  docs/glossary.md
Due: none

docs: fix link to Pkl language docs (#394)
  docs/reference/schema.md
Due: none

feat(terraform,tofu): include .tftest.hcl in glob
  docs/builtins.md
  pkl/builtins/terraform.pkl
  pkl/builtins/tofu.pkl
Due: pkl-eval

fix(tf_lint): don't pass filenames
  docs/builtins.md
  pkl/builtins/tf_lint.pkl
Due: pkl-eval

fix(shfmt): don't pass -s
  pkl/builtins/shfmt.pkl
Due: pkl-eval

fix(golangci-lint): check with --fix=false
  docs/builtins.md
  pkl/builtins/golangci_lint.pkl
Due: pkl-eval

fix(golangci-lint): check with --fix=false (#399)
  docs/builtins.md
  pkl/builtins/golangci_lint.pkl
Due: pkl-eval

fix(shfmt): don't pass -s (#398)
  pkl/builtins/shfmt.pkl
Due: pkl-eval

fix(tf_lint): don't pass filenames (#396)
  docs/builtins.md
  pkl/builtins/tf_lint.pkl
Due: pkl-eval

feat(terraform,tofu): include .tftest.hcl in glob (#397)
  docs/builtins.md
  pkl/builtins/terraform.pkl
  pkl/builtins/tofu.pkl
Due: pkl-eval

feat(typos): new builtin
  docs/builtins.md
  pkl/Builtins.pkl
  pkl/builtins/typos.pkl
Due: pkl-eval

feat(tflint): add fix command
  docs/builtins.md
  pkl/builtins/tf_lint.pkl
Due: pkl-eval

refactor(typos): make use of check_diff
  docs/builtins.md
  pkl/builtins/typos.pkl
Due: pkl-eval

feat(typos): new builtin (#400)
  docs/builtins.md
  pkl/Builtins.pkl
  pkl/builtins/typos.pkl
Due: pkl-eval
