Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

refactor: Simplify Unix shell handling to always use sh
  src/shell.rs
Due: cargo-fmt, dbg

feat: Integrate mise for Windows CI and testing
  .github/workflows/ci-windows.yml
  .github/workflows/ci.yml
  WINDOWS_SUPPORT.md
  mise.lock
  src/config.rs
  test/windows/README.md
  test/windows/hk.Tests.ps1
  test/windows/run-tests.ps1
Due: actionlint, cargo-fmt, dbg

docs: add comprehensive schema reference and built-in linters documentation
  .github/workflows/ci.yml
  docs/builtins.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/index.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  docs/reference/schema.md
  mise.lock
  scripts/check-docs-sync.sh
  scripts/generate-examples.sh
Due: actionlint, pkl-eval

feat: add plan/explain mode for previewing hook execution
  src/hook.rs
  src/hook_options.rs
  src/main.rs
  src/plan.rs
  src/step_group.rs
  test/plan.bats
  test/plan_json.bats
  test/why.bats
Due: cargo-fmt, dbg

docs: add new documentation pages to sidebar navigation
  docs/.vitepress/config.mts
Due: none

fix: resolve YAML syntax error in ci-windows.yml PowerShell heredoc
  .github/workflows/ci-windows.yml
Due: actionlint

docs: add comprehensive schema reference and built-in linters documentation (#261)
  .github/workflows/ci.yml
  docs/.vitepress/config.mts
  docs/builtins.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/index.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  docs/reference/schema.md
  mise.lock
  scripts/check-docs-sync.sh
  scripts/generate-examples.sh
Due: actionlint, pkl-eval

refactor: use dry-run approach for plan mode instead of duplicating logic
  src/hook.rs
  src/step.rs
Due: cargo-fmt, dbg

fix: apply clippy suggestions for plan mode
  src/hook.rs
Due: cargo-fmt, dbg

docs: add comprehensive logging and debugging guide
  docs/logging.md
Due: none

fix: address GitHub Actions CI issues
  .github/workflows/ci-windows.yml
  src/shell.rs
Due: actionlint, cargo-fmt, dbg

docs: add comprehensive logging and debugging guide (#263)
  docs/logging.md
Due: none

docs: add glossary and update sidebar navigation
  docs/.vitepress/config.mts
  docs/glossary.md
Due: none

docs: add glossary and update sidebar navigation (#264)
  docs/.vitepress/config.mts
  docs/glossary.md
Due: none

style: apply cargo fmt formatting
  src/git.rs
  src/hook.rs
  src/shell.rs
Due: cargo-fmt, dbg

fix: add missing newlines to Windows test files
  test/windows/README.md
  test/windows/hk.Tests.ps1
  test/windows/run-tests.ps1
Due: none

fix: resolve plan logic accuracy and dry-run execution issues
  src/hook.rs
Due: cargo-fmt, dbg

fix: skip cross-platform test failure in Windows CI
  .github/workflows/ci-windows.yml
Due: actionlint

refactor: replace --plan-json flag with --plan --json
  src/hook.rs
  src/hook_options.rs
  test/plan.bats
  test/plan_json.bats
Due: cargo-fmt, dbg

plan: route plan via dry-run; plan reasons via build_step_jobs; config: robust pkl fallback
  src/config.rs
  src/hook.rs
  src/trace.rs
Due: cargo-fmt, dbg

fix: build release binary for Windows CI tests
  .github/workflows/ci-windows.yml
Due: actionlint

fix: ensure all Windows CI builds use release mode
  .github/workflows/ci-windows.yml
  .github/workflows/ci.yml
Due: actionlint

chore(ci): ensure pkl packages are built and attached for releases; support manual release via version input
  .github/workflows/release.yml
Due: actionlint

fix: update xx submodule with MSRV-compatible homedir
  Cargo.lock
Due: none

fix: improve pkl config loading with mise fallback
  src/config.rs
Due: cargo-fmt, dbg

chore(ci): include Pkl artifacts in releases; support manual version input (#265)
  .github/workflows/release.yml
Due: actionlint

fix: correct mise x syntax for pkl fallback
  src/config.rs
Due: cargo-fmt, dbg

test(plan/why): fix test configs to use hooks.check; ensure pkl available in bats; hide progress in dry-run JSON
  Cargo.lock
  mise.toml
  src/step.rs
  test/plan.bats
  test/plan_json.bats
  test/test_helper/common_setup.bash
  test/why.bats
Due: cargo-fmt, dbg

fix: improve Pester test output matching for multi-line hk output
  test/windows/hk.Tests.ps1
Due: none

fix: apply cargo fmt formatting fixes to pkl parsing code
  src/config.rs
  test-config.pkl
Due: pkl-eval, cargo-fmt, dbg

revert: revert config.rs changes to origin/main
  src/config.rs
Due: cargo-fmt, dbg

fix: resolve clippy warnings in shell.rs
  src/shell.rs
Due: cargo-fmt, dbg

fix: improve PKL parsing for Windows with proper shell detection
  src/config.rs
Due: cargo-fmt, dbg

fix: use mise wrapper for Windows Pester tests in CI
  .github/workflows/ci-windows.yml
  test/windows/hk.Tests.ps1
Due: actionlint

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
