Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

fix(util): scan fix-smart-quotes files read-only before writing or loading them
  src/cli/util/fix_smart_quotes.rs
Due: cargo-fmt, dbg

perf(step): plan workspace_indicator steps once per directory
  src/step/filtering.rs
  src/step/job_builder.rs
Due: cargo-fmt, dbg

fix(util): fix Windows build and tailor shebang chmod guidance to tracked state
  src/cli/util/check_executables_have_shebangs.rs
  src/cli/util/check_shebang_scripts_are_executable.rs
  src/cli/util/git_exec_bit.rs
  test/util_check_shebang_scripts_are_executable.bats
Due: cargo-fmt, dbg

feat(mcp): add a scope argument to the run tools
  docs/agents.md
  docs/pirate/agents.md
  src/cli/mcp.rs
Due: cargo-fmt, dbg

fix(mcp): include untracked and binary files in get_diff and report capture errors
  src/cli/mcp.rs
Due: cargo-fmt, dbg

fix(check): fail on unknown --step names instead of passing after running nothing
  docs/getting_started.md
  docs/pirate/getting_started.md
  src/hook.rs
  src/main.rs
  src/suggest.rs
  test/unknown_step_names.bats
Due: cargo-fmt, dbg

fix(agent): add stop-hook runner so Claude Code and Codex Stop hooks follow their contracts
  docs/agents.md
  docs/cli/agent.md
  docs/cli/agent/stop-hook.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/pirate/agents.md
  docs/pirate/cli.json
  docs/pirate/cli/agent.md
  docs/pirate/cli/agent/stop-hook.md
  docs/pirate/cli/index.md
  hk.usage.kdl
  scripts/enrich-cli-docs.py
  src/cli/agent.rs
  src/cli/agent/claude-code-hooks.json
  src/cli/agent/codex-hooks.json
  src/cli/agent/stop_hook.rs
  src/cli/command_effects.rs
  test/agent_generators.bats
  test/snapshots/agent/hooks-claude-code.txt
  test/snapshots/agent/hooks-codex.txt
Due: cargo-fmt, dbg, prettier

fix(mcp): bound the structured run result and report pre-run failures
  docs/agents.md
  docs/pirate/agents.md
  src/cli/mcp.rs
  src/cli/mod.rs
  src/cli/run/mod.rs
  src/structured_output.rs
  test/structured_output.bats
Due: cargo-fmt, dbg

fix(validate): suggest names within two edits for longer words
  src/suggest.rs
Due: cargo-fmt, dbg

fix(step): exclude the contents of directories named in step and group excludes
  pkl/Config.pkl
  src/glob.rs
  src/hook.rs
  src/step/filtering.rs
  test/exclude.bats
Due: pkl-eval, cargo-fmt, dbg

fix(mcp): make cancel_run stop the real hk run and its steps
  src/cli/mcp.rs
  src/cli/mod.rs
  test/mcp_cancel_run.bats
  test/test_helper/mcp_cancel.py
Due: cargo-fmt, dbg

fix(stash): keep a merge or cherry-pick in progress when stashing
  src/git.rs
  test/stash_merge_state.bats
Due: cargo-fmt, dbg

chore(benchmark): add stash and cold-config benchmarks to tak.toml
  benchmark/stash/.gitignore
  benchmark/stash/fixture.sh
  benchmark/stash/hk.pkl
  tak.toml
Due: pkl-eval

fix(util): leave fix-smart-quotes targets untouched when the write pass changes nothing
  src/cli/util/fix_smart_quotes.rs
Due: cargo-fmt, dbg

fix(step): add exec_ok for conditions and stop exec panicking
  docs/configuration.md
  docs/pirate/configuration.md
  docs/pirate/reference/examples/custom-linters.md
  docs/reference/examples/custom-linters.md
  pkl/Config.pkl
  src/step/expr_env.rs
  test/condition.bats
Due: pkl-eval, cargo-fmt, dbg

fix(util): lead with git add and update-index for untracked scripts when file mode is not honored
  src/cli/util/check_shebang_scripts_are_executable.rs
  src/cli/util/git_exec_bit.rs
  test/util_check_shebang_scripts_are_executable.bats
Due: cargo-fmt, dbg

fix(step): detect interpreters behind env -S, env options and assignments in shebangs
  src/file_type.rs
  test/types.bats
Due: cargo-fmt, dbg

docs: start getting started with a first configuration that needs no linters (#1561)
  docs/getting_started.md
  docs/pirate/getting_started.md
Due: none

perf(stash): restore unstaged files no step changed with one git process each
  src/git.rs
  test/stash_restore_spawns.bats
Due: cargo-fmt, dbg

fix(git): skip non-UTF-8 tracked filenames with a warning instead of panicking or dropping files
  src/git.rs
  src/hook.rs
  test/non_utf8_paths.bats
Due: cargo-fmt, dbg

fix(stash): stash tracked files whose names start with a colon
  src/git.rs
  test/stash_robustness.bats
Due: cargo-fmt, dbg

fix(config): scope subproject skip_steps and warn about ignored top-level settings
  docs/configuration.md
  docs/pirate/configuration.md
  src/config.rs
  test/subprojects.bats
Due: cargo-fmt, dbg

fix(ci): fail test:bats on a mistyped path or when no tests run (#1563)
  docs/contributing.md
  mise-tasks/test/bats/_default
  mise-tasks/test/bats/libgit2
  mise-tasks/test/bats/nogit
  mise-tasks/test/bats/nolibgit2
  scripts/run-bats
Due: none

fix(install): stop advising a setting that disables the local hook too
  src/cli/install.rs
  test/install_skip_when_global.bats
Due: cargo-fmt, dbg

docs(settings): describe HK_PKL_HTTP_REWRITE and HK_PKL_CA_CERTIFICATES for the pklr evaluator
  docs/environment_variables.md
  docs/pirate/environment_variables.md
  settings.toml
Due: none

docs(config): explain where diagnostics come from and when a step needs diagnostic_format
  docs/agents.md
  docs/ci.md
  docs/configuration.md
  docs/pirate/agents.md
  docs/pirate/ci.md
  docs/pirate/configuration.md
  pkl/Config.pkl
Due: pkl-eval

fix(pkl): redact credentials from URLs in pkl evaluation errors
  src/config.rs
  test/hk_pkl_http_proxy.bats
Due: cargo-fmt, dbg

feat(builtins): preserve each file's line terminators in native line-ending utils
  docs/cli/commands.json
  docs/cli/util/end-of-file-fixer.md
  docs/cli/util/mixed-line-ending.md
  docs/cli/util/trailing-whitespace.md
  docs/pirate/cli.json
  docs/pirate/cli/util/end-of-file-fixer.md
  docs/pirate/cli/util/mixed-line-ending.md
  docs/pirate/cli/util/trailing-whitespace.md
  hk.usage.kdl
  pkl/builtins/mixed_line_ending.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/trailing_whitespace.pkl
  scripts/enrich-cli-docs.py
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/mixed_line_ending.rs
  src/cli/util/trailing_whitespace.rs
  test/line_endings.bats
  test/util_end_of_file_fixer.bats
  test/util_mixed_line_ending.bats
  test/util_trailing_whitespace.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

ci(release): smoke-run every release archive before the release is created (#1565)
  .github/workflows/release.yml
  scripts/smoke-release-archive.sh
Due: actionlint

feat(test): assert normalized diagnostics in step tests
  AGENTS.md
  pkl/Config.pkl
  pkl/builtins/test/helpers.pkl
  src/step_test.rs
  src/test_runner.rs
  test/hk_test_diagnostics.bats
Due: pkl-eval, cargo-fmt, dbg

test(windows): run every e2e-win case and cover fix, staging and installed hooks (#1574)
  .github/workflows/ci-impl.yml
  e2e-win/fix.Tests.ps1
Due: actionlint

fix(test): build TestMaker.checkDiagnostics without List.toListing
  pkl/builtins/test/helpers.pkl
  test/hk_test_diagnostics.bats
Due: pkl-eval

docs: correct stash, type-checker lock, and patch-apply descriptions (#1578)
  README.md
  benchmark/subjects/hk/hk.pkl
  docs/benchmarks.md
  docs/contributing.md
  docs/environment_variables.md
  docs/hooks.md
  docs/pirate/benchmarks.md
  docs/pirate/contributing.md
  docs/pirate/environment_variables.md
  docs/pirate/hooks.md
  settings.toml
  src/step/diff.rs
  src/test_runner.rs
  test/hk_test_subcommand.bats
Due: pkl-eval, cargo-fmt, dbg

feat(builtins): report actionlint findings as diagnostics
  pkl/builtins/actionlint.pkl
Due: pkl-eval

ci: lint test code by running clippy with --all-targets (#1582)
  Cargo.lock
  Cargo.toml
  bin/generate_docs.rs
  hk.pkl
  src/config.rs
  src/hook.rs
  src/step/batching.rs
  src/step/command.rs
  src/step/types.rs
  src/step_group.rs
Due: pkl-eval, cargo-fmt, dbg

feat(builtins): report flake8 findings as diagnostics
  pkl/builtins/flake8.pkl
  test/builtin_tool_stubs/flake8
Due: pkl-eval

feat(builtins): report revive findings as diagnostics
  pkl/builtins/revive.pkl
Due: pkl-eval

fix(builtins): check large files and case conflicts in binary files (#1571)
  pkl/builtins/check_added_large_files.pkl
  pkl/builtins/check_case_conflict.pkl
  test/util_check_added_large_files.bats
  test/util_check_case_conflict.bats
Due: pkl-eval

feat(builtins): report buf_lint and clang_format findings as diagnostics
  pkl/builtins/buf_lint.pkl
  pkl/builtins/clang_format.pkl
  test/builtin_tool_stubs/clang-format
Due: pkl-eval

docs(builtins): label platform scripts and render options as Pkl values
  bin/generate_docs.rs
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
