Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

Finalize transcript for Checkpoint: 01M2B06AN0EYFCYV58X8RWJD1P
  0/content_hash.txt
  0/full.jsonl
  0/prompt.txt
  0/transcript.jsonl
Due: none

Finalize transcript for Checkpoint: 01M2AZNARQ3DHHEX3J31E144GS
  0/content_hash.txt
  0/full.jsonl
  0/prompt.txt
  0/transcript.jsonl
Due: none

Finalize transcript for Checkpoint: 01M2AZJ4BQ1TK81QZZTH3Z6Z9K
  0/content_hash.txt
  0/full.jsonl
  0/prompt.txt
  0/transcript.jsonl
Due: none

Finalize transcript for Checkpoint: 01M2AZFA8MTA0FE0NT67GWPB1Q
  0/content_hash.txt
  0/full.jsonl
  0/prompt.txt
  0/transcript.jsonl
Due: none

Checkpoint: 01M2BEPT50MS8M04RD86W2QM9K
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

Update checkpoint summary for 01M2AZH4ZK6V4BBEKCTX54K8QP
  metadata.json
Due: prettier

Checkpoint: 01M2BESAK16DA83MXT0H31RAY0
  1/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BESAK16DA83MXT0H31RAY0
  2/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BESAK16DA83MXT0H31RAY0
  0/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BESAK16DA83MXT0H31RAY0
  3/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BESAK16DA83MXT0H31RAY0
  5/content_hash.txt
  5/full.jsonl
  5/metadata.json
  5/prompt.txt
  5/transcript.jsonl
  metadata.json
Due: prettier

Checkpoint: 01M2BESAK16DA83MXT0H31RAY0
  4/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BESAK16DA83MXT0H31RAY0
  6/content_hash.txt
  6/full.jsonl
  6/metadata.json
  6/prompt.txt
  6/transcript.jsonl
  metadata.json
Due: prettier

Checkpoint: 01M2BESAK16DA83MXT0H31RAY0
  7/content_hash.txt
  7/full.jsonl
  7/metadata.json
  7/prompt.txt
  7/transcript.jsonl
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BESAK16DA83MXT0H31RAY0
  metadata.json
Due: prettier

Checkpoint: 01M2BF5HY3WQK2493VHS9K85SP
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

Checkpoint: 01M2BF5KV3J79JAYRXM9P4QHTG
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

test(builtins): use compile error for cargo check
  pkl/builtins/cargo_check.pkl
Due: pkl-eval

Checkpoint: 01M2BG0JXKK3RWWDB9PFK495W2
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

test(diagnostics): synchronize cancellation fixture
  test/diagnostics.bats
Due: none

Checkpoint: 01M2BH0ATKS0QVCBDCH94YA4SQ
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

test(diagnostics): wait for explicit cancellation
  test/diagnostics.bats
Due: none

Checkpoint: 01M2BJ9F3NDAF9BQZ5PAVDZA8R
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

Checkpoint: 01M2BKQ06XDQWP12N2A1QFCFD7
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

Checkpoint: 01M2BM7QB2WMMQ67116XVKXMRQ
  1/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BM7QB2WMMQ67116XVKXMRQ
  2/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BM7QB2WMMQ67116XVKXMRQ
  0/metadata.json
  metadata.json
Due: prettier

Checkpoint: 01M2BM7QB2WMMQ67116XVKXMRQ
  3/metadata.json
  metadata.json
Due: prettier
