Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

Notes added by 'git notes add'
  ff9ab78b0556f23d9313b2b6230cce3917ee0d45
Due: none

Notes added by 'git notes add'
  95544d105bcf2d0247fd39b317a26e1b7b46006d
Due: none

fix(mcp-ui): include vitest config types
  mcp-ui/vite.config.ts
Due: prettier

Notes added by 'git notes add'
  6b616c6de8a14aa4c43e81b99aead0944d98ad66
Due: none

chore(deps): support vite 8 in mcp ui
  mcp-ui/tsconfig.json
  mcp-ui/vite.config.ts
  mcp-ui/vitest.config.ts
  src/cli/mcp_dashboard.html
Due: prettier

Notes added by 'git notes add'
  1175273b1b1cd447acbad4ea58452f68abc4e4c8
Due: none

chore(ci): use github-hosted runner for pages deploy
  .github/workflows/docs.yml
Due: actionlint

Notes added by 'git notes add'
  a810c3b0b5913f372f5aab4ee2067bc178604236
Due: none

fix(builtins): use pinact v4 CLI flags in pinact builtins
  pkl/builtins/pinact.pkl
  pkl/builtins/pinact_update.pkl
  test/builtin_tool_stubs/pinact
Due: pkl-eval

chore(builtins): update pinact test stub to 4.1.1
  test/builtin_tool_stubs/pinact
Due: none

fix(pre-push): peel annotated tags before diffing
  src/git.rs
  test/pre_push.bats
Due: cargo-fmt, dbg

test(pre-push): strengthen annotated tag coverage
  test/pre_push.bats
Due: none

fix(pre-push): peel annotated tags before diffing (#1197)
  src/git.rs
  test/pre_push.bats
Due: cargo-fmt, dbg

feat(pkl): persist packages for offline evaluation
  docs/environment_variables.md
  src/config.rs
  src/env.rs
Due: cargo-fmt, dbg

Notes added by 'git notes add'
  c9cfc1faa5154a95133f0d3556945cd49cb9f069
Due: none

chore(deps): update pklr to 1.4.0
  Cargo.lock
Due: none

docs: clarify pkl cache directory default
  docs/environment_variables.md
Due: none

feat(pkl): persist packages for offline evaluation (#1199)
  Cargo.lock
  docs/environment_variables.md
  src/config.rs
  src/env.rs
Due: cargo-fmt, dbg

Notes added by 'git notes add'
  d81981c681db2e87c6dfa20b2e84500aa9f194a6
Due: none

test(builtins): align pinact v4 fix expectations
  pkl/builtins/pinact.pkl
  pkl/builtins/pinact_update.pkl
Due: pkl-eval

fix(hook): preserve worktree root for scoped steps
  src/git.rs
  test/worktree.bats
Due: cargo-fmt, dbg

test(hook): cover scoped temporary commit index
  test/worktree.bats
Due: none

fix(step): scope worktree env to child commands
  src/git.rs
  src/step/runner.rs
Due: cargo-fmt, dbg

test(hook): cover relative git dir in scoped step
  test/worktree.bats
Due: none

fix(hook): preserve worktree root for scoped steps (#1200)
  src/step/runner.rs
  test/worktree.bats
Due: cargo-fmt, dbg

Notes added by 'git notes add'
  42505978a15b82799170d3e7606d28e4e906b06a
Due: none

feat(builtins): add pinact v3 alternatives
  pkl/builtins/pinact_update_v3.pkl
  pkl/builtins/pinact_v3.pkl
  test/builtin_tool_stubs_v3/pinact
  test/builtins_tests.bats
Due: pkl-eval

feat(builtins): support pinact v3 and v4 (#1195)
  pkl/builtins/pinact.pkl
  pkl/builtins/pinact_update.pkl
  pkl/builtins/pinact_update_v3.pkl
  pkl/builtins/pinact_v3.pkl
  test/builtin_tool_stubs_v3/pinact
  test/builtins_tests.bats
Due: pkl-eval

Notes added by 'git notes add'
  cb656e5c21343d2915594c555e13f554fb22ff4c
Due: none

chore(pkl): upgrade formatter to 0.32.1
  benchmark/hk.pkl
  benchmark/parallel/hk.pkl
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  hk-example.pkl
  hk.pkl
  mise.lock
  pkl/Config.pkl
  pkl/Types.pkl
  pkl/builtins/test/helpers.pkl
  scripts/reflect.pkl
Due: pkl-eval

chore(pkl): upgrade formatter to 0.32.1 (#1203)
  benchmark/hk.pkl
  benchmark/parallel/hk.pkl
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  hk-example.pkl
  hk.pkl
  mise.lock
  pkl/Config.pkl
  pkl/Types.pkl
  pkl/builtins/test/helpers.pkl
  scripts/reflect.pkl
Due: pkl-eval

Notes added by 'git notes add'
  572025b43ebd164f834ad2059c6a1fa51068c284
Due: none

Notes added by 'git notes add'
  c3461d228be6b553bf3068fb36531fd73740fad4
Due: none

Add `HK_OUTPUT_FILE` env var to control the output file location
  docs/environment_variables.md
  settings.toml
  src/env.rs
  src/main.rs
  test/output_file.bats
Due: cargo-fmt, dbg

Add `HK_OUTPUT_FILE` env var to control the output file location (#1204)
  docs/environment_variables.md
  settings.toml
  src/env.rs
  src/main.rs
  test/output_file.bats
Due: cargo-fmt, dbg

Notes added by 'git notes add'
  38f5116c47515e21abf87d49bb66268bcf801a59
Due: none

Notes added by 'git notes add'
  e03e6642212a5c3bee5da638e53f49d7f2fa0a3c
Due: none

Notes added by 'git notes add'
  c1a0e25893762b479166ac2f955293efcf106e18
Due: none
