Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

fix(migrate): point pre-commit migration at canonical byte_order_marker
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

fix(builtins): silence pklr deprecation warnings on Builtins.pkl load (#880)
  Cargo.lock
  Cargo.toml
  scripts/gen_builtins.py
  src/cli/migrate/pre_commit.rs
Due: cargo-fmt, dbg

chore: release v1.44.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v1.44.2 (#866)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

ci(release): dedupe sponsor section in release notes
  .github/workflows/release.yml
Due: actionlint

ci(release): dedupe sponsor section in release notes (#881)
  .github/workflows/release.yml
Due: actionlint

docs: prefix GitHub star count with ★ glyph
  docs/.vitepress/theme/index.ts
Due: prettier

docs: render star glyph in sans-serif span (legible at 0.6rem)
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
Due: prettier

docs: prefix GitHub star count with ★ glyph (#883)
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/style.css
Due: prettier

add sponsor feed to docs
  docs/.vitepress/theme/EndevSponsors.vue
  docs/.vitepress/theme/Layout.vue
Due: none

chore: switch analytics from gtm/goatcounter to plausible
  docs/.vitepress/config.mts
Due: none

chore: switch analytics from gtm/goatcounter to plausible (#885)
  docs/.vitepress/config.mts
Due: none

fix: use site domain for plausible data-domain
  docs/.vitepress/config.mts
Due: none

fix: use site domain for plausible data-domain (#886)
  docs/.vitepress/config.mts
Due: none

ci: migrate from github-hosted runners to namespace.so
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/docs.yml
  .github/workflows/pr-closer.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pr-lint.yml
Due: actionlint

ci: pin nscloud-cache-action to commit SHA
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
Due: actionlint

ci: attach cache volume to all macOS and Windows nscloud runners
  .github/workflows/ci.yml
  .github/workflows/release.yml
Due: actionlint

fix(hook): do not stage fixes when fail_on_fix=true
  src/hook.rs
  test/fail_on_fix.bats
Due: cargo-fmt, dbg

ci: use per-OS namespace profiles and add fork PR fallback
  .github/actionlint.yaml
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/docs.yml
  .github/workflows/pr-closer.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pr-lint.yml
Due: actionlint, prettier

test: switch shellcheck stub from ubi backend to default registry
  test/builtin_tool_stubs/shellcheck
Due: none

fix(hook): do not stage fixes when fail_on_fix=true (#892)
  src/hook.rs
  test/fail_on_fix.bats
Due: cargo-fmt, dbg

ci: scope mise-action cache by runner.environment
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
Due: actionlint

ci: bump mise-action to runner-image-aware cache key
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
Due: actionlint

ci: pin ci-nogit to github-hosted runners
  .github/workflows/ci.yml
Due: actionlint

ci: drop fork PR fallback, use namespace runners for all PRs
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
Due: actionlint

ci: migrate to namespace.so runners (#891)
  .github/actionlint.yaml
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/docs.yml
  .github/workflows/pr-closer.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  .github/workflows/semantic-pr-lint.yml
  mise.lock
  test/builtin_tool_stubs/shellcheck
Due: actionlint, prettier

fix(step): show first file + ellipsis in progress message
  src/step/runner.rs
  src/tera.rs
  test/git.bats
Due: cargo-fmt, dbg

fix: clean up text-mode failure output
  Cargo.lock
  Cargo.toml
  docs/environment_variables.md
  src/hook.rs
  src/step/output.rs
Due: cargo-fmt, dbg

chore: add deliberately failing hk step to capture ugly clx output
  hk.pkl
Due: pkl-eval

fix(step_job): drop text-mode truncate_text filter
  src/step_job.rs
Due: cargo-fmt, dbg

fix(step): show un-rendered command template in progress message
  src/step/runner.rs
Due: cargo-fmt, dbg

test(git): update assertions for un-rendered progress message
  test/git.bats
Due: none

chore: pin clx 2.0.1 and remove demo-fail scaffolding
  Cargo.lock
  Cargo.toml
  hk.pkl
Due: pkl-eval

fix(step): cap progress message length
  src/step/runner.rs
Due: cargo-fmt, dbg

fix: make text-mode progress output usable in CI (#890)
  Cargo.lock
  Cargo.toml
  docs/environment_variables.md
  src/hook.rs
  src/step/output.rs
  src/step/runner.rs
  src/step_job.rs
  src/tera.rs
  test/git.bats
Due: cargo-fmt, dbg

chore: release v1.44.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v1.44.3 (#882)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

ci: remove rust-cache from release jobs
  .github/workflows/release.yml
Due: actionlint

ci: remove rust-cache from release jobs (#893)
  .github/workflows/release.yml
Due: actionlint

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
