Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

chore(deps): bump communique to 1.2.3
  mise.lock
Due: none

chore(deps): bump communique to 1.2.3 (#1073)
  mise.lock
Due: none

fix(builtins): allow detached HEAD for branch guard
  pkl/builtins/no_commit_to_branch.pkl
  src/cli/util/no_commit_to_branch.rs
Due: pkl-eval, cargo-fmt, dbg

Checkpoint: 6b6d9bd86be1
  6b/6d9bd86be1/0/content_hash.txt
  6b/6d9bd86be1/0/full.jsonl
  6b/6d9bd86be1/0/metadata.json
  6b/6d9bd86be1/0/prompt.txt
  6b/6d9bd86be1/metadata.json
Due: prettier

Finalize transcript for Checkpoint: 6b6d9bd86be1
  6b/6d9bd86be1/0/content_hash.txt
  6b/6d9bd86be1/0/full.jsonl
  6b/6d9bd86be1/0/prompt.txt
Due: none

chore: fix ci checks
  pkl/builtins/no_commit_to_branch.pkl
  src/cli/install.rs
  src/cli/util/no_commit_to_branch.rs
  src/test_runner.rs
Due: pkl-eval, cargo-fmt, dbg

Checkpoint: e5cb0813e003
  e5/cb0813e003/0/content_hash.txt
  e5/cb0813e003/0/full.jsonl
  e5/cb0813e003/0/metadata.json
  e5/cb0813e003/0/prompt.txt
  e5/cb0813e003/metadata.json
Due: prettier

Finalize transcript for Checkpoint: e5cb0813e003
  e5/cb0813e003/0/content_hash.txt
  e5/cb0813e003/0/full.jsonl
  e5/cb0813e003/0/prompt.txt
Due: none

fix(builtins): allow detached HEAD for branch guard (#1075)
  pkl/builtins/no_commit_to_branch.pkl
  src/cli/install.rs
  src/cli/util/no_commit_to_branch.rs
  src/test_runner.rs
Due: pkl-eval, cargo-fmt, dbg

fix(util): skip configuration loading
  src/cli/mod.rs
  test/config_error_handling.bats
Due: cargo-fmt, dbg

Checkpoint: a3e13cc6b6d2
  a3/e13cc6b6d2/0/content_hash.txt
  a3/e13cc6b6d2/0/full.jsonl
  a3/e13cc6b6d2/0/metadata.json
  a3/e13cc6b6d2/0/prompt.txt
  a3/e13cc6b6d2/metadata.json
Due: prettier

Finalize transcript for Checkpoint: a3e13cc6b6d2
  a3/e13cc6b6d2/0/content_hash.txt
  a3/e13cc6b6d2/0/full.jsonl
  a3/e13cc6b6d2/0/prompt.txt
Due: none

fix(util): skip configuration loading (#1078)
  src/cli/mod.rs
  test/config_error_handling.bats
Due: cargo-fmt, dbg

fix(builtins): avoid batching mise formatter
  pkl/builtins/mise.pkl
Due: pkl-eval

feat(builtins): add rumdl formatter
  pkl/builtins/rumdl.pkl
  pkl/builtins/rumdl_format.pkl
  test/builtin_tool_stubs/rumdl
Due: pkl-eval

feat(builtins): add cargo-deny
  pkl/builtins/cargo_deny.pkl
  test/builtin_tool_stubs/cargo-deny
Due: pkl-eval

docs(builtins): clarify rumdl description
  pkl/builtins/rumdl.pkl
Due: pkl-eval

fix(builtins): cover cargo-deny workspaces and configs
  pkl/builtins/cargo_deny.pkl
Due: pkl-eval

style(builtins): format cargo-deny config
  pkl/builtins/cargo_deny.pkl
Due: pkl-eval

docs: fix sponsor logo rendering in footer
  docs/.vitepress/theme/EndevSponsors.vue
Due: none

docs(builtins): use correct annotations key so docs group by category
  bin/generate_docs.rs
Due: cargo-fmt, dbg

test(pre-push): cover first push to an empty remote
  test/pre_push.bats
Due: none

test(git): cover unresolvable base ref in files_between_refs
  test/git.bats
Due: none

fix(git): lint against empty remote (base ref unresolvable)
  src/git.rs
Due: cargo-fmt, dbg

fix(git): lint against empty remote (base ref unresolvable) (#1090)
  src/git.rs
  test/git.bats
  test/pre_push.bats
Due: cargo-fmt, dbg

docs: fix sponsor logo rendering in footer (#1087)
  docs/.vitepress/theme/EndevSponsors.vue
Due: none

docs(builtins): use correct annotations key so docs group by category (#1088)
  bin/generate_docs.rs
Due: cargo-fmt, dbg

chore: regenerate aube-lock.yaml on renovate branches
  .github/workflows/aube-lock.yml
Due: actionlint

feat(check): add --unstaged flag to lint working-tree changes only
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/hook.rs
  src/hook_options.rs
  test/unstaged_flag.bats
Due: cargo-fmt, dbg, prettier

chore: re-pin aube-lock workflow after review fixes
  .github/workflows/aube-lock.yml
Due: actionlint

fix(check): make --unstaged win over auto-filled from_ref; improve tests
  src/hook.rs
  test/unstaged_flag.bats
Due: cargo-fmt, dbg

chore: pin aube-lock workflow to merged renovate-config SHA
  .github/workflows/aube-lock.yml
Due: actionlint

feat(check): add --unstaged flag to lint working-tree changes only (#1093)
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/hook.rs
  src/hook_options.rs
  test/unstaged_flag.bats
Due: cargo-fmt, dbg, prettier

chore: regenerate aube-lock.yaml on renovate branches (#1092)
  .github/workflows/aube-lock.yml
Due: actionlint

feat(config): add subprojects for nested hk configs in monorepos
  docs/reference/examples/monorepo.md
  pkl/Config.pkl
  src/config.rs
  test/config_completeness.bats
  test/subprojects.bats
Due: pkl-eval, cargo-fmt, dbg

feat(step): resolve mise env per step dir; address review feedback
  docs/environment_variables.md
  docs/mise_integration.md
  src/config.rs
  src/main.rs
  src/mise_env.rs
  src/step/runner.rs
  test/mise_env.bats
Due: cargo-fmt, dbg

chore(deps): remove unused typescript and dead typescript-eslint
  aube-lock.yaml
  docs/aube-lock.yaml
  docs/eslint.config.mjs
  docs/package.json
  package.json
Due: prettier

chore(deps): bump aube to 1.29.1 and regenerate lockfiles with it
  aube-lock.yaml
  docs/aube-lock.yaml
  mise.lock
Due: prettier

test(config): lock in intra-group depends preservation on subproject merge
  src/config.rs
Due: cargo-fmt, dbg

feat(config): add subprojects for nested hk configs in monorepos (#1094)
  docs/environment_variables.md
  docs/mise_integration.md
  docs/reference/examples/monorepo.md
  pkl/Config.pkl
  src/config.rs
  src/main.rs
  src/mise_env.rs
  src/step/runner.rs
  test/config_completeness.bats
  test/mise_env.bats
  test/subprojects.bats
Due: pkl-eval, cargo-fmt, dbg
