Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

feat: add selene config to hk builtin config
  pkl/Builtins.pkl
  pkl/builtins/selene.pkl
  test/builtin_tool_stubs/selene
Due: pkl-eval

feat: add ryl config to hk builtin config
  pkl/Builtins.pkl
  pkl/builtins/ryl.pkl
  test/builtin_tool_stubs/ryl
Due: pkl-eval

feat: add selene config to hk builtin config (#544)
  pkl/Builtins.pkl
  pkl/builtins/selene.pkl
  test/builtin_tool_stubs/selene
Due: pkl-eval

chore: release v1.29.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

runmode
  src/hook.rs
  src/step.rs
  src/step_group.rs
  src/step_job.rs
  src/test_runner.rs
Due: cargo-fmt, dbg

wacky
  src/step.rs
Due: cargo-fmt, dbg

like this
  src/step.rs
Due: cargo-fmt, dbg

ahh
  src/step.rs
Due: cargo-fmt, dbg

reorder
  src/step.rs
Due: cargo-fmt, dbg

reorganize
  src/step.rs
Due: cargo-fmt, dbg

this too
  src/step.rs
Due: cargo-fmt, dbg

whoops
  src/step.rs
Due: cargo-fmt, dbg

oopsie
  pkl/builtins/jq.pkl
Due: pkl-eval

tada
  src/step.rs
  test/git.bats
Due: cargo-fmt, dbg

rename
  src/hook.rs
  src/step.rs
  src/step_group.rs
  src/step_job.rs
  src/test_runner.rs
Due: cargo-fmt, dbg

move it
  src/hook.rs
  src/step.rs
  src/step_group.rs
  src/step_job.rs
  src/test_runner.rs
Due: cargo-fmt, dbg

feat(zizmor): add zizmor config to hk builtin config
  pkl/Builtins.pkl
  pkl/builtins/zizmor.pkl
  test/builtin_tool_stubs/zizmor
Due: pkl-eval

feat(ghalint): add ghalint config to hk builtin config
  pkl/Builtins.pkl
  pkl/builtins/ghalint_action.pkl
  pkl/builtins/ghalint_workflow.pkl
  test/builtin_tool_stubs/ghalint
Due: pkl-eval

feat(ghalint): add ghalint config to hk builtin config (#551)
  pkl/Builtins.pkl
  pkl/builtins/ghalint_action.pkl
  pkl/builtins/ghalint_workflow.pkl
  test/builtin_tool_stubs/ghalint
Due: pkl-eval

feat(zizmor): add zizmor config to hk builtin config (#550)
  pkl/Builtins.pkl
  pkl/builtins/zizmor.pkl
  test/builtin_tool_stubs/zizmor
Due: pkl-eval

feat(vale): add vale config to hk builtin config
  pkl/Builtins.pkl
  pkl/builtins/vale.pkl
  test/builtin_tool_stubs/vale
Due: pkl-eval

testing cargo
  pkl/builtins/cargo_check.pkl
Due: pkl-eval

long
  pkl/builtins/cargo_check.pkl
Due: pkl-eval

ok
  pkl/builtins/cargo_check.pkl
  src/main.rs
Due: pkl-eval, cargo-fmt, dbg

woot
  src/main.rs
Due: cargo-fmt, dbg

add pylint test
  pkl/builtins/pylint.pkl
Due: pkl-eval

feat(editorconfig-checker): add editorconfig-checker config to hk builtin config
  pkl/Builtins.pkl
  pkl/builtins/editorconfig-checker.pkl
  test/builtin_tool_stubs/ec
Due: pkl-eval

refactor(lua): use types instead of glob for Lua linters
  pkl/builtins/luacheck.pkl
  pkl/builtins/selene.pkl
Due: pkl-eval

feat: add Lua file type support
  pkl/Config.pkl
  src/file_type.rs
Due: pkl-eval, cargo-fmt, dbg

gahh
  test/builtin_tool_stubs/pylint
Due: none

test isort
  pkl/builtins/isort.pkl
  test/builtin_tool_stubs/isort
Due: pkl-eval

test mypy
  pkl/builtins/mypy.pkl
  test/builtin_tool_stubs/mypy
Due: pkl-eval

feat: Add `fix` to `cargo_check` builtin (running `cargo fix`) (#555)
  pkl/builtins/cargo_check.pkl
Due: pkl-eval

feat: Lua file type support (#558)
  pkl/Config.pkl
  pkl/builtins/luacheck.pkl
  pkl/builtins/selene.pkl
  src/file_type.rs
Due: pkl-eval, cargo-fmt, dbg

feat: add editorconfig-checker config to hk builtin config (#557)
  pkl/Builtins.pkl
  pkl/builtins/editorconfig-checker.pkl
  test/builtin_tool_stubs/ec
Due: pkl-eval

test: Add tests to the mypy builtin (#560)
  pkl/builtins/mypy.pkl
  test/builtin_tool_stubs/mypy
Due: pkl-eval

test: Add tests to the isort builtin (#559)
  pkl/builtins/isort.pkl
  test/builtin_tool_stubs/isort
Due: pkl-eval

fix: Add `check_list_files` to `cargo_fmt` builtin (#542)
  pkl/builtins/cargo_fmt.pkl
Due: pkl-eval

fix: Remove `jq`'s `check` command (#549)
  pkl/builtins/jq.pkl
Due: pkl-eval

feat(vale): add vale config to hk builtin config (#554)
  pkl/Builtins.pkl
  pkl/builtins/vale.pkl
  test/builtin_tool_stubs/vale
Due: pkl-eval

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
