Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

ci: fix zizmor ref-version-mismatch for artifact actions (#1672)
  .github/workflows/benchmark-refresh.yml
  .github/workflows/ci-impl.yml
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
Due: actionlint

docs: clarify builtin stubs and generated-file staging (#1652)
  docs/configuration.md
  docs/contributing.md
Due: none

feat(builtins): report jactionlint findings as SARIF and apply its fixes
  pkl/builtins/jactionlint.pkl
Due: pkl-eval

feat: notify linked fixes after release
  .github/workflows/comment-release-fixes.yml
  .github/workflows/release.yml
Due: actionlint

chore: pin alias-safe release notifier
  .github/workflows/comment-release-fixes.yml
Due: actionlint

chore: pin final release notifier
  .github/workflows/comment-release-fixes.yml
Due: actionlint

chore: pin released workflow v1.1.0
  .github/workflows/comment-release-fixes.yml
Due: actionlint

fix: pin released notifier in publish flow
  .github/workflows/release.yml
Due: actionlint

style: format release notification workflow
  .github/workflows/comment-release-fixes.yml
Due: actionlint

fix: pass dry-run as boolean
  .github/workflows/comment-release-fixes.yml
Due: actionlint

fix: use typed workflow inputs
  .github/workflows/comment-release-fixes.yml
Due: actionlint

chore: use release notifier v1.1.0
  .github/workflows/comment-release-fixes.yml
  .github/workflows/release.yml
Due: actionlint

fix: pin release notifier v1.1.0
  .github/workflows/comment-release-fixes.yml
  .github/workflows/release.yml
Due: actionlint

ci: add shared release fix notifications (#1673)
  .github/workflows/comment-release-fixes.yml
  .github/workflows/release.yml
Due: actionlint

feat(step): detect lua and versioned interpreters by shebang
  src/file_type.rs
  test/types.bats
Due: cargo-fmt, dbg

fix(step): type free-threaded python shebangs
  src/file_type.rs
Due: cargo-fmt, dbg

fix(step): type python shebangs with debug and ABI build flags
  src/file_type.rs
Due: cargo-fmt, dbg

fix(step): keep typing python, node and ruby shebangs by prefix
  src/file_type.rs
Due: cargo-fmt, dbg

feat(step): detect lua and versioned interpreters by shebang (#1676)
  src/file_type.rs
  test/types.bats
Due: cargo-fmt, dbg

feat(run): print a success line after passing runs that show step output
  src/hook.rs
Due: cargo-fmt, dbg

ci: gate final on zizmor and fix import-codesign-certs version comment
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/zizmor.yml
Due: actionlint

fix(run): print the success line after results are emitted
  src/hook.rs
  test/output_summary.bats
Due: cargo-fmt, dbg

ci: require zizmor in final and fix import-codesign-certs version comment (#1679)
  .github/workflows/ci.yml
  .github/workflows/release.yml
  .github/workflows/zizmor.yml
Due: actionlint

feat(run): print a success line after passing runs that show step output (#1678)
  src/hook.rs
  test/output_summary.bats
Due: cargo-fmt, dbg

feat(step): type deno and bun scripts by shebang
  src/file_type.rs
  test/types.bats
Due: cargo-fmt, dbg

feat(step): type deno and bun scripts by shebang (#1680)
  src/file_type.rs
  test/types.bats
Due: cargo-fmt, dbg

feat(jactionlint): use the --format, --fix and --profile spellings
  pkl/builtins/jactionlint.pkl
Due: pkl-eval

chore(ci): switch to jactionlint v2 and drop zizmor
  .github/actionlint.yaml
  .github/jactionlint.yaml
  .github/workflows/aube-lock.yml
  .github/workflows/auto-merge-release.yml
  .github/workflows/benchmark-refresh.yml
  .github/workflows/cache-benchmark.yml
  .github/workflows/cargo-deny.yml
  .github/workflows/ci-impl.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/comment-release-fixes.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/docs-impl.yml
  .github/workflows/docs.yml
  .github/workflows/draft-limit.yml
  .github/workflows/link-discussion.yml
  .github/workflows/mise-lock.yml
  .github/workflows/perf-pr-preflight.yml
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
  .github/workflows/pr-closer.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  hk.pkl
  mise.lock
  mise.toml
Due: actionlint, pkl-eval, prettier

fix(ci): keep caller concurrency groups apart from the called workflows'
  .github/workflows/aube-lock.yml
  .github/workflows/ci.yml
  .github/workflows/mise-lock.yml
Due: actionlint

fix(ci): raise publish and docs timeouts, keep every claude request, normalize release group
  .github/workflows/claude.yml
  .github/workflows/docs-impl.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
Due: actionlint

chore(ci): bump jactionlint to 2.1.0 and run its online checks in CI
  .github/workflows/aube-lock.yml
  .github/workflows/auto-merge-release.yml
  .github/workflows/ci-impl.yml
  .github/workflows/release-plz.yml
  mise.lock
  mise.toml
Due: actionlint

chore(ci): track latest jactionlint, locked at 2.1.0
  mise.lock
  mise.toml
Due: none

chore(ci): tidy jactionlint lock specifiers and keep pr-closer at v1.2.1
  mise.lock
Due: none

chore(ci): switch to jactionlint v2 and drop zizmor (#1682)
  .github/actionlint.yaml
  .github/jactionlint.yaml
  .github/workflows/aube-lock.yml
  .github/workflows/auto-merge-release.yml
  .github/workflows/benchmark-refresh.yml
  .github/workflows/cache-benchmark.yml
  .github/workflows/cargo-deny.yml
  .github/workflows/ci-impl.yml
  .github/workflows/ci.yml
  .github/workflows/claude.yml
  .github/workflows/comment-release-fixes.yml
  .github/workflows/conventional-commits.yml
  .github/workflows/docs-impl.yml
  .github/workflows/docs.yml
  .github/workflows/draft-limit.yml
  .github/workflows/link-discussion.yml
  .github/workflows/mise-lock.yml
  .github/workflows/perf-pr-preflight.yml
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
  .github/workflows/pr-closer.yml
  .github/workflows/release-plz.yml
  .github/workflows/release.yml
  hk.pkl
  mise.lock
Due: actionlint, pkl-eval, prettier

chore: release v2.6.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/hooks.md
  docs/migrate-husky.md
  docs/migrate-lefthook.md
  docs/mise_integration.md
  docs/pirate/builtins.md
  docs/pirate/cli/index.md
  docs/pirate/configuration.md
  docs/pirate/getting_started.md
  docs/pirate/hooks.md
  docs/pirate/migrate-husky.md
  docs/pirate/migrate-lefthook.md
  docs/pirate/mise_integration.md
  docs/pirate/pkl_introduction.md
  docs/pirate/reference/examples/monorepo.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/monorepo.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
