Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

fix: Fix --check docstring (#423)
  src/hook_options.rs
Due: cargo-fmt, dbg

docs: Don't suggest configuring hk in config env
  docs/configuration.md
Due: none

feat: Allow configuring stage in pkl config
  docs/configuration.md
  pkl/Config.pkl
  pkl/UserConfig.pkl
  settings.toml
  src/cli/config.rs
  src/config.rs
  test/stage_setting.bats
Due: pkl-eval, cargo-fmt, dbg

fix: treat check_list_files stderr as informational, not an error
  src/step.rs
  test/check_list_files_empty_with_stderr.bats
Due: cargo-fmt, dbg

fix: Configuration Read Support YML File Extension
  src/config.rs
Due: cargo-fmt, dbg

fix: Configuration Read Support YML File Extension (#427)
  src/config.rs
Due: cargo-fmt, dbg

docs: Don't suggest configuring hk in config env (#424)
  docs/configuration.md
Due: none

do ruff format too
  pkl/builtins/ruff_format.pkl
Due: pkl-eval

enable trailing_whitespace builtin
  hk.pkl
Due: pkl-eval

fix(ruff_format): Pass `--force-exclude` to `ruff format` (as well) (#428)
  pkl/builtins/ruff_format.pkl
Due: pkl-eval

fix: treat check_list_files stderr as informational, not an error (#425)
  src/step.rs
  test/check_list_files_empty_with_stderr.bats
Due: cargo-fmt, dbg

fix: remove trailing whitespace in ruff_format.pkl
  pkl/builtins/ruff_format.pkl
Due: pkl-eval

chore: release v1.21.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  docs/reference/schema.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

chore: release v1.21.1 (#422)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  docs/reference/schema.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

Clarify stash default
  docs/configuration.md
  docs/glossary.md
  docs/reference/schema.md
  test/stash_default.bats
Due: none

whoops
  test/stash_default.bats
Due: none

quotes
  docs/configuration.md
Due: none

docs: Clarify `stash` default (behavior) (#431)
  docs/configuration.md
  docs/glossary.md
  docs/reference/schema.md
  test/stash_default.bats
Due: none

fix: Clarify hook fix default
  docs/configuration.md
  test/hook_fix_default.bats
Due: none

rebase and commit
  test/hook_fix_default.bats
Due: none

docs: Clarify hook fix default (#433)
  docs/configuration.md
  test/hook_fix_default.bats
Due: none

feat: save last 10 stash patches as backup in ~/.local/hk/patches
  src/git.rs
Due: cargo-fmt, dbg

test: add bats tests for patch backup functionality
  test/patch_backup.bats
Due: none

yeah that works
  docs/configuration.md
  pkl/Config.pkl
  src/config.rs
  src/hook.rs
  src/step.rs
  src/step_group.rs
  src/tera.rs
  test/stdin.bats
Due: pkl-eval, cargo-fmt, dbg

feat: make patch backup count configurable, default to 20
  docs/configuration.md
  settings.toml
  src/git.rs
  test/patch_backup.bats
Due: cargo-fmt, dbg

new test
  test/stdin.bats
Due: none

wtf
  docs/configuration.md
Due: none

fix: improve error handling in patch backup
  src/git.rs
Due: cargo-fmt, dbg

fix: normalize wc output in patch backup tests for cross-platform compatibility
  test/patch_backup.bats
Due: none

lol
  src/step.rs
Due: cargo-fmt, dbg

docs too
  docs/configuration.md
  docs/reference/schema.md
  pkl/Config.pkl
  test/stdin.bats
Due: pkl-eval

debug: add diagnostic output to libgit2 patch backup test
  test/patch_backup.bats
Due: none

feat: Add `stdin` to step config (#435)
  docs/configuration.md
  docs/reference/schema.md
  pkl/Config.pkl
  src/config.rs
  src/hook.rs
  src/step.rs
  src/step_group.rs
  src/tera.rs
  test/stdin.bats
Due: pkl-eval, cargo-fmt, dbg

debug: add more diagnostic output for Linux CI investigation
  test/patch_backup.bats
Due: none

fix: make stash_backup_count=0 disable patch backup creation entirely
  docs/configuration.md
  settings.toml
  src/git.rs
  test/patch_backup.bats
Due: cargo-fmt, dbg

chore: remove debug output from patch backup tests
  test/patch_backup.bats
Due: none

fix: normalize wc output in last remaining test assertion
  test/patch_backup.bats
Due: none

fix: save patch backup files when using git as stash method (#434)
  docs/configuration.md
  settings.toml
  src/git.rs
  test/patch_backup.bats
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
