Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

chore: add entire trail runners (#1399)
  .entire/runners/trail-confidence.json
  .entire/runners/trail-drift.json
  .entire/runners/trail-review.json
  .entire/runners/trail-risk.json
  .entire/runners/trail-security.json
  .entire/runners/trail-summary.json
Due: prettier

fix(builtins): preserve typos diffs with custom shells Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  pkl/builtins/typos.pkl
  test/typos.bats
Due: pkl-eval

feat(init): add curated tool setup presets Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  docs/cli/commands.json
  docs/cli/init.md
  docs/getting_started.md
  hk.usage.kdl
  src/cli/init/detector.rs
  src/cli/init/mod.rs
  src/cli/init/picker.rs
  test/init_creates_hk_pkl.bats
Due: cargo-fmt, dbg, prettier

fix(init): detect native biome and eslint configuration Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  pkl/builtins/biome.pkl
  pkl/builtins/eslint.pkl
  src/cli/init/detector.rs
  test/init_creates_hk_pkl.bats
Due: pkl-eval, cargo-fmt, dbg

fix(init): avoid unsupported legacy eslint config indicator Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  pkl/builtins/eslint.pkl
  src/cli/init/detector.rs
Due: pkl-eval, cargo-fmt, dbg

feat(init): discover nested source files with ignore rules Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  docs/getting_started.md
  src/cli/init/detector.rs
  test/init_creates_hk_pkl.bats
Due: cargo-fmt, dbg

fix(init): preserve existing mise configuration Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  Cargo.lock
  Cargo.toml
  docs/getting_started.md
  src/cli/init/mod.rs
  test/init_creates_hk_pkl.bats
Due: cargo-fmt, dbg

fix(init): preserve Deno preset configuration Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  src/cli/init/detector.rs
Due: cargo-fmt, dbg

fix(init): avoid empty mise tasks table Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  src/cli/init/mod.rs
  test/init_creates_hk_pkl.bats
Due: cargo-fmt, dbg

fix(builtins): preserve typos errors with custom shells (#1398)
  pkl/builtins/typos.pkl
  test/typos.bats
Due: pkl-eval

ci: re-pin renovate-config reusable workflows to current main
  .github/workflows/aube-lock.yml
  .github/workflows/mise-lock.yml
Due: actionlint

ci: re-pin renovate-config reusable workflows to current main (#1408)
  .github/workflows/aube-lock.yml
  .github/workflows/mise-lock.yml
Due: actionlint

refactor(step): simplify formatter diff recovery flow
  src/step/diff.rs
  src/step/execution.rs
Due: cargo-fmt, dbg

chore(deps): bump mr-boxington to 1.14.0 and drop the mbx fallback docs
  AGENTS.md
  CONTRIBUTING.md
  docs/contributing.md
  mise.lock
  mise.toml
Due: none

docs: clarify how to activate mise and when MBX_DISABLE skips the cache
  CONTRIBUTING.md
Due: none

chore: keep perf:build on explicit mbx build
  mise.toml
Due: none

docs: note that perf:build calls mbx directly
  CONTRIBUTING.md
Due: none

ci: use the mise-pinned mbx in CI and docs builds
  .github/workflows/ci-impl.yml
  .github/workflows/docs-impl.yml
Due: actionlint

ci: seed the benchmark mbx caches with 1.14.0 under ci-v2
  .github/workflows/cache-benchmark.yml
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

ci: stop compiling cargo-edit and rebuilding hk in every CI job
  .github/workflows/ci-impl.yml
  .mise/locks/npm-prettier/3.9.6/aube-lock.yaml
  .mise/locks/npm-prettier/3.9.6/package.json
  mise-tasks/release-plz
  mise-tasks/test/bats/libgit2
  mise-tasks/test/bats/nogit
  mise-tasks/test/bats/nolibgit2
  mise-tasks/test/bats/setup
  mise.lock
  mise.toml
Due: actionlint, prettier

ci: keep mise lock sidecars byte-exact on Windows checkouts
  .gitattributes
Due: none

chore(deps): bump mr-boxington to 1.14.0 and drop the mbx fallback docs (#1409)
  .github/workflows/cache-benchmark.yml
  .github/workflows/ci-impl.yml
  .github/workflows/docs-impl.yml
  .github/workflows/warm-cache-benchmark.yml
  AGENTS.md
  CONTRIBUTING.md
  docs/contributing.md
  mise.lock
  mise.toml
Due: actionlint

fix(release): fail the release if the Cargo.toml version bump did not apply
  mise-tasks/release-plz
Due: none

ci: refresh hk's lockfile entry with cargo metadata in release-plz
  mise-tasks/release-plz
Due: none

ci: stop compiling cargo-edit and rebuilding hk in every CI job (#1410)
  .gitattributes
  .github/workflows/ci-impl.yml
  .mise/locks/npm-prettier/3.9.6/aube-lock.yaml
  .mise/locks/npm-prettier/3.9.6/package.json
  mise-tasks/release-plz
  mise-tasks/test/bats/libgit2
  mise-tasks/test/bats/nogit
  mise-tasks/test/bats/nolibgit2
  mise-tasks/test/bats/setup
  mise.lock
  mise.toml
Due: actionlint, prettier

chore: release v2.1.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/hooks.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/monorepo.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

fix(pre-push): remove temporary debug logging
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

docs(pre-push): clarify that hash validation is only called against input components that must be full hashes
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

fix(pre-push): require exactly 40 or 64 lowercase hexits for commit hashes in stdin validator
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

chore(pre-push): remove unused import DiffableStr from pre_push.rs
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

style(pre-push): make comments on new functions into triple-slash docstring comments
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

fix(pre-push): unify malformed stdin warning messages and .bats test expectations
  src/cli/run/pre_push.rs
  test/pre_push.bats
Due: cargo-fmt, dbg

test(pre-push): add tests for stdin validation
  src/cli/run/pre_push.rs
  test/pre_push.bats
Due: cargo-fmt, dbg

feat(pre-push): make stdin validation more discriminating and improve error presentation
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

fix(pre-push): warn instead of crashing on malformed lines from stdin
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

style(pre-push): format new code with rustfmt
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

test(pre-push): replace assert! with assert_eq! in one test
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

chore(pre-push): fix lint warnings
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

style(pre-push): replace manual ASCII digit range check with .is_ascii_digit()
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg
