Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

chore(deps): repin usage 6 stack
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): repin usage stack
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): follow rebased usage stack
  Cargo.lock
  Cargo.toml
Due: none

chore(docs): refresh usage dialect
  docs/cli/commands.json
  hk.usage.kdl
  mise-tasks/build-usage
Due: prettier

chore(deps): align usage tooling revision
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  hk.usage.kdl
  mise-tasks/build-usage
Due: prettier

chore(deps): advance usage stack revision
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  hk.usage.kdl
  mise-tasks/build-usage
Due: prettier

chore(deps): update usage-rs stack pin
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): repin usage 6 stack
  Cargo.lock
  Cargo.toml
  hk.usage.kdl
  src/cli/mod.rs
Due: cargo-fmt, dbg

docs: render 1.56.0 cli version
  docs/cli/commands.json
  docs/cli/index.md
Due: prettier

chore(deps): repin usage 6 stack
  Cargo.lock
  Cargo.toml
  src/cli/run/mod.rs
Due: cargo-fmt, dbg

feat(completion): install the script where the shell looks for it
  docs/cli/commands.json
  docs/cli/completion.md
  docs/cli/index.md
  hk.usage.kdl
  src/cli/command_effects.rs
  src/cli/completion.rs
Due: cargo-fmt, dbg, prettier

chore: release v1.56.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

Notes added by 'git notes add'
  9945f85c9c937d13ca3c045e779296b9818c17ee
Due: none

chore(deps): use released usage 6
  Cargo.lock
  Cargo.toml
  hk.usage.kdl
Due: none

fix(cli): reject positional files with selection modes
  src/hook_options.rs
Due: cargo-fmt, dbg

revert(cli): restore documented positional file selection
  src/hook_options.rs
Due: cargo-fmt, dbg

chore(deps): install usage-cli 6.0.0 for render
  mise-tasks/build-usage
Due: none

docs: drop stale git-pin language from usage 6 notes
  USAGE_6_MIGRATION.md
Due: none

chore(deps): pin usage to jdx/usage@600c228
  Cargo.lock
  Cargo.toml
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/completion.md
  docs/cli/config.md
  docs/cli/config/dump.md
  docs/cli/config/explain.md
  docs/cli/config/get.md
  docs/cli/config/sources.md
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/install.md
  docs/cli/migrate/pre-commit.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  docs/cli/util/check-conventional-commit.md
  hk.usage.kdl
  mise-tasks/build-usage
Due: prettier

fix(cli): use usage arg_required_else_help for hk run
  USAGE_6_MIGRATION.md
  src/cli/run/mod.rs
Due: cargo-fmt, dbg

style(cli): rustfmt run help-policy tests
  src/cli/run/mod.rs
Due: cargo-fmt, dbg

refactor(cli): enforce positional conflicts in usage
  Cargo.lock
  Cargo.toml
  USAGE_6_MIGRATION.md
  docs/cli/commands.json
  hk.usage.kdl
  mise-tasks/build-usage
  src/cli/run/mod.rs
  src/hook_options.rs
Due: cargo-fmt, dbg, prettier

feat(pkl): embed the matching-version pkl package
  Cargo.lock
  Cargo.toml
  build/embed_pkl_package.rs
  build/mod.rs
  docs/environment_variables.md
  src/config.rs
  src/env.rs
  test/pkl_embedded_package.bats
Due: cargo-fmt, dbg

chore(deps): use usage 6.1.0
  Cargo.lock
  Cargo.toml
  mise-tasks/build-usage
  src/cli/run/mod.rs
Due: cargo-fmt, dbg

fix(pkl): reject symbolic links when embedding the pkl package
  build/embed_pkl_package.rs
  docs/environment_variables.md
Due: cargo-fmt, dbg

chore: release v1.56.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
Due: pkl-eval

docs(pkl): document the embedded package directory walk
  build/embed_pkl_package.rs
Due: cargo-fmt, dbg

Notes added by 'git notes add'
  5c477d2cac7702845512e99bd112fe6e9fcb9f6b
Due: none

chore: release v1.56.1 (#1214)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
Due: pkl-eval

fix(pkl): reject a symbolic link at the root of the pkl sources
  build/embed_pkl_package.rs
Due: cargo-fmt, dbg

refactor(pkl): fail on a pkl source name that is not UTF-8
  build/embed_pkl_package.rs
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
