Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

Notes added by 'git notes add'
  fdbb35c1cb9d1487e8350a0888877c0d74d4b611
Due: none

refactor(builtins): use templated `dir` instead of `cd {{workspace}} &&`
  docs/public/custom-linters.pkl
  docs/reference/examples/custom-linters.md
  pkl/builtins/cargo_deny.pkl
  pkl/builtins/err_check.pkl
  pkl/builtins/go_sec.pkl
  pkl/builtins/go_vet.pkl
  pkl/builtins/go_vuln_check.pkl
  pkl/builtins/golangci_lint.pkl
  pkl/builtins/revive.pkl
  pkl/builtins/staticcheck.pkl
Due: pkl-eval

feat(step): render `dir` through tera
  docs/configuration.md
  pkl/Config.pkl
  src/step/batching.rs
  src/step/diff.rs
  src/step/dir.rs
  src/step/execution.rs
  src/step/filtering.rs
  src/step/mod.rs
  src/step/runner.rs
  src/step_job.rs
  test/dir_template.bats
Due: pkl-eval, cargo-fmt, dbg

fix(step): normalize a leading `./` in `dir`
  src/step/dir.rs
  test/dir_template.bats
Due: cargo-fmt, dbg

refactor(step): align dir resolution with surrounding style
  src/step/diff.rs
  src/step/dir.rs
  src/step/execution.rs
  src/step/filtering.rs
  src/step/runner.rs
  src/step_job.rs
Due: cargo-fmt, dbg

style(pkl): trim comments to match the surrounding code
  build/embed_pkl_package.rs
  src/config.rs
Due: cargo-fmt, dbg

feat(step): surface the limits of a templated `dir`
  docs/configuration.md
  src/step/execution.rs
  src/step/runner.rs
  test/dir_template.bats
Due: cargo-fmt, dbg

fix(step): scope stage patterns to each resolved workspace
  docs/configuration.md
  src/step/dir.rs
  src/step/execution.rs
  src/step/runner.rs
  test/dir_template.bats
Due: cargo-fmt, dbg

chore(deps): resolve pklr to 1.5.0
  Cargo.lock
Due: none

feat(step): render `dir` through tera (#1219)
  docs/configuration.md
  docs/public/custom-linters.pkl
  docs/reference/examples/custom-linters.md
  pkl/Config.pkl
  pkl/builtins/cargo_deny.pkl
  pkl/builtins/err_check.pkl
  pkl/builtins/go_sec.pkl
  pkl/builtins/go_vet.pkl
  pkl/builtins/go_vuln_check.pkl
  pkl/builtins/golangci_lint.pkl
  pkl/builtins/revive.pkl
  pkl/builtins/staticcheck.pkl
  src/step/batching.rs
  src/step/diff.rs
  src/step/dir.rs
  src/step/execution.rs
  src/step/filtering.rs
  src/step/mod.rs
  src/step/runner.rs
  src/step_job.rs
  test/dir_template.bats
Due: pkl-eval, cargo-fmt, dbg

Notes added by 'git notes add'
  ed6e0206b069233d952543c7c2acf5c8e1c966fb
Due: none

Notes added by 'git notes add'
  fb18f7d96aa96bf0c614e13bef86dfe9cca9a92f
Due: none

fix(step): resolve Windows command shims
  .github/workflows/ci.yml
  e2e-win/check.Tests.ps1
  src/step/command.rs
  src/step/mod.rs
  src/step/runner.rs
  src/test_runner.rs
Due: actionlint, cargo-fmt, dbg

feat(pkl): embed the matching-version pkl package (#1218)
  Cargo.lock
  Cargo.toml
  build/embed_pkl_package.rs
  build/mod.rs
  docs/environment_variables.md
  src/config.rs
  src/env.rs
  test/pkl_embedded_package.bats
Due: cargo-fmt, dbg

security(step): reject newlines in Windows batch argv
  src/step/command.rs
  src/step/runner.rs
  src/test_runner.rs
Due: cargo-fmt, dbg

fix(step): resolve Windows command shims (#1221)
  .github/workflows/ci.yml
  e2e-win/check.Tests.ps1
  src/step/command.rs
  src/step/mod.rs
  src/step/runner.rs
  src/test_runner.rs
Due: actionlint, cargo-fmt, dbg

Notes added by 'git notes add'
  f8a9ce86a0e88e6b8d9da88d4619bdd592d6b67b
Due: none

chore(test): bump go tool stub to 1.27
  test/builtin_tool_stubs/go
Due: none

fix(step): normalize and relativize check_diff paths
  src/step/check_parsing.rs
  src/step/diff.rs
  src/step/mod.rs
Due: cargo-fmt, dbg

feat(builtins): add go_fix linter
  pkl/builtins/go_fix.pkl
Due: pkl-eval

Notes added by 'git notes add'
  e4be84030a7a57fdd7e839f194ec2a7b7c6c7e78
Due: none

fix(builtins): make go_imports fail on unformatted files
  pkl/builtins/go_imports.pkl
  test/builtin_tool_stubs/goimports
Due: pkl-eval

fix(builtins): make go_lines fail on unformatted files
  pkl/builtins/go_lines.pkl
  test/builtin_tool_stubs/golines
Due: pkl-eval

fix(builtins): scope gomod_tidy to the module directory
  pkl/builtins/gomod_tidy.pkl
  test/gomod_tidy_nested_module.bats
Due: pkl-eval

fix(builtins): restore go_fumpt check commands
  pkl/builtins/go_fumpt.pkl
  test/builtin_tool_stubs/gofumpt
Due: pkl-eval

fix(builtins): make revive fail when it reports findings
  pkl/builtins/revive.pkl
Due: pkl-eval

fix(builtins): correct effect on revive and gomod_tidy checks
  pkl/builtins/gomod_tidy.pkl
  pkl/builtins/revive.pkl
Due: pkl-eval

test(builtins): assert gomod_tidy check output identifies the module
  test/gomod_tidy_nested_module.bats
Due: none

style(builtins): drop NB prefix from Go builtin comments
  pkl/builtins/go_fumpt.pkl
  pkl/builtins/go_imports.pkl
  pkl/builtins/go_lines.pkl
  pkl/builtins/gomod_tidy.pkl
  pkl/builtins/revive.pkl
Due: pkl-eval

feat(builtins): add go_fix linter (#1224)
  pkl/builtins/go_fix.pkl
  src/step/check_parsing.rs
  src/step/diff.rs
  src/step/mod.rs
  test/builtin_tool_stubs/go
Due: pkl-eval, cargo-fmt, dbg

fix(builtins): repair Go linters that report success on bad code (#1225)
  pkl/builtins/go_fumpt.pkl
  pkl/builtins/go_imports.pkl
  pkl/builtins/go_lines.pkl
  pkl/builtins/gomod_tidy.pkl
  pkl/builtins/revive.pkl
  test/builtin_tool_stubs/gofumpt
  test/builtin_tool_stubs/goimports
  test/builtin_tool_stubs/golines
  test/gomod_tidy_nested_module.bats
Due: pkl-eval

Notes added by 'git notes add'
  42358fe075a15dfcf193163b7199d9602cf29246
Due: none

Notes added by 'git notes add'
  d329c3d1eafc9facb9d505af7e0991af85199726
Due: none

Notes added by 'git notes add'
  9f991e9e328f54a401293e1d415332b8a210731b
Due: none

chore: generate release notes before publishing
  .github/workflows/release.yml
Due: actionlint

chore: publish drafts when crate job is skipped
  .github/workflows/release.yml
Due: actionlint

chore: generate release notes before publishing (#1227)
  .github/workflows/release.yml
Due: actionlint

Notes added by 'git notes add'
  a09a330bc4e902ffcc440b35bb82c12bc1a69844
Due: none

chore(deps): bump usage to 6.4.0
  Cargo.lock
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  docs/cli/util.md
  docs/cli/util/check-conventional-commit.md
  docs/cli/util/no-commit-to-branch.md
  mise-tasks/build-usage
Due: prettier
