Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

docs: align examples with documented commands
  README.md
  docs/getting_started.md
Due: none

docs: clarify pre-commit verification
  docs/getting_started.md
Due: none

docs: clarify mise and hook behavior
  README.md
  docs/getting_started.md
Due: none

fix: update mbx to 0.4.0
  .github/actions/mbx/action.yml
  mise.lock
Due: none

docs: distinguish hook configuration testing
  docs/getting_started.md
Due: none

chore(sponsors): replace 37signals with omacom foundation
  README.md
  src/cli/sponsors.rs
Due: cargo-fmt, dbg

docs: improve generated references
  bin/generate_docs.rs
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
  src/cli/mod.rs
Due: cargo-fmt, dbg, prettier

fix(builtins): make gitleaks staged opt-in
  pkl/builtins/gitleaks.pkl
  pkl/builtins/gitleaks_staged.pkl
Due: pkl-eval

chore(sponsors): replace 37signals with omacom foundation (#1249)
  README.md
  src/cli/sponsors.rs
Due: cargo-fmt, dbg

docs: add sponsor logos to readme
  README.md
Due: none

docs: leave version updates to release automation
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
  src/cli/mod.rs
Due: cargo-fmt, dbg, prettier

fix(ci): preserve mbx check safety
  .github/actions/mbx/action.yml
  .github/workflows/ci.yml
  hk.pkl
Due: actionlint, pkl-eval

docs: add sponsor logos to readme (#1250)
  README.md
Due: none

fix(builtins): correct gitleaks scan modes (#1248)
  pkl/builtins/gitleaks.pkl
  pkl/builtins/gitleaks_staged.pkl
Due: pkl-eval

docs: address generated command feedback
  bin/generate_docs.rs
  docs/getting_started.md
Due: cargo-fmt, dbg

chore: automate generated cli versions
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
  src/cli/mod.rs
Due: cargo-fmt, dbg, prettier

Notes added by 'git notes add'
  e0d3ff7269ebe009851ba0e1c2e0506743751b1b
Due: none

chore(ci): adopt mbx for Rust builds (#1229)
  .github/actions/mbx/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  AGENTS.md
  CONTRIBUTING.md
  hk.pkl
  mise-tasks/build
  mise-tasks/msrv
  mise-tasks/test/cargo
  mise.lock
  mise.toml
Due: actionlint, pkl-eval

Notes added by 'git notes add'
  3763a737b135be2f2d185f9600bcd4ac6fef7d3b
Due: none

chore: automate generated cli versions (#1252)
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
  src/cli/mod.rs
Due: cargo-fmt, dbg, prettier

docs: quote brace arguments in generated commands
  bin/generate_docs.rs
Due: cargo-fmt, dbg

docs: preserve structured file placeholders
  bin/generate_docs.rs
Due: cargo-fmt, dbg

security(ci): restrict trusted mbx runs to jdx
  .github/actions/mbx/action.yml
  .github/workflows/ci.yml
Due: actionlint

docs: improve onboarding and navigation (#1247)
  README.md
  bin/generate_docs.rs
  docs/.vitepress/config.mts
  docs/.vitepress/theme/HomePage.vue
  docs/getting_started.md
  docs/hooks.md
Due: cargo-fmt, dbg

security(ci): restrict trusted mbx runs to jdx (#1254)
  .github/actions/mbx/action.yml
  .github/workflows/ci.yml
Due: actionlint

Notes added by 'git notes add'
  0b085e79026525710c9872523069baea1aaa4e22
Due: none

Notes added by 'git notes add'
  1386c4da939c3daf7ad7e9f6f32936f019e65ab1
Due: none

security(ci): isolate mbx OIDC permissions
  .github/actions/mbx/action.yml
  .github/workflows/ci-impl.yml
  .github/workflows/ci.yml
  .github/workflows/docs-impl.yml
  .github/workflows/docs.yml
Due: actionlint

security(ci): isolate mbx OIDC permissions (#1258)
  .github/actions/mbx/action.yml
  .github/workflows/ci-impl.yml
  .github/workflows/ci.yml
  .github/workflows/docs-impl.yml
  .github/workflows/docs.yml
Due: actionlint

Notes added by 'git notes add'
  a15fcdfb197fbc26e2388bbc16bd16774faef498
Due: none

fix(builtins): preserve gitleaks metadata
  pkl/builtins/gitleaks.pkl
Due: pkl-eval

test(builtins): export java home for wrappers
  test/builtins_tests.bats
Due: none

refactor(step): keep builtin options in pkl
  src/step/types.rs
Due: cargo-fmt, dbg

docs: target v2 package in builtin examples
  docs/builtins.md
  docs/configuration.md
  docs/mise_integration.md
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
Due: none

test(builtins): expose java directly to ktlint
  test/builtins_tests.bats
Due: none

test(builtins): provide java for ktlint
  test/builtins_tests.bats
Due: none

fix(step): accept pkl-only builtin options
  src/step/types.rs
Due: cargo-fmt, dbg

fix(migrate): preserve imported step overrides
  src/cli/migrate/mod.rs
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
