Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

fix my test
  test/stdin.bats
Due: none

fix: Pass/render `stdin` for `hk test` tests (#455)
  src/test_runner.rs
  test/stdin.bats
Due: cargo-fmt, dbg

docs: Fix `from_ref` docstring (#454)
  src/hook_options.rs
Due: cargo-fmt, dbg

perf: skip stash operations when no unstaged changes
  src/hook.rs
Due: cargo-fmt, dbg

perf: skip stash operations when no unstaged changes (#457)
  src/hook.rs
Due: cargo-fmt, dbg

perf: skip staging when jobs are skipped by conditions
  src/step.rs
Due: cargo-fmt, dbg

perf: skip staging when jobs are skipped by conditions (#458)
  src/step.rs
Due: cargo-fmt, dbg

feat: hook stage (#448)
  docs/configuration.md
  pkl/Config.pkl
  settings.toml
  src/hook.rs
  test/stage_setting.bats
Due: pkl-eval, cargo-fmt, dbg

chore: release v1.24.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

chore: release v1.24.0 (#456)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

perf: show progress bars before expensive git status call
  src/hook.rs
Due: cargo-fmt, dbg

perf: show progress bars before expensive git status call (#459)
  src/hook.rs
Due: cargo-fmt, dbg

chore: release v1.24.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

chore: release v1.24.1 (#460)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

generate
  Cargo.toml
  bin/generate_docs.rs
  build/generate_settings.rs
  docs/.gitignore
  docs/configuration.md
  mise.toml
Due: cargo-fmt, dbg

merge main
  Cargo.toml
  bin/generate_docs.rs
  build/generate_settings.rs
  docs/.gitignore
  docs/configuration.md
  mise.toml
Due: cargo-fmt, dbg

rename
  bin/generate_docs.rs
  build/generate_settings.rs
  build/mod.rs
  build/settings_toml.rs
Due: cargo-fmt, dbg

dead import
  build/generate_settings.rs
Due: cargo-fmt, dbg

add output file
  pkl/Config.pkl
Due: pkl-eval

rm newline
  pkl/Config.pkl
Due: pkl-eval

next stop
  pkl/Config.pkl
  pkl/reflector.pkl
Due: pkl-eval

woot
  pkl/reflector.pkl
Due: pkl-eval

starting
  pkl/Config.pkl
Due: pkl-eval

now were getting somewhere
  bin/generate_docs.rs
  pkl/Config.pkl
  pkl/reflector.pkl
Due: pkl-eval, cargo-fmt, dbg

copied
  pkl/Config.pkl
Due: pkl-eval

add refledctor
  pkl/_reflector.pkl
Due: pkl-eval

tweaks
  bin/generate_docs.rs
  pkl/Config.pkl
Due: pkl-eval, cargo-fmt, dbg

tweak back
  pkl/Config.pkl
Due: pkl-eval

feat: add fix_smart_quotes builtin
  docs/builtins.md
  pkl/Builtins.pkl
  pkl/builtins/fix_smart_quotes.pkl
Due: pkl-eval

move it
  bin/generate_docs.rs
  docs/configuration.md
  pkl/Config.pkl
Due: pkl-eval, cargo-fmt, dbg

add missing include
  docs/configuration.md
Due: none

tweaks
  mise.toml
Due: none

omg
  mise.toml
Due: none

make it work
  docs/gen/base.md
  docs/gen/pkl-config.md
  docs/gen/settings-config.md
  pkl/Config.pkl
  test/hk_test_files_default.bats
Due: pkl-eval

oops
  docs/gen/base.md
  docs/gen/pkl-config.md
  docs/gen/settings-config.md
Due: none

fix: Actually makes `files` for step tests default to write keys (#464)
  pkl/Config.pkl
  test/hk_test_files_default.bats
Due: pkl-eval

feat: add fix_smart_quotes builtin (#463)
  docs/builtins.md
  pkl/Builtins.pkl
  pkl/builtins/fix_smart_quotes.pkl
Due: pkl-eval

fix: remove test cleanup to prevent race conditions
  src/test_runner.rs
Due: cargo-fmt, dbg
