Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

fix: benchmark the remote cache on main
  .github/workflows/cache-benchmark.yml
Due: actionlint

fix: restrict dispatch cache saves to main
  .github/actions/mbx/action.yml
Due: none

chore(ci): restore mbx remote cache (#1288)
  .github/actions/mbx/action.yml
  .github/workflows/cache-benchmark.yml
  .github/workflows/ci-impl.yml
  .github/workflows/ci.yml
  .github/workflows/docs-impl.yml
  .github/workflows/docs.yml
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

Notes added by 'git notes add'
  f5fae4b85cd3ca64d5739a64bd77be150b67dba0
Due: none

chore: adopt mr-boxington 1.1 cargo shim
  AGENTS.md
  CONTRIBUTING.md
  mise-tasks/build
  mise-tasks/test/cargo
  mise.lock
  mise.toml
Due: none

Move performance jobs to dedicated runner
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
Due: actionlint

Harden performance runner dispatch
  .github/workflows/perf-pr-preflight.yml
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
Due: actionlint

ci(perf): address runner review feedback
  .github/actionlint.yaml
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
Due: actionlint, prettier

chore: address mbx rollout feedback
  .github/actions/mbx/action.yml
  AGENTS.md
  CONTRIBUTING.md
  hk.pkl
  mise.toml
Due: pkl-eval

chore(ci): update mbx action inputs
  .github/actions/mbx/action.yml
  .github/workflows/cache-benchmark.yml
  .github/workflows/warm-cache-benchmark.yml
  mise.toml
Due: actionlint

ci(perf): bypass mbx for measured binaries
  mise.toml
Due: none

ci(perf): isolate uncached build task
  mise.toml
Due: none

style(tasks): format perf dependencies
  mise.toml
Due: none

docs: clarify lefthook stash management
  docs/why-hk.md
Due: none

docs: clarify lefthook stash management (#1297)
  docs/why-hk.md
Due: none

chore: bump mr-boxington to 1.2.0
  .github/actions/mbx/action.yml
  CONTRIBUTING.md
  mise.lock
  mise.toml
Due: none

Notes added by 'git notes add'
  0685edec4b57d05c6fd3fddfd3d21a92ea46023a
Due: none

chore: adopt mr-boxington 1.1 cargo shim (#1295)
  .github/actions/mbx/action.yml
  .github/workflows/cache-benchmark.yml
  .github/workflows/warm-cache-benchmark.yml
  AGENTS.md
  CONTRIBUTING.md
  hk.pkl
  mise-tasks/build
  mise-tasks/test/cargo
  mise.lock
  mise.toml
Due: actionlint, pkl-eval

chore(perf): bump tak to 0.0.9
  mise.lock
  mise.toml
Due: none

fix(perf): harden report dispatch
  .github/workflows/perf-pr.yml
Due: actionlint

Notes added by 'git notes add'
  a648c9495fd0be48a9afaf022f42984f032d69eb
Due: none

fix(perf): harden container dispatch
  .github/workflows/perf-pr.yml
Due: actionlint

chore(perf): pin rust benchmark image
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
Due: actionlint

chore(perf): pin verified benchmark image
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
Due: actionlint

ci(perf): move benchmarks to dedicated runner (#1298)
  .github/actionlint.yaml
  .github/workflows/perf-pr-preflight.yml
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
  mise.lock
  mise.toml
Due: actionlint, prettier

chore(ci): benchmark github cache backend
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

ci: use current action for GitHub cache benchmark
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

chore: update mr-boxington to 1.3.0
  AGENTS.md
  CONTRIBUTING.md
  mise.lock
  mise.toml
Due: none

fix(ci): align mbx wrapper setup
  .github/actions/mbx/action.yml
  AGENTS.md
  CONTRIBUTING.md
  mise.toml
Due: none

fix(ci): avoid double-wrapping cargo msrv
  mise-tasks/msrv
Due: none

chore: update mr-boxington to 1.3.0 (#1300)
  .github/actions/mbx/action.yml
  AGENTS.md
  CONTRIBUTING.md
  mise-tasks/msrv
  mise.lock
  mise.toml
Due: none

test: run the hook-triggering commit outside a login shell
  test/fixer_tail_deletion_with_middle_unstaged.bats
Due: none

style: fix clippy lints for rust 1.98 (#1278)
  src/cli/migrate/mod.rs
  src/git.rs
  src/hook.rs
  src/step/execution.rs
  src/step/output.rs
  src/step/runner.rs
Due: cargo-fmt, dbg

test: run the hook-triggering commit outside a login shell (#1301)
  test/fixer_tail_deletion_with_middle_unstaged.bats
Due: none

chore(release): improve sponsor message
  .github/workflows/release.yml
Due: actionlint

fix(config): load scalar settings from pkl
  src/config.rs
  test/config_unification.bats
  test/hkrc.bats
Due: cargo-fmt, dbg

chore(release): improve sponsor message (#1306)
  .github/workflows/release.yml
Due: actionlint

docs(config): document user config merge precedence
  src/config.rs
Due: cargo-fmt, dbg

chore(deps): regenerate mcp dashboard with lockfile
  .github/workflows/aube-lock.yml
  mise.toml
  src/cli/mcp_dashboard.html
Due: actionlint, prettier

chore(deps): regenerate mcp dashboard with lockfile (#1308)
  .github/workflows/aube-lock.yml
  mise.toml
  src/cli/mcp_dashboard.html
Due: actionlint, prettier

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
