Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

chore: release v1.30.0 (#576)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/util.md
  docs/cli/util/check-byte-order-marker.md
  docs/cli/util/end-of-file-fixer.md
  docs/cli/util/fix-smart-quotes.md
  docs/cli/util/mixed-line-ending.md
  docs/cli/util/trailing-whitespace.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

test tera
  hk.pkl
  pkl/Config.pkl
  pkl/builtins/test/helpers.pkl
  src/cli/test.rs
  src/step_test.rs
  src/tera.rs
  src/test_runner.rs
Due: pkl-eval, cargo-fmt, dbg

undo
  hk.pkl
Due: pkl-eval

fix: glob syntax for linters in getting_started.md (#593)
  docs/getting_started.md
Due: none

test gofmt
  pkl/builtins/go_fmt.pkl
Due: pkl-eval

feat(asciidoc): add adoc file type support for AsciiDoc
  pkl/Config.pkl
  src/file_type.rs
Due: pkl-eval, cargo-fmt, dbg

feat(asciidoctor): add asciidoctor config to hk builtin config
  pkl/builtins/asciidoctor.pkl
  test/builtin_tool_stubs/asciidoctor
Due: pkl-eval

fix: docs builtins generation
  mise-tasks/docs/gen
Due: none

fix: docs builtins generation (#606)
  mise-tasks/docs/gen
Due: none

feat(asciidoctor): add asciidoctor config to hk builtin config (#604)
  pkl/Config.pkl
  pkl/builtins/asciidoctor.pkl
  src/file_type.rs
  test/builtin_tool_stubs/asciidoctor
Due: pkl-eval, cargo-fmt, dbg

fix: make pkl:dist task executable
  mise-tasks/pkl/dist
Due: none

fix: make pkl:dist task executable (#607)
  mise-tasks/pkl/dist
Due: none

feat(release): add LLM-generated prose summary to release notes
  .github/workflows/release.yml
  mise-tasks/gen-release-summary
  mise-tasks/release-plz
Due: actionlint

fix: validate LLM output doesn't contain ## [ pattern
  mise-tasks/gen-release-summary
Due: none

fix: prevent command substitution and add PR/doc links to release notes
  mise-tasks/gen-release-summary
  mise-tasks/release-plz
Due: none

fix: prevent docs build from silently failing when pkl:gen is skipped
  bin/generate_docs.rs
  mise-tasks/pkl/gen
Due: cargo-fmt, dbg

refactor: break up step.rs into modular components
  src/step.rs
  src/step/batching.rs
  src/step/check_parsing.rs
  src/step/diff.rs
  src/step/execution.rs
  src/step/expr_env.rs
  src/step/filtering.rs
  src/step/job_builder.rs
  src/step/mod.rs
  src/step/output.rs
  src/step/progress.rs
  src/step/runner.rs
  src/step/shell.rs
  src/step/types.rs
Due: cargo-fmt, dbg

fix: address clippy collapsible_if warning
  src/step/diff.rs
Due: cargo-fmt, dbg

refactor: break up step.rs into modular components (#610)
  src/step.rs
  src/step/batching.rs
  src/step/check_parsing.rs
  src/step/diff.rs
  src/step/execution.rs
  src/step/expr_env.rs
  src/step/filtering.rs
  src/step/job_builder.rs
  src/step/mod.rs
  src/step/output.rs
  src/step/progress.rs
  src/step/runner.rs
  src/step/shell.rs
  src/step/types.rs
Due: cargo-fmt, dbg

fix: add ci-nogit to final job dependencies
  .github/workflows/ci.yml
Due: actionlint

fix: prevent docs build from silently failing when pkl:gen is skipped (#609)
  bin/generate_docs.rs
  mise-tasks/pkl/gen
Due: cargo-fmt, dbg

refactor: move LLM release notes to GitHub release workflow
  .github/workflows/release.yml
  mise-tasks/gen-release-notes
  mise-tasks/gen-release-summary
  mise-tasks/release-plz
Due: actionlint

fix: capture stderr separately in gen-release-notes
  mise-tasks/gen-release-notes
Due: none

fix: don't redirect stderr to release notes file
  .github/workflows/release.yml
Due: actionlint

fix: remove flaky pinact_update tests
  pkl/builtins/pinact_update.pkl
Due: pkl-eval

fix: add ci-nogit to final job dependencies (#611)
  .github/workflows/ci.yml
  pkl/builtins/pinact_update.pkl
Due: actionlint, pkl-eval

refactor: move LLM release notes to GitHub release workflow (#608)
  .github/workflows/release.yml
  mise-tasks/gen-release-notes
  mise-tasks/release-plz
Due: actionlint

fix: update claude CLI model and add bypassPermissions
  mise-tasks/gen-release-notes
Due: none

chore: release v1.31.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

fix: update claude CLI model and add bypassPermissions (#612)
  mise-tasks/gen-release-notes
Due: none

chore: release v1.31.0 (#602)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

fix: skip config loading for completion/usage/version commands
  src/cli/mod.rs
Due: cargo-fmt, dbg

fix: install Claude Code CLI in release workflow
  .github/workflows/release.yml
Due: actionlint

fix: skip config loading for completion/usage/version commands (#615)
  src/cli/mod.rs
Due: cargo-fmt, dbg

fix: install Claude Code CLI in release workflow (#614)
  .github/workflows/release.yml
Due: actionlint

Add screenshot for PR
  docs/public/homepage-screenshot.png
Due: none

feat(docs): update branding with new logo and electric blue theme
  docs/.vitepress/config.mts
  docs/.vitepress/theme/HomePage.vue
  docs/.vitepress/theme/style.css
  docs/public/android-chrome-192x192.png
  docs/public/android-chrome-512x512.png
  docs/public/apple-touch-icon.png
  docs/public/favicon-16x16.png
  docs/public/favicon-32x32.png
  docs/public/favicon.ico
  docs/public/logo-small.png
  docs/public/logo.png
  docs/public/site.webmanifest
Due: prettier

Remove screenshot
  docs/public/homepage-screenshot.png
Due: none

fix(docs): handle clipboard API errors in copy button
  docs/.vitepress/theme/HomePage.vue
Due: none

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
