Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

fix: respect ignore when recursing
  Cargo.lock
  Cargo.toml
  src/hook.rs
  test/dir_traversal.bats
Due: cargo-fmt, dbg

code review
  src/hook.rs
Due: cargo-fmt, dbg

lint
  src/hook.rs
Due: cargo-fmt, dbg

feat: add tmpdir step test option
  pkl/Config.pkl
  src/step_test.rs
  src/test_runner.rs
  test/hk_test_tmpdir.bats
Due: pkl-eval, cargo-fmt, dbg

its configurable
  settings.toml
  src/hook.rs
  test/dir_traversal.bats
Due: cargo-fmt, dbg

assert_failure
  test/hk_test_tmpdir.bats
Due: none

pkl
  pkl/Config.pkl
Due: pkl-eval

feat: add tmpdir step test option (#663)
  pkl/Config.pkl
  src/step_test.rs
  src/test_runner.rs
  test/hk_test_tmpdir.bats
Due: pkl-eval, cargo-fmt, dbg

fix: respect ignore when recursing (#661)
  Cargo.lock
  Cargo.toml
  pkl/Config.pkl
  settings.toml
  src/hook.rs
  test/dir_traversal.bats
Due: pkl-eval, cargo-fmt, dbg

fix(docs): escape angle brackets in --pr flag description
  src/hook_options.rs
Due: cargo-fmt, dbg

fix(go_fumpt): comment out broken check
  pkl/builtins/go_fumpt.pkl
Due: pkl-eval

fix(docs): escape angle brackets in --pr flag description (#666)
  src/hook_options.rs
Due: cargo-fmt, dbg

fix(go_fumpt): comment out broken check (#668)
  pkl/builtins/go_fumpt.pkl
Due: pkl-eval

feat(hclfmt): init
  pkl/builtins/hclfmt.pkl
Due: pkl-eval

feat(cmake_format): init
  pkl/builtins/cmake_format.pkl
Due: pkl-eval

feat(nixf_diagnose): init
  pkl/builtins/nixf_diagnose.pkl
Due: pkl-eval

feat(deadnix): init
  pkl/builtins/deadnix.pkl
Due: pkl-eval

feat(nil): init
  pkl/builtins/nil.pkl
Due: pkl-eval

feat(ruff_format): use `--quiet`
  pkl/builtins/ruff_format.pkl
Due: pkl-eval

feat(ruff_format): use `--quiet` (#667)
  pkl/builtins/ruff_format.pkl
Due: pkl-eval

feat(deadnix): init (#670)
  pkl/builtins/deadnix.pkl
Due: pkl-eval

feat(cmake_format): init (#672)
  pkl/builtins/cmake_format.pkl
Due: pkl-eval

feat(nil): init (#669)
  pkl/builtins/nil.pkl
Due: pkl-eval

feat(hclfmt): init (#675)
  pkl/builtins/hclfmt.pkl
Due: pkl-eval

feat(nixf_diagnose): init (#671)
  pkl/builtins/nixf_diagnose.pkl
Due: pkl-eval

use tmpdir for the tests
  pkl/builtins/actionlint.pkl
  pkl/builtins/test/helpers.pkl
Due: pkl-eval

fix(check): deduplicate files in check-case-conflict to prevent false positives
  src/cli/util/check_case_conflict.rs
Due: cargo-fmt, dbg

chore: add tone calibration to release notes prompt
  mise-tasks/gen-release-notes
Due: none

fix: Deduplicate files in check-case-conflict to prevent false positives (#678)
  src/cli/util/check_case_conflict.rs
Due: cargo-fmt, dbg

chore: add tone calibration to release notes prompt (#679)
  mise-tasks/gen-release-notes
Due: none

Fix building the nix flake due to libraries being extracted to submodules
  default.nix
  flake.nix
Due: none

fix(yamllint): enable strict mode
  pkl/builtins/yamllint.pkl
Due: pkl-eval

fix(yamllint): tests
  pkl/builtins/yamllint.pkl
Due: pkl-eval

feat(just_format): init
  pkl/builtins/just_format.pkl
Due: pkl-eval

feat(tombi): use `--quiet`
  pkl/builtins/tombi.pkl
Due: pkl-eval

chore(tombi): update to 0.7.27
  test/builtin_tool_stubs/tombi
Due: none

feat(tombi): use `--quiet` (#676)
  pkl/builtins/tombi.pkl
  test/builtin_tool_stubs/tombi
Due: pkl-eval

fix(yamllint): enable strict mode (#673)
  pkl/builtins/yamllint.pkl
Due: pkl-eval

fix: Fix building of nix flake wiwth the inclusion of git subomdules (#681)
  default.nix
  flake.nix
Due: none

fix(docs): use valid <br> tags instead of </br> in sea shanty
  docs/shanty.md
Due: none

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
