Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

fix(patch-file): handle empty diff by skipping stash apply; stabilizes nolibgit2 fix_from_ref_to_ref
  src/git.rs
Due: cargo-fmt, dbg

fix: prefer unstaged over fixer changes; keep untracked in patch-file (#219)
  src/git.rs
  test/stash_current_behavior.bats
Due: cargo-fmt, dbg

chore: release v1.11.0 (#207)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix: release with gh
  .github/workflows/release.yml
Due: actionlint

chore: release v1.11.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.11.1 (#220)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: remove gh release create from release-plz
  mise-tasks/release-plz
Due: none

chore: release v1.11.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.11.2 (#221)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

check: collect fix suggestions and print at end; suggest hk fix for multiline; filter files via check_list_files; add bats tests
  src/hook.rs
  src/step.rs
  test/check_fix_suggestion.bats
Due: cargo-fmt, dbg

refactor(step): extract fix suggestion helpers; share check_list_files filtering
  src/step.rs
Due: cargo-fmt, dbg

chore: clippy cleanups
  src/step.rs
Due: cargo-fmt, dbg

feat: display fix instructions when running under check (#223)
  src/hook.rs
  src/step.rs
  test/check_fix_suggestion.bats
Due: cargo-fmt, dbg

chore: release v1.12.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.12.0 (#224)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix: include pkl packages in releases
  .github/workflows/release.yml
Due: actionlint

fix: include pkl packages in releases (#227)
  .github/workflows/release.yml
Due: actionlint

fix: improve stashing error handling and robustness
  src/git.rs
Due: cargo-fmt, dbg

test: add comprehensive stash robustness tests
  test/stash_robustness.bats
Due: none

fix: improve stashing error handling and robustness (#229)
  src/git.rs
  test/stash_robustness.bats
Due: cargo-fmt, dbg

fix: only show fix help message when running in check mode
  src/step.rs
  test/check_fix_suggestion_fix_mode.bats
Due: cargo-fmt, dbg

chore: release v1.12.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix: only show fix help message when running in check mode (#230)
  src/step.rs
  test/check_fix_suggestion_fix_mode.bats
Due: cargo-fmt, dbg

chore: release v1.12.1 (#228)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

feat: add tracing and performance diagnostics support
  Cargo.lock
  Cargo.toml
  src/cache.rs
  src/cli/mod.rs
  src/config.rs
  src/git.rs
  src/hook.rs
  src/main.rs
  src/trace.rs
  test/trace.bats
Due: cargo-fmt, dbg

chore: release v1.13.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: update tracing dependencies to latest versions
  Cargo.lock
  Cargo.toml
Due: none

feat: use env.rs for tracing config and resolve subscriber conflicts
  src/cache.rs
  src/cli/mod.rs
  src/env.rs
  src/trace.rs
Due: cargo-fmt, dbg

fix: properly use env.rs for HK_TRACE and HK_JSON variables
  src/cache.rs
  src/cli/mod.rs
  src/trace.rs
Due: cargo-fmt, dbg

feat: Add comprehensive Windows support for hk
  .github/workflows/ci-windows.yml
  .github/workflows/ci.yml
  WINDOWS_SUPPORT.md
  src/cli/install.rs
  src/config.rs
  src/git.rs
  src/hook.rs
  src/main.rs
  src/shell.rs
  src/step.rs
  src/test_runner.rs
  test/windows/README.md
  test/windows/hk.Tests.ps1
  test/windows/run-tests.ps1
Due: actionlint, cargo-fmt, dbg

feat(tracing): enable tracing when log level is trace; support HK_TRACE=json; add tests
  src/cli/mod.rs
  test/trace_enables_with_log_trace.bats
Due: cargo-fmt, dbg

refactor(env): add TraceMode for HK_TRACE; refactor CLI to use it
  src/cli/mod.rs
  src/env.rs
Due: cargo-fmt, dbg

fix: Update Windows tests and CI for proper environment setup
  .github/workflows/ci-windows.yml
  .github/workflows/ci.yml
  WINDOWS_SUPPORT.md
  mise.lock
  test/windows/hk.Tests.ps1
  x
Due: actionlint

fix: resolve test failures and combine trace test files
  src/trace.rs
  test/trace.bats
  test/trace_enables_with_log_trace.bats
Due: cargo-fmt, dbg

chore: suppress dead_code warnings for trace fields
  src/env.rs
  src/trace.rs
Due: cargo-fmt, dbg

fix: correct tracing and logging initialization issues
  src/cli/mod.rs
Due: cargo-fmt, dbg

refactor: Simplify shell detection code throughout codebase
  src/config.rs
  src/git.rs
  src/hook.rs
  src/shell.rs
  src/step.rs
  src/test_runner.rs
  x
Due: cargo-fmt, dbg

fix: remove incompatible stashing test from merge
  src/cli/mod.rs
  src/env.rs
  src/trace.rs
  test/trace.bats
Due: cargo-fmt, dbg

feat: add tracing and performance diagnostics support (#259)
  Cargo.lock
  Cargo.toml
  src/cache.rs
  src/cli/mod.rs
  src/env.rs
  src/trace.rs
  test/trace.bats
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
