Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

feat: use strum::Display for SkipReason enum
  src/hook.rs
Due: cargo-fmt, dbg

refactor: rename SkipReason::Env/Cli to DisabledByEnv/DisabledByCli
  src/hook.rs
  test/skip_reasons_config.bats
Due: cargo-fmt, dbg

fix: update documentation to use correct skip reason keys
  pkl/Config.pkl
  test/skip_output.bats
Due: pkl-eval

chore: add CLAUDE.md
  CLAUDE.md
  test_file.txt
Due: none

fix: libgit2 issue with merging stash diffs
  src/git.rs
  src/step_job.rs
Due: cargo-fmt, dbg

chore: remove test fixture
  test_file.txt
Due: none

fix: issue with flex truncation
  Cargo.lock
  Cargo.toml
  mise.toml
  src/lib.rs
  src/progress.rs
  src/tracing.rs
Due: cargo-fmt, dbg

chore: Release clx version 0.2.15
  Cargo.lock
  Cargo.toml
Due: none

fix: bug with truncation of progress
  .gitignore
  Cargo.lock
  mise.toml
  src/git.rs
  src/step_job.rs
Due: cargo-fmt, dbg

Squashed 'xx/' content from commit afb8132
  .github/renovate.json
  .github/workflows/test.yml
  .gitignore
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  LICENSE
  README.md
  hk.pkl
  lefthook.yml
  mise.toml
  release.toml
  src/archive.rs
  src/context.rs
  src/env.rs
  src/error.rs
  src/file.rs
  src/fslock.rs
  src/git.rs
  src/hash.rs
  src/http.rs
  src/lib.rs
  src/process.rs
  src/regex.rs
  src/test.rs
  test/data/foo.tar.bz2
  test/data/foo.tar.gz
  test/data/foo.tar.xz
  test/data/foo.txt
  test/data/foo.zip
  test/data/mybin
Due: actionlint, pkl-eval, cargo-fmt, dbg, prettier

Squashed 'clx/' content from commit e9f476e
  .github/renovate.json
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  README.md
  examples/progress.rs
  mise.toml
  src/error.rs
  src/lib.rs
  src/progress.rs
  src/progress_bar.rs
  src/style.rs
  src/tracing.rs
Due: actionlint, cargo-fmt, dbg, prettier

Squashed 'ensembler/' content from commit 25e12c4
  .github/renovate.json
  .github/workflows/ci.yml
  .gitignore
  Cargo.lock
  Cargo.toml
  LICENSE
  examples/run.rs
  mise.toml
  src/cmd.rs
  src/error.rs
  src/lib.rs
Due: actionlint, cargo-fmt, dbg, prettier

feat: convert xx, clx, and ensembler to git subtrees
  LICENSE
  src/cmd.rs
  src/lib.rs
Due: cargo-fmt, dbg

feat: convert xx, clx, and ensembler to git subtrees
  .cargo/config.toml
  .gitignore
  Cargo.lock
  Cargo.toml
  ensembler/LICENSE
  ensembler/src/cmd.rs
  ensembler/src/lib.rs
  xx/.github/workflows/test.yml
  xx/README.md
Due: actionlint, cargo-fmt, dbg

feat: add profile skip summary and reduce default skip messages
  pkl/Config.pkl
  src/hook.rs
  src/settings.rs
  src/step.rs
  test/depends_condition_false.bats
  test/profile_skip_summary.bats
  test/skip_output.bats
Due: pkl-eval, cargo-fmt, dbg

refactor: use list instead of map for skipReasons configuration
  pkl/Config.pkl
  src/config.rs
  src/hook.rs
  src/settings.rs
  test/skip_reasons_config.bats
Due: pkl-eval, cargo-fmt, dbg

refactor: simplify skip handling by passing SkipReason directly to mark_skipped
  src/step.rs
  src/step_job.rs
Due: cargo-fmt, dbg

feat: add configurable skip message visibility
  pkl/Config.pkl
  src/config.rs
  src/hook.rs
  src/settings.rs
  src/step.rs
  test/skip_reasons_config.bats
Due: pkl-eval, cargo-fmt, dbg

refactor: track all skip reasons for better extensibility
  src/hook.rs
  src/step.rs
Due: cargo-fmt, dbg

fix: make all skip messages configurable including no-files-to-process and condition-false
  pkl/Config.pkl
  src/hook.rs
  src/settings.rs
  src/step.rs
  test/skip_reasons_config.bats
Due: pkl-eval, cargo-fmt, dbg

refactor: rename skipReasons to display_skip_reasons with snake_case
  pkl/Config.pkl
  src/config.rs
  src/hook.rs
  src/settings.rs
  test/skip_reasons_config.bats
Due: pkl-eval, cargo-fmt, dbg

style: use kebab-case for skip reason identifiers
  pkl/Config.pkl
  src/hook.rs
  src/settings.rs
  test/skip_reasons_config.bats
Due: pkl-eval, cargo-fmt, dbg

fix: remove emoji from missing profile message and show missing profiles
  src/hook.rs
  src/step.rs
  test/profile_skip_summary.bats
Due: cargo-fmt, dbg

fix: improve profile skip message display
  clx/src/progress.rs
  src/hook.rs
Due: cargo-fmt, dbg

fix: improve profile skip message and prevent flex tags from showing
  clx/src/progress.rs
  src/hook.rs
  test/profile_skip_summary.bats
Due: cargo-fmt, dbg

fix: improve profile skip messages and add safety checks for flex tags
  clx/src/progress.rs
  src/hook.rs
Due: cargo-fmt, dbg

test: update tests to match new skip message behavior
  test/profile_skip_summary.bats
  test/skip_missing_run_cmd.bats
  test/skip_output.bats
  test/skip_reasons_config.bats
  test/skip_step_flag.bats
  test/skip_steps.bats
Due: none

test: fix incorrect assertion in git.bats deletion test
  test/git.bats
Due: none

feat: add configurable skip message visibility (#151)
  clx/src/progress.rs
  pkl/Config.pkl
  src/config.rs
  src/hook.rs
  src/settings.rs
  src/step.rs
  src/step_job.rs
  test/depends_condition_false.bats
  test/git.bats
  test/profile_skip_summary.bats
  test/skip_missing_run_cmd.bats
  test/skip_output.bats
  test/skip_reasons_config.bats
  test/skip_step_flag.bats
  test/skip_steps.bats
Due: pkl-eval, cargo-fmt, dbg

feat: add configurable skip message visibility (#151)
  src/progress.rs
Due: cargo-fmt, dbg

fix: update release-plz script for git subtrees
  mise-tasks/release-plz
Due: none

chore: pin homedir to 0.3.5 for MSRV compatibility
  xx/Cargo.toml
Due: none

chore: release v1.6.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.6.0 (#144)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: fix release-plz with subtrees
  mise-tasks/release-plz
Due: none

fix: vendor libgit2
  Cargo.toml
  pkl/builtins.pkl
Due: pkl-eval

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
