Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

chore(deps): refresh usage stack revision
  Cargo.lock
  Cargo.toml
  mise-tasks/build-usage
Due: none

chore(deps): refresh usage-rs stack
  Cargo.lock
  Cargo.toml
  mise-tasks/build-usage
Due: none

chore(deps): update usage stack revision
  Cargo.lock
  Cargo.toml
  mise-tasks/build-usage
Due: none

chore(deps): align usage-cli revision
  mise-tasks/build-usage
Due: none

refactor(cli): adopt latest usage derive support
  Cargo.lock
  Cargo.toml
  hk.usage.kdl
  mise-tasks/build-usage
  src/cli/builtins.rs
  src/cli/cache/clear.rs
  src/cli/config.rs
  src/cli/sponsors.rs
  src/cli/usage.rs
  src/cli/validate.rs
  src/cli/version.rs
Due: cargo-fmt, dbg

chore(deps): refresh rebased usage-rs stack
  Cargo.lock
  Cargo.toml
  mise-tasks/build-usage
Due: none

perf(cli): derive command effects statically
  Cargo.toml
  hk.usage.kdl
  src/cli/agent.rs
  src/cli/builtins.rs
  src/cli/cache/clear.rs
  src/cli/cache/mod.rs
  src/cli/command_effects.rs
  src/cli/completion.rs
  src/cli/config.rs
  src/cli/init/mod.rs
  src/cli/install.rs
  src/cli/migrate/mod.rs
  src/cli/migrate/pre_commit.rs
  src/cli/mod.rs
  src/cli/sponsors.rs
  src/cli/uninstall.rs
  src/cli/usage.rs
  src/cli/util/byte_order_marker.rs
  src/cli/util/check_added_large_files.rs
  src/cli/util/check_case_conflict.rs
  src/cli/util/check_conventional_commit.rs
  src/cli/util/check_executables_have_shebangs.rs
  src/cli/util/check_merge_conflict.rs
  src/cli/util/check_symlinks.rs
  src/cli/util/detect_private_key.rs
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/fix_smart_quotes.rs
  src/cli/util/mixed_line_ending.rs
  src/cli/util/mod.rs
  src/cli/util/no_commit_to_branch.rs
  src/cli/util/python_check_ast.rs
  src/cli/util/python_debug_statements.rs
  src/cli/util/trailing_whitespace.rs
  src/cli/validate.rs
  src/cli/version.rs
Due: cargo-fmt, dbg

test: avoid windows instant underflow
  src/cli/mcp.rs
Due: cargo-fmt, dbg

chore(deps): pin usage 6 stack
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
  mise-tasks/build-usage
Due: prettier

chore(deps): refresh usage stack pin
  Cargo.lock
  Cargo.toml
  mise-tasks/build-usage
Due: none

chore(deps): refresh usage stack pin
  Cargo.lock
  Cargo.toml
Due: none

chore(cli): refresh usage renderer pin
  mise-tasks/build-usage
Due: none

chore(deps): repin usage 6 stack
  Cargo.lock
  Cargo.toml
Due: none

chore(deps): repin usage renderer
  mise-tasks/build-usage
Due: none

Notes added by 'git notes add'
  b124f632c16b34796e6d394004561cf27c6e34d4
Due: none

chore(deps): repin usage 6 stack
  Cargo.lock
  Cargo.toml
  mise-tasks/build-usage
Due: none

fix(cli): restore run help policy
  Cargo.lock
  Cargo.toml
  src/cli/run/mod.rs
Due: cargo-fmt, dbg

chore(deps): update usage stack revision
  Cargo.lock
  Cargo.toml
Due: none

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
