Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

fix(yq): implement proper format checking with diff (#507)
  pkl/builtins/yq.pkl
  test/builtin_tool_stubs/yq
Due: pkl-eval

fix: remove needless borrow for codegen 0.3 compatibility
  build/generate_settings.rs
Due: cargo-fmt, dbg

chore: release v1.27.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

first one
  pkl/Config.pkl
Due: pkl-eval

whoops
  pkl/Config.pkl
  pkl/Types.pkl
Due: pkl-eval

more whoops
  pkl/builtins/yq.pkl
Due: pkl-eval

remove redundant tests
  mise.toml
  pkl/Config.pkl
  test/builtin_yaml.bats
  test/builtin_yaml_format.bats
Due: pkl-eval

fix error
  mise.lock
  test/builtin_tool_stubs/yamlfmt
Due: none

wtf
  pkl/Config.pkl
Due: pkl-eval

fix config
  pkl/Config.pkl
Due: pkl-eval

move to builtin tests
  mise.lock
  pkl/builtins/swiftlint.pkl
Due: pkl-eval

toml
  mise.toml
Due: none

docs: fix a missing quote
  docs/configuration.md
Due: none

docs: fix a missing quote (#520)
  docs/configuration.md
Due: none

refactor: Clean up some yaml-related stuff (#519)
  mise.lock
  mise.toml
  test/builtin_tool_stubs/yamlfmt
  test/builtin_yaml.bats
  test/builtin_yaml_format.bats
Due: none

add
  test/builtin_tool_stubs/swiftlint
Due: none

hadolint
  mise.lock
  mise.toml
  pkl/builtins/hadolint.pkl
  test/builtin_tool_stubs/hadolint
Due: pkl-eval

strict
  pkl/builtins/swiftlint.pkl
Due: pkl-eval

ok
  pkl/builtins/swiftlint.pkl
Due: pkl-eval

test: hadolint (#522)
  mise.lock
  mise.toml
  pkl/builtins/hadolint.pkl
  test/builtin_tool_stubs/hadolint
Due: pkl-eval

test: Test swiftlint Builtin (#521)
  mise.lock
  mise.toml
  pkl/builtins/swiftlint.pkl
  test/builtin_tool_stubs/swiftlint
Due: pkl-eval

stylelint
  mise.lock
  mise.toml
  pkl/builtins/stylelint.pkl
Due: pkl-eval

add
  test/builtin_tool_stubs/stylelint
Due: none

chmod
  test/builtin_tool_stubs/stylelint
Due: none

error code 2
  pkl/builtins/stylelint.pkl
Due: pkl-eval

hmm
  pkl/builtins/stylelint.pkl
Due: pkl-eval

wtf
  pkl/builtins/stylelint.pkl
Due: pkl-eval

test: Test stylelint Builtin (#523)
  mise.lock
  mise.toml
  pkl/builtins/stylelint.pkl
  test/builtin_tool_stubs/stylelint
Due: pkl-eval

moving more tests, not done
  pkl/builtins/black.pkl
  pkl/builtins/ktlint.pkl
  pkl/builtins/mise.pkl
  pkl/builtins/mixed_line_ending.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/pkl.pkl
  pkl/builtins/pkl_format.pkl
  pkl/builtins/python_check_ast.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/ruff_format.pkl
  pkl/builtins/taplo.pkl
  pkl/builtins/taplo_format.pkl
  pkl/builtins/test/helpers.pkl
  pkl/builtins/tombi.pkl
  pkl/builtins/tombi_format.pkl
  pkl/builtins/yamlfmt.pkl
  pkl/builtins/yamllint.pkl
  pkl/builtins/yq.pkl
  test/builtins_tests.bats
Due: pkl-eval

more improvements
  pkl/builtins/black.pkl
  pkl/builtins/test/helpers.pkl
Due: pkl-eval

adding helper
  pkl/builtins/black.pkl
  pkl/builtins/test/helpers.pkl
Due: pkl-eval

Testmaker
  pkl/builtins/black.pkl
  pkl/builtins/check_merge_conflict.pkl
  pkl/builtins/detect_private_key.pkl
  pkl/builtins/fix_byte_order_marker.pkl
  pkl/builtins/fix_smart_quotes.pkl
  pkl/builtins/hadolint.pkl
  pkl/builtins/ktlint.pkl
  pkl/builtins/mise.pkl
  pkl/builtins/mixed_line_ending.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/pkl.pkl
  pkl/builtins/pkl_format.pkl
  pkl/builtins/python_check_ast.pkl
  pkl/builtins/python_debug_statements.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/ruff_format.pkl
  pkl/builtins/taplo.pkl
  pkl/builtins/taplo_format.pkl
  pkl/builtins/test/helpers.pkl
  pkl/builtins/tombi.pkl
  pkl/builtins/tombi_format.pkl
  pkl/builtins/trailing_whitespace.pkl
  pkl/builtins/yamlfmt.pkl
  pkl/builtins/yamllint.pkl
  pkl/builtins/yq.pkl
Due: pkl-eval

tests galore
  pkl/builtins/stylelint.pkl
  pkl/builtins/swiftlint.pkl
  pkl/builtins/test/helpers.pkl
  pkl/builtins/yamlfmt.pkl
Due: pkl-eval

one line maybe
  pkl/builtins/pkl.pkl
Due: pkl-eval

one liner
  pkl/builtins/black.pkl
  pkl/builtins/hadolint.pkl
  pkl/builtins/ktlint.pkl
  pkl/builtins/mise.pkl
  pkl/builtins/pkl_format.pkl
  pkl/builtins/python_check_ast.pkl
  pkl/builtins/python_debug_statements.pkl
  pkl/builtins/taplo.pkl
  pkl/builtins/taplo_format.pkl
  pkl/builtins/yamllint.pkl
  pkl/builtins/yq.pkl
Due: pkl-eval

fix string
  test/builtins_tests.bats
Due: none

part one
  mise.lock
  mise.toml
  pkl/builtins/shellcheck.pkl
  test/builtin_tool_stubs/shellcheck
  test/skip_hook.bats
Due: pkl-eval

test: Introduce a `TestMaker` helper, and use it for test-a-palooza (#528)
  pkl/builtins/black.pkl
  pkl/builtins/check_merge_conflict.pkl
  pkl/builtins/detect_private_key.pkl
  pkl/builtins/fix_byte_order_marker.pkl
  pkl/builtins/fix_smart_quotes.pkl
  pkl/builtins/hadolint.pkl
  pkl/builtins/ktlint.pkl
  pkl/builtins/mise.pkl
  pkl/builtins/mixed_line_ending.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/pkl.pkl
  pkl/builtins/pkl_format.pkl
  pkl/builtins/python_check_ast.pkl
  pkl/builtins/python_debug_statements.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/ruff_format.pkl
  pkl/builtins/stylelint.pkl
  pkl/builtins/swiftlint.pkl
  pkl/builtins/taplo.pkl
  pkl/builtins/taplo_format.pkl
  pkl/builtins/test/helpers.pkl
  pkl/builtins/tombi.pkl
  pkl/builtins/tombi_format.pkl
  pkl/builtins/trailing_whitespace.pkl
  pkl/builtins/yamlfmt.pkl
  pkl/builtins/yamllint.pkl
  pkl/builtins/yq.pkl
Due: pkl-eval
