Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

test(pre-push): add tests for rejection of hashes with characters outside 0..=9 and a..=f
  src/cli/run/pre_push.rs
Due: cargo-fmt, dbg

fix(pre-push): warn instead of crashing on malformed lines from stdin (#1352)
  src/cli/run/pre_push.rs
  test/pre_push.bats
Due: cargo-fmt, dbg

fix(step): preserve shared parents during diff recovery
  src/step/diff.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

chore(ci): link merged PRs to discussions
  .github/workflows/link-discussion.yml
Due: actionlint

chore(ci): comment on a discussion when the PR implementing it merges (#1413)
  .github/workflows/link-discussion.yml
Due: actionlint

fix(step): isolate diff rollback from concurrent commands
  src/hook.rs
  src/step/execution.rs
  src/step_job.rs
  src/step_locks.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

test(step): assert diff transaction ordering explicitly
  test/apply_check_diff.bats
Due: none

fix(init): preserve root-only manifests during recursive discovery Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  build/generate_builtins.rs
  docs/getting_started.md
  pkl/builtins/shellcheck.pkl
  pkl/builtins/shellharden.pkl
  pkl/builtins/shfmt.pkl
  scripts/gen_builtins.py
  src/cli/init/detector.rs
  test/init_creates_hk_pkl.bats
Due: pkl-eval, cargo-fmt, dbg

fix(init): address mise configuration feedback Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  Cargo.lock
  Cargo.toml
  docs/getting_started.md
  src/cli/init/mod.rs
  test/init_creates_hk_pkl.bats
Due: cargo-fmt, dbg

fix(init): inspect mise task includes safely Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  docs/getting_started.md
  src/cli/init/mod.rs
  test/init_creates_hk_pkl.bats
Due: cargo-fmt, dbg

fix(config): re-evaluate glob imports when their matches change
  docs/pkl_introduction.md
  src/config.rs
  test/cache_behavior.bats
Due: cargo-fmt, dbg

fix(config): re-analyze imports when any module in the graph changes
  src/config.rs
  test/cache_behavior.bats
Due: cargo-fmt, dbg

feat(pkl): support glob imports in hk configuration
  Cargo.lock
  Cargo.toml
  docs/pkl_introduction.md
Due: none

fix(config): detect remote imports written as expressions
  docs/pkl_introduction.md
  src/config.rs
  test/config_glob_imports.bats
Due: cargo-fmt, dbg

fix(docs): read a typed Step property from glob-imported modules
  docs/pkl_introduction.md
  test/config_glob_imports.bats
Due: none

fix(config): match module keywords to their own URI across lines
  docs/pkl_introduction.md
  src/config.rs
  test/config_glob_imports.bats
Due: cargo-fmt, dbg

fix(config): skip comments between a module keyword and its URI
  src/config.rs
Due: cargo-fmt, dbg

fix(config): treat a multiline URI as a module reference
  src/config.rs
Due: cargo-fmt, dbg

fix(step): stop classifying Svelte, Vue, and XML files as binary
  src/file_type.rs
Due: cargo-fmt, dbg

feat(step): add svelte, vue, and astro file types
  pkl/Config.pkl
  src/file_type.rs
Due: pkl-eval, cargo-fmt, dbg

fix(config): pick up pkl import changes that hk's config cache used to miss (#1422)
  docs/pkl_introduction.md
  src/config.rs
  test/cache_behavior.bats
Due: cargo-fmt, dbg

test(config): assert the empty glob leaves hk with nothing to run
  test/config_glob_imports.bats
Due: none

feat(pkl): support glob imports in hk configuration (#1423)
  Cargo.lock
  Cargo.toml
  docs/pkl_introduction.md
  src/config.rs
  test/config_glob_imports.bats
Due: cargo-fmt, dbg

chore: release v2.1.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/hooks.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/monorepo.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

fix(init): handle included task edge cases Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  src/cli/init/mod.rs
  test/init_creates_hk_pkl.bats
Due: cargo-fmt, dbg

fix(init): scan included task maps Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  src/cli/init/mod.rs
  test/init_creates_hk_pkl.bats
Due: cargo-fmt, dbg

feat(check): add `--junit-xml` report of per-step results
  docs/ci.md
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/hook.rs
  src/hook_options.rs
  src/structured_output.rs
  test/junit.bats
Due: cargo-fmt, dbg, prettier

chore: release v2.1.0 (#1390)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/hooks.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/monorepo.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore(deps): update jdx/mr-boxington-action to v1.4.0
  .github/workflows/cache-benchmark.yml
  .github/workflows/ci-impl.yml
  .github/workflows/docs-impl.yml
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

chore(deps): repair prettier 3.9.8 lock sidecar and repin renovate-config workflows
  .github/workflows/aube-lock.yml
  .github/workflows/mise-lock.yml
  .mise/locks/npm-prettier/3.9.8/aube-lock.yaml
  .mise/locks/npm-prettier/3.9.8/package.json
Due: actionlint, prettier

fix(init): preserve existing mise configuration (#1404)
  Cargo.lock
  Cargo.toml
  docs/getting_started.md
  src/cli/init/mod.rs
  test/init_creates_hk_pkl.bats
Due: cargo-fmt, dbg

fix(mcp): use rmcp's ServerConfig instead of deprecated ServerInfo
  src/cli/mcp.rs
Due: cargo-fmt, dbg

test(init): resolve native detection merge conflict Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/init_creates_hk_pkl.bats
Due: none

test(init): resolve recursive discovery merge conflict Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/init_creates_hk_pkl.bats
Due: none

test(init): place native indicators test outside conflict Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/init_creates_hk_pkl.bats
Due: none

test(init): base merge resolution on latest test file Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/init_creates_hk_pkl.bats
Due: none

test(init): resolve recursive conflict away from base changes Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/init_creates_hk_pkl.bats
Due: none

docs: explain regenerating mise package sidecars Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  .mise/locks/npm-prettier/3.9.8/aube-lock.yaml
  .mise/locks/npm-prettier/3.9.8/package.json
  docs/contributing.md
Due: prettier

test(init): drop unrelated mise cases Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/init_creates_hk_pkl.bats
Due: none

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
