Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

fix(step): stage files created by check_diff patches
  src/step/check_parsing.rs
  src/step/diff.rs
  src/step/execution.rs
  src/step/output.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

fix(step): stage files created by check_diff patches (#1524)
  src/step/check_parsing.rs
  src/step/diff.rs
  src/step/execution.rs
  src/step/output.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

fix(install): serialize local hook configuration updates
  src/cli/install.rs
  src/cli/uninstall.rs
  test/install_concurrent.bats
Due: cargo-fmt, dbg

fix(install): specify lock file open behavior
  src/cli/install.rs
Due: cargo-fmt, dbg

fix(install): honor shared repository lock permissions
  src/cli/install.rs
  test/install_concurrent.bats
Due: cargo-fmt, dbg

fix(install): keep persistent config lock writable
  src/cli/install.rs
  test/install_concurrent.bats
Due: cargo-fmt, dbg

fix(install): make concurrent local installs reliable (#1533)
  src/cli/install.rs
  src/cli/uninstall.rs
  test/install_concurrent.bats
Due: cargo-fmt, dbg

chore: release v2.4.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/hooks.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/monorepo.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v2.4.0 (#1506)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/hooks.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/monorepo.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

fix(stash): preserve CRLF when restoring unstaged files
  src/git.rs
  test/stash_line_endings.bats
Due: cargo-fmt, dbg

fix(stash): retain recovery state on merge input filter errors
  e2e-win/stash.Tests.ps1
  src/git.rs
  test/stash_line_endings.bats
Due: cargo-fmt, dbg

fix(stash): preserve text replacements of binary history
  src/git.rs
  test/stash_line_endings.bats
Due: cargo-fmt, dbg

fix(stash): protect binary fixer output and literal paths
  src/git.rs
  test/stash_line_endings.bats
Due: cargo-fmt, dbg

ci: run Windows stash line-ending regressions
  .github/workflows/ci-impl.yml
Due: actionlint

fix(stash): preserve CRLF when restoring unstaged files (#1535)
  .github/workflows/ci-impl.yml
  e2e-win/stash.Tests.ps1
  src/git.rs
  test/stash_line_endings.bats
Due: actionlint, cargo-fmt, dbg

docs: refresh competitor benchmark for v2.4.0 (#1536)
  benchmark/results.json
Due: prettier

chore(deps): commit prettier 3.9.9 lock sidecar and fix benchmark digests
  .mise/locks/prettier/3.9.9/aube-lock.yaml
  .mise/locks/prettier/3.9.9/package.json
  benchmark/mise.lock
Due: prettier

perf(benchmark): tune prek 0.5.4 scheduling
  benchmark/README.md
  benchmark/check-configs.py
  benchmark/mise.lock
  benchmark/mise.toml
  benchmark/report.py
  benchmark/setup.sh
  benchmark/subjects/prek/.pre-commit-config.yaml
  benchmark/subjects/prek/prek.toml
  benchmark/tak.toml
  docs/.vitepress/benchmarks.data.ts
  docs/.vitepress/theme/showreel/facts.ts
  docs/benchmarks.md
Due: prettier

chore(benchmark): trim prek configuration changes
  benchmark/README.md
  benchmark/check-configs.py
  benchmark/report.py
  benchmark/setup.sh
  docs/.vitepress/benchmarks.data.ts
  docs/.vitepress/theme/showreel/facts.ts
  docs/benchmarks.md
Due: prettier

chore(entire): store checkpoints in a private repository
  .entire/settings.json
Due: prettier

chore(entire): commit codex session hooks
  .codex/hooks.json
Due: prettier

chore(entire): commit claude session hooks
  .claude/settings.json
Due: prettier

chore(entire): restore lower-cost trail findings
  .entire/runners/trail-confidence.json
  .entire/runners/trail-drift.json
  .entire/runners/trail-review.json
  .entire/runners/trail-risk.json
  .entire/runners/trail-security.json
  .entire/runners/trail-summary.json
Due: prettier

fix(cli): keep generated output exit codes on closed pipes
  Cargo.lock
  test/broken_pipe.bats
Due: none

fix(cli): keep generated output exit codes on closed pipes (#1540)
  Cargo.lock
  test/broken_pipe.bats
Due: none

docs: replace the sea shanty with Bound for the Main and its music video
  .github/workflows/docs-impl.yml
  .github/workflows/docs-showreel.yml
  docs/.gitignore
  docs/.vitepress/check-social-images.mjs
  docs/.vitepress/config.mts
  docs/.vitepress/shanty-video.mjs
  docs/.vitepress/shanty.data.ts
  docs/.vitepress/social-images.test.mjs
  docs/.vitepress/theme/ShantyVideo.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/showreel/scenes/stash-peel.ts
  docs/.vitepress/theme/showreel/shanty/chorus.ts
  docs/.vitepress/theme/showreel/shanty/dance.ts
  docs/.vitepress/theme/showreel/shanty/lyrics.ts
  docs/.vitepress/theme/showreel/shanty/outro.ts
  docs/.vitepress/theme/showreel/shanty/sea.ts
  docs/.vitepress/theme/showreel/shanty/shot.ts
  docs/.vitepress/theme/showreel/shanty/song.ts
  docs/.vitepress/theme/showreel/shanty/test/frames.test.ts
  docs/.vitepress/theme/showreel/shanty/test/song.test.ts
  docs/.vitepress/theme/showreel/shanty/test/video.test.ts
  docs/.vitepress/theme/showreel/shanty/title.ts
  docs/.vitepress/theme/showreel/shanty/video.ts
  docs/package.json
  docs/public/bound-for-the-main-chapters.vtt
  docs/public/bound-for-the-main.mp3
  docs/public/haul-away-hk.mp3
  docs/public/llms.txt
  docs/shanty.md
  mise-tasks/docs/shanty
Due: actionlint, prettier

docs: refuse shanty video drafts whose window holds no frame
  docs/.vitepress/shanty-video.mjs
Due: none

docs: count shanty draft frames by the window's own bounds
  docs/.vitepress/shanty-video.mjs
Due: none

docs: replace the sea shanty with Bound for the Main and its music video (#1541)
  .github/workflows/docs-impl.yml
  .github/workflows/docs-showreel.yml
  docs/.gitignore
  docs/.vitepress/check-social-images.mjs
  docs/.vitepress/config.mts
  docs/.vitepress/shanty-video.mjs
  docs/.vitepress/shanty.data.ts
  docs/.vitepress/social-images.test.mjs
  docs/.vitepress/theme/ShantyVideo.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/showreel/scenes/stash-peel.ts
  docs/.vitepress/theme/showreel/shanty/chorus.ts
  docs/.vitepress/theme/showreel/shanty/dance.ts
  docs/.vitepress/theme/showreel/shanty/lyrics.ts
  docs/.vitepress/theme/showreel/shanty/outro.ts
  docs/.vitepress/theme/showreel/shanty/sea.ts
  docs/.vitepress/theme/showreel/shanty/shot.ts
  docs/.vitepress/theme/showreel/shanty/song.ts
  docs/.vitepress/theme/showreel/shanty/test/frames.test.ts
  docs/.vitepress/theme/showreel/shanty/test/song.test.ts
  docs/.vitepress/theme/showreel/shanty/test/video.test.ts
  docs/.vitepress/theme/showreel/shanty/title.ts
  docs/.vitepress/theme/showreel/shanty/video.ts
  docs/package.json
  docs/public/bound-for-the-main-chapters.vtt
  docs/public/bound-for-the-main.mp3
  docs/public/haul-away-hk.mp3
  docs/public/llms.txt
  docs/shanty.md
  mise-tasks/docs/shanty
Due: actionlint, prettier

docs: take the new shanty video down if its poster cannot be published
  docs/.vitepress/shanty-video.mjs
Due: none

docs: point the landing page at the sea shanty
  docs/.vitepress/theme/HomePage.vue
Due: none

docs: test the shanty render's publish step and spare another render's video
  docs/.vitepress/publish-render.mjs
  docs/.vitepress/publish-render.test.mjs
  docs/.vitepress/shanty-video.mjs
  docs/package.json
Due: prettier

docs: point the landing page at the sea shanty (#1542)
  docs/.vitepress/theme/HomePage.vue
Due: none

docs: take the new shanty video down if its poster cannot be published (#1543)
  docs/.vitepress/publish-render.mjs
  docs/.vitepress/publish-render.test.mjs
  docs/.vitepress/shanty-video.mjs
  docs/package.json
Due: prettier

docs: add a sea shanty mode to the landing page
  docs/.vitepress/config.mts
  docs/.vitepress/theme/HomePage.vue
  docs/.vitepress/theme/HomeShowreel.vue
  docs/.vitepress/theme/ShantyChip.vue
  docs/.vitepress/theme/ShantyVideo.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/shanty-mode.css
  docs/.vitepress/theme/shanty-mode.ts
  docs/.vitepress/theme/showreel/test/shanty-mode.test.ts
Due: prettier

docs: add a sea shanty mode to the landing page (#1544)
  docs/.vitepress/config.mts
  docs/.vitepress/theme/HomePage.vue
  docs/.vitepress/theme/HomeShowreel.vue
  docs/.vitepress/theme/ShantyChip.vue
  docs/.vitepress/theme/ShantyVideo.vue
  docs/.vitepress/theme/index.ts
  docs/.vitepress/theme/shanty-mode.css
  docs/.vitepress/theme/shanty-mode.ts
  docs/.vitepress/theme/showreel/test/shanty-mode.test.ts
Due: prettier
