Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

ci: run clippy with --all-targets and drop the unused tracing-error dependency
  Cargo.lock
  Cargo.toml
  bin/generate_docs.rs
  hk.pkl
  src/config.rs
  src/hook.rs
  src/step/batching.rs
  src/step/command.rs
  src/step/types.rs
  src/step_group.rs
Due: pkl-eval, cargo-fmt, dbg

fix(step): keep HK_CMD_PERCENT reserved and out of displayed commands
  e2e-win/check.Tests.ps1
  src/step/output.rs
  src/step/runner.rs
  src/step/shell.rs
Due: cargo-fmt, dbg

test: fix bats teardown and ordering flakes and surface CI retries
  .github/workflows/ci-impl.yml
  scripts/ci_attempt_notice
  test/structured_output.bats
  test/test_helper/common_setup.bash
Due: actionlint

test(builtins): cover case conflicts between symlinks
  test/util_check_case_conflict.bats
Due: none

fix(util): stream fix-smart-quotes in bounded memory and drop GNU stat from its test
  src/cli/util/fix_smart_quotes.rs
  test/util_fix_smart_quotes.bats
Due: cargo-fmt, dbg

fix(step): mark steps with no jobs as done so dependents run
  src/step/execution.rs
  test/depends.bats
Due: cargo-fmt, dbg

fix(validate): compile step globs with the step dir and avoid timeout on macOS
  src/config.rs
  src/glob.rs
  src/lint.rs
  src/suggest.rs
  test/validate.bats
Due: cargo-fmt, dbg

security(step): refuse check_diff patches that touch .git and keep the state dir private
  src/env.rs
  src/git.rs
  src/logger.rs
  src/main.rs
  src/step/diff.rs
  test/apply_check_diff.bats
  test/state_dir_permissions.bats
Due: cargo-fmt, dbg

test(util): use bats-file assert_file_permission for the mode check
  test/util_fix_smart_quotes.bats
Due: none

chore(validate): drop files committed by mistake
  src/lint.rs
  src/suggest.rs
Due: cargo-fmt, dbg

test(step): match percent-named file output past the progress prefix
  e2e-win/check.Tests.ps1
Due: none

fix(ci): forward test:bats paths and reject unknown run-bats modes
  mise-tasks/test/bats/_default
  mise-tasks/test/bats/libgit2
  mise-tasks/test/bats/nogit
  mise-tasks/test/bats/nolibgit2
  scripts/run-bats
Due: none

docs(security): clarify config cache and global hook commands, render llms.txt
  docs/pirate/security.md
  docs/public/llms.txt
  docs/security.md
Due: none

fix(init): base first-run guidance on the loaded and generated config
  src/cli/init/mod.rs
  src/cli/install.rs
  src/config.rs
  src/hook_options.rs
  test/init_creates_hk_pkl.bats
Due: cargo-fmt, dbg

fix(cli): make failure output read like a message, not a crash dump
  src/cli/util/check_conventional_commit.rs
  src/error_report.rs
  src/hook.rs
  src/main.rs
  src/step/runner.rs
  test/failure_output.bats
Due: cargo-fmt, dbg

test(windows): assert exact working tree after partially staged pre-commit
  e2e-win/fix.Tests.ps1
Due: none

fix(util): skip files whose split multibyte char is not completed after the probe
  src/cli/util/text_files.rs
Due: cargo-fmt, dbg

fix(agent): launch report argv like step argv and reject an empty executable
  src/hook.rs
  test/command_effects.bats
Due: cargo-fmt, dbg

perf(step): share read locks between read-only check-only steps in fix hooks
  benchmark/subjects/hk/hk.pkl
  docs/benchmarks.md
  docs/pirate/benchmarks.md
  docs/pirate/why-hk.md
  docs/why-hk.md
  src/step_job.rs
  test/apply_check_diff.bats
Due: pkl-eval, cargo-fmt, dbg

perf(git): skip the untracked scan in git status when the run cannot use it
  src/git.rs
  src/hook.rs
  test/status_untracked_scan.bats
Due: cargo-fmt, dbg

feat(validate): warn about misspelled properties, no-op depends, bad globs and loose min_hk_version
  docs/cli/commands.json
  docs/cli/validate.md
  docs/pirate/cli.json
  docs/pirate/cli/validate.md
  docs/pirate/pkl_introduction.md
  docs/pkl_introduction.md
  hk.usage.kdl
  scripts/validate-apple-pkl.py
  src/cli/validate.rs
  src/config.rs
  src/lint.rs
  src/main.rs
  src/suggest.rs
  src/version.rs
  test/validate.bats
Due: cargo-fmt, dbg, prettier

docs: add lefthook and husky with lint-staged migration guides
  docs/.vitepress/sidebar.ts
  docs/migrate-husky.md
  docs/migrate-lefthook.md
  docs/pirate/migrate-husky.md
  docs/pirate/migrate-lefthook.md
Due: prettier

fix(ci): propagate rg errors in run-bats on bash 3.2
  scripts/run-bats
Due: none

fix(util): require the quoted ref in git-generated merge title prefixes
  docs/cli/commands.json
  docs/cli/util/check-conventional-commit.md
  docs/pirate/cli.json
  docs/pirate/cli/util/check-conventional-commit.md
  hk.usage.kdl
  src/cli/util/check_conventional_commit.rs
  src/cli/util/mod.rs
Due: cargo-fmt, dbg, prettier

docs: qualify stash default and lock claim, fix patch comment
  README.md
  docs/hooks.md
  docs/pirate/hooks.md
  src/step/diff.rs
Due: cargo-fmt, dbg

fix(util): skip non-regular paths and surface index read errors in shebang checks
  src/cli/util/check_executables_have_shebangs.rs
  src/cli/util/check_shebang_scripts_are_executable.rs
  src/cli/util/git_exec_bit.rs
  test/util_check_executables_have_shebangs.bats
  test/util_check_shebang_scripts_are_executable.bats
Due: cargo-fmt, dbg

fix(step): show cmd.exe percent file names without the internal placeholder
  src/step/output.rs
  src/step/runner.rs
  src/step/shell.rs
  src/step/types.rs
  src/tera.rs
Due: cargo-fmt, dbg

docs(config): document sharing one configuration across repositories
  docs/configuration.md
  docs/environment_variables.md
  docs/pirate/configuration.md
  docs/pirate/environment_variables.md
  settings.toml
Due: none

fix(util): process fix-smart-quotes in fixed-size chunks with one pass per file
  src/cli/util/fix_smart_quotes.rs
Due: cargo-fmt, dbg

fix(step): match dir-scoped globs against paths relative to dir
  src/glob.rs
  test/glob_dir_bug.bats
Due: cargo-fmt, dbg

fix(init): match tool tables and Gemfile declarations precisely
  build/generate_builtins.rs
  pkl/builtins/brakeman.pkl
  pkl/builtins/bundle_audit.pkl
  pkl/builtins/isort.pkl
  pkl/builtins/just_format.pkl
  pkl/builtins/pylint.pkl
  pkl/builtins/ty.pkl
  scripts/gen_builtins.py
  src/cli/init/detector.rs
Due: pkl-eval, cargo-fmt, dbg

fix(stash): keep a staged edit when its worktree copy was reverted to HEAD
  src/git.rs
  test/stash_intent_to_add.bats
  test/stash_restore_worktree_state.bats
Due: cargo-fmt, dbg

security(install): refuse legacy hook installs that would overwrite or write through existing hooks
  docs/cli/commands.json
  docs/cli/install.md
  docs/getting_started.md
  docs/pirate/cli/install.md
  docs/pirate/getting_started.md
  hk.usage.kdl
  src/cli/install.rs
  test/install_legacy_no_clobber.bats
Due: cargo-fmt, dbg, prettier

fix(config): honor top-level jobs, parse HK_STASH booleans, and dump settings as TOML
  src/cli/config.rs
  src/config.rs
  src/env.rs
  src/hook.rs
  test/documented_settings.bats
Due: cargo-fmt, dbg

test(agent): expand PKL_PATH in the hook report fixtures
  test/command_effects.bats
Due: none

perf(stash): reuse git status instead of rescanning for unstaged files before stashing
  src/git.rs
Due: cargo-fmt, dbg

fix(config): union skip_steps, skip_hooks and hide_warnings from user config and warn when hk.local.pkl replaces hk.pkl
  docs/configuration.md
  docs/environment_variables.md
  docs/pirate/configuration.md
  docs/pirate/environment_variables.md
  settings.toml
  src/config.rs
  test/user_config_unions.bats
Due: cargo-fmt, dbg

fix(install): keep hook commands working after upgrades and with a minimal PATH
  docs/getting_started.md
  docs/pirate/getting_started.md
  src/cli/install.rs
  test/install_minimal_path.bats
Due: cargo-fmt, dbg

fix(pkl): report syntax errors with file, line and column
  scripts/validate-apple-pkl.py
  src/config.rs
  test/pkl_config_errors.bats
Due: cargo-fmt, dbg

fix(init): detect indented tool tables in pyproject.toml
  pkl/builtins/isort.pkl
  pkl/builtins/pylint.pkl
  pkl/builtins/ty.pkl
  src/cli/init/detector.rs
Due: pkl-eval, cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
