Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

feat(tflint): add fix command (#401)
  docs/builtins.md
  pkl/builtins/tf_lint.pkl
Due: pkl-eval

feat(dprint): new builtin
  docs/builtins.md
  pkl/Builtins.pkl
  pkl/builtins/dprint.pkl
Due: pkl-eval

feat(mypy,ruff,ruff_format): associate with .pyi
  docs/builtins.md
  pkl/builtins/mypy.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/ruff_format.pkl
Due: pkl-eval

feat(mypy,ruff,ruff_format): associate with .pyi (#404)
  docs/builtins.md
  pkl/builtins/mypy.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/ruff_format.pkl
Due: pkl-eval

feat(dprint): new builtin (#402)
  docs/builtins.md
  pkl/Builtins.pkl
  pkl/builtins/dprint.pkl
Due: pkl-eval

fix: prevent untracked files from being staged during pre-commit hooks
  src/hook.rs
  src/step.rs
  test/untracked_file_committed_regression.bats
Due: cargo-fmt, dbg

feat: warn when core.hooksPath is set during hk install
  src/cli/install.rs
  test/install_warn_hookspath.bats
Due: cargo-fmt, dbg

fix: use --unset-all instead of --unset in hookspath warning
  src/cli/install.rs
  test/install_warn_hookspath.bats
Due: cargo-fmt, dbg

feat(shfmt): add check_diff
  docs/builtins.md
  pkl/builtins/shfmt.pkl
Due: pkl-eval

feat(shfmt): associate with .mksh, .bats and .zsh
  docs/builtins.md
  pkl/builtins/shfmt.pkl
Due: pkl-eval

feat: shfmt improvements (#410)
  docs/builtins.md
  pkl/builtins/shfmt.pkl
Due: pkl-eval

refactor: use warn! macro instead of eprintln! for hookspath warnings
  src/cli/install.rs
  test/install_warn_hookspath.bats
Due: cargo-fmt, dbg

fix: use portable cut instead of GNU grep -oP in ruff check_list_files
  pkl/builtins/ruff.pkl
Due: pkl-eval

fix: prevent untracked files from being staged with <JOB_FILES>
  mise.toml
  pkl/builtins/black.pkl
  pkl/builtins/prettier.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/ruff_format.pkl
  test/stage_job_files_formatters.bats
Due: pkl-eval

fix: Add warning for existing Git hooks path (#409)
  src/cli/install.rs
  test/install_warn_hookspath.bats
Due: cargo-fmt, dbg

fix: make check_diff work with stage=<JOB_FILES> for proper file filtering
  mise.lock
  pkl/builtins/ruff.pkl
  src/step.rs
  test/stage_job_files_formatters.bats
Due: pkl-eval, cargo-fmt, dbg

refactor: migrate black and ruff_format to use check_diff
  pkl/builtins/black.pkl
  pkl/builtins/ruff_format.pkl
  src/step.rs
Due: pkl-eval, cargo-fmt, dbg

fix: make check_diff parse both stdout and stderr for diff output
  src/step.rs
Due: cargo-fmt, dbg

fix: strip git-style a/ and b/ prefixes from diff paths
  src/step.rs
Due: cargo-fmt, dbg

fix: prevent untracked files from being staged with <JOB_FILES> (#408)
  mise.lock
  mise.toml
  pkl/builtins/black.pkl
  pkl/builtins/prettier.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/ruff_format.pkl
  src/step.rs
  test/stage_job_files_formatters.bats
Due: pkl-eval, cargo-fmt, dbg

feat(vacuum): new builtin
  docs/builtins.md
  pkl/Builtins.pkl
  pkl/builtins/vacuum.pkl
Due: pkl-eval

feat: add content-based file type matching
  Cargo.lock
  Cargo.toml
  docs/configuration.md
  pkl/Config.pkl
  pkl/builtins/black.pkl
  pkl/builtins/shfmt.pkl
  src/file_type.rs
  src/main.rs
  src/step.rs
  test/types.bats
Due: pkl-eval, cargo-fmt, dbg

fix: address clippy warnings in file_type.rs
  src/file_type.rs
Due: cargo-fmt, dbg

revert: remove modifications to builtins
  pkl/builtins/black.pkl
  pkl/builtins/shfmt.pkl
Due: pkl-eval

fix: correct binary flag logic in detect_by_content
  src/file_type.rs
Due: cargo-fmt, dbg

fix: detect symlink target types for content-based filtering
  src/file_type.rs
Due: cargo-fmt, dbg

feat: add content-based file type matching (#416)
  Cargo.lock
  Cargo.toml
  docs/configuration.md
  pkl/Config.pkl
  src/file_type.rs
  src/main.rs
  src/step.rs
  test/types.bats
Due: pkl-eval, cargo-fmt, dbg

feat: add clap-sort unit test and sort CLI flags alphabetically
  Cargo.lock
  Cargo.toml
  src/cli/migrate/pre_commit.rs
  src/cli/mod.rs
  src/cli/test.rs
  src/hook_options.rs
Due: cargo-fmt, dbg

feat: add clap-sort unit test and sort CLI flags alphabetically (#419)
  Cargo.lock
  Cargo.toml
  src/cli/migrate/pre_commit.rs
  src/cli/mod.rs
  src/cli/test.rs
  src/hook_options.rs
Due: cargo-fmt, dbg

Demo make_filespath_file
  pkl/Config.pkl
  src/step.rs
  src/step_job.rs
  src/tera.rs
  test/filepaths_file.bats
Due: pkl-eval, cargo-fmt, dbg

feat: support .config/hk.pkl as alternate config location
  src/config.rs
  test/config_directory.bats
Due: cargo-fmt, dbg

fix: prevent .config/hk.pkl fallback when HK_FILE is set
  src/config.rs
  test/config_directory.bats
Due: cargo-fmt, dbg

fix: format config file names array for cargo fmt
  src/config.rs
Due: cargo-fmt, dbg

feat: Add alternate config directory support with tests (#407)
  src/config.rs
  test/config_directory.bats
Due: cargo-fmt, dbg

chore: release v1.21.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/migrate/pre-commit.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  docs/cli/test.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  docs/reference/schema.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

chore: release v1.21.0 (#384)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/migrate/pre-commit.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  docs/cli/test.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  docs/reference/schema.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

add failing tests
  pkl/builtins/ruff.pkl
Due: pkl-eval

Add --force-exclude
  pkl/builtins/ruff.pkl
Due: pkl-eval

fix(ruff): Make `ruff` respect user config `exclude` (#421)
  pkl/builtins/ruff.pkl
Due: pkl-eval

fix: Fix --check docstring
  src/hook_options.rs
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
