Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

feat(builtins): add .config/ and pyproject.toml project indicators for ryl (#998)
  pkl/builtins/ryl.pkl
  pkl/builtins/ryl_markdown.pkl
  test/builtin_tool_stubs/ryl
Due: pkl-eval

feat(builtins): add shellharden linter (#996)
  pkl/builtins/shellharden.pkl
  test/builtin_tool_stubs/shellharden
Due: pkl-eval

chore(ci): fix nscloud cache action version comments
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: actionlint

Checkpoint: df56f4cfedbc
  df/56f4cfedbc/0/content_hash.txt
  df/56f4cfedbc/0/full.jsonl
  df/56f4cfedbc/0/metadata.json
  df/56f4cfedbc/0/prompt.txt
  df/56f4cfedbc/metadata.json
Due: prettier

Finalize transcript for Checkpoint: df56f4cfedbc
  df/56f4cfedbc/0/content_hash.txt
  df/56f4cfedbc/0/full.jsonl
  df/56f4cfedbc/0/prompt.txt
Due: none

chore(deps): exempt pklr from release age (#1017)
  .github/renovate.json
Due: prettier

chore(ci): fix nscloud cache action version comments (#1019)
  .github/workflows/ci.yml
  .github/workflows/docs.yml
Due: actionlint

chore(deps): bump pklr to 1.1.2
  Cargo.lock
Due: none

chore(deps): bump pklr to 1.1.1 (#1018)
  Cargo.lock
Due: none

chore: stop running cargo update in release task
  mise-tasks/release-plz
Due: none

Checkpoint: 7ec11713634f
  7e/c11713634f/0/content_hash.txt
  7e/c11713634f/0/full.jsonl
  7e/c11713634f/0/metadata.json
  7e/c11713634f/0/prompt.txt
  7e/c11713634f/metadata.json
Due: prettier

chore: release v1.49.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

Finalize transcript for Checkpoint: 7ec11713634f
  7e/c11713634f/0/content_hash.txt
  7e/c11713634f/0/full.jsonl
  7e/c11713634f/0/prompt.txt
Due: none

chore: release v1.49.0 (#985)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: stop running cargo update in release task (#1020)
  mise-tasks/release-plz
Due: none

chore: release v1.49.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

docs: fix stale defaults, broken links, and invalid examples
  docs/about.md
  docs/benchmarks.md
  docs/builtins.md
  docs/configuration.md
  docs/environment_variables.md
  docs/getting_started.md
  docs/glossary.md
  docs/hooks.md
  docs/logging.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/python-project.md
  docs/why-hk.md
  scripts/generate-examples.sh
  settings.toml
Due: none

fix(hook): scope pre-commit files to staged changes
  src/hook.rs
  test/untracked_not_processed_pre_commit.bats
Due: cargo-fmt, dbg

Update sponsor references for jdx.dev
  .github/workflows/release.yml
  README.md
  docs/.vitepress/theme/EndevFooter.vue
  docs/.vitepress/theme/EndevSponsors.vue
  docs/cli/commands.json
  docs/cli/sponsors.md
  hk.usage.kdl
  src/cli/sponsors.rs
Due: actionlint, cargo-fmt, dbg, prettier

docs: fix stale defaults, broken links, and invalid examples (#1022)
  docs/about.md
  docs/benchmarks.md
  docs/builtins.md
  docs/configuration.md
  docs/environment_variables.md
  docs/getting_started.md
  docs/glossary.md
  docs/hooks.md
  docs/logging.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/python-project.md
  docs/why-hk.md
  scripts/generate-examples.sh
  settings.toml
Due: none

Use title sponsor tier
  docs/.vitepress/theme/EndevSponsors.vue
Due: none

Respect sponsor tier visibility
  README.md
  src/cli/sponsors.rs
Due: cargo-fmt, dbg

Limit repo sponsor callouts to premier sponsors
  README.md
  src/cli/sponsors.rs
Due: cargo-fmt, dbg

chore(ci): increase mise http timeout
  .github/workflows/ci.yml
Due: actionlint

chore(ci): harden cargo downloads
  .github/workflows/ci.yml
Due: actionlint

fix(hook): scope pre-commit files to staged changes (#1023)
  .github/workflows/ci.yml
  src/hook.rs
  test/untracked_not_processed_pre_commit.bats
Due: actionlint, cargo-fmt, dbg

Update sponsor references for jdx.dev (#1024)
  .github/workflows/release.yml
  README.md
  docs/.vitepress/theme/EndevFooter.vue
  docs/.vitepress/theme/EndevSponsors.vue
  docs/cli/commands.json
  docs/cli/sponsors.md
  hk.usage.kdl
  src/cli/sponsors.rs
Due: actionlint, cargo-fmt, dbg, prettier

fix(deps): support tera 2 rendering
  src/tera.rs
Due: cargo-fmt, dbg

install: append --staged to pre-commit hook command by default
  src/cli/install.rs
Due: cargo-fmt, dbg

pkl: make Hook an open class
  pkl/Config.pkl
Due: pkl-eval

fix: include staged renames in staged files list
  src/git.rs
  test/staged_rename_pre_commit.bats
Due: cargo-fmt, dbg

feat(builtins): add textlint linter
  pkl/builtins/textlint.pkl
  test/builtin_tool_stubs/textlint
Due: pkl-eval

fix(step): prefer check_list_files in check-first
  src/step/execution.rs
  src/step/runner.rs
  test/check_list_files_empty_with_stderr.bats
Due: cargo-fmt, dbg

fix(step): make check_first command selection explicit
  src/step/batching.rs
  src/step/execution.rs
  src/step/runner.rs
  src/step/types.rs
  test/check_list_files_empty_with_stderr.bats
Due: cargo-fmt, dbg

fix(step): preserve check_first command kind in runner
  src/step/runner.rs
Due: cargo-fmt, dbg

fix(step): prefer check_list_files in check-first (#1038)
  src/step/batching.rs
  src/step/execution.rs
  src/step/runner.rs
  src/step/types.rs
  test/check_list_files_empty_with_stderr.bats
Due: cargo-fmt, dbg

feat(builtins): add textlint linter (#1036)
  pkl/builtins/textlint.pkl
  test/builtin_tool_stubs/textlint
Due: pkl-eval

fix: include staged renames in staged files list (#1035)
  src/git.rs
  test/staged_rename_pre_commit.bats
Due: cargo-fmt, dbg

chore: use release backends for cargo tools
  mise.toml
Due: none

docs: redesign logo as vector hook wordmark
  docs/.vitepress/theme/HomePage.vue
  docs/public/android-chrome-192x192.png
  docs/public/android-chrome-512x512.png
  docs/public/apple-touch-icon.png
  docs/public/favicon-16x16.png
  docs/public/favicon-32x32.png
  docs/public/favicon.ico
  docs/public/logo-small.png
  docs/public/logo.png
  docs/public/logo.svg
  docs/public/site.webmanifest
Due: none
