Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

Removed dead code.
  src/main.rs
Due: cargo-fmt, dbg

Updated tests to use HK_LOG_FILE instead of HK_STATE_DIR/output.log
  test/patch_backup.bats
  test/pre_commit_prettier_restaging.bats
Due: none

feat(mise): support per-step workspace activation
  docs/environment_variables.md
  docs/mise_integration.md
  pkl/Config.pkl
  src/config.rs
  src/env.rs
  src/step/batching.rs
  src/step/check_parsing.rs
  src/step/diff.rs
  src/step/execution.rs
  src/step/filtering.rs
  src/step/mod.rs
  src/step/output.rs
  src/step/runner.rs
  src/step/types.rs
  src/step_group.rs
  src/step_job.rs
  test/apply_check_diff.bats
  test/mise_per_step.bats
  test/workspace_indicator.bats
Due: pkl-eval, cargo-fmt, dbg

fix(check): parse check_diff output for fix suggestions
  src/step/output.rs
  src/step/runner.rs
  test/check_fix_suggestion.bats
Due: cargo-fmt, dbg

fix(run): expose post-checkout hook variables
  docs/hooks.md
  src/cli/run/post_checkout.rs
  test/hook_args.bats
Due: cargo-fmt, dbg

fix(run): expose post-checkout hook variables (#951)
  docs/hooks.md
  src/cli/run/post_checkout.rs
  test/hook_args.bats
Due: cargo-fmt, dbg

fix(check): parse check_diff output for fix suggestions (#949)
  src/step/output.rs
  src/step/runner.rs
  test/check_fix_suggestion.bats
Due: cargo-fmt, dbg

feat(run): add staged-only hook scope
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/hook.rs
  src/hook_options.rs
  test/staged_flag.bats
Due: cargo-fmt, dbg, prettier

fix(step): prefer check_list_files in check-first
  pkl/builtins/yamlfmt.pkl
  src/step/execution.rs
  src/step/runner.rs
  test/check_list_files_empty_with_stderr.bats
Due: pkl-eval, cargo-fmt, dbg

feat(run): add staged-only hook scope (#950)
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/hook.rs
  src/hook_options.rs
  test/staged_flag.bats
Due: cargo-fmt, dbg, prettier

chore: release v1.46.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v1.46.0 (#910)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

fix(deps): support git2 0.21 accessors
  src/git.rs
  src/settings.rs
Due: cargo-fmt, dbg

docs: add sponsors page
  docs/.vitepress/config.mts
  docs/sponsors.md
Due: none

docs: harden sponsors page rendering
  docs/sponsors.md
Due: none

docs: harden sponsor feed rendering
  docs/.vitepress/theme/EndevSponsors.vue
Due: none

docs: tighten sponsor feed validation
  docs/.vitepress/theme/EndevSponsors.vue
Due: none

docs: point sponsor cta to sponsors page
  docs/.vitepress/theme/EndevSponsors.vue
Due: none

docs: shorten sponsor footer label
  docs/.vitepress/theme/EndevSponsors.vue
Due: none

docs: avoid duplicate sponsor footer
  docs/.vitepress/theme/EndevSponsors.vue
  docs/.vitepress/theme/Layout.vue
Due: none

docs: avoid duplicate footer
  docs/.vitepress/theme/Layout.vue
Due: none

docs: link sponsor cta to en.dev
  docs/.vitepress/theme/EndevSponsors.vue
Due: none

docs: link sponsor label to full sponsor list
  docs/.vitepress/theme/EndevSponsors.vue
Due: none

docs: remove unused custom footer
  docs/.vitepress/theme/EndevFooter.vue
Due: none

docs: use consistent en.dev footer
  docs/.vitepress/config.mts
  docs/.vitepress/theme/EndevFooter.vue
  docs/.vitepress/theme/Layout.vue
Due: none

docs: add sponsor footer strip
  docs/.vitepress/theme/EndevSponsors.vue
  docs/.vitepress/theme/Layout.vue
Due: none

docs: point sponsor footer to full sponsor list
  docs/.vitepress/theme/EndevSponsors.vue
Due: none

docs: use en.dev sponsors page
  docs/.vitepress/config.mts
  docs/sponsors.md
Due: none

docs: remove sponsors from sidebar
  docs/.vitepress/config.mts
Due: none

docs: timeout sponsor feed requests
  docs/.vitepress/theme/EndevSponsors.vue
Due: none

docs: add sponsor footer (#960)
  docs/.vitepress/config.mts
  docs/.vitepress/theme/EndevSponsors.vue
  docs/.vitepress/theme/Layout.vue
Due: none

feat: add sponsors command
  README.md
  src/cli/mod.rs
  src/cli/sponsors.rs
Due: cargo-fmt, dbg

docs(sponsors): render cli docs
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/sponsors.md
  hk.usage.kdl
Due: prettier

feat: add sponsors command (#961)
  README.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/sponsors.md
  hk.usage.kdl
  src/cli/mod.rs
  src/cli/sponsors.rs
Due: cargo-fmt, dbg, prettier

fix(sponsors): remove singular sponsor link
  src/cli/sponsors.rs
Due: cargo-fmt, dbg

fix(sponsors): remove singular sponsor link (#962)
  src/cli/sponsors.rs
Due: cargo-fmt, dbg

chore(ci): use pr-closer action
  .github/workflows/pr-closer.yml
Due: actionlint

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
