Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

oops
  mise-tasks/pkl/gen
Due: none

feat: Add `check_diff` to `fix-smart-quotes` (#585)
  pkl/builtins/fix_smart_quotes.pkl
  src/cli/util/fix_smart_quotes.rs
  test/util_fix_smart_quotes.bats
Due: pkl-eval, cargo-fmt, dbg

refactor: Generate `pkl/Builtins.pkl` from the builtins (#591)
  mise-tasks/build
  mise-tasks/pkl/dist
  mise-tasks/pkl/gen
  mise-tasks/pkl/package
  mise-tasks/test/cargo
  pkl/.gitignore
  pkl/Builtins.pkl
Due: pkl-eval

fix(rubocop): add `--force-exclusion` flag to respect RuboCop config excludes
  pkl/builtins/rubocop.pkl
Due: pkl-eval

Fix glob syntax for linters in getting_started.md
  docs/getting_started.md
Due: none

fix(test_runner): canonicalize temp directory path for RuboCop exclude tests
  src/test_runner.rs
Due: cargo-fmt, dbg

byte order marker
  pkl/builtins/check_byte_order_marker.pkl
Due: pkl-eval

ad
  pkl/builtins/byte_order_marker.pkl
Due: pkl-eval

deprecated
  pkl/builtins/fix_byte_order_marker.pkl
Due: pkl-eval

alias
  pkl/builtins/check_byte_order_marker.pkl
  pkl/builtins/fix_byte_order_marker.pkl
Due: pkl-eval

pkl directly
  mise-tasks/pkl/gen
Due: none

comment
  mise-tasks/pkl/gen
Due: none

fix: Format the generated pkl file (#594)
  mise-tasks/pkl/gen
Due: none

fix(rubocop): add `--force-exclusion` flag to respect RuboCop config excludes (#574)
  pkl/builtins/rubocop.pkl
  src/test_runner.rs
Due: pkl-eval, cargo-fmt, dbg

stage
  pkl/builtins/byte_order_marker.pkl
Due: pkl-eval

refactor: Change to a single `byte_order_marker` builtin (#595)
  pkl/builtins/byte_order_marker.pkl
  pkl/builtins/check_byte_order_marker.pkl
  pkl/builtins/fix_byte_order_marker.pkl
Due: pkl-eval

bom
  src/cli/util/byte_order_marker.rs
  src/cli/util/mod.rs
Due: cargo-fmt, dbg

byebye
  src/cli/util/fix_byte_order_marker.rs
Due: cargo-fmt, dbg

feat(rubocop): add check_list_files command to rubocop builtin
  pkl/builtins/rubocop.pkl
Due: pkl-eval

refactor: Combine both BOM rust files into one (#596)
  src/cli/util/byte_order_marker.rs
  src/cli/util/fix_byte_order_marker.rs
  src/cli/util/mod.rs
Due: cargo-fmt, dbg

fix leading dot issue
  src/hook.rs
  test/exclude.bats
Due: cargo-fmt, dbg

dir
  test/exclude.bats
Due: none

comments
  src/hook.rs
Due: cargo-fmt, dbg

move it
  src/hook.rs
Due: cargo-fmt, dbg

fix this
  src/test_runner.rs
Due: cargo-fmt, dbg

ok there
  src/test_runner.rs
Due: cargo-fmt, dbg

ok fixit
  src/test_runner.rs
Due: cargo-fmt, dbg

ok this
  src/test_runner.rs
Due: cargo-fmt, dbg

oops
  src/test_runner.rs
Due: cargo-fmt, dbg

ampersand
  src/test_runner.rs
Due: cargo-fmt, dbg

biome test
  pkl/builtins/biome.pkl
  test/builtin_tool_stubs/biome
Due: pkl-eval

diff
  pkl/builtins/byte_order_marker.pkl
  src/cli/util/byte_order_marker.rs
Due: pkl-eval, cargo-fmt, dbg

test: Add tests to `biome` builtin (#599)
  pkl/builtins/biome.pkl
  test/builtin_tool_stubs/biome
Due: pkl-eval

refactor: Render `test_runner` file keys once (#581)
  src/test_runner.rs
Due: cargo-fmt, dbg

rust
  src/cli/util/byte_order_marker.rs
Due: cargo-fmt, dbg

feat: Add diff capabilities to BOM util (#600)
  pkl/builtins/byte_order_marker.pkl
  src/cli/util/byte_order_marker.rs
Due: pkl-eval, cargo-fmt, dbg

fix: make hook `exclude` strip leading `./` (#598)
  src/hook.rs
  test/exclude.bats
Due: cargo-fmt, dbg

feat(rubocop): add check_list_files command to rubocop builtin (#597)
  pkl/builtins/rubocop.pkl
Due: pkl-eval

chore: release v1.30.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/util.md
  docs/cli/util/check-byte-order-marker.md
  docs/cli/util/end-of-file-fixer.md
  docs/cli/util/fix-smart-quotes.md
  docs/cli/util/mixed-line-ending.md
  docs/cli/util/trailing-whitespace.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
