Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

chore(deps): bump usage to 6.4.0 (#1228)
  Cargo.lock
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  docs/cli/util.md
  docs/cli/util/check-conventional-commit.md
  docs/cli/util/no-commit-to-branch.md
  mise-tasks/build-usage
Due: prettier

Notes added by 'git notes add'
  8f2290da56b7e30f79b68bbe4253ac9521f393b6
Due: none

chore(ci): adopt mbx for Rust builds
  .github/actions/mbx/action.yml
  .github/workflows/ci.yml
  .github/workflows/docs.yml
  AGENTS.md
  CONTRIBUTING.md
  hk.pkl
  mise-tasks/build
  mise-tasks/msrv
  mise-tasks/test/cargo
  mise.lock
  mise.toml
Due: actionlint, pkl-eval

fix: use direct mbx command syntax
  .github/workflows/ci.yml
  hk.pkl
  mise-tasks/build
  mise-tasks/msrv
  mise-tasks/test/cargo
Due: actionlint, pkl-eval

Notes added by 'git notes add'
  de9d9e342377054c67974fe8ee0ce7fce1ff10f2
Due: none

Notes added by 'git notes add'
  5d5a94d527dcbe416088b94170fc8b0870a3df79
Due: none

chore: remove pinned rust toolchain
  rust-toolchain.toml
Due: none

fix(builtins): broaden gomod_tidy glob to run tidy on .go changes
  pkl/builtins/gomod_tidy.pkl
Due: pkl-eval

docs: clarify subproject monorepo setup
  docs/builtins.md
  docs/configuration.md
  docs/reference/examples/monorepo.md
Due: none

docs: clarify builtin source reference
  docs/builtins.md
Due: none

fix(builtins): broaden gomod_tidy glob to run tidy on .go changes (#1236)
  pkl/builtins/gomod_tidy.pkl
Due: pkl-eval

Notes added by 'git notes add'
  1c2209df380cf2dd921c0d34490dcdf56a63f29b
Due: none

docs: clarify subproject monorepo setup (#1239)
  docs/builtins.md
  docs/configuration.md
  docs/reference/examples/monorepo.md
Due: none

feat(builtins): add ls_lint linter
  pkl/builtins/ls_lint.pkl
  test/builtin_tool_stubs/ls-lint
Due: pkl-eval

Notes added by 'git notes add'
  d2ed251c6a264094ad5799bc304254abb46bb378
Due: none

fix(builtins): stage gomod_tidy manifest updates
  pkl/builtins/gomod_tidy.pkl
  test/gomod_tidy_nested_module.bats
Due: pkl-eval

Notes added by 'git notes add'
  7d50fee00327f90ac9bbd1efe5307daf5bfa2a4f
Due: none

fix(step): relativize workspace paths to step directory
  docs/configuration.md
  src/step/dir.rs
  src/step_job.rs
  test/subprojects.bats
Due: cargo-fmt, dbg

fix(builtins): stage gomod_tidy manifest updates (#1240)
  pkl/builtins/gomod_tidy.pkl
  test/gomod_tidy_nested_module.bats
Due: pkl-eval

test(step): account for platform shell quoting
  src/step_job.rs
Due: cargo-fmt, dbg

Notes added by 'git notes add'
  2b90a0612e4d9cb7676280df61ad63dcd631c6ac
Due: none

fix(step): relativize workspace paths to step directory (#1242)
  docs/configuration.md
  src/step/dir.rs
  src/step_job.rs
  test/subprojects.bats
Due: cargo-fmt, dbg

feat(builtins): add ls_lint linter (#1238)
  pkl/builtins/ls_lint.pkl
  test/builtin_tool_stubs/ls-lint
Due: pkl-eval

Notes added by 'git notes add'
  2cc887ef6f9195e38eae037a6ccaa0bab20b8ef8
Due: none

Notes added by 'git notes add'
  6de87e3db08685697c2a95c0aea3292ea3fe9db2
Due: none

feat(step): recheck applied diffs
  docs/configuration.md
  pkl/Config.pkl
  src/step/execution.rs
  src/step/runner.rs
  src/step/types.rs
  src/step_job.rs
  test/apply_check_diff.bats
  test/command_effects.bats
Due: pkl-eval, cargo-fmt, dbg

feat(builtins): add golangci_lint_fmt formatter
  pkl/builtins/golangci_lint_fmt.pkl
Due: pkl-eval

fix(step): address check-diff review feedback
  src/step_job.rs
  test/apply_check_diff.bats
  test/command_effects.bats
Due: cargo-fmt, dbg

feat(step): recheck applied diffs (#1243)
  docs/configuration.md
  pkl/Config.pkl
  src/step/execution.rs
  src/step/runner.rs
  src/step/types.rs
  src/step_job.rs
  test/apply_check_diff.bats
  test/command_effects.bats
Due: pkl-eval, cargo-fmt, dbg

feat(builtins): add golangci_lint_fmt formatter (#1244)
  pkl/builtins/golangci_lint_fmt.pkl
Due: pkl-eval

Notes added by 'git notes add'
  17e2777e8a115b02ebfae560bd8f755b10d8f1be
Due: none

fix(builtins): recheck partial diff fixes
  pkl/builtins/pinact_v3.pkl
  pkl/builtins/rumdl.pkl
  pkl/builtins/ryl.pkl
  pkl/builtins/ryl_markdown.pkl
  pkl/builtins/zizmor.pkl
Due: pkl-eval

feat(builtins): add shellcheck fix via check_diff
  pkl/builtins/shellcheck.pkl
  test/shellcheck_partial_fix.bats
Due: pkl-eval

Notes added by 'git notes add'
  167f8c205595f6a0bdcab722068df4f86c2d1428
Due: none

fix(builtins): recheck partial diff fixes (#1245)
  pkl/builtins/pinact_v3.pkl
  pkl/builtins/rumdl.pkl
  pkl/builtins/ryl.pkl
  pkl/builtins/ryl_markdown.pkl
  pkl/builtins/zizmor.pkl
Due: pkl-eval

Notes added by 'git notes add'
  dd175106d8657e07b619abd9d1f2403f85b77c3c
Due: none

feat(builtins): add shellcheck fix via check_diff (#1237)
  pkl/builtins/shellcheck.pkl
  test/shellcheck_partial_fix.bats
Due: pkl-eval

Notes added by 'git notes add'
  7ada252e14534926bce16bf55c3ff7a5c03ab19d
Due: none

docs: improve onboarding and navigation
  README.md
  docs/.vitepress/config.mts
  docs/.vitepress/theme/HomePage.vue
  docs/getting_started.md
  docs/hooks.md
Due: none

fix(builtins): correct gitleaks scan modes
  pkl/builtins/gitleaks.pkl
  pkl/builtins/gitleaks_staged.pkl
Due: pkl-eval
