Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

fix: progress bar with children jobs
  hk.pkl
  pkl/builtins/cargo_clippy.pkl
  src/step.rs
  src/step_context.rs
Due: pkl-eval, cargo-fmt, dbg

fix: progress bar with children jobs (#185)
  hk.pkl
  pkl/builtins/cargo_clippy.pkl
  src/step.rs
  src/step_context.rs
Due: pkl-eval, cargo-fmt, dbg

chore: subtree
  mise-tasks/subtree-sync
Due: none

chore: release v1.9.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.9.2 (#186)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

feat(progress): add progress_bar(flex=true) with auto-flex wrapping; prevent overflow and add unit tests
  clx/src/progress.rs
  src/hook.rs
Due: cargo-fmt, dbg

git: ignore staged entries when worktree deleted (AD); add Bats repro
  src/git.rs
  src/step.rs
  test/git_status_ad_deleted.bats
  test/profile_skip_summary.bats
Due: cargo-fmt, dbg

git: ignore staged entries when worktree deleted (AD); add Bats repro (#188)
  src/git.rs
  src/step.rs
  test/git_status_ad_deleted.bats
  test/profile_skip_summary.bats
Due: cargo-fmt, dbg

feat(progress): flex-width progress bar (#187)
  clx/src/progress.rs
  src/hook.rs
Due: cargo-fmt, dbg

step: handle tera render errors without panic; improve progress UI stability
  src/step.rs
Due: cargo-fmt, dbg

fix: handle tera render errors without panic; improve progress UI stability (#190)
  src/step.rs
Due: cargo-fmt, dbg

chore: release v1.10.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: allow clippy::too_many_arguments on HookContext::new
  src/hook.rs
Due: cargo-fmt, dbg

feat: expose git status to expr conditions and Tera templates (#191)
  docs/configuration.md
  src/git.rs
  src/hook.rs
  test/expr_git_status.bats
Due: cargo-fmt, dbg

chore: release v1.10.0 (#189)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix(clx): avoid Unicode slicing panic in truncate_text and previews by using char-safe prefix
  clx/src/progress.rs
Due: cargo-fmt, dbg

chore: release v1.10.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.10.1 (#192)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release-plz publish sub-crates and push subtrees
  mise-tasks/release-plz
Due: none

chore: release-plz publish sub-crates and push subtrees (#193)
  mise-tasks/release-plz
Due: none

chore: release-plz: clone subcrate upstream repos to bump version and changelog; stop editing sub-crates in hk repo
  mise-tasks/release-plz
Due: none

chore: release-plz: clone subcrate upstream repos to bump version and changelog; stop editing sub-crates in hk repo (#195)
  mise-tasks/release-plz
Due: none

chore: release-plz: skip release PR when no version bump; ensure hk Cargo.toml/CHANGELOG committed only on real bumps
  mise-tasks/release-plz
Due: none

chore: release-plz: clone subcrate upstream repos to bump version (#196)
  mise-tasks/release-plz
Due: none

fix: use correct expr environment with builtins
  src/step.rs
Due: cargo-fmt, dbg

docs: correct expr examples for git staged file syntax
  docs/configuration.md
Due: none

chore: release-plz: tolerate subtree non-FF push failures (do not fail release)
  mise-tasks/release-plz
Due: none

chore: release v1.10.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: release v1.10.2 (#194)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

chore: fetch submodules
  .github/workflows/release-plz.yml
  mise-tasks/release-plz
Due: actionlint

chore: fixing release-plz
  mise-tasks/release-plz
Due: none

chore: fix msrv job
  .github/workflows/ci.yml
Due: actionlint

fix(step): include root variant for '**/' stage globs (stage maintainers.yml at repo root)
  src/step.rs
  test/stage_root_glob.bats
Due: cargo-fmt, dbg

wip
  src/step.rs
  test/stage_root_glob.bats
Due: cargo-fmt, dbg

fix(step): include root variant for '**/' stage globs (stage maintainers.yml at repo root) (#198)
  src/step.rs
  test/stage_root_glob.bats
Due: cargo-fmt, dbg

chore: release v1.10.3
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

fix(docs): add v-pre directive to inline code for proper rendering
  docs/.vitepress/config.mts
Due: none

fix(docs): add v-pre directive to inline code for proper rendering (#200)
  docs/.vitepress/config.mts
Due: none

chore: release v1.10.3 (#197)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
Due: prettier

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
