Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

chore(mise): add Prettier 3.9.8 sidecar lock Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  .mise/locks/npm-prettier/3.9.8/aube-lock.yaml
  .mise/locks/npm-prettier/3.9.8/package.json
Due: prettier

fix(mcp): use ServerConfig alias Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  src/cli/mcp.rs
Due: cargo-fmt, dbg

chore: revert unrelated prettier sidecar update Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  .mise/locks/npm-prettier/3.9.6/aube-lock.yaml
  .mise/locks/npm-prettier/3.9.6/package.json
Due: prettier

fix(init): cover preserving existing mise config Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  src/cli/mcp.rs
  test/init_creates_hk_pkl.bats
Due: cargo-fmt, dbg

fix(mcp): support locked rmcp 3.3 API Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  src/cli/mcp.rs
Due: cargo-fmt, dbg

test(init): assert mise config survives init Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/init_creates_hk_pkl.bats
Due: none

test(init): preserve complete mise config byte-for-byte Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  test/init_creates_hk_pkl.bats
Due: none

chore(mise): add Prettier 3.9.8 sidecar Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  .mise/locks/npm-prettier/3.9.8/aube-lock.yaml
  .mise/locks/npm-prettier/3.9.8/package.json
Due: prettier

fix(deps): repair hk after lockfile maintenance and update mr-boxington-action to v1.4.0 (#1433)
  .github/workflows/aube-lock.yml
  .github/workflows/cache-benchmark.yml
  .github/workflows/ci-impl.yml
  .github/workflows/docs-impl.yml
  .github/workflows/mise-lock.yml
  .github/workflows/warm-cache-benchmark.yml
  .mise/locks/npm-prettier/3.9.8/aube-lock.yaml
  .mise/locks/npm-prettier/3.9.8/package.json
  src/cli/mcp.rs
Due: actionlint, cargo-fmt, dbg, prettier

feat(check): add `--junit-xml` report of per-step results (#1432)
  docs/ci.md
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/hook.rs
  src/hook_options.rs
  src/structured_output.rs
  test/junit.bats
Due: cargo-fmt, dbg, prettier

docs: explain git hooks and parallel checks plainly
  docs/.vitepress/theme/HomePage.vue
  docs/index.md
Due: none

docs: explain git hooks and parallel checks plainly (#1437)
  docs/.vitepress/theme/HomePage.vue
  docs/index.md
Due: none

docs: clarify mise lockfile updates Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  docs/contributing.md
Due: none

chore(deps): bump jdx/renovate-config workflows to c736149
  .github/workflows/aube-lock.yml
  .github/workflows/mise-lock.yml
Due: actionlint

fix(init): detect native biome and eslint configuration (#1402)
  pkl/builtins/biome.pkl
  pkl/builtins/eslint.pkl
  src/cli/init/detector.rs
  test/init_creates_hk_pkl.bats
Due: pkl-eval, cargo-fmt, dbg

chore(deps): bump jdx/renovate-config workflows to aa49efc
  .github/workflows/aube-lock.yml
  .github/workflows/mise-lock.yml
Due: actionlint

test(cli): read command effects from usage-rs extra metadata
  src/cli/command_effects.rs
Due: cargo-fmt, dbg

style(cli): format command effects tests
  src/cli/command_effects.rs
Due: cargo-fmt, dbg

fix: exit like SIGPIPE instead of aborting when output's reader closes
  src/main.rs
  test/broken_pipe.bats
Due: cargo-fmt, dbg

fix: recognise ERROR_BROKEN_PIPE as a closed pipe on Windows
  src/main.rs
Due: cargo-fmt, dbg

feat(init): discover nested source files with ignore rules (#1403)
  build/generate_builtins.rs
  docs/getting_started.md
  pkl/builtins/shellcheck.pkl
  pkl/builtins/shellharden.pkl
  pkl/builtins/shfmt.pkl
  scripts/gen_builtins.py
  src/cli/init/detector.rs
  test/init_creates_hk_pkl.bats
Due: pkl-eval, cargo-fmt, dbg

fix: exit like SIGPIPE instead of aborting when output's reader closes (#1442)
  src/main.rs
  test/broken_pipe.bats
Due: cargo-fmt, dbg

chore(deps): bump jdx/renovate-config workflows to 5b46432
  .github/workflows/aube-lock.yml
  .github/workflows/mise-lock.yml
Due: actionlint

chore: remove Entire trail runners
  .entire/runners/trail-confidence.json
  .entire/runners/trail-drift.json
  .entire/runners/trail-review.json
  .entire/runners/trail-risk.json
  .entire/runners/trail-security.json
  .entire/runners/trail-summary.json
Due: prettier

chore: remove Entire trail runners (#1443)
  .entire/runners/trail-confidence.json
  .entire/runners/trail-drift.json
  .entire/runners/trail-review.json
  .entire/runners/trail-risk.json
  .entire/runners/trail-security.json
  .entire/runners/trail-summary.json
Due: prettier

chore(deps): pin jdx/renovate-config workflows to v1.0.0
  .github/workflows/aube-lock.yml
  .github/workflows/mise-lock.yml
Due: actionlint

chore(deps): update communique to 1.4.2 in mise.lock
  mise.lock
Due: none

chore: use the newest jdx tools and aube without a release-age delay
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
  mise.lock
  mise.toml
Due: actionlint

chore: use registry shorthands and float tak on latest
  .mise/locks/prettier/3.9.8/aube-lock.yaml
  .mise/locks/prettier/3.9.8/package.json
  mise.lock
  mise.toml
Due: prettier

chore: float jdx tools and aube on latest without a release-age delay (#1444)
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
  .mise/locks/prettier/3.9.8/aube-lock.yaml
  .mise/locks/prettier/3.9.8/package.json
  mise.lock
  mise.toml
Due: actionlint, prettier

feat(hook): expose git hook arguments to condition expressions
  docs/configuration.md
  docs/hooks.md
  src/cli/run/commit_msg.rs
  src/cli/run/mod.rs
  src/cli/run/post_checkout.rs
  src/cli/run/post_commit.rs
  src/cli/run/post_merge.rs
  src/cli/run/post_rewrite.rs
  src/cli/run/pre_commit.rs
  src/cli/run/pre_push.rs
  src/cli/run/pre_rebase.rs
  src/cli/run/prepare_commit_msg.rs
  src/hook.rs
  src/hook_options.rs
  test/hook_args.bats
Due: cargo-fmt, dbg

feat(hook): expose git hook arguments to condition expressions (#1445)
  docs/configuration.md
  docs/hooks.md
  src/cli/run/commit_msg.rs
  src/cli/run/mod.rs
  src/cli/run/post_checkout.rs
  src/cli/run/post_commit.rs
  src/cli/run/post_merge.rs
  src/cli/run/post_rewrite.rs
  src/cli/run/pre_commit.rs
  src/cli/run/pre_push.rs
  src/cli/run/pre_rebase.rs
  src/cli/run/prepare_commit_msg.rs
  src/hook.rs
  src/hook_options.rs
  test/hook_args.bats
Due: cargo-fmt, dbg

test(step): cover null bytes in HTML and XML signatures
  src/file_type.rs
Due: cargo-fmt, dbg

test(step): verify frontend component type filtering
  src/file_type.rs
Due: cargo-fmt, dbg

feat(builtins): track `[.]rustfmt.toml` for `cargo-fmt`
  pkl/builtins/cargo_fmt.pkl
Due: pkl-eval

fix(step): relative check_list_files supports subprojects
  src/step/check_parsing.rs
  test/subprojects.bats
Due: cargo-fmt, dbg

feat(builtins): track `[.]rustfmt.toml` for `cargo-fmt` (#1446)
  pkl/builtins/cargo_fmt.pkl
Due: pkl-eval

feat(step): add svelte, vue, and astro file types (#1428)
  pkl/Config.pkl
  src/file_type.rs
Due: pkl-eval, cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
