Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

test: keep the read-lock bats fixtures valid Pkl for the Apple Pkl check
  scripts/validate-apple-pkl.py
  test/apply_check_diff.bats
Due: none

fix(builtins): never patch around a formatter error in format-diff builtins
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/util.md
  docs/cli/util/format-diff.md
  docs/public/llms.txt
  hk.usage.kdl
  pkl/builtins/taplo_format.pkl
  pkl/builtins/yamlfmt.pkl
  src/cli/util/format_diff.rs
  test/util_format_diff.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

feat(builtins): add check_diff to ruff, oxfmt, shellharden, and go_lines
  pkl/builtins/go_lines.pkl
  pkl/builtins/oxfmt.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/shellharden.pkl
Due: pkl-eval

fix(builtins): run shellharden's check_diff without stdin
  pkl/builtins/shellharden.pkl
Due: pkl-eval

fix(step): keep the rejected-patch warning to git's first line
  src/step/diff.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

fix(util): never let sarif-diff patch around a tool failure or empty fix
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/util.md
  docs/cli/util/sarif-diff.md
  docs/public/llms.txt
  hk.usage.kdl
  src/cli/util/sarif_diff.rs
  test/util_sarif_diff.bats
Due: cargo-fmt, dbg, prettier

fix(fix): recompute read-locked patches that name files outside the job
  src/step/execution.rs
  src/step_job.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

test(builtins): restore shellharden's diff test after merging its update
  pkl/builtins/shellharden.pkl
Due: pkl-eval

fix(fix): rerun a stale read-locked check_diff on all of the job's files
  src/step/execution.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

fix(step): leave out a check_diff that can't run with the step's prefix
  pkl/Config.pkl
  src/cli/util/format_diff.rs
  src/step/runner.rs
  test/structured_argv.bats
  test/util_format_diff.bats
Due: pkl-eval, cargo-fmt, dbg

test(builtins): run the rumdl diff-apply test under both git backends
  test/builtins_tests.bats
Due: none

fix(step): treat file creations and deletions as git-style header pairs
  src/step/check_parsing.rs
  src/step/diff.rs
  src/step/mod.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

feat(builtins): apply pinact's fixes as a patch with new hk util sarif-diff (#1515)
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/util.md
  docs/cli/util/sarif-diff.md
  docs/configuration.md
  docs/public/llms.txt
  hk.usage.kdl
  pkl/builtins/pinact.pkl
  pkl/builtins/pinact_update.pkl
  src/cli/command_effects.rs
  src/cli/util/mod.rs
  src/cli/util/sarif_diff.rs
  test/util_sarif_diff.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

fix(builtins): pick taplo's files by exit code and keep check_failed_files validation
  pkl/builtins/taplo_format.pkl
  src/cli/util/format_diff.rs
  src/step/runner.rs
Due: pkl-eval, cargo-fmt, dbg

fix(step): use -p1 only for a patch with a full a/ and b/ pair
  src/step/mod.rs
Due: cargo-fmt, dbg

feat(step): warn when a check_diff patch doesn't apply (#1517)
  src/step/diff.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

fix(step): recognize git-style patches that only create or delete files
  src/step/diff.rs
  src/step/mod.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

fix(step): judge creation prefixes by the filesystem only when every pair has one
  src/step/mod.rs
Due: cargo-fmt, dbg

fix(step): list a patch's files with the same strip level used to apply it
  src/step/check_parsing.rs
  src/step/diff.rs
  src/step/execution.rs
  src/step/mod.rs
  src/step/output.rs
Due: cargo-fmt, dbg

fix(builtins): print no patch when yamlfmt -dry fails
  pkl/builtins/yamlfmt.pkl
Due: pkl-eval

test(builtins): test rumdl builtins against rumdl 0.2.77 (#1512)
  test/builtin_tool_stubs/rumdl
  test/builtins_tests.bats
Due: none

perf(fix): run read-only check_diff steps in parallel with steps that read the same files (#1519)
  docs/why-hk.md
  scripts/validate-apple-pkl.py
  src/file_rw_locks.rs
  src/step/execution.rs
  src/step/types.rs
  src/step_job.rs
  src/step_locks.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

fix(step): read a check_diff's paths in the step's dir
  src/step/check_parsing.rs
Due: cargo-fmt, dbg

fix(step): match every reading of a check_diff path that names a job file
  src/step/check_parsing.rs
Due: cargo-fmt, dbg

feat(builtins): give seven formatters a check_diff with new hk util format-diff (#1514)
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/util.md
  docs/cli/util/format-diff.md
  docs/configuration.md
  docs/public/llms.txt
  hk.usage.kdl
  pkl/Config.pkl
  pkl/builtins/buildifier_format.pkl
  pkl/builtins/stylua.pkl
  pkl/builtins/taplo_format.pkl
  pkl/builtins/terraform.pkl
  pkl/builtins/tofu.pkl
  pkl/builtins/tombi_format.pkl
  pkl/builtins/yamlfmt.pkl
  src/cli/command_effects.rs
  src/cli/util/format_diff.rs
  src/cli/util/mod.rs
  src/step/runner.rs
  test/builtin_tool_stubs/tofu
  test/structured_argv.bats
  test/util_format_diff.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

feat(builtins): add check_diff to ruff, oxfmt, shellharden, and go_lines (#1516)
  pkl/builtins/go_lines.pkl
  pkl/builtins/oxfmt.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/shellharden.pkl
Due: pkl-eval

fix(builtins): keep go_lines argv-only so an argv prefix composes with it
  pkl/builtins/go_lines.pkl
  test/structured_argv.bats
Due: pkl-eval

fix(step): resolve a check_diff path in a symlinked dir even when the root reading matches
  src/step/check_parsing.rs
Due: cargo-fmt, dbg

fix(step): ignore a diff --git line once a mixed patch loses its prefixes
  src/step/mod.rs
Due: cargo-fmt, dbg

test(builtins): run go_lines' check under an argv prefix
  test/structured_argv.bats
Due: none

perf(step): resolve a check_diff path in dir without canonicalizing the whole job
  src/step/check_parsing.rs
Due: cargo-fmt, dbg
