Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

feat(builtins): add dclint to builtins (#779)
  pkl/builtins/dclint.pkl
  test/builtin_tool_stubs/dclint
Due: pkl-eval

feat(core): add required field to prevent unconfigured steps from running (#785)
  pkl/Config.pkl
  src/hook.rs
  src/step/job_builder.rs
  src/step/types.rs
  test/required_env.bats
Due: pkl-eval, cargo-fmt, dbg

fix: pass proxy and CA certificate settings to pklr backend
  Cargo.lock
  src/config.rs
Due: cargo-fmt, dbg

fix(pkl): add pklr backend parity for hkrc, no_proxy, and http_rewrite warning
  src/config.rs
Due: cargo-fmt, dbg

fix: normalize pklr output for missing converter transforms
  src/config.rs
  src/step/types.rs
Due: cargo-fmt, dbg

fix: load all certificates from CA bundle files
  src/config.rs
Due: cargo-fmt, dbg

feat: wire up HK_PKL_HTTP_REWRITE to pklr backend
  src/config.rs
Due: cargo-fmt, dbg

fix: inject _type tags into pklr JSON output
  src/config.rs
Due: cargo-fmt, dbg

fix(pkl): revert normalize removal, keep pklr 0.3.0 bump
  src/config.rs
  src/step/types.rs
Due: cargo-fmt, dbg

fix(pkl): remove pklr normalize workarounds, bump to 0.3.0
  src/config.rs
  src/step/types.rs
Due: cargo-fmt, dbg

fix(pkl): remove pklr normalize workarounds, bump to 0.4.0
  src/config.rs
  src/step/types.rs
Due: cargo-fmt, dbg

feat(gitleaks): add gitleaks config to hk builtin config (#749)
  pkl/builtins/gitleaks.pkl
  test/builtin_tool_stubs/gitleaks
Due: pkl-eval

feat(pkl): add pklr as opt-in pkl backend (#769)
  Cargo.lock
  src/config.rs
Due: cargo-fmt, dbg

feat(mdschema): add mdschema config to hk builtin config (#748)
  pkl/builtins/mdschema.pkl
  test/builtin_tool_stubs/mdschema
Due: pkl-eval

feat(betterleaks): add betterleaks config to hk builtin config (#750)
  pkl/builtins/betterleaks.pkl
  test/builtin_tool_stubs/betterleaks
Due: pkl-eval

feat(config): set default value for exclude to List() (#781)
  pkl/Config.pkl
  src/step/batching.rs
  src/step/filtering.rs
  src/step/types.rs
Due: pkl-eval, cargo-fmt, dbg

chore: release v1.40.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v1.40.0 (#763)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

feat(hook): support per-worktree hooks via extensions.worktreeConfig
  src/cli/install.rs
  src/cli/uninstall.rs
  src/git_util.rs
  test/install_worktree_hooks.bats
Due: cargo-fmt, dbg

docs(config): show platform-specific config.pkl paths for macOS and Linux
  docs/configuration.md
Due: none

fix(config): use platform-specific paths in help text and comments
  docs/cli/commands.json
  hk.usage.kdl
  settings.toml
  src/cli/mod.rs
  src/output.rs
Due: cargo-fmt, dbg, prettier

docs(config): deduplicate platform-specific paths with cross-references
  docs/configuration.md
Due: none

fix(config): use XDG_CONFIG_HOME instead of dirs::config_dir() for config path
  src/env.rs
Due: cargo-fmt, dbg

fix(config): use XDG_CONFIG_HOME for config path instead of dirs::config_dir() (#801)
  src/env.rs
Due: cargo-fmt, dbg

feat(hook): support per-worktree hooks via extensions.worktreeConfig (#789)
  docs/cli/commands.json
  docs/cli/install.md
  hk.usage.kdl
  src/cli/install.rs
  src/cli/uninstall.rs
  src/git_util.rs
  test/install_worktree_hooks.bats
Due: cargo-fmt, dbg, prettier

chore: release v1.41.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

fix(builtins): use workspace_indicator for Go package-level analysis tools
  pkl/builtins/err_check.pkl
  pkl/builtins/go_sec.pkl
  pkl/builtins/go_vet.pkl
  pkl/builtins/go_vuln_check.pkl
  pkl/builtins/golangci_lint.pkl
  pkl/builtins/revive.pkl
  pkl/builtins/staticcheck.pkl
  test/go_builtins.bats
Due: pkl-eval

test(builtins): add pkl tests for go_vet and tool stubs for Go linters
  CLAUDE.md
  pkl/builtins/go_vet.pkl
  test/builtin_tool_stubs/golangci-lint
  test/builtin_tool_stubs/gosec
  test/builtin_tool_stubs/revive
  test/builtin_tool_stubs/staticcheck
  test/go_builtins.bats
Due: pkl-eval

fix(builtins): add go tool stub for go_vet tests in CI
  test/builtin_tool_stubs/go
Due: none

fix(builtins): use workspace_indicator for Go package-level analysis tools (#803)
  CLAUDE.md
  pkl/builtins/err_check.pkl
  pkl/builtins/go_sec.pkl
  pkl/builtins/go_vet.pkl
  pkl/builtins/go_vuln_check.pkl
  pkl/builtins/golangci_lint.pkl
  pkl/builtins/revive.pkl
  pkl/builtins/staticcheck.pkl
  test/builtin_tool_stubs/go
  test/builtin_tool_stubs/golangci-lint
  test/builtin_tool_stubs/gosec
  test/builtin_tool_stubs/revive
  test/builtin_tool_stubs/staticcheck
Due: pkl-eval

chore: release v1.41.0 (#793)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

fix(deps): update rust crate pklr to 0.4.1
  Cargo.lock
  Cargo.toml
Due: none

fix(deps): update rust crate pklr to 0.4.1 (#805)
  Cargo.lock
  Cargo.toml
Due: none

fix(hook): remove dup output and preserve check_first diagnostics (#784)
  src/error.rs
  src/hook.rs
  src/main.rs
  src/step/execution.rs
  src/step/runner.rs
  test/output_summary_no_duplicate.bats
Due: cargo-fmt, dbg

fix(hook): show combined output for failed steps (#772)
  src/step/output.rs
Due: cargo-fmt, dbg

fix(hook): preserve configured output_summary label on failure
  src/step/output.rs
Due: cargo-fmt, dbg

fix(hook): preserve configured output_summary label on failure (#808)
  src/step/output.rs
Due: cargo-fmt, dbg

chore: release v1.41.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v1.41.1 (#806)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
