Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

feat(git): support GIT_DIR/GIT_WORK_TREE for bare-repo dotfile managers (#847)
  src/cli/mod.rs
  src/git.rs
  src/git_util.rs
  src/tera.rs
  src/test_runner.rs
  test/bare_repo_env_vars.bats
Due: cargo-fmt, dbg

feat(check): implement --plan, --why, and --json for plan output
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/hook.rs
  src/hook_options.rs
  src/main.rs
  src/plan.rs
  src/step/mod.rs
  src/step_group.rs
  test/plan.bats
Due: cargo-fmt, dbg, prettier

fix(check): align plan with runtime behavior and add refactors
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/hook.rs
  src/hook_options.rs
  src/step/types.rs
  test/plan.bats
Due: cargo-fmt, dbg, prettier

fix(check): report real fileCount for profile-skipped steps in plan
  src/hook.rs
  test/plan.bats
Due: cargo-fmt, dbg

fix(check): satisfy clippy::redundant_guards in plan condition match
  src/hook.rs
Due: cargo-fmt, dbg

fix(check): don't headline skipped steps with a truthy-condition reason
  src/hook.rs
  src/plan.rs
  test/plan.bats
Due: cargo-fmt, dbg

fix(check): --why verbose list no longer duplicates headline reason
  src/hook.rs
  test/plan.bats
Due: cargo-fmt, dbg

fix(check): drop --json-without-plan error that broke global --json
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/hook_options.rs
  test/plan.bats
Due: cargo-fmt, dbg, prettier

fix(check): apply --why <step> filter to JSON output; drop unused enum variant
  src/hook.rs
  src/plan.rs
  test/plan.bats
Due: cargo-fmt, dbg

fix(check): guard --json without --plan/--why while preserving --trace --json
  src/cli/mod.rs
  src/hook_options.rs
  src/settings.rs
  test/plan.bats
Due: cargo-fmt, dbg

fix(check): prune group stepIds after --why <step> --json filter
  src/hook.rs
  test/plan.bats
Due: cargo-fmt, dbg

feat(check): implement --plan, --why, and --json (#848)
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/cli/mod.rs
  src/hook.rs
  src/hook_options.rs
  src/main.rs
  src/plan.rs
  src/settings.rs
  src/step/mod.rs
  src/step/types.rs
  src/step_group.rs
  test/plan.bats
Due: cargo-fmt, dbg, prettier

docs: add releases nav and aube lock
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .gitignore
  aube-lock.yaml
  bun.lock
  docs/.vitepress/config.mts
  docs/aube-lock.yaml
  hk.pkl
  mise-tasks/docs/_default
  mise-tasks/docs/build
  mise.lock
  mise.toml
Due: actionlint, pkl-eval, prettier

docs: include linux native packages in aube locks
  aube-lock.yaml
  docs/aube-lock.yaml
  docs/package.json
  package.json
Due: prettier

docs: include docs workspace in aube lock
  aube-lock.yaml
  pnpm-workspace.yaml
Due: prettier

docs: match workspace importer to manifest
  aube-lock.yaml
Due: prettier

docs: add releases nav and aube lock (#849)
  .github/workflows/autofix.yml
  .github/workflows/ci.yml
  .gitignore
  aube-lock.yaml
  bun.lock
  docs/.vitepress/config.mts
  docs/aube-lock.yaml
  docs/package.json
  hk.pkl
  mise-tasks/docs/_default
  mise-tasks/docs/build
  mise.lock
  mise.toml
  package.json
  pnpm-workspace.yaml
Due: actionlint, pkl-eval, prettier

chore: bump communique to 1.0.1
  mise.lock
Due: none

chore: bump communique to 1.0.1 (#850)
  mise.lock
Due: none

feat(install): use Git 2.54 config-based hooks with --global support
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/install.md
  docs/cli/uninstall.md
  docs/getting_started.md
  hk.usage.kdl
  src/cli/install.rs
  src/cli/uninstall.rs
  src/git_util.rs
  src/hook_options.rs
Due: cargo-fmt, dbg, prettier

fix(install): preserve HK=0 bypass and restore per-file uninstall log
  docs/getting_started.md
  src/cli/install.rs
Due: cargo-fmt, dbg

fix(install): unify empty-events guard across modes
  src/cli/install.rs
Due: cargo-fmt, dbg

fix(install): surface git config errors and explicit hook-removal warning
  src/cli/install.rs
Due: cargo-fmt, dbg

fix(install): short-circuit --from-hook before loading config
  src/config.rs
  src/hook_options.rs
Due: cargo-fmt, dbg

chore: fix clippy lints flagged by rust 1.95.0
  src/cli/migrate/mod.rs
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/fix_smart_quotes.rs
  src/cli/util/python_check_ast.rs
  src/git.rs
  src/settings.rs
Due: cargo-fmt, dbg

test: force --legacy in tests that assert shim-file behavior
  test/bare_repo_env_vars.bats
  test/install_creates_git_hooks.bats
  test/install_warn_hookspath.bats
  test/install_worktree_hooks.bats
  test/pre_push.bats
  test/uninstall.bats
  test/worktree.bats
Due: none

fix(install): warn on global/local hook overlap, correct docs
  docs/getting_started.md
  src/cli/install.rs
Due: cargo-fmt, dbg

feat(install): use Git 2.54 config-based hooks with --global support (#853)
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/install.md
  docs/cli/uninstall.md
  docs/getting_started.md
  hk.usage.kdl
  src/cli/install.rs
  src/cli/migrate/mod.rs
  src/cli/uninstall.rs
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/fix_smart_quotes.rs
  src/cli/util/python_check_ast.rs
  src/config.rs
  src/git.rs
  src/git_util.rs
  src/hook_options.rs
  src/settings.rs
  test/bare_repo_env_vars.bats
  test/install_creates_git_hooks.bats
  test/install_warn_hookspath.bats
  test/install_worktree_hooks.bats
  test/pre_push.bats
  test/uninstall.bats
  test/worktree.bats
Due: cargo-fmt, dbg, prettier

chore(release): append en.dev sponsor blurb to release notes
  .github/workflows/release.yml
Due: actionlint

chore(release): append en.dev sponsor blurb to release notes (#854)
  .github/workflows/release.yml
Due: actionlint

chore: release v1.44.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

chore: release v1.44.0 (#837)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

docs(install): recommend global hooks as primary setup path
  docs/cli/commands.json
  docs/cli/install.md
  docs/getting_started.md
  docs/package.json
  hk.usage.kdl
  src/cli/install.rs
Due: cargo-fmt, dbg, prettier

docs(install): recommend global hooks as primary setup path (#855)
  docs/cli/commands.json
  docs/cli/install.md
  docs/getting_started.md
  docs/package.json
  hk.usage.kdl
  src/cli/install.rs
Due: cargo-fmt, dbg, prettier

feat(run): add post-commit and pre-rebase subcommands
  src/cli/run/mod.rs
  src/cli/run/post_commit.rs
  src/cli/run/pre_rebase.rs
Due: cargo-fmt, dbg

docs: add cross-site announcement banner
  docs/.vitepress/theme/banner.css
  docs/.vitepress/theme/banner.ts
  docs/.vitepress/theme/index.ts
Due: prettier

docs: validate banner link scheme to prevent javascript: URLs
  docs/.vitepress/theme/banner.ts
Due: prettier

docs: fix banner double-offset by using position: fixed
  docs/.vitepress/theme/banner.css
Due: prettier

fix(run): add post-commit and pre-rebase subcommands (#858)
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/run/post-commit.md
  docs/cli/run/pre-rebase.md
  hk.usage.kdl
  src/cli/run/mod.rs
  src/cli/run/post_commit.rs
  src/cli/run/pre_rebase.rs
Due: cargo-fmt, dbg, prettier

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
