Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

perf(config): start every hk command about 30 ms sooner by reading cache files in one call (#1483)
  src/cache.rs
Due: cargo-fmt, dbg

perf(release): start hk about 0.8 ms faster on Linux by linking non-PIE (#1482)
  .github/workflows/release.yml
  Cross.toml
  build/mod.rs
Due: actionlint, cargo-fmt, dbg

perf(hook): read the full git status with one git call instead of libgit2
  src/git.rs
  src/hook.rs
Due: cargo-fmt, dbg

perf(step): stage fixes from steps that finish together with one git add
  src/hook.rs
  src/step/execution.rs
Due: cargo-fmt, dbg

fix(hook): classify worktree renames and reject non-UTF-8 status paths
  src/git.rs
Due: cargo-fmt, dbg

test(step): cover the shared git add and its failure path
  src/hook.rs
  src/main.rs
  src/stage_queue.rs
  src/step/execution.rs
  test/stage_concurrent_fixers.bats
Due: cargo-fmt, dbg

fix(hook): check a rename's original path only where it is used
  src/git.rs
Due: cargo-fmt, dbg

perf(stage): stop hashing the whole git index before each step stages its fixes
  src/git.rs
  src/git_index.rs
  src/main.rs
Due: cargo-fmt, dbg

perf(step): match check_diff output to job files without canonicalizing every file
  src/step/check_parsing.rs
Due: cargo-fmt, dbg

test(stage): stage around a racily clean file with index v2, v4 and a split index
  test/stage_index_formats.bats
Due: none

test(step): cover check_diff paths that match only through a symlink
  src/step/check_parsing.rs
Due: cargo-fmt, dbg

perf(hook): read git status about 10 ms faster when a hook starts (#1484)
  src/git.rs
  src/hook.rs
Due: cargo-fmt, dbg

perf(step): stage fixes from steps that finish together with one git add (#1485)
  src/hook.rs
  src/main.rs
  src/stage_queue.rs
  src/step/execution.rs
  test/stage_concurrent_fixers.bats
Due: cargo-fmt, dbg

perf(builtins): check jq and yq batches without starting the tool for each file
  pkl/builtins/jq.pkl
  pkl/builtins/yq.pkl
  test/builtins_tests.bats
Due: pkl-eval

fix(hook): skip non-UTF-8 status paths with a warning instead of failing
  src/git.rs
Due: cargo-fmt, dbg

test(stage): read the index version the same way on macOS
  test/stage_index_formats.bats
Due: none

perf(step): make batched steps share --jobs instead of each starting --jobs processes
  pkl/Config.pkl
  src/hook.rs
  src/step/execution.rs
  src/step/filtering.rs
  src/step/job_builder.rs
  src/step/mod.rs
  test/batch_shared_jobs.bats
Due: pkl-eval, cargo-fmt, dbg

test(builtins): run jq and yq edge cases through the batch check
  pkl/builtins/jq.pkl
  pkl/builtins/yq.pkl
  test/builtins_tests.bats
Due: pkl-eval

style(builtins): format yq builtin tests
  pkl/builtins/yq.pkl
Due: pkl-eval

perf(step): parse check_diff output for large jobs without canonicalizing every file (#1487)
  src/step/check_parsing.rs
Due: cargo-fmt, dbg

fix(stash): stash and restore files whose names are not valid UTF-8
  src/git.rs
  src/hook.rs
  test/non_utf8_paths.bats
Due: cargo-fmt, dbg

test(builtins): check which files jq and yq check on their own
  test/builtins_tests.bats
Due: none

test(builtins): log each jq and yq run to its own file
  test/builtins_tests.bats
Due: none

test(config): cover a step test local that shares a name with a StepTest property
  test/pklr_backend.bats
Due: none

fix(stash): restore every worktree change a stash set aside
  src/git.rs
  test/non_utf8_paths.bats
  test/stash_restore_worktree_state.bats
Due: cargo-fmt, dbg

fix(stage): stage fixes in repositories with a split index
  src/git.rs
  test/stage_split_index.bats
Due: cargo-fmt, dbg

test(stage): cover an explicit stage glob in a split index
  src/git.rs
  test/stage_split_index.bats
Due: cargo-fmt, dbg

fix(stash): run hooks when the worktree has intent-to-add files
  docs/hooks.md
  src/file_rw_locks.rs
  src/git.rs
  src/hook.rs
  test/stash_intent_to_add.bats
Due: cargo-fmt, dbg

fix(stash): keep the stash when a step left something in a stashed path
  src/git.rs
  test/stash_restore_worktree_state.bats
Due: cargo-fmt, dbg

docs(showreel): race only the benchmark hk leads by the most
  docs/.vitepress/showreel-frames.mjs
  docs/.vitepress/showreel-video.mjs
  docs/.vitepress/theme/showreel/describe.ts
  docs/.vitepress/theme/showreel/facts.ts
  docs/.vitepress/theme/showreel/race-timing.ts
  docs/.vitepress/theme/showreel/scenes/race-chart.ts
  docs/.vitepress/theme/showreel/scenes/race.ts
  docs/.vitepress/theme/showreel/score/race.ts
  docs/.vitepress/theme/showreel/test/captions.test.ts
  docs/.vitepress/theme/showreel/test/commit.test.ts
  docs/.vitepress/theme/showreel/test/describe.test.ts
  docs/.vitepress/theme/showreel/test/facts.test.ts
  docs/.vitepress/theme/showreel/test/handoff-frames.test.ts
  docs/.vitepress/theme/showreel/test/handoff.test.ts
  docs/.vitepress/theme/showreel/test/published.ts
  docs/.vitepress/theme/showreel/test/race.test.ts
  docs/.vitepress/theme/showreel/test/score.test.ts
Due: prettier

fix(stash): report both errors when both stash restores fail
  src/git.rs
  test/stash_intent_to_add.bats
Due: cargo-fmt, dbg

perf(builtins): scan files for trailing whitespace and final newlines in parallel
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/mod.rs
  src/cli/util/text_files.rs
  src/cli/util/trailing_whitespace.rs
Due: cargo-fmt, dbg

perf(builtins): run the trailing-whitespace and newlines fixers directly instead of applying their diffs
  docs/configuration.md
  pkl/Config.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/trailing_whitespace.pkl
  src/cli/util/text_files.rs
  src/step/execution.rs
  src/step/job_builder.rs
  src/step/types.rs
  test/apply_check_diff.bats
Due: pkl-eval, cargo-fmt, dbg

perf(step): cut hk's per-file work before each step runs
  src/file_rw_locks.rs
  src/file_type.rs
  src/hook.rs
  src/main.rs
  src/par.rs
  src/step/filtering.rs
  src/step/mod.rs
  src/step/runner.rs
  src/step_job.rs
Due: cargo-fmt, dbg

fix(stage): run hooks from git commit in a split-index repository
  src/git.rs
  test/stage_split_index.bats
Due: cargo-fmt, dbg

chore(benchmark): add a small-commit scenario and type checkers, and run prek's read-only checks concurrently
  benchmark/.mise/locks/npm-typescript/7.0.2/aube-lock.yaml
  benchmark/.mise/locks/npm-typescript/7.0.2/package.json
  benchmark/.mise/locks/pipx-mypy/2.3.1/pyproject.toml
  benchmark/.mise/locks/pipx-mypy/2.3.1/uv.lock
  benchmark/README.md
  benchmark/generate-project.sh
  benchmark/mise.lock
  benchmark/mise.toml
  benchmark/report.py
  benchmark/setup.sh
  benchmark/subjects/hk/hk.pkl
  benchmark/subjects/lefthook/lefthook.yml
  benchmark/subjects/prek/.pre-commit-config.yaml
  benchmark/tak.toml
  docs/.vitepress/benchmarks.data.ts
  docs/benchmarks.md
Due: pkl-eval, prettier

fix(stash): stash when a lone empty intent-to-add file is the only change
  src/git.rs
  src/hook.rs
  test/stash_intent_to_add.bats
Due: cargo-fmt, dbg

docs: regenerate llms.txt for the new benchmarks intro
  docs/public/llms.txt
Due: none

fix(stash): decide restore conflicts by what the steps changed
  src/git.rs
  test/stash_restore_worktree_state.bats
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
