Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

feat(builtins): keep CRLF files CRLF in trailing_whitespace, newlines, and mixed_line_ending (#1621)
  docs/cli/commands.json
  docs/cli/util/end-of-file-fixer.md
  docs/cli/util/mixed-line-ending.md
  docs/cli/util/trailing-whitespace.md
  docs/pirate/cli.json
  docs/pirate/cli/util/end-of-file-fixer.md
  docs/pirate/cli/util/mixed-line-ending.md
  docs/pirate/cli/util/trailing-whitespace.md
  hk.usage.kdl
  pkl/builtins/mixed_line_ending.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/trailing_whitespace.pkl
  scripts/enrich-cli-docs.py
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/mixed_line_ending.rs
  src/cli/util/trailing_whitespace.rs
  test/line_endings.bats
  test/util_end_of_file_fixer.bats
  test/util_mixed_line_ending.bats
  test/util_trailing_whitespace.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

fix(step): end tools left running by a fail-fast cancel on Windows (#1625)
  Cargo.lock
  Cargo.toml
  e2e-win/cancel.Tests.ps1
  src/step/mod.rs
  src/step/process_tree.rs
  src/step_group.rs
Due: cargo-fmt, dbg

ci: validate docs-only changes
  .github/workflows/ci.yml
Due: actionlint

fix(config): warn when a subproject config sets jobs
  docs/configuration.md
  docs/pirate/configuration.md
  src/config.rs
  test/subprojects.bats
Due: cargo-fmt, dbg

fix(mcp): mark partial run results failed unless hk was actually killed
  src/cli/mcp.rs
Due: cargo-fmt, dbg

ci: retain hosted Bats retry budgets
  .github/workflows/ci-impl.yml
Due: actionlint

docs: bring the sea shanty contributing page up to date with the English page (#1631)
  docs/contributing.md
  docs/pirate/contributing.md
Due: none

ci: disable docs-only job cache
  .github/workflows/ci.yml
Due: actionlint

test(ci): cover paginated docs classifier results
  .github/workflows/ci.yml
Due: actionlint

test(ci): cover workflow classifier inputs
  .github/workflows/ci.yml
Due: actionlint

fix(git): skip tracked files with non-UTF-8 names with a warning in --all, --glob, --from-ref and file arguments (#1613)
  src/git.rs
  src/hook.rs
  test/non_utf8_paths.bats
Due: cargo-fmt, dbg

fix(util): keep non-UTF-8 files and symlinks intact in fix-smart-quotes (#1570)
  src/cli/util/fix_smart_quotes.rs
  test/util_fix_smart_quotes.bats
Due: cargo-fmt, dbg

feat(builtins): report revive findings as diagnostics (#1626)
  pkl/builtins/revive.pkl
Due: pkl-eval

feat(builtins): report buf_lint and clang_format findings as diagnostics (#1627)
  pkl/builtins/buf_lint.pkl
  pkl/builtins/clang_format.pkl
  test/builtin_tool_stubs/clang-format
Due: pkl-eval

fix(mcp): make cancel_run stop the real hk run instead of sticking in cancelling (#1607)
  src/cli/mcp.rs
  src/cli/mod.rs
  test/mcp_cancel_run.bats
  test/test_helper/mcp_cancel.py
Due: cargo-fmt, dbg

perf: use mimalloc as the global allocator
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/main.rs
Due: cargo-fmt, dbg

feat(builtins): report actionlint findings as diagnostics (#1623)
  pkl/builtins/actionlint.pkl
Due: pkl-eval

fix(step): exclude a directory's files when a step or group exclude names it (#1606)
  pkl/Config.pkl
  scripts/validate-apple-pkl.py
  src/glob.rs
  src/hook.rs
  src/step/filtering.rs
  test/exclude.bats
Due: pkl-eval, cargo-fmt, dbg

docs(mcp): note that HK_STASH_UNTRACKED=0 leaves untracked files out of changed and unstaged scopes
  docs/agents.md
  docs/pirate/agents.md
  src/cli/mcp.rs
Due: cargo-fmt, dbg

fix(pkl): show file, line and column for Pkl syntax errors, including in imported files (#1598)
  scripts/validate-apple-pkl.py
  src/config.rs
  test/pkl_config_errors.bats
Due: cargo-fmt, dbg

docs(config): document sharing one configuration across repositories (#1591)
  docs/configuration.md
  docs/environment_variables.md
  docs/pirate/configuration.md
  docs/pirate/environment_variables.md
  settings.toml
Due: none

fix(builtins): drop diagnostic_format from go_vet and golangci_lint
  pkl/builtins/go_vet.pkl
  pkl/builtins/golangci_lint.pkl
Due: pkl-eval

fix(config): accept backslash-quote outside single quotes in env -S shebangs
  src/file_type.rs
Due: cargo-fmt, dbg

ci: reuse mise and build caches for docs-only render validation
  .github/workflows/ci.yml
Due: actionlint

test(run): restore HK_LOG after the cmd shim batching e2e test
  e2e-win/batching.Tests.ps1
Due: none

fix(stash): serialize stash and restore across hk processes and linked worktrees
  docs/environment_variables.md
  docs/hooks.md
  docs/pirate/environment_variables.md
  docs/pirate/hooks.md
  settings.toml
  src/git.rs
  src/hook.rs
  src/main.rs
  src/stash_lock.rs
  test/stash_cross_process_lock.bats
Due: cargo-fmt, dbg

fix(stash): restore hk's own stash entry by commit id so concurrent stashes are never touched
  src/git.rs
  test/stash_by_commit_id.bats
Due: cargo-fmt, dbg

fix(step): report diagnostic paths relative to the repository root for steps that run in a subdirectory
  pkl/Config.pkl
  src/diagnostics.rs
  src/hook.rs
  src/step/execution.rs
  src/step/runner.rs
  src/structured_output.rs
  test/diagnostics.bats
Due: pkl-eval, cargo-fmt, dbg

chore: remove redundant package.homepage from Cargo.toml
  Cargo.toml
Due: none

feat(mcp): let agents run checks on staged files only
  docs/agents.md
  docs/pirate/agents.md
  src/cli/mcp.rs
  test/mcp_scope.bats
  test/test_helper/mcp_scope.py
Due: cargo-fmt, dbg

ci: combine hosted Bats configurations (#1633)
  .github/workflows/ci-impl.yml
Due: actionlint

fix(stash): wait for lock holder readiness in test and keep pirate crew lexicon
  docs/pirate/environment_variables.md
  docs/pirate/hooks.md
  test/stash_cross_process_lock.bats
Due: none

fix(agent): print {} for Codex when the Stop hook has no block decision
  docs/agents.md
  docs/cli/agent.md
  docs/cli/agent/stop-hook.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/pirate/agents.md
  docs/pirate/cli.json
  docs/pirate/cli/agent.md
  docs/pirate/cli/agent/stop-hook.md
  docs/pirate/cli/index.md
  hk.usage.kdl
  src/cli/agent.rs
  src/cli/agent/claude-code-hooks.json
  src/cli/agent/codex-hooks.json
  src/cli/agent/stop_hook.rs
  test/agent_generators.bats
  test/snapshots/agent/hooks-claude-code.txt
  test/snapshots/agent/hooks-codex.txt
Due: cargo-fmt, dbg, prettier

chore: release v2.5.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/hooks.md
  docs/migrate-husky.md
  docs/migrate-lefthook.md
  docs/mise_integration.md
  docs/pirate/builtins.md
  docs/pirate/cli/index.md
  docs/pirate/configuration.md
  docs/pirate/getting_started.md
  docs/pirate/hooks.md
  docs/pirate/migrate-husky.md
  docs/pirate/migrate-lefthook.md
  docs/pirate/mise_integration.md
  docs/pirate/pkl_introduction.md
  docs/pirate/reference/examples/monorepo.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/monorepo.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

test(diagnostics): cover per-command parsing of JSON outputs from separate directories
  src/diagnostics.rs
Due: cargo-fmt, dbg

ci: disable docs validation mise cache
  .github/workflows/ci.yml
Due: actionlint

fix(stash): identify hk's stash entry by a unique message and verify drops
  src/git.rs
  test/stash_by_commit_id.bats
Due: cargo-fmt, dbg

test(mcp): bound reply waits in the scope helper and assert unstaged run status
  test/mcp_scope.bats
  test/test_helper/mcp_scope.py
Due: none

fix(stash): journal pending stashes and restore them when hk is terminated
  Cargo.toml
  src/git.rs
  src/hook.rs
  src/main.rs
  src/shutdown.rs
  src/stash_journal.rs
  test/stash_interrupt_journal.bats
Due: cargo-fmt, dbg

fix(stash): stop waiting for the stash lock on ctrl-c
  src/hook.rs
  src/stash_lock.rs
  test/stash_cross_process_lock.bats
Due: cargo-fmt, dbg
