Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

chore(benchmark): check mypy on each commit scenario's files and fail when yq cannot read a config
  benchmark/setup.sh
  benchmark/tak.toml
  docs/benchmarks.md
Due: none

fix(step): keep shared batch counts within --jobs and per step group
  pkl/Config.pkl
  src/hook.rs
  src/step/execution.rs
  src/step/filtering.rs
  src/step/job_builder.rs
  src/step/mod.rs
  src/step_context.rs
  src/step_group.rs
  test/batch_shared_jobs.bats
Due: pkl-eval, cargo-fmt, dbg

fix(builtins): write text fixes in order and bound results held in memory
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/text_files.rs
  src/cli/util/trailing_whitespace.rs
  src/step/execution.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

fix(stash): restore every path that does not conflict with a step
  src/git.rs
  test/stash_restore_worktree_state.bats
Due: cargo-fmt, dbg

fix(config): update pklr to 3.0.1 to resolve step test locals before StepTest properties
  Cargo.lock
Due: none

perf(step): cap helper threads for file checks across the whole hook
  src/par.rs
Due: cargo-fmt, dbg

fix(stage): run pre-commit fixers again in repositories with a split index (#1491)
  src/git.rs
  test/stage_split_index.bats
Due: cargo-fmt, dbg

test(builtins): time out a hung builtin test instead of the whole run
  test/builtins_tests.bats
Due: none

chore(benchmark): add a small-commit scenario and type checkers to the competitor benchmark (#1493)
  benchmark/.mise/locks/npm-typescript/7.0.2/aube-lock.yaml
  benchmark/.mise/locks/npm-typescript/7.0.2/package.json
  benchmark/.mise/locks/pipx-mypy/2.3.1/pyproject.toml
  benchmark/.mise/locks/pipx-mypy/2.3.1/uv.lock
  benchmark/README.md
  benchmark/generate-project.sh
  benchmark/mise.lock
  benchmark/mise.toml
  benchmark/report.py
  benchmark/setup.sh
  benchmark/subjects/hk/hk.pkl
  benchmark/subjects/lefthook/lefthook.yml
  benchmark/subjects/prek/.pre-commit-config.yaml
  benchmark/tak.toml
  docs/.vitepress/benchmarks.data.ts
  docs/benchmarks.md
  docs/public/llms.txt
Due: pkl-eval, prettier

fix(builtins): fix a file listed more than once only where it first appears
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/text_files.rs
  src/cli/util/trailing_whitespace.rs
Due: cargo-fmt, dbg

fix(stash): keep unstaged step changes and list every path not restored
  src/git.rs
  src/merge.rs
  test/stash_restore_worktree_state.bats
Due: cargo-fmt, dbg

fix(stash): respect core.fileMode and report kept fixer output accurately
  src/git.rs
  test/stash_restore_worktree_state.bats
Due: cargo-fmt, dbg

test(builtins): record which process hangs builtins_tests.bats in CI
  test/builtins_tests.bats
Due: none

fix(builtins): identify hard links on Windows and read files fresh when fixing
  Cargo.lock
  Cargo.toml
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/text_files.rs
  src/cli/util/trailing_whitespace.rs
Due: cargo-fmt, dbg

fix(config): load amended steps whose tests use a local named like a StepTest property (#1490)
  Cargo.lock
  test/pklr_backend.bats
Due: none

fix(builtins): fix files one at a time when one can't be identified
  src/cli/util/text_files.rs
Due: cargo-fmt, dbg

test(builtins): stop the launch-count wrapper from running itself forever
  test/builtins_tests.bats
Due: none

test(builtins): pass the launch-count wrapper its paths through the environment
  test/builtins_tests.bats
Due: none

perf(builtins): speed up trailing_whitespace and newlines by fixing files directly and scanning in parallel (#1495)
  Cargo.lock
  Cargo.toml
  docs/configuration.md
  pkl/Config.pkl
  pkl/builtins/newlines.pkl
  pkl/builtins/trailing_whitespace.pkl
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/mod.rs
  src/cli/util/text_files.rs
  src/cli/util/trailing_whitespace.rs
  src/step/execution.rs
  src/step/job_builder.rs
  src/step/types.rs
  test/apply_check_diff.bats
Due: pkl-eval, cargo-fmt, dbg

perf(step): start the first linter sooner on large repos by cutting hk's per-file work (#1494)
  src/file_rw_locks.rs
  src/file_type.rs
  src/hook.rs
  src/main.rs
  src/par.rs
  src/step/filtering.rs
  src/step/mod.rs
  src/step/runner.rs
  src/step_job.rs
Due: cargo-fmt, dbg

fix(stash): stop losing untracked and unstaged files when a filename is not valid UTF-8 (#1488)
  src/git.rs
  src/hook.rs
  src/merge.rs
  test/non_utf8_paths.bats
  test/stash_restore_worktree_state.bats
Due: cargo-fmt, dbg

perf(builtins): check formatted JSON and YAML files without running jq or yq on each one (#1489)
  pkl/builtins/jq.pkl
  pkl/builtins/yq.pkl
  test/builtins_tests.bats
Due: pkl-eval

perf(step): make batched steps share --jobs instead of each starting --jobs processes (#1496)
  pkl/Config.pkl
  src/step/execution.rs
  src/step/job_builder.rs
  src/step/mod.rs
  src/step_context.rs
  src/step_group.rs
  test/batch_shared_jobs.bats
Due: pkl-eval, cargo-fmt, dbg

perf(stage): stop hashing the whole git index before each step stages its fixes (#1486)
  src/git.rs
  src/git_index.rs
  src/main.rs
  test/stage_index_formats.bats
Due: cargo-fmt, dbg

test(builtins): make the jq tool stub executable so builtin tests use jq 1.8.1
  test/builtin_tool_stubs/jq
Due: none

fix(stash): hide untracked files from steps when tracked files have unstaged changes
  src/git.rs
  test/stash_untracked_with_unstaged_changes.bats
Due: cargo-fmt, dbg

fix(stash): keep unstaged changes the stash skipped out of the stashed paths
  src/git.rs
  test/stash_intent_to_add.bats
Due: cargo-fmt, dbg

docs: keep the landing-page benchmark race with schema-3 results
  docs/.vitepress/theme/showreel/facts.ts
  docs/.vitepress/theme/showreel/test/facts.test.ts
  docs/.vitepress/theme/showreel/test/published.ts
Due: prettier

test(builtins): give the jq/yq batch test enough jobs for two batches per step
  test/builtins_tests.bats
Due: none

fix(stash): accept a restored untracked directory where libgit2 stashed a deletion
  src/git.rs
Due: cargo-fmt, dbg

fix(stash): return intent-to-add restore failures with the stash error
  src/git.rs
Due: cargo-fmt, dbg

test(builtins): give the jq and yq batch test enough jobs for two batches per step (#1500)
  test/builtins_tests.bats
Due: none

test(builtins): run jq builtin tests against the pinned jq 1.8.1 (#1499)
  test/builtin_tool_stubs/jq
Due: none

test(stash): cover the siblings that sort lowest as strings in has_untracked_under
  src/git.rs
Due: cargo-fmt, dbg

fix(stash): run hooks when the worktree has intent-to-add files (#1492)
  docs/hooks.md
  src/file_rw_locks.rs
  src/git.rs
  src/hook.rs
  test/stash_intent_to_add.bats
Due: cargo-fmt, dbg

fix(stash): hide untracked files from steps when tracked files have unstaged changes (#1501)
  src/git.rs
  test/stash_untracked_with_unstaged_changes.bats
Due: cargo-fmt, dbg

chore(deps): bump MSRV to 1.95
  Cargo.toml
Due: none

perf(lock): take each job's file locks all at once so waiting jobs block no one
  src/file_rw_locks.rs
  src/step/execution.rs
Due: cargo-fmt, dbg

chore(deps): update mbx to 1.18.0 and mr-boxington-action to v1.5.0
  .github/workflows/cache-benchmark.yml
  .github/workflows/ci-impl.yml
  .github/workflows/docs-impl.yml
  .github/workflows/warm-cache-benchmark.yml
  mise.lock
Due: actionlint

docs: keep every commit and fix scenario in the landing-page race
  benchmark/report.py
  benchmark/results.json
  docs/.vitepress/benchmarks.data.ts
  docs/.vitepress/theme/showreel/facts.ts
  docs/.vitepress/theme/showreel/test/facts.test.ts
  docs/.vitepress/theme/showreel/test/published.ts
Due: prettier

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
