Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

feat: apply check_diff output directly using git apply
  pkl/Config.pkl
  src/step.rs
  test/apply_check_diff.bats
Due: pkl-eval, cargo-fmt, dbg

feat(pinact): add pinact config to hk builtin config
  pkl/Builtins.pkl
  pkl/builtins/pinact.pkl
  pkl/builtins/pinact_update.pkl
  test/builtin_tool_stubs/pinact
Due: pkl-eval

feat(pinact): add pinact config to hk builtin config (#552)
  pkl/Builtins.pkl
  pkl/builtins/pinact.pkl
  pkl/builtins/pinact_update.pkl
  test/builtin_tool_stubs/pinact
Due: pkl-eval

feat: add ryl config to hk builtin config
  pkl/Builtins.pkl
  pkl/builtins/ryl.pkl
  test/builtin_tool_stubs/ryl
Due: pkl-eval

feat(stylua): use `check_diff` instead of `check` command
  pkl/builtins/stylua.pkl
Due: pkl-eval

refactor(stylua): update StyLua builtin to use types instead of glob
  pkl/builtins/stylua.pkl
Due: pkl-eval

test(stylua): add tests for StyLua builtin
  pkl/builtins/stylua.pkl
  test/builtin_tool_stubs/stylua
Due: pkl-eval

refactor(ruby): use types instead of glob for Ruby builtins
  pkl/builtins/brakeman.pkl
  pkl/builtins/fasterer.pkl
  pkl/builtins/reek.pkl
  pkl/builtins/rubocop.pkl
  pkl/builtins/sorbet.pkl
  pkl/builtins/standard_rb.pkl
Due: pkl-eval

feat: add ryl config to hk builtin config (#543)
  pkl/Builtins.pkl
  pkl/builtins/ryl.pkl
  test/builtin_tool_stubs/ryl
Due: pkl-eval

refactor(ruby): use types instead of glob for Ruby builtins (#564)
  pkl/builtins/brakeman.pkl
  pkl/builtins/fasterer.pkl
  pkl/builtins/reek.pkl
  pkl/builtins/rubocop.pkl
  pkl/builtins/sorbet.pkl
  pkl/builtins/standard_rb.pkl
Due: pkl-eval

feat(stylua): use check_diff instead of check command (#563)
  pkl/builtins/stylua.pkl
  test/builtin_tool_stubs/stylua
Due: pkl-eval

feat: add buf_format builtin using buf cli
  pkl/Builtins.pkl
  pkl/builtins/buf_format.pkl
  test/builtin_tool_stubs/buf
Due: pkl-eval

feat: add buf_format builtin using buf cli (#565)
  pkl/Builtins.pkl
  pkl/builtins/buf_format.pkl
  test/builtin_tool_stubs/buf
Due: pkl-eval

feat: add buf_lint builtin using buf cli
  pkl/Builtins.pkl
  pkl/builtins/buf_lint.pkl
Due: pkl-eval

feat: add buf_lint builtin using buf cli (#562)
  pkl/Builtins.pkl
  pkl/builtins/buf_lint.pkl
Due: pkl-eval

feat: add ty builtin
  pkl/Builtins.pkl
  pkl/builtins/ty.pkl
  test/builtin_tool_stubs/ty
Due: pkl-eval

chore: install ty tool stub from github
  test/builtin_tool_stubs/ty
Due: none

fix(ci): pre-install nightly toolchain for cargo_check tests
  .github/workflows/ci.yml
Due: actionlint

chore: release v1.29.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

refactor: Simplify RunType/CheckType (#547)
  src/hook.rs
  src/step.rs
  src/step_job.rs
  src/test_runner.rs
  test/git.bats
Due: cargo-fmt, dbg

fix(ci): pre-install nightly toolchain for cargo_check tests (#567)
  .github/workflows/ci.yml
Due: actionlint

fix(rubocop): fix rubocop fix command
  pkl/builtins/rubocop.pkl
Due: pkl-eval

test(rubocop): add tests to RuboCop builtin
  pkl/builtins/rubocop.pkl
  test/builtin_tool_stubs/rubocop
Due: pkl-eval

feat(pkl): add pkl file type
  pkl/Config.pkl
  pkl/builtins/pkl.pkl
  pkl/builtins/pkl_format.pkl
  src/file_type.rs
Due: pkl-eval, cargo-fmt, dbg

refactor(pkl): update category from Configuration to Pkl
  pkl/builtins/pkl.pkl
  pkl/builtins/pkl_format.pkl
Due: pkl-eval

docs(config): fix indentations in `workspace_indicator` example
  pkl/Config.pkl
Due: pkl-eval

feat(pkl): add pkl file type (#571)
  pkl/Config.pkl
  pkl/builtins/pkl.pkl
  pkl/builtins/pkl_format.pkl
  src/file_type.rs
Due: pkl-eval, cargo-fmt, dbg

fix(rubocop): fix rubocop fix command (#572)
  pkl/builtins/rubocop.pkl
  test/builtin_tool_stubs/rubocop
Due: pkl-eval

test(check_diff): add tests for nonzero exit and mixed output
  test/apply_check_diff.bats
Due: none

fix(check_diff): don't apply diffs during check mode
  src/step.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

fix: adapt check_diff to simplified RunType enum after merge
  src/step.rs
Due: cargo-fmt, dbg

refactor(check_diff): only use stdout for diff parsing and application
  src/step.rs
Due: cargo-fmt, dbg

fix(check_diff): detect diff format and use appropriate -p level
  src/step.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

feat: apply check_diff output directly using git apply (#561)
  pkl/Config.pkl
  src/step.rs
  test/apply_check_diff.bats
Due: pkl-eval, cargo-fmt, dbg

docs(config): fix indentations in `workspace_indicator` example (#573)
  pkl/Config.pkl
Due: pkl-eval

chore: bump MSRV to 1.88.0
  Cargo.toml
Due: none

style: use let chains for collapsible if statements (Rust 1.88+)
  bin/generate_docs.rs
  build/generate_builtins.rs
  src/cache.rs
  src/cli/migrate/pre_commit.rs
  src/cli/util/check_conventional_commit.rs
  src/file_type.rs
  src/git.rs
  src/hook.rs
  src/logger.rs
  src/settings.rs
  src/step.rs
  src/test_runner.rs
  src/trace.rs
Due: cargo-fmt, dbg

chore: release v1.29.0 (#535)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier
