Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

move this too
  src/step/execution.rs
  src/step/runner.rs
Due: cargo-fmt, dbg

not this
  test/progress.bats
Due: none

put this here
  src/step/execution.rs
  src/step/runner.rs
Due: cargo-fmt, dbg

amp
  src/step/runner.rs
Due: cargo-fmt, dbg

one commit
  pkl/Config.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/test/helpers.pkl
  src/cli/test.rs
  src/step_test.rs
  src/test_runner.rs
Due: pkl-eval, cargo-fmt, dbg

test glob
  mise-tasks/test/bats/libgit2
  mise-tasks/test/bats/nogit
  mise-tasks/test/bats/nolibgit2
Due: none

handle it
  src/step/check_parsing.rs
  src/step/diff.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

not the submodule
  mise-tasks/test/bats/libgit2
  mise-tasks/test/bats/nogit
  mise-tasks/test/bats/nolibgit2
Due: none

feat: improve release title format for robustness
  .github/workflows/release.yml
  mise-tasks/gen-release-notes
Due: actionlint

fix: add validation for empty LLM output in release workflow
  .github/workflows/release.yml
Due: actionlint

fix: make fallback reachable when gen-release-notes fails
  .github/workflows/release.yml
Due: actionlint

chore: improve release title format for robustness (#639)
  .github/workflows/release.yml
  mise-tasks/gen-release-notes
Due: actionlint

docs: add conventional commit guidance to CLAUDE.md
  CLAUDE.md
Due: none

trying to simplify
  src/step/check_parsing.rs
  src/step/diff.rs
  src/step/mod.rs
Due: cargo-fmt, dbg

got it
  src/step/mod.rs
Due: cargo-fmt, dbg

new test
  test/apply_check_diff.bats
Due: none

fix biome
  pkl/builtins/biome.pkl
Due: pkl-eval

missing write
  pkl/builtins/biome.pkl
Due: pkl-eval

remove this
  pkl/builtins/markdown_lint.pkl
Due: pkl-eval

fix(builtins): remove invalid fix command from taplo linter
  pkl/builtins/taplo.pkl
Due: pkl-eval

make it another suite
  pkl/builtins/biome.pkl
Due: pkl-eval

fix(builtins): remove verbose output from taplo_format
  pkl/builtins/taplo_format.pkl
Due: pkl-eval

apply ignore
  pkl/builtins/shfmt.pkl
Due: pkl-eval

there it is
  pkl/Config.pkl
  src/step/execution.rs
  src/step/job_builder.rs
  src/step/runner.rs
  src/step/types.rs
  test/condition.bats
Due: pkl-eval, cargo-fmt, dbg

double reference all the way
  src/step/execution.rs
Due: cargo-fmt, dbg

fix: remove verbose output from taplo (#364)
  pkl/builtins/taplo.pkl
  pkl/builtins/taplo_format.pkl
Due: pkl-eval

fix: shfmt should use `--apply-ignore` (#643)
  pkl/builtins/shfmt.pkl
Due: pkl-eval

fix: Tell biome not to error on unmatched files (#641)
  pkl/builtins/biome.pkl
Due: pkl-eval

refactor: Remove dead code in `markdownlint` tests (#642)
  pkl/builtins/markdown_lint.pkl
Due: pkl-eval

ugh
  src/step/execution.rs
Due: cargo-fmt, dbg

add hook and step tera contexts
  src/hook.rs
  src/step_job.rs
Due: cargo-fmt, dbg

ugh add
  test/tera.bats
Due: none

fix: don't thank @jdx in LLM-generated release notes
  mise-tasks/gen-release-notes
Due: none

feat: add `hook` and `step` tera contexts (#645)
  src/hook.rs
  src/step_job.rs
  test/tera.bats
Due: cargo-fmt, dbg

chore: release v1.33.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

feat: Add `step_condition` (#644)
  pkl/Config.pkl
  src/step/execution.rs
  src/step/job_builder.rs
  src/step/runner.rs
  src/step/types.rs
  test/condition.bats
Due: pkl-eval, cargo-fmt, dbg

fix: don't thank @jdx in LLM-generated release notes (#646)
  mise-tasks/gen-release-notes
Due: none

chore: release v1.33.0 (#619)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

feat: add Windows CI testing and improve Windows support
  .github/workflows/ci.yml
  src/cli/util/check_symlinks.rs
  src/step/runner.rs
  src/step/shell.rs
Due: actionlint, cargo-fmt, dbg
