Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

docs: address tool stub and staging caveats Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  docs/configuration.md
  docs/contributing.md
Due: none

chore(benchmark): use prek 0.5.5 default batching
  benchmark/mise.lock
  benchmark/mise.toml
  benchmark/tak.toml
Due: none

fix(builtins): use ryl check instead of deprecated bare ryl
  pkl/builtins/ryl.pkl
  test/builtin_tool_stubs/ryl
Due: pkl-eval

fix(builtins): use ryl check to avoid the bare ryl deprecation warning (#1655)
  pkl/builtins/ryl.pkl
  test/builtin_tool_stubs/ryl
Due: pkl-eval

docs: refresh competitor benchmark for v2.5.0 (#1656)
  benchmark/results.json
Due: prettier

chore(ci): update pr-closer to v1.3.0
  .github/workflows/pr-closer.yml
Due: actionlint

feat(builtins): add jactionlint GitHub Actions workflow linter
  hk.pkl
  mise.lock
  mise.toml
  pkl/builtins/jactionlint.pkl
  test/builtin_tool_stubs/jactionlint
Due: pkl-eval

fix(builtins): keep actionlint test stub and stop jactionlint auto-detection
  pkl/builtins/jactionlint.pkl
  test/builtin_tool_stubs/actionlint
Due: pkl-eval

feat(builtins): add jactionlint builtin and lint this repo's workflows with it (#1663)
  hk.pkl
  mise.lock
  mise.toml
  pkl/builtins/jactionlint.pkl
  test/builtin_tool_stubs/actionlint
  test/builtin_tool_stubs/jactionlint
Due: pkl-eval

fix(config): support current-thread Pkl evaluation
  src/config.rs
Due: cargo-fmt, dbg

chore(pkl): migrate to pklr v5 evaluator APIs
  Cargo.lock
  Cargo.toml
  deny.toml
  src/config.rs
Due: cargo-fmt, dbg

style(config): format pklr runtime bridge
  src/config.rs
Due: cargo-fmt, dbg

fix(config): preserve pklr diagnostics across runtime bridge
  src/config.rs
Due: cargo-fmt, dbg

fix(config): preserve Tokio blocking boundary for pklr
  src/config.rs
Due: cargo-fmt, dbg

test(config): cover pklr blocking boundary in Tokio
  src/config.rs
Due: cargo-fmt, dbg

chore(lock): remove obsolete pklr dependency
  Cargo.lock
Due: none

test(config): accept pklr v5 parse diagnostic
  test/config_error_handling.bats
Due: none

chore(pkl): use published pklr v5
  Cargo.lock
  Cargo.toml
  deny.toml
  test/config_error_handling.bats
Due: none

test(pkl): use raw strings for shell escapes
  test/diagnostics.bats
  test/stash_intent_to_add.bats
Due: none

test(pkl): preserve shell variables in raw fixtures
  test/stash_intent_to_add.bats
Due: none

test(config): update Pkl regex diagnostic
  test/top_level_exclude.bats
Due: none

test(pkl): preserve Knip fixture newlines
  pkl/builtins/knip.pkl
Due: pkl-eval

test(pkl): preserve formatter fixture newlines
  pkl/builtins/buf_format.pkl
  pkl/builtins/shfmt.pkl
  pkl/builtins/yamlfmt.pkl
Due: pkl-eval

test(pkl): preserve buildifier fixture newlines
  pkl/builtins/buildifier_format.pkl
  pkl/builtins/buildifier_lint.pkl
Due: pkl-eval

test(pkl): preserve additional fixture newlines
  pkl/builtins/biome.pkl
  pkl/builtins/google_java_format.pkl
  pkl/builtins/rubocop.pkl
Due: pkl-eval

test(pkl): preserve cargo and renovate fixture bytes
  pkl/builtins/cargo_check.pkl
  pkl/builtins/renovate_deps.pkl
Due: pkl-eval

test(pkl): update v5 syntax diagnostics
  test/pkl_config_errors.bats
  test/validate.bats
Due: none

chore(deps): validate pklr Windows URI fix
  Cargo.lock
  Cargo.toml
Due: none

test(windows): print failed check output
  e2e-win/check.Tests.ps1
Due: none

test(windows): encode Config path as file URI
  e2e-win/check.Tests.ps1
Due: none

fix(windows): encode Pkl amends path as URI
  Cargo.lock
  e2e-win/check.Tests.ps1
Due: none

chore: validate pklr 5.1.0 reqwest candidate
  Cargo.lock
  Cargo.toml
Due: none

fix(config): prevent current-thread pklr evaluation deadlock
  deny.toml
  src/config.rs
Due: cargo-fmt, dbg

style(config): format runtime regression assertions
  src/config.rs
Due: cargo-fmt, dbg

chore(pkl): adopt published pklr 5.1 reqwest
  Cargo.lock
  Cargo.toml
  src/config.rs
Due: cargo-fmt, dbg

chore(pkl): migrate to pklr v5 evaluator APIs (#1650)
  Cargo.lock
  Cargo.toml
  deny.toml
  e2e-win/check.Tests.ps1
  pkl/builtins/biome.pkl
  pkl/builtins/buf_format.pkl
  pkl/builtins/buildifier_format.pkl
  pkl/builtins/buildifier_lint.pkl
  pkl/builtins/cargo_check.pkl
  pkl/builtins/google_java_format.pkl
  pkl/builtins/knip.pkl
  pkl/builtins/renovate_deps.pkl
  pkl/builtins/rubocop.pkl
  pkl/builtins/shfmt.pkl
  pkl/builtins/yamlfmt.pkl
  src/config.rs
  test/config_error_handling.bats
  test/diagnostics.bats
  test/pkl_config_errors.bats
  test/stash_intent_to_add.bats
  test/top_level_exclude.bats
  test/validate.bats
Due: pkl-eval, cargo-fmt, dbg

feat(builtins): add odoo_lint for Odoo modules
  pkl/builtins/odoo_lint.pkl
  test/builtin_tool_stubs/odl
Due: pkl-eval

fix(builtins): detect odoo_lint in nested Odoo modules
  pkl/builtins/odoo_lint.pkl
  src/cli/init/detector.rs
Due: pkl-eval, cargo-fmt, dbg

docs: clarify best-effort stub installation Signed-off-by: Gregor Zeitlinger <gregor.zeitlinger@grafana.com>
  docs/contributing.md
Due: none

ci: pin artifact actions with exact version comments
  .github/workflows/benchmark-refresh.yml
  .github/workflows/ci-impl.yml
  .github/workflows/perf-pr.yml
  .github/workflows/perf.yml
  .github/workflows/release.yml
Due: actionlint

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
