Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

fix(config): preserve project environment precedence
  src/config.rs
  test/hkrc.bats
Due: cargo-fmt, dbg

Update checkpoint summary for 01M2AZH4ZK6V4BBEKCTX54K8QP
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BTW59CAQ8X9JRXVJFBFE7N
  metadata.json
Due: prettier

docs: include v2 migration in llms index
  docs/public/llms.txt
Due: none

fix(config): preserve project env in global steps
  src/config.rs
  test/hkrc.bats
Due: cargo-fmt, dbg

docs: remove stale pkl backend guidance
  docs/environment_variables.md
  docs/logging.md
  docs/pkl_introduction.md
Due: none

fix(util): retain shell word escaping dependency
  Cargo.lock
  Cargo.toml
Due: none

refactor(config)!: remove pkl CLI fallback
  Cargo.lock
  Cargo.toml
  docs/migration-v2.md
  src/cache.rs
  src/config.rs
  src/env.rs
  test/pklr_backend.bats
  test/v2_migration_errors.bats
Due: cargo-fmt, dbg

fix(config): accept explicit pklr backend
  docs/environment_variables.md
  docs/migration-v2.md
  src/config.rs
  test/v2_migration_errors.bats
Due: cargo-fmt, dbg

chore(ci): generate Pkl modules before validation
  .github/workflows/ci-impl.yml
Due: actionlint

chore(ci): validate v2 configs with Apple Pkl
  .github/workflows/ci-impl.yml
  scripts/validate-apple-pkl.py
Due: actionlint

fix(config): isolate rewritten import caches
  src/cache.rs
  src/config.rs
Due: cargo-fmt, dbg

Update checkpoint summary for 01M2BWA7T8HVXGTXSFZPW8B02G
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BSX49PG61Y2JZHRDAD75XC
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BWV042SJYAREXNWKMPY9SY
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BT3KA0N0JVT01S0Q4CWB49
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BESAK16DA83MXT0H31RAY0
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BTF9276MWMSRRXPQ41J8T6
  metadata.json
Due: prettier

Update checkpoint summary for 01M2BVSBQRJTX6EGZYXVHVX17B
  metadata.json
Due: prettier
