Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

chore: bump pklr to 0.2.2
  Cargo.lock
  Cargo.toml
Due: none

feat: wire up HK_PKL_HTTP_REWRITE to pklr backend
  src/config.rs
Due: cargo-fmt, dbg

fix: load all certificates from CA bundle files
  src/config.rs
Due: cargo-fmt, dbg

fix(docs): replace invalid /latest/ pkl package URIs with versioned format
  docs/configuration.md
  src/config.rs
Due: cargo-fmt, dbg

fix: inject _type tags into pklr JSON output
  src/config.rs
Due: cargo-fmt, dbg

fix(docs): replace invalid /latest/ pkl package URIs with versioned format (#770)
  docs/configuration.md
  src/config.rs
Due: cargo-fmt, dbg

fix: normalize pklr output for missing converter transforms
  src/config.rs
  src/step/types.rs
Due: cargo-fmt, dbg

fix(pkl): remove pklr normalize workarounds, bump to 0.3.0
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/step/types.rs
Due: cargo-fmt, dbg

fix(step): resolve Windows cmd.exe double-wrapping in shell execution
  src/hook.rs
  src/main.rs
  src/step/mod.rs
  src/step/runner.rs
  src/step/types.rs
  src/test_runner.rs
Due: cargo-fmt, dbg

Update src/main.rs
  src/main.rs
Due: cargo-fmt, dbg

Update src/hook.rs
  src/hook.rs
Due: cargo-fmt, dbg

fix(step): resolve windows shell runner behavior
  pkl/builtins/typos.pkl
  src/cli/util/end_of_file_fixer.rs
  src/cli/util/fix_smart_quotes.rs
  src/cli/util/mixed_line_ending.rs
  src/cli/util/mod.rs
  src/cli/util/trailing_whitespace.rs
  src/cli/util/typos_diff.rs
  src/diff.rs
  src/main.rs
  src/step/mod.rs
  src/step/runner.rs
  src/test_runner.rs
  test/hk_test_project_paths.bats
  test/util_typos_diff.bats
Due: pkl-eval, cargo-fmt, dbg

fix(hook): change cmd variable to mutable for report command execution
  src/hook.rs
Due: cargo-fmt, dbg

fix(step): reconcile upstream overlap
  src/cli/util/trailing_whitespace.rs
  src/step/runner.rs
  src/step/types.rs
Due: cargo-fmt, dbg

fix(pkl): revert normalize removal, keep pklr 0.3.0 bump
  src/config.rs
  src/step/types.rs
Due: cargo-fmt, dbg

fix(pkl): remove pklr normalize workarounds, bump to 0.4.0
  Cargo.lock
  Cargo.toml
  src/config.rs
  src/step/types.rs
Due: cargo-fmt, dbg

fix(hook): show combined output for failed steps regardless of output_summary
  src/step/output.rs
Due: cargo-fmt, dbg

chore: release v1.40.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

feat(builtins): add google-java-format
  pkl/builtins/google_java_format.pkl
Due: pkl-eval

feat(builtins): exclude .md files from trailing_whitespace
  pkl/builtins/trailing_whitespace.pkl
Due: pkl-eval

test: add google-java-format stub
  test/builtin_tool_stubs/google-java-format
Due: none

refactor(builtins): use glob instead of types for google-java-format, add check_list_files
  Test.java
  pkl/builtins/google_java_format.pkl
Due: pkl-eval

refactor(builtins): use glob instead of types for google-java-format, add check_list_files
  pkl/builtins/google_java_format.pkl
Due: pkl-eval

docs: add recommended setup section to mise integration
  docs/mise_integration.md
Due: none

fix: make --quiet and --silent flags work across all commands
  mise.lock
  settings.toml
  src/cli/init/mod.rs
  src/cli/install.rs
  src/cli/migrate/pre_commit.rs
  src/cli/mod.rs
  src/hook.rs
  test/quiet_silent.bats
  test/trace.bats
Due: cargo-fmt, dbg

feat(config): default step exclude to List() and handle empty pattern
  pkl/Config.pkl
  src/step/batching.rs
  src/step/filtering.rs
  src/step/types.rs
Due: pkl-eval, cargo-fmt, dbg

fix(hook): remove duplicate output from friendly_error and preserve check_first output
  src/error.rs
  src/hook.rs
  src/main.rs
  src/step/execution.rs
  src/step/runner.rs
  test/output_summary_no_duplicate.bats
Due: cargo-fmt, dbg

feat(core): add required field to prevent unconfigured steps from running
  pkl/Config.pkl
  src/hook.rs
  src/step/job_builder.rs
  src/step/types.rs
  test/required_env.bats
Due: pkl-eval, cargo-fmt, dbg

docs: add recommended setup section to mise integration (#780)
  docs/mise_integration.md
Due: none

chore(deps): bump usage to 3.2.0 and pkl to 0.31.1, add windows platforms
  mise.lock
Due: none

chore(deps): bump usage to 3.2.0 and pkl to 0.31.1, add windows platforms (#787)
  docs/cli/commands.json
  mise.lock
Due: prettier

feat(builtins): add google-java-format to builtins (#777)
  pkl/builtins/google_java_format.pkl
  test/builtin_tool_stubs/google-java-format
Due: pkl-eval

feat(builtins): add dclint builtin for Docker Compose linting
  pkl/builtins/dclint.pkl
  test/builtin_tool_stubs/dclint
Due: pkl-eval

fix(stage): do not stage pre-existing untracked files
  src/hook.rs
  src/step/execution.rs
  test/overstaging_prettier.bats
  test/stage_job_files.bats
Due: cargo-fmt, dbg

feat(gitleaks): add gitleaks config to hk builtin config
  pkl/builtins/gitleaks.pkl
  test/builtin_tool_stubs/gitleaks
Due: pkl-eval

feat(betterleaks): add betterleaks config to hk builtin config
  pkl/builtins/betterleaks.pkl
  test/builtin_tool_stubs/betterleaks
Due: pkl-eval

feat(mdschema): add mdschema config to hk builtin config
  pkl/builtins/mdschema.pkl
  test/builtin_tool_stubs/mdschema
Due: pkl-eval

fix(stage): do not stage pre-existing untracked files (#788)
  src/hook.rs
  src/step/execution.rs
  test/overstaging_prettier.bats
  test/stage_job_files.bats
Due: cargo-fmt, dbg
