Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

feat: add check_symlinks builtin
  docs/builtins.md
  docs/cli/util.md
  pkl/Builtins.pkl
  pkl/builtins/check_symlinks.pkl
  src/cli/util/check_symlinks.rs
  src/cli/util/mod.rs
  test/util_check_symlinks.bats
Due: pkl-eval, cargo-fmt, dbg

fix: change glob from '*' to '**/*' in check_symlinks builtin
  pkl/builtins/check_symlinks.pkl
Due: pkl-eval

fix: remove stage attribute from check_symlinks (check-only builtin)
  pkl/builtins/check_symlinks.pkl
Due: pkl-eval

feat: add check_symlinks builtin (#326)
  docs/builtins.md
  docs/cli/util.md
  pkl/Builtins.pkl
  pkl/builtins/check_symlinks.pkl
  src/cli/util/check_symlinks.rs
  src/cli/util/mod.rs
  test/util_check_symlinks.bats
Due: pkl-eval, cargo-fmt, dbg

feat: add check_executables_have_shebangs builtin
  docs/builtins.md
  docs/cli/util.md
  pkl/Builtins.pkl
  pkl/builtins/check_executables_have_shebangs.pkl
  src/cli/util/check_executables_have_shebangs.rs
  src/cli/util/mod.rs
  test/util_check_executables_have_shebangs.bats
Due: pkl-eval, cargo-fmt, dbg

fix: remove stage attribute from check_executables_have_shebangs (check-only builtin)
  pkl/builtins/check_executables_have_shebangs.pkl
Due: pkl-eval

feat: add check_executables_have_shebangs builtin (#325)
  docs/builtins.md
  docs/cli/util.md
  pkl/Builtins.pkl
  pkl/builtins/check_executables_have_shebangs.pkl
  src/cli/util/check_executables_have_shebangs.rs
  src/cli/util/mod.rs
  test/util_check_executables_have_shebangs.bats
Due: pkl-eval, cargo-fmt, dbg

Add check-merge-conflict util command and builtin
  docs/builtins.md
  docs/cli/util.md
  pkl/Builtins.pkl
  pkl/builtins/check_merge_conflict.pkl
  src/cli/util/check_merge_conflict.rs
  src/cli/util/mod.rs
  test/util_check_merge_conflict.bats
Due: pkl-eval, cargo-fmt, dbg

feat: add check_case_conflict builtin
  docs/builtins.md
  docs/cli/util.md
  pkl/Builtins.pkl
  pkl/builtins/check_case_conflict.pkl
  src/cli/util/check_case_conflict.rs
  src/cli/util/mod.rs
  test/util_check_case_conflict.bats
Due: pkl-eval, cargo-fmt, dbg

fix: check case conflicts against all repo files, not just input files
  src/cli/util/check_case_conflict.rs
  test/util_check_case_conflict.bats
Due: cargo-fmt, dbg

fix: remove stage attribute from check_case_conflict (check-only builtin)
  pkl/builtins/check_case_conflict.pkl
Due: pkl-eval

feat: Add check-merge-conflict util command and builtin (#322)
  docs/builtins.md
  docs/cli/util.md
  pkl/Builtins.pkl
  pkl/builtins/check_merge_conflict.pkl
  src/cli/util/check_merge_conflict.rs
  src/cli/util/mod.rs
  test/util_check_merge_conflict.bats
Due: pkl-eval, cargo-fmt, dbg

Remove stage attribute from check-only builtins
  pkl/builtins/mix_compile.pkl
  pkl/builtins/mix_test.pkl
  pkl/builtins/pkl.pkl
  pkl/builtins/shellcheck.pkl
Due: pkl-eval

Add validation for stage attribute requiring fix command
  src/config.rs
  test/validation_errors.bats
Due: cargo-fmt, dbg

fix: Skip check-case-conflict tests on macOS
  test/util_check_case_conflict.bats
Due: none

feat: add check_case_conflict builtin (#323)
  docs/builtins.md
  docs/cli/util.md
  pkl/Builtins.pkl
  pkl/builtins/check_case_conflict.pkl
  src/cli/util/check_case_conflict.rs
  src/cli/util/mod.rs
  test/util_check_case_conflict.bats
Due: pkl-eval, cargo-fmt, dbg

feat: add check_added_large_files builtin
  pkl/builtins/check_added_large_files.pkl
  src/cli/util/check_added_large_files.rs
Due: pkl-eval, cargo-fmt, dbg

feat: add detect_private_key builtin
  pkl/builtins/detect_private_key.pkl
  src/cli/util/detect_private_key.rs
Due: pkl-eval, cargo-fmt, dbg

feat: add python_check_ast builtin
  pkl/builtins/python_check_ast.pkl
  src/cli/util/python_check_ast.rs
Due: pkl-eval, cargo-fmt, dbg

feat: add python_debug_statements builtin
  pkl/builtins/python_debug_statements.pkl
  src/cli/util/python_debug_statements.rs
Due: pkl-eval, cargo-fmt, dbg

feat: add detect_private_key builtin (#332)
  pkl/builtins/detect_private_key.pkl
  src/cli/util/detect_private_key.rs
Due: pkl-eval, cargo-fmt, dbg

feat: add check_added_large_files builtin (#329)
  pkl/builtins/check_added_large_files.pkl
  src/cli/util/check_added_large_files.rs
Due: pkl-eval, cargo-fmt, dbg

feat: add no_commit_to_branch builtin
  pkl/builtins/no_commit_to_branch.pkl
  src/cli/util/no_commit_to_branch.rs
Due: pkl-eval, cargo-fmt, dbg

feat: add python_debug_statements builtin (#331)
  pkl/builtins/python_debug_statements.pkl
  src/cli/util/python_debug_statements.rs
Due: pkl-eval, cargo-fmt, dbg

feat: add python_check_ast builtin (#330)
  pkl/builtins/python_check_ast.pkl
  src/cli/util/python_check_ast.rs
Due: pkl-eval, cargo-fmt, dbg

feat: add no_commit_to_branch builtin (#333)
  pkl/builtins/no_commit_to_branch.pkl
  src/cli/util/no_commit_to_branch.rs
Due: pkl-eval, cargo-fmt, dbg

fix: remove stage attribute from check-only step in depends test
  test/depends.bats
Due: none

fix: Add validation for stage attribute requiring fix command (#327)
  pkl/builtins/mix_compile.pkl
  pkl/builtins/mix_test.pkl
  pkl/builtins/pkl.pkl
  pkl/builtins/shellcheck.pkl
  src/config.rs
  test/depends.bats
  test/validation_errors.bats
Due: pkl-eval, cargo-fmt, dbg

feat: add check_byte_order_marker and fix_byte_order_marker builtins
  docs/builtins.md
  docs/cli/util.md
  pkl/Builtins.pkl
  pkl/builtins/check_byte_order_marker.pkl
  pkl/builtins/fix_byte_order_marker.pkl
  src/cli/util/check_byte_order_marker.rs
  src/cli/util/fix_byte_order_marker.rs
  src/cli/util/mod.rs
Due: pkl-eval, cargo-fmt, dbg

fix: remove redundant file read in fix_byte_order_marker
  src/cli/util/fix_byte_order_marker.rs
Due: cargo-fmt, dbg

fix: display stderr when check_list_files returns empty list
  src/error.rs
  src/step.rs
  test/check_list_files_empty_with_stderr.bats
Due: cargo-fmt, dbg

fix: display stderr when check_list_files returns empty list (#334)
  src/error.rs
  src/step.rs
  test/check_list_files_empty_with_stderr.bats
Due: cargo-fmt, dbg

fix: correct BOM character escaping in pkl files
  pkl/builtins/check_byte_order_marker.pkl
  pkl/builtins/fix_byte_order_marker.pkl
  src/cli/util/fix_byte_order_marker.rs
Due: pkl-eval, cargo-fmt, dbg

Fix: Replace std::process::exit(1) with proper error handling in util functions
  src/cli/util/check_added_large_files.rs
  src/cli/util/check_byte_order_marker.rs
  src/cli/util/check_case_conflict.rs
  src/cli/util/check_executables_have_shebangs.rs
  src/cli/util/check_merge_conflict.rs
  src/cli/util/check_symlinks.rs
  src/cli/util/detect_private_key.rs
  src/cli/util/mixed_line_ending.rs
  src/cli/util/python_check_ast.rs
  src/cli/util/python_debug_statements.rs
  src/cli/util/trailing_whitespace.rs
Due: cargo-fmt, dbg

fix: update util tests to handle error messages in output
  test/util_check_executables_have_shebangs.bats
  test/util_check_merge_conflict.bats
  test/util_check_symlinks.bats
  test/util_mixed_line_ending.bats
  test/util_trailing_whitespace.bats
Due: none

feat: add check_byte_order_marker and fix_byte_order_marker builtins (#328)
  docs/builtins.md
  docs/cli/util.md
  pkl/Builtins.pkl
  pkl/builtins/check_byte_order_marker.pkl
  pkl/builtins/fix_byte_order_marker.pkl
  src/cli/util/check_added_large_files.rs
  src/cli/util/check_byte_order_marker.rs
  src/cli/util/check_case_conflict.rs
  src/cli/util/check_executables_have_shebangs.rs
  src/cli/util/check_merge_conflict.rs
  src/cli/util/check_symlinks.rs
  src/cli/util/detect_private_key.rs
  src/cli/util/fix_byte_order_marker.rs
  src/cli/util/mixed_line_ending.rs
  src/cli/util/mod.rs
  src/cli/util/python_check_ast.rs
  src/cli/util/python_debug_statements.rs
  src/cli/util/trailing_whitespace.rs
  test/util_check_executables_have_shebangs.bats
  test/util_check_merge_conflict.bats
  test/util_check_symlinks.bats
  test/util_mixed_line_ending.bats
  test/util_trailing_whitespace.bats
Due: pkl-eval, cargo-fmt, dbg

ci: shard Bats across 4 workers; run cargo/lint in ci job; fix actionlint
  .github/workflows/ci.yml
Due: actionlint

feat: add docs-sync as mise task and use in CI
  .github/workflows/ci.yml
  mise.toml
Due: actionlint

ci: parallelize Bats tests across 4 workers; add cargo test job
  .github/workflows/ci.yml
Due: actionlint
