Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

docs: update branding with new logo and electric blue theme (#616)
  docs/.vitepress/config.mts
  docs/.vitepress/theme/HomePage.vue
  docs/.vitepress/theme/style.css
  docs/public/android-chrome-192x192.png
  docs/public/android-chrome-512x512.png
  docs/public/apple-touch-icon.png
  docs/public/favicon-16x16.png
  docs/public/favicon-32x32.png
  docs/public/favicon.ico
  docs/public/logo-small.png
  docs/public/logo.png
  docs/public/site.webmanifest
Due: prettier

feat(docs): add nautical theme to feature cards
  docs/.vitepress/theme/HomePage.vue
Due: none

feat(docs): add hk sea shanty page
  docs/.vitepress/config.mts
  docs/shanty.md
Due: none

docs: rename sea shanty to 'Haul Away, HK'
  docs/shanty.md
Due: none

feat(docs): add nautical theme to feature cards (#617)
  docs/.vitepress/config.mts
  docs/.vitepress/theme/HomePage.vue
  docs/shanty.md
Due: none

chore: release v1.32.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

chore: release v1.32.0 (#613)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

fix: strip LLM preamble from generated release notes
  mise-tasks/gen-release-notes
Due: none

fix: strip LLM preamble from generated release notes (#618)
  mise-tasks/gen-release-notes
Due: none

docs: improve CLAUDE.md with workspace structure and testing info
  CLAUDE.md
Due: none

addbeforeafter
  pkl/builtins/ruff_format.pkl
Due: pkl-eval

feat: add LLM-generated creative release titles
  .github/workflows/release.yml
  mise-tasks/gen-release-notes
Due: actionlint

fix: use colon separator in release title format
  .github/workflows/release.yml
Due: actionlint

docs: improve CLAUDE.md with workspace structure and testing info (#621)
  CLAUDE.md
Due: none

feat: add LLM-generated creative release titles (#624)
  .github/workflows/release.yml
  mise-tasks/gen-release-notes
Due: actionlint

refactor: Add `before`/`after` variables to `ruff_format.pkl` tests (#623)
  pkl/builtins/ruff_format.pkl
Due: pkl-eval

expect helpers
  src/test_runner.rs
Due: cargo-fmt, dbg

add go
  foo.py
  test/builtin_tool_stubs/go
Due: none

shanty breakdown
  docs/shanty.md
Due: none

shanty breakdown
  pkl/.gitignore
  pkl/Builtins.pkl
Due: pkl-eval

undo
  pkl/.gitignore
Due: none

ok
  pkl/Builtins.pkl
Due: pkl-eval

clippy
  src/test_runner.rs
Due: cargo-fmt, dbg

space
  pkl/builtins/go_fmt.pkl
Due: pkl-eval

add bun
  test/builtin_tool_stubs/bun
Due: none

docs: Add linebreaks to shanty (#626)
  docs/shanty.md
Due: none

refactor: test expectations into helpers (#625)
  src/test_runner.rs
Due: cargo-fmt, dbg

add
  pkl/builtins/markdown_lint.pkl
  test/builtin_tool_stubs/markdownlint
Due: pkl-eval

test: markdownlint builtin (#628)
  pkl/builtins/markdown_lint.pkl
  test/builtin_tool_stubs/markdownlint
Due: pkl-eval

gofmt
  foo.py
  pkl/builtins/go_fmt.pkl
  test/builtin_tool_stubs/gofmt
Due: pkl-eval

whoops
  pkl/builtins/go_fmt.pkl
Due: pkl-eval

test: gofmt (#603)
  pkl/builtins/go_fmt.pkl
  test/builtin_tool_stubs/gofmt
Due: pkl-eval

its exec
  pkl/Config.pkl
Due: pkl-eval

doc: Fix `condition` docstring to use `exec` (#630)
  pkl/Config.pkl
Due: pkl-eval

no progress progress
  src/step_context.rs
  test/progress.bats
Due: cargo-fmt, dbg

ok
  src/step_context.rs
  src/step_job.rs
Due: cargo-fmt, dbg

bye
  test/progress.bats
Due: none

fix: start the job progress hidden (#631)
  src/step_context.rs
  src/step_job.rs
Due: cargo-fmt, dbg

only eval once
  src/step/execution.rs
  src/step/runner.rs
  test/condition.bats
  test/progress.bats
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
