Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

chore: release v1.54.2
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

feat(builtins): add kingfisher secret scanner
  pkl/builtins/kingfisher.pkl
  test/builtin_tool_stubs/kingfisher
Due: pkl-eval

feat(builtins): add kingfisher secret scanner (#1160)
  pkl/builtins/kingfisher.pkl
  test/builtin_tool_stubs/kingfisher
Due: pkl-eval

Notes added by 'git notes add'
  042258a992cf19f7307f367ed33a09e6a2257189
Due: none

chore(deps): simplify cargo version requirements
  AGENTS.md
  Cargo.toml
Due: none

chore(deps): simplify cargo version requirements (#1161)
  AGENTS.md
  Cargo.toml
Due: none

feat(run): add agent-friendly execution scoping
  src/cli/mod.rs
  src/cli/run/post_rewrite.rs
  src/cli/run/pre_push.rs
  src/hook.rs
  src/hook_options.rs
  src/main.rs
  test/agent_scope.bats
Due: cargo-fmt, dbg

feat(run): add structured execution results
  src/cli/mod.rs
  src/hook.rs
  src/main.rs
  src/settings.rs
  src/structured_output.rs
  src/timings.rs
  test/structured_output.bats
Due: cargo-fmt, dbg

Notes added by 'git notes add'
  bacdc6008ff03fb50ca21a2129ba11ef4c396743
Due: none

Notes added by 'git notes add'
  650f9caf1ec74b574aaeda62c7415f5a46a4d00f
Due: none

fix(step): support argv prefixes for structured commands
  docs/configuration.md
  pkl/Config.pkl
  src/step/batching.rs
  src/step/mod.rs
  src/step/output.rs
  src/step/runner.rs
  src/step/types.rs
  src/step_group.rs
  src/test_runner.rs
  test/structured_argv.bats
Due: pkl-eval, cargo-fmt, dbg

fix(step): support argv prefixes for structured commands (#1175)
  docs/configuration.md
  pkl/Config.pkl
  src/step/batching.rs
  src/step/mod.rs
  src/step/output.rs
  src/step/runner.rs
  src/step/types.rs
  src/step_group.rs
  src/test_runner.rs
  test/structured_argv.bats
Due: pkl-eval, cargo-fmt, dbg

Notes added by 'git notes add'
  075e809020820f70e330913263da5e8419af8398
Due: none

feat(run): add agent-friendly execution scoping
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/cli/mod.rs
  src/cli/run/post_rewrite.rs
  src/cli/run/pre_push.rs
  src/hook.rs
  src/hook_options.rs
  src/main.rs
  test/agent_scope.bats
Due: cargo-fmt, dbg, prettier

feat(run): add structured execution results
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/cli/mod.rs
  src/cli/run/commit_msg.rs
  src/cli/run/mod.rs
  src/cli/run/post_checkout.rs
  src/cli/run/post_commit.rs
  src/cli/run/post_merge.rs
  src/cli/run/post_rewrite.rs
  src/cli/run/pre_commit.rs
  src/cli/run/pre_push.rs
  src/cli/run/pre_rebase.rs
  src/cli/run/prepare_commit_msg.rs
  src/hook.rs
  src/hook_options.rs
  src/main.rs
  src/settings.rs
  src/step_context.rs
  src/structured_output.rs
  src/timings.rs
  src/trace.rs
  test/structured_output.bats
Due: cargo-fmt, dbg, prettier

feat(step): add command effect safety
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  pkl/Config.pkl
  src/hook.rs
  src/hook_options.rs
  src/step/mod.rs
  src/step/runner.rs
  src/step/types.rs
  src/step_group.rs
  src/structured_output.rs
  test/command_effects.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

fix(builtins): classify errcheck as write
  pkl/builtins/err_check.pkl
Due: pkl-eval

feat(run): add agent-friendly execution scoping (#1162)
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/cli/mod.rs
  src/cli/run/post_rewrite.rs
  src/cli/run/pre_push.rs
  src/hook.rs
  src/hook_options.rs
  src/main.rs
  test/agent_scope.bats
Due: cargo-fmt, dbg, prettier

feat(step): add command effect safety (#1166)
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  pkl/Config.pkl
  src/hook.rs
  src/hook_options.rs
  src/step/mod.rs
  src/step/runner.rs
  src/step/types.rs
  src/step_group.rs
  src/structured_output.rs
  test/command_effects.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

feat(run): add structured execution results (#1163)
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/index.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  src/cli/mod.rs
  src/cli/run/commit_msg.rs
  src/cli/run/mod.rs
  src/cli/run/post_checkout.rs
  src/cli/run/post_commit.rs
  src/cli/run/post_merge.rs
  src/cli/run/post_rewrite.rs
  src/cli/run/pre_commit.rs
  src/cli/run/pre_push.rs
  src/cli/run/pre_rebase.rs
  src/cli/run/prepare_commit_msg.rs
  src/hook.rs
  src/hook_options.rs
  src/main.rs
  src/settings.rs
  src/step_context.rs
  src/structured_output.rs
  src/timings.rs
  src/trace.rs
  test/structured_output.bats
Due: cargo-fmt, dbg, prettier

Notes added by 'git notes add'
  f8914fe869eceea808e2f4e286d5d2ddf3313d30
Due: none

fix(check): exclude deleted paths from ref checks
  src/git.rs
  test/git.bats
Due: cargo-fmt, dbg

fix(check): exclude deleted paths from ref checks (#1177)
  src/git.rs
  test/git.bats
Due: cargo-fmt, dbg

Notes added by 'git notes add'
  acffc0bb2775c1b348f9bffafa68fd937dcf6265
Due: none

Notes added by 'git notes add'
  229ce12c11736fd0f7a9e1b9c71c29275201db45
Due: none

Notes added by 'git notes add'
  cc7116cdc9ca9783f29c14d1095fccae0d4f7087
Due: none

fix(mcp): keep dashboard polling stable
  mcp-ui/src/app.test.tsx
  mcp-ui/src/app.tsx
  src/cli/mcp_dashboard.html
Due: prettier

fix(mcp): clear stale dashboard panels
  mcp-ui/src/app.test.tsx
  mcp-ui/src/app.tsx
  src/cli/mcp_dashboard.html
Due: prettier

fix(run): emit one completion event per step
  src/structured_output.rs
  test/structured_output.bats
Due: cargo-fmt, dbg

feat(agent): generate coding-agent integrations
  docs/.vitepress/config.mts
  docs/agents.md
  docs/cli/agent.md
  docs/cli/agent/hooks.md
  docs/cli/agent/instructions.md
  docs/cli/agent/mcp.md
  docs/cli/commands.json
  docs/cli/index.md
  hk.usage.kdl
  src/cli/agent.rs
  src/cli/agent/claude-code-hooks.json
  src/cli/agent/claude-code-instructions.md
  src/cli/agent/claude-code-mcp.txt
  src/cli/agent/claude-desktop-mcp.json
  src/cli/agent/codex-hooks.json
  src/cli/agent/codex-instructions.md
  src/cli/agent/codex-mcp.toml
  src/cli/agent/generic-instructions.md
  src/cli/agent/vscode-hooks.json
  src/cli/agent/vscode-mcp.json
  src/cli/command_effects.rs
  src/cli/init/generator.rs
  src/cli/mod.rs
  test/agent_generators.bats
  test/snapshots/agent/hooks-claude-code.txt
  test/snapshots/agent/hooks-codex.txt
  test/snapshots/agent/hooks-vscode.txt
  test/snapshots/agent/instructions-claude-code.txt
  test/snapshots/agent/instructions-codex.txt
  test/snapshots/agent/instructions-generic.txt
  test/snapshots/agent/mcp-claude-code.txt
  test/snapshots/agent/mcp-claude-desktop.txt
  test/snapshots/agent/mcp-codex.txt
  test/snapshots/agent/mcp-vscode.txt
Due: cargo-fmt, dbg, prettier

docs(mcp): update dashboard screenshot
  docs/public/agent-dashboard.png
Due: none

feat(check): add normalized diagnostics and SARIF
  docs/cli/check.md
  docs/cli/commands.json
  docs/cli/fix.md
  docs/cli/run.md
  docs/cli/run/commit-msg.md
  docs/cli/run/post-checkout.md
  docs/cli/run/post-commit.md
  docs/cli/run/post-merge.md
  docs/cli/run/post-rewrite.md
  docs/cli/run/pre-commit.md
  docs/cli/run/pre-push.md
  docs/cli/run/pre-rebase.md
  docs/cli/run/prepare-commit-msg.md
  hk.usage.kdl
  pkl/Config.pkl
  src/diagnostics.rs
  src/hook.rs
  src/hook_options.rs
  src/main.rs
  src/step/execution.rs
  src/step/mod.rs
  src/step/runner.rs
  src/step/types.rs
  src/structured_output.rs
  test/diagnostics.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

feat(mcp): expose hk to coding agents
  Cargo.lock
  Cargo.toml
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/mcp.md
  hk.usage.kdl
  src/cli/command_effects.rs
  src/cli/mcp.rs
  src/cli/mod.rs
  src/config.rs
Due: cargo-fmt, dbg, prettier

fix(mcp): clear stale roots after host errors
  src/cli/mcp.rs
Due: cargo-fmt, dbg

fix(mcp): retain parsed results at output limit
  src/cli/mcp.rs
Due: cargo-fmt, dbg

fix(mcp): keep dashboard refreshes complete
  mcp-ui/src/app.test.tsx
  mcp-ui/src/app.tsx
  src/cli/mcp_dashboard.html
Due: prettier

feat(run): stream live step lifecycle events
  src/cli/mcp.rs
  src/hook.rs
  src/step_context.rs
  src/structured_output.rs
  test/structured_output.bats
Due: cargo-fmt, dbg

fix(check): surface SARIF emission failures
  src/hook.rs
  src/structured_output.rs
  test/diagnostics.bats
Due: cargo-fmt, dbg
