Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

.pre-commit-config.yaml:

# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
repos:
  - repo: local
    hooks:
      - id: mise-prelint
        name: mise-prelint
        entry: mise run prelint
        language: system
        types: [file]
      - id: actionlint
        name: actionlint
        entry: actionlint
        language: system
        types: [file]
        files: \.github/workflows/.*(yml|yaml)
      - id: pkl-eval
        name: pkl-eval
        entry: pkl eval
        language: system
        types: [file]
        files: \.pkl$
      - id: cargo-fmt
        name: cargo-fmt
        entry: cargo fmt
        language: system
        types: [file]
        files: \.rs$
        pass_filenames: false
      - id: dbg
        name: dbg
        entry: bash -c '! rg -e "dbg!" src/main.rs' # TODO: fix this
        language: system
        types: [file]
        files: \.rs$
      - id: prettier
        name: prettier
        entry: prettier --write
        language: system
        types: [file]
        files: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
      - id: mise-postlint
        name: mise-postlint
        entry: mise run postlint
        language: system
        types: [file]

ci: run the cache benchmarks on mbx 1.18.0
  .github/workflows/cache-benchmark.yml
  .github/workflows/warm-cache-benchmark.yml
Due: actionlint

chore(deps): set MSRV to 1.94 to match the CI runners
  Cargo.toml
Due: none

chore(deps): require Rust 1.94 to build hk (#1502)
  Cargo.toml
Due: none

chore(deps): update mbx to 1.18.0 and mr-boxington-action to v1.5.0 (#1504)
  .github/workflows/cache-benchmark.yml
  .github/workflows/ci-impl.yml
  .github/workflows/docs-impl.yml
  .github/workflows/warm-cache-benchmark.yml
  mise.lock
Due: actionlint

test: run hk test builtin cases once, not in both git backend suites
  mise-tasks/test/bats/libgit2
  mise-tasks/test/bats/nogit
  mise-tasks/test/bats/nolibgit2
  test/builtins_tests.bats
Due: none

perf(lock): stop fixers waiting behind jobs that share none of their files (#1503)
  src/file_rw_locks.rs
  src/step/execution.rs
Due: cargo-fmt, dbg

chore: release v2.3.1
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/hooks.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/monorepo.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

test: run backend-independent builtin tests only in the nolibgit2 suite (#1505)
  mise-tasks/test/bats/libgit2
  mise-tasks/test/bats/nogit
  mise-tasks/test/bats/nolibgit2
  test/builtins_tests.bats
Due: none

chore: release v2.3.1 (#1481)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/hooks.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/monorepo.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

docs: refresh competitor benchmark for v2.3.0 (#1498)
  benchmark/report.py
  benchmark/results.json
  docs/.vitepress/benchmarks.data.ts
  docs/.vitepress/theme/showreel/facts.ts
  docs/.vitepress/theme/showreel/test/facts.test.ts
  docs/.vitepress/theme/showreel/test/published.ts
Due: prettier

chore(deps): update jdx/packslip action to v1.4.0
  .github/workflows/release.yml
Due: actionlint

chore(deps): update jdx/packslip action to v1.4.0 (#1507)
  .github/workflows/release.yml
Due: actionlint

ci(benchmark): build the refresh branch on current main
  .github/workflows/benchmark-refresh.yml
Due: actionlint

docs: refresh competitor benchmark for v2.3.1
  benchmark/results.json
Due: prettier

docs: refresh competitor benchmark for v2.3.1 (#1509)
  benchmark/results.json
Due: prettier

ci(benchmark): recreate a stale refresh branch that predates a workflow change
  .github/workflows/benchmark-refresh.yml
Due: actionlint

ci(benchmark): propose each refresh from a new branch and close the one it supersedes
  .github/workflows/benchmark-refresh.yml
  benchmark/README.md
Due: actionlint

ci(benchmark): close only the refresh workflow's own pull requests
  .github/workflows/benchmark-refresh.yml
Due: actionlint

ci(benchmark): name refresh branches so they can coexist with benchmark-refresh
  .github/workflows/benchmark-refresh.yml
  benchmark/README.md
Due: actionlint

ci(benchmark): stop refresh pushes failing when main changes a workflow (#1508)
  .github/workflows/benchmark-refresh.yml
  benchmark/README.md
Due: actionlint

docs: make favicon transparent
  docs/public/favicon-16x16.png
  docs/public/favicon-32x32.png
  docs/public/favicon.ico
Due: none

docs: add an SVG favicon that follows the browser theme
  docs/.vitepress/config.mts
  docs/public/favicon.svg
Due: none

docs: tint the raster favicons to read on light and dark tabs
  docs/public/favicon-16x16.png
  docs/public/favicon-32x32.png
  docs/public/favicon.ico
Due: none

docs: make the docs site favicon transparent and theme-aware (#1510)
  docs/.vitepress/config.mts
  docs/public/favicon-16x16.png
  docs/public/favicon-32x32.png
  docs/public/favicon.ico
  docs/public/favicon.svg
Due: none

test(builtins): test rumdl builtins against rumdl 0.2.77
  test/builtin_tool_stubs/rumdl
Due: none

fix(step): apply go mod tidy diffs and keep carriage returns in patches
  src/step/diff.rs
  src/step/mod.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

feat(builtins): add hk util format-diff and patch-based check_diff for seven formatters
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/util.md
  docs/cli/util/format-diff.md
  docs/configuration.md
  hk.usage.kdl
  pkl/builtins/buildifier_format.pkl
  pkl/builtins/stylua.pkl
  pkl/builtins/taplo_format.pkl
  pkl/builtins/terraform.pkl
  pkl/builtins/tofu.pkl
  pkl/builtins/tombi_format.pkl
  pkl/builtins/yamlfmt.pkl
  src/cli/util/format_diff.rs
  src/cli/util/mod.rs
  test/builtin_tool_stubs/tofu
  test/util_format_diff.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

feat(builtins): add hk util sarif-diff and apply pinact's fixes as a patch
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/util.md
  docs/cli/util/sarif-diff.md
  docs/configuration.md
  hk.usage.kdl
  pkl/builtins/pinact.pkl
  pkl/builtins/pinact_update.pkl
  src/cli/util/mod.rs
  src/cli/util/sarif_diff.rs
  test/util_sarif_diff.bats
Due: pkl-eval, cargo-fmt, dbg, prettier

fix(builtins): run selene and zizmor once in fix mode
  pkl/Config.pkl
  pkl/builtins/selene.pkl
  pkl/builtins/zizmor.pkl
Due: pkl-eval

feat(builtins): apply isort's diff instead of rerunning isort
  pkl/builtins/isort.pkl
  src/step/mod.rs
Due: pkl-eval, cargo-fmt, dbg

fix(deps): update ensembler to 1.1.4 so CRLF patches apply
  Cargo.lock
  test/apply_check_diff.bats
Due: none

feat(step): warn when a check_diff patch doesn't apply
  src/step/diff.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

fix(util): leave format-diff's effect unclassified
  docs/cli/commands.json
  docs/cli/util/format-diff.md
  hk.usage.kdl
  src/cli/command_effects.rs
  src/cli/util/format_diff.rs
Due: cargo-fmt, dbg, prettier

fix(util): leave sarif-diff's effect unclassified
  docs/cli/commands.json
  docs/cli/util/sarif-diff.md
  hk.usage.kdl
  src/cli/command_effects.rs
  src/cli/util/sarif_diff.rs
Due: cargo-fmt, dbg, prettier

feat(builtins): add check_diff to ruff, oxfmt, shellharden, and go_lines
  pkl/builtins/go_lines.pkl
  pkl/builtins/oxfmt.pkl
  pkl/builtins/ruff.pkl
  pkl/builtins/shellharden.pkl
Due: pkl-eval

fix(builtins): run selene and zizmor once in fix mode (#1511)
  pkl/Config.pkl
  pkl/builtins/selene.pkl
  pkl/builtins/zizmor.pkl
Due: pkl-eval

perf(fix): compute read-only check_diff patches under read locks
  docs/why-hk.md
  src/file_rw_locks.rs
  src/step/execution.rs
  src/step/types.rs
  src/step_job.rs
  src/step_locks.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

test(builtins): prove rumdl_format applies its patch instead of rerunning
  test/builtins_tests.bats
Due: none

fix(step): rewrite only file headers in check_diff patches
  src/step/check_parsing.rs
  src/step/diff.rs
  src/step/mod.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg
