Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

fix: remove test cleanup to prevent race conditions (#468)
  src/test_runner.rs
Due: cargo-fmt, dbg

chore: release v1.25.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

chore: release v1.25.0 (#467)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

fix a few whoopsies
  bin/generate_docs.rs
  docs/configuration.md
Due: cargo-fmt, dbg

fix taplo
  pkl/Builtins.pkl
  pkl/builtins/taplo.pkl
  pkl/builtins/taplo_format.pkl
Due: pkl-eval

docs
  docs/builtins.md
Due: none

lol
  docs/builtins.md
Due: none

feat: Split `taplo` into `taplo` and `taplo_format` (#466)
  docs/builtins.md
  pkl/Builtins.pkl
  pkl/builtins/taplo.pkl
  pkl/builtins/taplo_format.pkl
Due: pkl-eval

make docs build work
  .github/workflows/docs.yml
  mise.toml
Due: actionlint

docs: Generate `configuration` docs from `settings.toml` in-build (#461)
  .github/workflows/docs.yml
  Cargo.toml
  bin/generate_docs.rs
  build/generate_settings.rs
  build/mod.rs
  build/settings_toml.rs
  docs/.gitignore
  docs/configuration.md
  mise.toml
Due: actionlint, cargo-fmt, dbg

try and fix docs build
  .github/workflows/docs.yml
Due: actionlint

fix: Fix docs build GHA (#471)
  .github/workflows/docs.yml
Due: actionlint

fix: improve progress bar accuracy for skipped steps and OSC alignment
  src/step.rs
Due: cargo-fmt, dbg

chore: bump clx to v0.3.2
  Cargo.lock
Due: none

fix: improve progress bar accuracy for skipped steps and OSC alignment (#472)
  Cargo.lock
  src/step.rs
Due: cargo-fmt, dbg

fix: remove redundant output summary display
  src/hook.rs
Due: cargo-fmt, dbg

fix: cleaner error output for command failures
  src/hook.rs
Due: cargo-fmt, dbg

fix: cleaner error output for command failures (#474)
  src/hook.rs
Due: cargo-fmt, dbg

feat: add pkl_format builtin for pkl 0.30 formatter
  docs/builtins.md
  pkl/Builtins.pkl
  pkl/builtins/pkl_format.pkl
Due: pkl-eval

feat: add pkl_format builtin for pkl 0.30 formatter (#475)
  docs/builtins.md
  pkl/Builtins.pkl
  pkl/builtins/pkl_format.pkl
Due: pkl-eval

feat: add check-conventional-commit util
  src/cli/util/check_conventional_commit.rs
  src/cli/util/mod.rs
Due: cargo-fmt, dbg

feat: add check_conventional_commit builtin
  pkl/Builtins.pkl
  pkl/builtins/check_conventional_commit.pkl
Due: pkl-eval

chore: clippy
  src/cli/util/check_conventional_commit.rs
Due: cargo-fmt, dbg

chore: use msrv compatible syntax
  src/cli/util/check_conventional_commit.rs
Due: cargo-fmt, dbg

chore: document check-conventional-commit
  pkl/builtins/check_conventional_commit.pkl
Due: pkl-eval

feat: add check-conventional-commit utility and built-in (#477)
  pkl/Builtins.pkl
  pkl/builtins/check_conventional_commit.pkl
  src/cli/util/check_conventional_commit.rs
  src/cli/util/mod.rs
Due: pkl-eval, cargo-fmt, dbg

chore: release v1.26.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/cli/util.md
  docs/cli/util/check-conventional-commit.md
  docs/configuration.md
  docs/getting_started.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/custom-linters.md
  docs/reference/examples/javascript-project.md
  docs/reference/examples/monorepo.md
  docs/reference/examples/python-project.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
  mise.lock
  src/cli/init.rs
  src/config.rs
Due: pkl-eval, cargo-fmt, dbg, prettier

Add mise builtin
  pkl/builtins/mise.pkl
Due: pkl-eval

feat: add mise builtin (#480)
  pkl/builtins/mise.pkl
Due: pkl-eval

fix: update mise builtin glob
  pkl/builtins/mise.pkl
Due: pkl-eval

fix: update mise builtin glob (#482)
  pkl/builtins/mise.pkl
Due: pkl-eval

remove test
  Cargo.lock
  test/stage_job_files_formatters.bats
Due: none

undo these
  Cargo.lock
Due: none

generate config
  bin/generate_docs.rs
  docs/configuration.md
  mise.toml
  pkl/Config.pkl
  pkl/_reflector.pkl
Due: pkl-eval, cargo-fmt, dbg

refactor: Remove pointless stage test (#484)
  test/stage_job_files_formatters.bats
Due: none

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
