Repository jdx/hk: changes, and which pre-commit hooks are due for each by the changed paths.
All: actionlint, pkl-eval, cargo-fmt, dbg, prettier

actionlint:
  name: actionlint
  entry: actionlint
  language: system

pkl-eval:
  name: pkl-eval
  entry: pkl eval
  language: system

cargo-fmt:
  name: cargo-fmt
  entry: cargo fmt
  language: system
  pass_filenames: false

dbg:
  name: dbg
  entry: bash -c '! rg -e "dbg!" src/main.rs'
  language: system

prettier:
  name: prettier
  entry: prettier --write
  language: system

docs(benchmarks): tighten the benchmarks page and drop redundant result columns
  docs/.vitepress/theme/BenchmarkResults.vue
  docs/benchmarks.md
Due: none

docs(benchmarks): draw the range line above the median bar
  docs/.vitepress/theme/BenchmarkResults.vue
Due: none

docs(benchmarks): summarize what the results show
  docs/benchmarks.md
Due: none

docs(benchmarks): reword the intro plainly
  docs/benchmarks.md
Due: none

docs(benchmarks): clarify main results and benchmark methodology
  docs/.vitepress/theme/BenchmarkResults.vue
  docs/benchmarks.md
Due: none

Checkpoint: 01M3C1YG3CYXV46YDKPVK5ZMFN
  0/content_hash.txt
  0/full.jsonl
  0/metadata.json
  0/prompt.txt
  0/transcript.jsonl
  metadata.json
Due: prettier

docs(benchmarks): summarize results without main-specific numbers
  docs/benchmarks.md
Due: none

docs: regenerate llms.txt for the new benchmarks intro
  docs/public/llms.txt
Due: none

perf(step): give up a job slot while waiting for another step's files
  src/file_rw_locks.rs
  src/step/runner.rs
  src/step_job.rs
  test/job_slot_lock_wait.bats
Due: cargo-fmt, dbg

chore(benchmark): measure hk's yq builtin as shipped
  benchmark/subjects/hk/hk.pkl
Due: pkl-eval

feat(config): add batch_min_files to set the fewest files per batch
  pkl/Config.pkl
  src/step/job_builder.rs
  src/step/types.rs
  test/batch_min_files.bats
Due: pkl-eval, cargo-fmt, dbg

test(config): write batch_min_files fixtures as plain Pkl and clarify the floor
  pkl/Config.pkl
  test/batch_min_files.bats
Due: pkl-eval

docs(benchmarks): lead with results and simplify the method on the benchmarks page (#1472)
  docs/.vitepress/theme/BenchmarkResults.vue
  docs/benchmarks.md
  docs/public/llms.txt
Due: none

test(step): synchronize the slot-release test instead of sleeping
  test/job_slot_lock_wait.bats
Due: none

chore(benchmark): measure hk's yq builtin as shipped (#1474)
  benchmark/subjects/hk/hk.pkl
Due: pkl-eval

fix(step): stop git from crashing with SIGBUS while another step rewrites a file
  src/git.rs
  src/step/execution.rs
Due: cargo-fmt, dbg

perf(step): release a job slot while waiting for another step's files (#1473)
  src/file_rw_locks.rs
  src/step/runner.rs
  src/step_job.rs
  test/job_slot_lock_wait.bats
Due: cargo-fmt, dbg

feat(config): add batch_min_files to set the fewest files per batch (#1475)
  pkl/Config.pkl
  src/step/job_builder.rs
  src/step/types.rs
  test/batch_min_files.bats
Due: pkl-eval, cargo-fmt, dbg

fix(step): skip the repo-wide index refresh when staging explicit globs
  src/git.rs
  src/step/execution.rs
Due: cargo-fmt, dbg

fix(step): stop git from crashing with SIGBUS while another step rewrites a file (#1476)
  src/git.rs
  src/step/execution.rs
Due: cargo-fmt, dbg

chore: release v2.3.0
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/hooks.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/monorepo.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

docs(showreel): share the race timing between picture and score and filter test runs
  docs/.vitepress/theme/showreel/race-timing.ts
  docs/.vitepress/theme/showreel/test/run.mjs
Due: prettier

docs(showreel): drop a trailing blank line
  docs/.vitepress/theme/showreel/scenes/end.ts
Due: prettier

docs: make the landing-page example config define the fix hook
  docs/.vitepress/theme/HomePage.vue
  docs/why-hk.md
  hk-example.pkl
Due: pkl-eval

docs: give the landing-page example a role that allows its aria-label
  docs/.vitepress/theme/HomePage.vue
Due: none

docs(showreel): version the poster by its own bytes, draw only the current race's tracks, and smoke-test the renderers on PRs
  .github/workflows/docs-showreel.yml
  docs/.vitepress/check-social-images.mjs
  docs/.vitepress/showreel.data.ts
  docs/.vitepress/social-images.test.mjs
  docs/.vitepress/theme/showreel/scenes/race-chart.ts
Due: actionlint, prettier

chore: release v2.3.0 (#1464)
  CHANGELOG.md
  Cargo.lock
  Cargo.toml
  README.md
  docs/builtins.md
  docs/cli/commands.json
  docs/cli/index.md
  docs/configuration.md
  docs/getting_started.md
  docs/hooks.md
  docs/mise_integration.md
  docs/pkl_introduction.md
  docs/public/custom-linters.pkl
  docs/public/javascript-project.pkl
  docs/public/monorepo.pkl
  docs/public/python-project.pkl
  docs/reference/examples/monorepo.md
  hk-example.pkl
  hk.pkl
  hk.usage.kdl
Due: pkl-eval, prettier

docs: say what a check_diff step without fix falls back to
  docs/why-hk.md
Due: none

docs: name the command a check_diff step without fix falls back to
  docs/why-hk.md
Due: none

test(step): bound formatter diff polling by elapsed time
  test/apply_check_diff.bats
Due: none

fix(step): exclude partial formatter diffs from staging
  src/step/execution.rs
  src/step/runner.rs
  test/apply_check_diff.bats
Due: cargo-fmt, dbg

docs: refresh competitor benchmark for v2.3.0 (#1480)
  benchmark/results.json
Due: prettier

docs: make the landing-page example config define the fix hook (#1479)
  docs/.vitepress/theme/HomePage.vue
  docs/why-hk.md
  hk-example.pkl
Due: pkl-eval

perf(release): link Linux GNU binaries non-PIE for faster startup
  .github/workflows/release.yml
  Cross.toml
  build/mod.rs
Due: actionlint, cargo-fmt, dbg

docs(showreel): race the commit scenario first now that hk leads it
  docs/.vitepress/showreel-frames.mjs
  docs/.vitepress/showreel-video.mjs
  docs/.vitepress/theme/showreel/describe.ts
  docs/.vitepress/theme/showreel/facts.ts
  docs/.vitepress/theme/showreel/race-timing.ts
  docs/.vitepress/theme/showreel/scenes/race-chart.ts
  docs/.vitepress/theme/showreel/scenes/race.ts
  docs/.vitepress/theme/showreel/score/race.ts
  docs/.vitepress/theme/showreel/test/captions.test.ts
  docs/.vitepress/theme/showreel/test/describe.test.ts
  docs/.vitepress/theme/showreel/test/facts.test.ts
  docs/.vitepress/theme/showreel/test/published.ts
  docs/.vitepress/theme/showreel/test/race.test.ts
  docs/.vitepress/theme/showreel/test/results-36268162842.json
  docs/.vitepress/theme/showreel/test/score.test.ts
Due: prettier

perf(config): read cache files in one call instead of a byte at a time
  src/cache.rs
Due: cargo-fmt, dbg

docs(release): note why musl keeps static-PIE
  build/mod.rs
Due: cargo-fmt, dbg

Path conditions:
  actionlint: any of: \.github/workflows/.*(yml|yaml)
  pkl-eval: any of: \.pkl$
  cargo-fmt: any of: \.rs$
  dbg: any of: \.rs$
  prettier: any of: \.(js|jsx|ts|tsx|css|scss|less|html|json|jsonc|yaml|markdown|markdown\.mdx|graphql|handlebars|svelte|astro|htmlangular)$
